<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :offense_photo, :url => {:action => 'edit', :id => @offense_photo.id}, :html => {:multipart => true, :method => :post} do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      
      <fieldset>
         <legend>Photo Information</legend>
         <table class='input' style='float:left;width:auto;'>
            <tr>
               <th>File Name:</th>
               <td><%=h @offense_photo.crime_scene_photo_file_name %></td>
            </tr>
            <tr>
               <th>Content Type:</th>
               <td><%=h @offense_photo.crime_scene_photo_content_type %></td>
            </tr>
            <tr>
               <th>File Size:</th>
               <td><%=h @offense_photo.crime_scene_photo_file_size %></td>
            </tr>
            <tr>
               <th>Uploaded At:</th>
               <td><%=h format_date(@offense_photo.crime_scene_photo_updated_at) %></td>
            </tr>
            <% if @offense_photo.new_record? %>
               <tr>
                  <th>Upload Photo:</th>
                  <td><%= f.file_field :crime_scene_photo %></td>
               </tr>
            <% end %>
         </table>
         <%= image_tag(@offense_photo.crime_scene_photo.url(:small), :class => 'input') %>
      </fieldset>
      
      <fieldset>
         <legend>Scene Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Offense ID:</th>
               <td><%= f.text_field :offense_id, :size => 6 %></td>
            </tr>
            <tr>
               <th><%= required %>Case:</th>
               <td><%= f.text_field :case_no, :size => 10 %></td>
            </tr>
            <tr>
               <th><%= required %>Date of Photo:</th>
               <td><%= f.calendar_date_select :date_taken, :size => 10 %></td>
            </tr>
            <tr>
               <th><%= required %>Location:</th>
               <td><%= f.text_field :location_taken, :size => 40 %></td>
            </tr>
            <%= contact_row :offense_photo, :taken_by, :required => true %>
            <tr>
               <th><%= required %>Short Description:</th>
               <td><%= f.text_field :description, :size => 70 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'invest_photo_crime_scene_photo' %>
