<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width:100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'offense_photo', :collection => @offense_photos %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Offense Photo Search Filter</h3>
<%= filter_help 'crime scene photos' %>

<form action='<% url_for :action => "index" %>'>
   <div class='basic-filter'>
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Offense:</th>
            <td><%= filter_text_field 'offense_id', @query[:offense_id], 6 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Case:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 10 %></td>
         </tr>
         <tr>
            <th>Date Taken:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'date_taken_from', @query[:date_taken_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'date_taken_to', @query[:date_taken_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Taken By:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'taken_by_badge', @query[:taken_by_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'taken_by_unit', @query[:taken_by_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'taken_by', @query[:taken_by], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Location Taken:</th>
            <td><%= filter_text_field 'location_taken', @query[:location_taken], 40 %></td>
         </tr>
         <tr>
            <th>Description:</th>
            <td><%= filter_text_field 'description', @query[:description], 70 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
