<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :evidence, :url => {:action => 'edit', :id => @evidence.id, :offense_id => @evidence.offense_id, :investigation_id => @evidence.investigation_id, :invest_crime_id => @evidence.invest_crime_id }, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :investigation_id %>
      <%= f.hidden_field :invest_crime_id %>
      <%= f.hidden_field :private %>
      <%= f.hidden_field :owned_by %>
      
      <fieldset>
         <legend>Evidence</legend>
         <%= input_note "If you leave the <b>Evidence Number</b> blank, the computer will automatically assign one based on the evidence ID number." %>
         <table class='input'>
            <tr>
               <th>Evidence Number:</th>
               <td><%= f.text_field :evidence_number, :size => 10 %></td>
            </tr>
            <tr>
               <th>Offense:</th>
               <td><%= f.text_field :offense_id, :size => 6 %><%= hint 'ID' %></td>
            </tr>
            <tr>
               <th>Case Number:</th>
               <td><%= f.text_field :case_no, :size => 10 %></td>
            </tr>
            <%= person_row @evidence, :owner_id %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Description</legend>
         <%= required %><%= f.text_area :description, :style => 'height: 10em;' %>
         <table class='input'>
            <tr>
               <th>Fingerprint:</th>
               <td><%= f.text_field :fingerprint_class, :size => 30 %></td>
            </tr>
            <tr>
               <th>DNA Profile:</th>
               <td><%= f.text_field :dna_profile, :size => 30 %></td>
            </tr>
         </table>
      </fieldset>
   
      <% if @show_initial_form %>
         <fieldset>
            <legend>Initial Storage</legend>
            <table class='input'>
               <tr>
                  <th>Location:</th>
                  <td><input type='text' name='evidence[initial][location_to]' id='evidence_initial_location_to' size="20"/></td>
               </tr>
               <tr>
                  <th>Comments:</th>
                  <td><input type='text' name='evidence[initial][remarks]' id='evidence_initial_remarks' size='60'/></td>
               </tr>
            </table>
         </fieldset>
      <% end %>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'evidence_evidence_number' %>