<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'evidence', :collection => @evidences %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Evidence Search Filter</h3>
<%= filter_help 'evidence' %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Evidence Number:</th>
            <td><%= filter_text_field 'evidence_number', @query[:evidence_number], 10 %></td>
         </tr>
         <tr>
            <th>Offense:</th>
            <td><%= filter_text_field 'offense_id', @query[:offense_id], 6 %></td>
         </tr>
         <tr>
            <th>Case Number:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 10 %></td>
         </tr>
         <tr>
            <th>Owner:</th>
            <td><%= filter_text_field 'owner_id', @query[:owner_id], 6 %></td>
         </tr>
         <tr>
            <th>Description:</th>
            <td><%= filter_text_field 'description', @query[:description], 70 %></td>
         </tr>
         <tr>
            <th>Fingerprint:</th>
            <td><%= filter_text_field 'fingerprint_class', @query[:fingerprint_class], 30 %></td>
         </tr>
         <tr>
            <th>DNA Profile:</th>
            <td><%= filter_text_field 'dna_profile', @query[:dna_profile], 30 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>

