<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip %(Be sure this information is correct before submitting! Once saved, it cannot be edited or deleted.), :tip_type => 'warning', :force => true %>

<% form_for :evidence_location, :url => {:action => 'location', :evidence_id => @evidence.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Evidence</legend>
         <table class='input'>
            <tr>
               <th>Evidence ID:</th>
               <td><%= f.text_field :evidence_id, :size => 6, :disabled => true %></td>
            </tr>
            <tr>
               <th><%= required %>Date/Time:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :storage_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :storage_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <%= contact_row :evidence_location, :officer, :required => true %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Location</legend>
         <table class='input'>
            <tr>
               <th>Old Location:</th>
               <td><%= f.text_field :location_from, :size => 20, :disabled => true %></td>
            </tr>
            <tr>
               <th><%= required %>New Location:</th>
               <td><%= f.text_field :location_to, :size => 20 %></td>
            </tr>
            <tr>
               <th><%= required %>Explanation:</th>
               <td><%= f.text_field :remarks, :size => 60 %></td>
            </tr>
         </table>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'evidence_location_evidence_id' %>