<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div style='text-align:center;'><%= @evidence.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <%= link_to image_tag(@evidence.evidence_photo.url(:small), :style => 'float:right;'), @evidence.evidence_photo.url %>
   
   <table>
      <tr>
         <th>Number:</th>
         <td><%=h @evidence.evidence_number %></td>
      </tr>
      <tr>
         <th>Case no:</th>
         <td><%= case_number_or_link(@evidence.case_no) %></td>
      </tr>
      <tr>
         <th>Owner:</th>
         <td><%=h show_person(@evidence.owner, :include_id => false) %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td>
            <% unless @evidence.evidence_owner.nil? %>
               <%=h @evidence.evidence_owner.physical_line1 %><br/>
               <%=h @evidence.evidence_owner.physical_line2 %>
            <% end %>
         </td>
      </tr>
   </table>
</div>

<h4>Description</h4>
<%= simple_format @evidence.description %>
<div class='basic-view'>
   <table>
      <tr>
         <th>Fingerprint:</th>
         <td><%=h @evidence.fingerprint_class %></td>
      </tr>
      <tr>
         <th>DNA Profile:</th>
         <td><%=h @evidence.dna_profile %></td>
      </tr>
   </table>
</div>
<hr/>

<% unless @evidence.evidence_locations.empty? %>
   <p>Current Location: <b><%=h @evidence.evidence_locations.last.location_to %></b></p>   
<% end %>

<h3>Remarks</h3>
<%= textilize @evidence.remarks %>

<%= link_bar %>
<%= created_by @evidence %>

<br/>

<h3>Storage Records</h3>
<table style='width: 100%;'>
   <%= render :partial => 'header_location' %>
   <%= render :partial => 'location', :collection => @evidence.evidence_locations %>
</table>


