<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>"  onclick="window.location='<%= url_for review %>';return false;">
   <td>
      <b><%=h review.id %><%= review.legacy? ? ' [Legacy]' : '' %></b>
      <%= space(4) %>
      <b><%=h review.special_name %> Number:</b> <%=h review.warrant_no %>
      <%= space(4) %>
      <b>Issued By:</b> <%=h review.jurisdiction.nil? ? 'Unknown' : review.jurisdiction.fullname %>
      <%= space(4) %>
      <b>Issued Date:</b> <%=h review.issued_date %>
      
      <br/>
      
      <%= space(6) %>
      <b>Wanted Person:</b> <%=h review.person.nil? ? review.full_name : show_person(review.person) %>
      
      <br/>
      
      <%= space(6) %>
      <b>DOB:</b> <%=h format_date(review.dob) %>
      <%= space(4) %>
      <b>SSN:</b> <%=h review.ssn %>
      <%= space(4) %>
      <b>OLN:</b> <%=h review.oln %> - <%=h review.oln_state.nil? ? '' : review.oln_state.short_name %>
      
      <br/>
      
      <%= space(6) %>
      <b>Status:</b> <%= review.dispo_date? ? 'Inactive' : "<span class='error'>Active</span> #{review.is_local? ? ' (local)' : ''}" %>
      <% if review.dispo_date? %>
         <%= space(4) %>
         <%=h review.disposition.nil? ? '' : review.disposition.long_name %>
         <%= space(4) %>
         <%=h format_date(review.dispo_date) %>
      <% end %>
      
      <br/>
      
      <%= space(6) %>
      <%= summary(review.charge_summary) %>
   </td>
</tr>
