<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = warrant_charge.new_record? ? 'new' : 'existing' %>
<% prefix = "warrant[#{new_or_existing}_charge_attributes][]" %>
<% manual_prefix = prefix.clone.sub(/\[\]/, (warrant_charge.new_record? ? "[]" : "[#{warrant_charge.id}]")) %>

<% fields_for prefix, warrant_charge do |pf| %>
   <tr class='charge'>
      <td><b>Count:</b> <input type='text' size='3' name="<%= manual_prefix %>[count]" value="<%= warrant_charge.count %>" /></td>
      <td><b>Charge:</b> <input type='text' size='60' name="<%= manual_prefix %>[charge]" value="<%= warrant_charge.charge %>" class='charge_name' onchange="<%= js_charge_lookup %>" /></td>
      <td>
         <%= pf.hidden_field :created_by %>
         <%= pf.hidden_field :updated_by %>
         <%= button_to_function 'Remove', "$(this).up('.charge').remove()" %>
      </td>
      <td>
         <% warrant_charge.errors.each do |attr, msg| %>
            <div class='error'>
               <b><%= attr %></b> <%= msg %>
            </div>
         <% end %>
      </td>
   </tr>
<% end %>
