<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip name_help %>
<%= tip textile_help %>

<% form_for :warrant, :url => {:action => 'edit', :id => @warrant.id}, :method => :post do |f| %>
<%= f.error_messages %>

<div class="basic">
   <%= f.hidden_field :firstname %>
   <%= f.hidden_field :middle1 %>
   <%= f.hidden_field :middle2 %>
   <%= f.hidden_field :middle3 %>
   <%= f.hidden_field :lastname %>
   <%= f.hidden_field :suffix %>
   <%= f.hidden_field :investigation_id %>
   <%= f.hidden_field :invest_crime_id %>
   <%= f.hidden_field :invest_criminal_id %>
   <%= f.hidden_field :private %>
   <%= f.hidden_field :owned_by %>
   
   <fieldset>
      <legend>Warrant Information</legend>
      <table class='input'>
         <tr>
            <th><%= required %>Received:</th>
            <td><%= f.calendar_date_select :received_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
         </tr>
         <tr>
            <th><%= required %>Issued:</th>
            <td><%= f.calendar_date_select :issued_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
         </tr>
      </table>
      <%= input_note 'In order for an agency to show up here as a warrant <b>Jurisdiction</b> (issuer), there must be a valid Agency/Business contact that is flagged as <b>active</b> and <b>law enforcement</b>.' %>
      <table class='input'>
         <tr>
            <th><%= required %>Jurisdiction:</th>
            <td><%= f.select :jurisdiction_id, get_opts('Agencies') %></td>
         </tr>
         <tr>
            <th>Warrant Number:</th>
            <td><%= f.text_field :warrant_no, :size => 15 %></td>
         </tr>
         <tr>
            <th>Warrant Type:</th>
            <td><%= f.select :special_type, get_opts("Warrant Type") %></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Wanted Person</legend>
      <%= input_note '<b>Person</b> must be entered (either an ID or a FULL NAME). The remaining identifying information should be filled in if it is known.' %>
      <table class='input'>
         <tr>
            <th><%= required %>Person:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :person_id, :size => 8 %><%= hint "ID" %></td>
                     <td><%= f.text_field :name, :size => 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>SSN:</th>
            <td><%= f.text_field :ssn, :size => 11 %><%= hint "999-99-9999" %></td>
         </tr>
         <tr>
            <th>DOB:</th>
            <td><%= f.calendar_date_select :dob, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
         </tr>
         <tr>
            <th>OLN:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :oln, :size => 20 %></td>
                     <td><%= f.select :oln_state_id, get_opts("State", :allow_nil => true) %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Race:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :race_id, get_opts("Race", :allow_nil => true) %></td>
                     <th>Sex:</th>
                     <td><%= f.select :sex, [['---',nil],["Male",1],["Female",2]] %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Address:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td colspan='3'><%= f.text_field :street, :size => 40 %><%= hint 'Street' %></td>
                  </tr>
                  <tr>
                     <td><%= f.text_field :city, :size => 25 %><%= hint 'City' %></td>
                     <td><%= f.select :state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                     <td><%= f.text_field :zip, :size => 10 %><%= hint 'ZIP or ZIP+4' %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Complaint</legend>
      <%= input_note "Enter one charge per line!  To add additional charge lines, click the <b>Add Charge</b> button." %>
      <table id='charges' class='input' style='width:auto;'>
         <%= render :partial => 'warrant_charge', :collection => @warrant.charges %>
      </table>
      <p><%= add_warrant_charge_link "Add Charge" %></p>
      
      <table class='input'>
         <tr>
            <th>Payable: $</th>
            <td><%= f.text_field :payable, :size => 10 %><%= hint '9999.99' %></td>
         </tr>
         <tr>
            <th>Bond Amount: $</th>
            <td><%= f.text_field :bond_amt, :size => 10 %><%= hint '9999.99' %></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Disposition</legend>
      <table class='input'>
         <tr>
            <th>Disposition:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :disposition_id, get_opts("Warrant Disposition", :allow_nil => true) %></td>
                     <td><%= f.calendar_date_select :dispo_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Remarks</legend>
      <%= input_note remark_note %>
      <%= f.text_area :remarks, :class => 'textile' %>
   </fieldset>
   
   <%= form_buttons %>

</div>
<% end %>

<%= observe_field 'warrant_person_id', :url => { :controller => 'warrants', :action => 'update_person' }, :with => 'c' %>
<%= set_focus_to_id 'warrant_received_date' %>