<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row :include_alpha => true %>
<table style="width: 100%;">
   <%= render :partial => 'header' %>
   <%= render :partial => 'warrant', :collection => @warrants %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row :include_alpha => true, :alpha_on_top => true %>

<%= link_bar %>

<h3>Warrant Search Filter</h3>
<%= filter_help 'warrants', true %>

<form action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Person:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'person_id', @query[:person_id], 8 %><%= hint 'ID' %></td>
                     <td><%= filter_text_field 'full_name', @query[:full_name], 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>SSN:</th>
            <td><%= filter_text_field 'ssn', @query[:ssn], 11 %></td>
         </tr>
         <tr>
            <th>DOB:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'dob_from', @query[:dob_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'dob_to', @query[:dob_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>OLN:</th>
            <td>
               <%= filter_text_field 'oln', @query[:oln], 12 %>
               <%= space(2) %>
               <b>OLN State:</b> <%= filter_select 'oln_state_id', @query[:oln_state_id],'State' %>
            </td>
         </tr>
         <tr>
            <th>Race:</th>
            <td>
               <%= filter_select 'race_id', @query[:race_id], 'Race' %>
               <%= space(2) %>
               <b>Sex:</b> <%= filter_radio_buttons 'sex', @query[:sex], [['1', 'Male'], ['2','Female']] %>
            </td>
         </tr>
         <tr>
            <th>Address Contains:</th>
            <td><%= filter_text_field 'address', @query[:address], 40 %></td>
         </tr>
         <tr>
            <th>Local Warrant?</th>
            <td><%= filter_radio_buttons 'local', @query[:local], [['0','No'],['1','Yes']] %></td>
         </tr>
         <tr>
            <th>Issued Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'issued_from', @query[:issued_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'issued_to', @query[:issued_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Warrant Number:</th>
            <td><%= filter_text_field 'warrant_no', @query[:warrant_no], 15 %></td>
         </tr>
         <tr>
            <th>Warrant Type:</th>
            <td><%= filter_radio_buttons 'special_type', @query[:special_type], [['0','Warrant'],['1','Bench Warrant'],['2','Writ']] %></td>
         </tr>
         <tr>
            <th>Jurisdiction:</th>
            <td><%= filter_select 'jurisdiction_id', @query[:jurisdiction_id], "Agencies" %></td>
         </tr>
         <tr>
            <th>Disposition Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'disposition_from', @query[:disposition_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'disposition_to', @query[:disposition_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 60 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
