<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<div id='list'>
<h1><%= @page_title %></h1>

<%= tip "Click the link for the correct warrant OR click the <b>Not On File</b> link." %>

<%= nav_button_row :action => 'lookup_list' %>
<table width="100%">
    <% for warrant in @warrants %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" >
       <td>
          <%= select_warrant_link warrant, @warrant_id, @warrant_status, @warrant_charges %>
          <%= space(2) %>
          <%=h warrant.jurisdiction.nil? ? 'Unknown' : warrant.jurisdiction.fullname %>
          <%= space(4) %>
          For: 
          <%=h warrant.person.nil? ? warrant.full_name : show_person(warrant.person) %>
          <%= space(4) %>
          <% if warrant.dob? %>
             DOB: <%=h format_date(warrant.dob) %>
             <%= space(2) %>
          <% end %>
          <% if warrant.ssn? %>
             SSN: <%=h warrant.ssn %>
             <%= space(2) %>
          <% end %>
          <% if warrant.oln? %>
             OLN: <%=h warrant.oln %> (<%= warrant.oln_state.nil? ? '' : warrant.oln_state.short_name %>)
          <% end %>
          
          <br/>
          
          <%= space(4) %>
          Charge:
          <%= warrant.charge_summary %>
       </td>
    </tr>
    <% end %>
    <tr class="<%= cycle('list-line-odd','list-line-even') %>">
       <td>
         <%= button_to_function('Not On File', :style => 'width:100px;'){|page| page['list'].hide && page['add-form'].show} %>
      </td>
    </tr>
</table>
<%= nav_button_row :action => 'lookup_list' %>
</div>
<div id='add-form' style='display:none;'>
   <h1>Warrant Information</h1>

   <% remote_form_for :warrant, :url => {:action => 'add'}, :method => :put do |f| %>
   <%= f.error_messages %>

      <div class="basic">
         <%= f.hidden_field :firstname %>
         <%= f.hidden_field :middle1 %>
         <%= f.hidden_field :middle2 %>
         <%= f.hidden_field :middle3 %>
         <%= f.hidden_field :lastname %>
         <%= f.hidden_field :suffix %>
         <%= f.hidden_field :investigation_id %>
         <%= f.hidden_field :invest_crime_id %>
         <%= f.hidden_field :invest_criminal_id %>
         <%= f.hidden_field :private %>
         <%= f.hidden_field :owned_by %>
         <%= f.hidden_field :person_id %>
         <%= f.hidden_field :special_type %>
         <fieldset>
            <legend>Warrant Information</legend>
            <table class='input'>
               <tr>
                  <th><%= required %>Received:</th>
                  <td><%= f.calendar_date_select :received_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
               </tr>
               <tr>
                  <th><%= required %>Issued:</th>
                  <td><%= f.calendar_date_select :issued_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
               </tr>
               </table>
               <%= input_note 'In order for an agency to show up here as a warrant <b>Jurisdiction</b> (issuer), there must be a valid Agency/Business contact that is flagged as <b>active</b> and <b>law enforcement</b>.' %>
               <table class='input'>
               <tr>
                  <th><%= required %>Jurisdiction:</th>
                  <td><%= f.select :jurisdiction_id, get_opts('Agencies', :allow_nill => true) %></td>
               </tr>
               <tr>
                  <th>Warrant Number:</th>
                  <td><%= f.text_field :warrant_no, :size => 15 %></td>
               </tr>
            </table>
         </fieldset>
         
         <fieldset>
            <legend>Wanted Person</legend>
            <%= input_note 'This information is obtained directly from the arrest.  You do not enter it here.' %>
         </fieldset>

         <fieldset>
            <legend>Charges</legend>
            <%= input_note 'Enter one charge per line! To add additional charge lines, click the <b>Add Charge</b> button.' %>
            <table id='charges' class='input' style='width:auto;'>
               <%= render :partial => 'warrant_charge', :collection => @warrant.charges %>
            </table>
            <p><%= add_warrant_charge_link "Add Charge" %></p>

            <table class='input'>
               <tr>
                  <th>Payable: $</th>
                  <td><%= f.text_field :payable, :size => 10 %><%= hint '9999.99' %></td>
               </tr>
               <tr>
                  <th>Bond Amount: $</th>
                  <td><%= f.text_field :bond_amt, :size => 10 %><%= hint '9999.99' %></td>
               </tr>
            </table>
         </fieldset>

         <fieldset>
            <legend>Remarks</legend>
            <%= input_note remark_note %>
            <%= f.text_area :remarks, :class => 'textile' %>
         </fieldset>

         <div class='linkbar'><%= submit_tag("Submit") %> <%= submit_tag("Cancel") %></div>
      </div>
   <% end %>
</div>