<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div style='text-align:center;'><%= @warrant.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <table>
      <tr>
         <th>Received:</th>
         <td><%=h format_date(@warrant.received_date) %></td>
      </tr>
      <tr>
         <th>Issued:</th>
         <td><%=h format_date(@warrant.issued_date) %></td>
      </tr>
      <tr>
         <th>By:</th>
         <td><%= @warrant.jurisdiction.nil? ? '' : @warrant.jurisdiction.fullname %></td>
      </tr>
      <tr>
         <th><%=h @warrant.special_name %> No:</th>
         <td><%=h @warrant.warrant_no %></td>
      </tr>
      <tr>
         <th>Phone(s):</th>
         <td>
            <% unless @warrant.jurisdiction.nil? %>
            <table class='hinted'>
               <% for p in @warrant.jurisdiction.phones %>
                  <tr>
                     <th><%=h p.label.nil? ? '' : p.label.long_name %>:</th>
                     <td><%=h p.value %></td>
                     <td><%=h p.note %></td>
                  </tr>
               <% end %>
            </table>
            <% end %>
         </td>
      </tr>
   </table>
   
   <h3>Wanted Person</h3>
   <table>
      <tr>
         <th>Person:</th>
         <td><%=h @warrant.person.nil? ? @warrant.full_name : show_person(@warrant.person) %>&nbsp;&nbsp;&nbsp;<%=h @warrant.is_local? ? "(LOCAL)" : '' %></td>
      </tr>
      <tr>
         <th>SSN:</th>
         <td><%=h @warrant.ssn %></td>
      </tr>
      <tr>
         <th>DOB:</th>
         <td><%=h format_date(@warrant.dob) %></td>
      </tr>
      <tr>
         <th>OLN:</th>
         <td><%=h @warrant.oln %> <%=h @warrant.oln_state.nil? ? '' : "(#{@warrant.oln_state.short_name})" %></td>
      </tr>
      <tr>
         <th>Race:</th>
         <td><%=h @warrant.race.nil? ? '' : @warrant.race.long_name %></td>
      </tr>
      <tr>
         <th>Sex:</th>
         <td><%=h @warrant.sex_name %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td>
            <%=h @warrant.address1 %><br/>
            <%=h @warrant.address2 %>
         </td>
      </tr>
   </table>

   <h3>Complaint</h3>

   <table>
      <tr>
         <th>Charge(s):</th>
         <td><%=h @warrant.charge_summary %></td>
      </tr>
      <tr>
         <th>Payable: </th>
         <td><%=h number_to_currency(@warrant.payable) %></td>
      </tr>
      <tr>
         <th>Bond: </th>
         <td><%=h number_to_currency(@warrant.bond_amt) %></td>
      </tr>
      
   </table>

   <hr/>
   
   <table>
      <tr>
         <th>Disposition:</th>
         <td>
            <% if @warrant.disposition.nil? %>
               <span class='error'>ACTIVE</span>
            <% else %>
               <%=h @warrant.disposition.long_name %>
               <%= space(2) %>
               <%=h format_date(@warrant.dispo_date) %>
            <% end %>
         </td>
      </tr>
   </table>

   <h3>Remarks</h3>
   <%= textilize @warrant.remarks %>
</div>

<%= link_bar %>
<%= created_by @warrant %>