<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for review %>';return false;">
   <td>
      <b><%=h review.id %><%= review.legacy? ? ' [Legacy]' : '' %></b>
      <%= space(4) %>
      <b>Person:</b> <%=h review.full_name %><%=h review.ssn? ? " (#{review.ssn})" : '' %><%=h review.oln? ? " (#{review.oln}#{review.oln_state.nil? ? '' : ' - ' + review.oln_state.short_name + ')'}" : '' %>
      <%= space(4) %>
      <b>Ticket Date:</b> <%=h format_date(review.ticket_date) %>
      <% if review.case_no? %>
         <%= space(4) %>
         <b>Case:</b> <%=h review.case_no %>
      <% end %>
      
      <br>

      <%= space(6) %>
      <b>Pawn Company:</b> <%=h review.pawn_co.nil? ? '' : review.pawn_co.long_name %>
      <%= space(4) %>
      <b>Ticket No:</b> <%=h review.ticket_no %>
      <%= space(4) %>
      <b>Ticket Type:</b> <%=h review.ticket_type.nil? ? '' : review.ticket_type.long_name %>

      <br/>
      
      <%= space(6) %>
      <b>Items:</b> <%= summary(review.item_summary) %>
   </td>
</tr>
