<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip name_help %>
<%= tip textile_help %>

<% form_for :pawn, :url => {:action => :edit, :id => @pawn.id}, :method => :post do |f| %>
   
   <%= f.error_messages %>

   <div class="basic">

      <fieldset>
         <legend>Person Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Full Name:</th>
               <td><%= f.text_field :full_name, :size => 35 %></td>
            </tr>
            <tr>
               <th>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :address1, :size => 40 %><%= hint "Street" %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :address2, :size => 40 %><%= hint "City, ST ZIP" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>SSN:</th>
               <td colspan='3'><%= f.text_field :ssn, :size => 11 %><%= hint '999-99-9999' %></td>
            </tr>
            <tr>
               <th>OLN:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :oln, :size => 15 %></td>
                        <th>State:</th>
                        <td><%= f.select :oln_state_id, get_opts("State", :allow_nil => true) %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Pawn Ticket</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Issued:</th>
               <td><%= f.calendar_date_select :ticket_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th><%= required %>Pawn Company:</th>
               <td><%= f.select :pawn_co_id, get_opts("Pawn Company") %><%= hint 'Company Name' %></td>
            </tr>
            <tr>
               <th><%= required %>Ticket Number:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :ticket_no %><%= hint 'Number' %></td>
                        <td><%= f.select :ticket_type_id, get_opts("Pawn Ticket Type") %><%= hint 'Type' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Pawn Items</legend>
         <table id='pitems' class='input' style='width:auto;'>
            <%= render :partial => 'pitem', :collection => @pawn.pawn_items %>
         </table>
         <p><%= add_pawn_item_link "Add an Item" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Investigation Information</legend>
         <table class='input'>
            <tr>
               <th>Case Number:</th>
               <td><%= f.text_field :case_no, :size => 9 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'pawn_full_name' %>