<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table width='100%'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'pawn', :collection => @pawns %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Pawn Search Filter</h3>

<%= filter_help 'pawn tickets', true %>

<form name='search' action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Name:</th>
            <td><%= filter_text_field 'full_name', @query[:full_name], 40 %></td>
         </tr>
         <tr>
            <th>SSN:</th>
            <td><%= filter_text_field 'ssn', @query[:ssn], 11 %></td>
         </tr>
         <tr>
            <th>OLN:</th>
            <td><%= filter_text_field 'oln', @query[:oln], 15 %></td>
         </tr>
         <tr>
            <th>Item Description</th>
            <td><%= filter_text_field 'desc', @query[:desc], 70 %><%= hint 'Model or Serial or Description' %></td>
         </tr>
         <tr>
            <th>Pawn Company:</th>
            <td><%= filter_select 'pawn_co_id', @query[:pawn_co_id], 'Pawn Company' %></td>
         </tr>
         <tr>
            <th>Ticket Number:</th>
            <td><%= filter_text_field 'ticket_no', @query[:ticket_no], 30 %></td>
         </tr>
         <tr>
            <th>Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'from', @query[:from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'to', @query[:to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Ticket Type:</th>
            <td><%= filter_select 'ticket_type_id', @query[:ticket_type_id], "Pawn Ticket Type" %></td>
         </tr>
         <tr>
            <th>Case:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 9 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
    </div>
</form>
