<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class="basic-view">
   <h3>Identification</h3>
   <table>
      <tr>
         <th>Name:</th>
         <td><%=h @pawn.full_name %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%=h @pawn.address1 %><br/><%=h @pawn.address2 %></td>
      </tr>
      <tr>
         <th>SSN:</th>
         <td><%=h @pawn.ssn %></td>
      </tr>
      <tr>
         <th>OLN:</th>
         <td><%=h @pawn.oln %><%=h @pawn.oln_state.nil? ? '' : " #{@pawn.oln_state.short_name}" %></td>
      </tr>
   </table>
   
   <h3>Pawn Information</h3>
   <table>
      <tr>
         <th>Company:</th>
         <td><%=h @pawn.pawn_co.nil? ? 'Invalid Company' : @pawn.pawn_co.long_name %></td>
      </tr>
      <tr>
         <th>Ticket Number:</th>
         <td><%=h @pawn.ticket_no %></td>
      </tr>
      <tr>
         <th>Date:</th>
         <td><%=h format_date(@pawn.ticket_date) %></td>
      </tr>
      <tr>
         <th>Type:</th>
         <td><%=h @pawn.ticket_type.nil? ? 'Invalid Type' : @pawn.ticket_type.long_name %></td>
      </tr>
   </table>
</div>
   
<h4>Item(s)</h4>
<% if @pawn.pawn_items.empty? %>
   <p>Not On File</p>
<% else %>
   <table style='width:100%;'>
      <%= render :partial => 'header_item' %>
      <%= render :partial => 'item', :collection => @pawn.pawn_items %>
   </table>
<% end %>

<div class='basic-view'>
   <h3>Investigation Information</h3>
   <table>
      <tr>
         <th>Case Number:</th>
         <td><%= case_number_or_link(@pawn.case_no) %></td>
      </tr>
   </table>
</div>

<h3>Remarks</h3>
<%= textilize @pawn.remarks %>

<%= link_bar %>
<%= created_by @pawn %>

