<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "To print multiple messages at one time (Digest), select the desired messages and click the Digest button.  This will display the messages on a single page without header or menu bar.  Then click the Print button." %>

<% form_for :message, :url => select_messages_path, :method => :post do |form| %>

<table style='width: 100%;'>
   <tr>
      <th></th>
      <th>Subject</th>
      <th><%=h rezm_sender_or_receiver_label %></th>
      <th>Sent</th>
   </tr>
   <% for message in @messages  %>
   <tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>">
      <td><%= rezm_delete_check_box(message) %></td>
      <td onclick="window.location='<%= rezm_url_to_message(message) %>';return false;"><%= rezm_link_to_message(message) %></td>
      <td onclick="window.location='<%= rezm_url_to_message(message) %>';return false;"><%=h rezm_sender_or_receiver(message) %></td>
      <td onclick="window.location='<%= rezm_url_to_message(message) %>';return false;"><%= rezm_sent_at(message) %></td>  
   </tr>
   <% end %>
   <tr>
      <th colspan='4' style='text-align:left;'>Select Desired Messages Then: <%= submit_tag "Delete", :style => 'width:100px;' %>  <%= submit_tag "Digest", :style => 'width:100px;' %></th>
   </tr>
</table>
<% end %>

<%= link_bar %>