<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>
<br/>
<br/>

<div style='font-size:120%;font-weight:bold;text-align:center'><span class='error' style='font-size:175%;'>WARNING</span><br/><%= link_to "Click Here", {:action => 'warning'}, :popup => popup_options("Message Information", 800, 600) %> for important information about messages!</div>

<br/><br/>
<%= tip std_help %>
<%= tip textile_help %>

<% form_for :message, :url => user_messages_path do |form| %>

   <%= form.error_messages %>
   <div class='basic'>
      <fieldset>
         <legend>Message Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Recipient:</th>
               <td><%= form.select :receiver_id, User.users_for_select %></td>
            </tr>
            <tr>
               <th><%= required %>Subject:</th>
               <td><%= form.text_field :subject, :size => 40 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Message</legend>
         <%= required %><%= form.text_area :body, :style => 'height:30em;', :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons :preview => true %>
<% end %>

<% unless @preview.nil? %>
<h3>Preview</h3>
<%= textilize @preview %>
<% end %>
<%= set_focus_to_id 'message_receiver_id' %>