<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Messages for <%= session[:user_name] %></h1>

<%= link_bar %>

<% for m in @messages %>
<div class='basic'>
   <p>
      <b>From:</b> <%=h show_user m.sender %>
   </p>
   <p>
      <b>Subject:</b> <%=h m.subject %>
   </p>
   <h3>Message</h3>
   <blockquote>
      <%= textilize m.body %>
   </blockquote>
</div>
<hr/>
<% end %>

<%= link_bar %>