<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Message Information</h1>

<p style='font-size:120%;font-weight:bold;'>
   The following rules and conditions apply to all messages sent in this system:
</p>

<h3>Messages Are Not Private!</h3>
All messages are recorded and may be reviewed by Site Administrators
for security and legal purposes.

<h3>Offensive Messages Forbidden!</h3>
Any message containing racial slurs, overt sexual references or any
other material that may be reasonably considered offensive or abusive
will not be tolerated at any time!

<h3>No Private or Confidential Information In Messages</h3>
Never include private or confidential information in a system
message.  These messages may be transmitted via plain text EMail on the
internet without your knowledge or consent. This message system IS NOT
CONSIDERED SECURE!

<h3>Personal Messages Are Allowed</h3>
You may send personal (non-business) messages to other users on this
system as long as the messages conform to the conditions listed above.

<p class='error' style='font-size: 150%;font-weight:bold;'>
   If you do not agree with these conditions, do not use the message system!
</p>

<%= link_to_function "Close", "window.close()" %>
