<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for(announcement) %>';return false;">
   <td><%=h announcement.id %></td>
   <td><%= announcement.unignorable? ? icon('lock', 16) : '' %><%=h announcement.subject %></td>
   <td><%=h show_user(announcement.creator) %></td>
   <td><%=h format_date(announcement.updated_at.to_date) %></td>
</tr>