<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1>Announcements</h1>

<div class='basic-view'>
   <% for a in @announcements %>
      <h3><%= a.subject %></h3>
      <div>
         <%= image_tag a.creator.user_photo.url(:thumb), :style => 'float:left;' %>
         <% if a.unignorable? %>
            <span style='float:right'><%= icon('lock',18) %></span>
         <% else %>
            <span style='float:right'><a href="<%= url_for(:controller => 'announcements', :action => 'toggle_visible', :id => a.id, :page => 'announcements') %>"><%= a.ignorers.include?(current_user) ? "Show" : "Hide" %></a></span>
         <% end %>
         <div style='margin-left: 5.5em;'>
            <%=h format_date(a.updated_at.to_date, :long => true) %>:<br/>
            <%= textilize a.body %><br/>
            <br/>
            -- <%= show_user a.creator %>
         </div>
      </div>
   <% end %>
</div>

<%= link_bar %>