<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<%= tip(std_help) %>
<%= tip(textile_help) %>

<% form_for(:announcement, :url => {:action => :edit, :id => @announcement.id}, :method => :post) do |f| %>
   <%= f.error_messages %>
   <div class='basic'>
      <fieldset>
         <legend>Information</legend>
         <table class='input'>
            <tr>
               <th>Date:</th>
               <td><%= @announcement.new_record? ? format_date(Date.today) : format_date(@announcement.updated_at.to_date) %></td>
            </tr>
            <tr>
               <th><%= required %>Subject:</th>
               <td><%= f.text_field(:subject, :size => 60) %></td>
            </tr>
         </table>
         <%= input_note 'If <b>Locked</b> is checked, users will not be able to hide this announcement.  Use only when absolutely necessary!' %>
         <table class='input'>
            <tr>
               <th>Locked:</th>
               <td><%= f.check_box(:unignorable) %>Yes</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Details</legend>
         <%= required %><%= f.text_area(:body, :class => 'textile', :style => 'height:20em;') %>

         <p>-- <%=h show_user(@announcement.creator) %></p>
      </fieldset>
      
      <%= form_buttons :preview => true %>
   </div>
<% end %>

<% unless @preview.nil? %>
<h3>Preview</h3>
<%= textilize @preview %>
<p>-- <%=h show_user(@announcement.creator) %></p>
<% end %>

<%= set_focus_to_id 'announcement_subject' %>