<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :citation, :url => {:action => 'edit', :id => @citation.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Citation Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Ticket No:</th>
               <td><%= f.text_field :ticket_no, :size => 20 %></td>
            </tr>
            <tr>
               <th><%= required %>Date:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :citation_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :citation_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <%= person_row @citation, :person_id, :required => true %>
            <%= contact_row :citation, :officer, :required => true %>
            <tr>
               <th>Offense:</th>
               <td><%= f.text_field :offense_id, :size => 8 %><%= hint 'ID' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Charges</legend>
         <%= input_note 'Enter one charge per line. To add additional charge lines, click the <b>Add Charge</b> button.' %>
         <table id='charges' class='input' style='width:auto;'>
            <%= render :partial => 'citation_charge', :collection => @citation.charges %>
         </table>
         <p><%= add_citation_charge_link "Add Charge" %></p>
      </fieldset>

      <fieldset>
         <legend>Status</legend>
         <table class='input'>
            <tr>
               <th>Date Paid:</th>
               <td><%= f.calendar_date_select :paid_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Date Recalled:</th>
               <td><%= f.calendar_date_select :recalled_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
         </table>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'citation_ticket_no' %>