<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table width="100%">
   <%= render :partial => 'header' %>
   <%= render :partial => 'citation', :collection => @citations %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Citation Search Filter</h3>

<%= filter_help 'citations', true %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Citation Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'citation_date_from', @query[:citation_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'citation_date_to', @query[:citation_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Ticket No.:</th>
            <td><%= filter_text_field 'ticket_no', @query[:ticket_no], 20 %></td>
         </tr>
         <tr>
            <th>Charge:</th>
            <td><%= filter_text_field 'charge', @query[:charge], 60 %></td>
         </tr>
         <tr>
            <th>Person ID:</th>
            <td><%= filter_text_field 'person_id', @query[:person_id], 6 %></td>
         </tr>
         <tr>
            <th>Full Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 35 %></td>
         </tr>
         <tr>
            <th>Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'officer_badge', @query[:officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'officer_unit', @query[:officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'officer', @query[:officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Offense:</th>
            <td><%= filter_text_field 'offense_id', @query[:offense_id], 8 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Date Paid:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'paid_date_from', @query[:paid_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'paid_date_to', @query[:paid_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Date Recalled:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'recalled_date_from', @query[:recalled_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'recalled_date_to', @query[:recalled_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
