<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Citation ID: <%= @citation.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Ticket No:</th>
         <td><%=h @citation.ticket_no %></td>
      </tr>
      <tr>
         <th>Date:</th>
         <td><%=h format_date(@citation.citation_date, @citation.citation_time) %></td>
      </tr>
      <tr>
         <th>Name:</th>
         <td><%=h show_person @citation.person %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h show_contact @citation, :officer %></td>
      </tr>
      <tr>
         <th>Charges:</th>
         <td><%=h @citation.charge_summary %></td>
      </tr>
   </table>
   
   <h4>Status</h4>
   <table>
      <tr>
         <th>Date Paid:</th>
         <td>
            <% if @citation.paid_date? %>
               <%=h format_date(@citation.paid_date) %>
            <% else %>
               Not Paid
            <% end %>
         </tr>
      </tr>
      <tr>
         <th>Date Recalled:</th>
         <td><%=h format_date(@citation.recalled_date) %></td>
      </tr>
   </table>
</div>

<%= link_bar %>
<%= created_by @citation %>

