<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip "When entering Agency from the select tool, the address for the agency will be copied from the contact record when the transport is saved. If the address is wrong, change it in the agency contact record." %>
<%= tip textile_help %>

<% form_for :transport, :url => {:action => 'edit', :id => @transport.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>People Involved</legend>
         <table class='input'>
            <%= person_row @transport, :person_id, :required => true %>
            <%= contact_row :transport, :officer1, :title => "Officer 1:", :required => true %>
            <%= contact_row :transport, :officer2, :title => "Officer 2:" %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Transport Information</legend>
         <table class='input'>
            <%= contact_row :transport, :from, :title => "From Agency:", :required => true, :getopts => "Companies" %>
            <tr>
               <th>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= f.text_field :from_street, :size => 40 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :from_city, :size => 15 %><%= hint 'City' %></td>
                        <td><%= f.select :from_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                        <td><%= f.text_field :from_zip, :size => 10 %><%= hint 'ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <hr/>
         <table class='input'>
            <%= contact_row :transport, :to, :title => "To Agency:", :required => true, :getopts => "Companies" %>
            <tr>
               <th>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= f.text_field :to_street, :size => 40 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :to_city, :size => 15 %><%= hint 'City' %></td>
                        <td><%= f.select :to_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                        <td><%= f.text_field :to_zip, :size => 10 %><%= hint 'ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Travel Log</legend>
         <table class='input'>
            <tr>
               <th>Start:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :begin_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :begin_time, :size => 5 %><%= hint 'HH:MM' %></td>
                        <td><%= f.text_field :begin_miles, :size => 7 %><%= hint 'Mileage' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Stop:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :end_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :end_time, :size => 5 %><%= hint 'HH:MM' %></td>
                        <td><%= f.text_field :end_miles, :size => 7 %><%= hint 'Mileage' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>

<%= link_bar %>
<%= set_focus_to_id 'transport_person_id' %>