<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'transport', :collection => @transports %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Transport Search Filter </h3>
<%= filter_help 'transports', true %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Person:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'person_id', @query[:person_id], 6 %><%= hint 'ID' %></td>
                     <td><%= filter_text_field 'full_name', @query[:full_name], 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'officer_badge', @query[:officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'officer_unit', @query[:officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'officer', @query[:officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Transport Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'begin_date_from', @query[:begin_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'begin_date_to', @query[:begin_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Agency:</th>
            <td><%= filter_text_field 'agency', @query[:agency], 40 %></td>
         </tr>
         <tr>
            <th>City:</th>
            <td><%= filter_text_field 'city', @query[:city], 20 %></td>
         </tr>
         <tr>
            <th>State:</th>
            <td><%= filter_select 'state_id', @query[:state_id], "State" %></td>
         </tr>
         <tr>
            <th>ZIP Code:</th>
            <td><%= filter_text_field 'zip', @query[:zip], 5 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
