<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Transport ID: <%= @transport.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Person:</th>
         <td><%=h show_person @transport.person %></td>
      </tr>
      <tr>
         <th>Officer(s):</th>
         <td>
            <%=h show_contact @transport, :officer1 %>
            <% if @transport.officer2? %>
               <br/>
               <%=h show_contact @transport, :officer2 %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>From:</th>
         <td>
            <%=h @transport.from %><br/>
            <%=h @transport.from_address_line1 %><br/>
            <%=h @transport.from_address_line2 %>
         </td>
      </tr>
      <tr>
         <th>To:</th>
         <td>
            <%=h @transport.to %><br/>
            <%=h @transport.to_address_line1 %><br/>
            <%=h @transport.to_address_line2 %>
         </td>
      </tr>
   </table>
   
   <h4>Travel Log</h4>
   <table>
      <tr>
         <th>Start:</th>
         <td><%=h format_date(@transport.begin_date, @transport.begin_time) %></td>
         <td><%= space(6) %></td>
         <th>Odometer:</th>
         <td><%=h @transport.begin_miles %></td>
      </tr>
      <tr>
         <th>End:</th>
         <td><%=h format_date(@transport.end_date, @transport.end_time) %></td>
         <td><%= space(6) %></td>
         <th>Odometer:</th>
         <td><%=h @transport.end_miles %></td>
      </tr>
      <tr>
         <th>Time:</th>
         <td style='border-top:1px solid black;'><%=h @transport.duration %></td>
         <td><%= space(6) %></td>
         <th>Mileage:</th>
         <td style='border-top:1px solid black;'><%=h @transport.mileage %> miles.</td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize(@transport.remarks) %>
</div>

<%= link_bar %>
<%= created_by @transport %>