<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :case_note, :url => {:action => 'edit', :id => @case_note.id, :case => @case_note.case_no }, :method => :post do |f| %>
<div class='basic'>
   <%= f.error_messages %>
   <%= f.hidden_field :note_datetime %>
   <fieldset>
      <legend>Note Information</legend>
      <table class='input'>
         <tr>
            <th>Case Number:</th>
            <td><%=h @case_note.case_no %></td>
         </tr>
         <tr>
            <th>Date/Time:</th>
            <td><%=h format_date(@case_note.note_datetime) %></td>
         </tr>
         <tr>
            <th>Name:</th>
            <td><%=h @case_note.creator.name %></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Note</legend>
      <%= required %><%= f.text_area :note, :style => 'height:20em;', :class => 'textile' %>
   </fieldset>
   
   <%= form_buttons %>
</div>
<% end %>
<%= set_focus_to_id 'case_note_note' %>