<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%=h @type.underscore.titleize %></h1>

<p class='error'><span style='font-size:150%;font-weight:bold;'><%=h @message %></span></p>

<% if @type == 'MissingParameterError' %>

   <h4>Problem</h4>
   
   <p>
      The action you just attempted failed because the information required
      by that action was not provided.
   </p>
   
   <h4>Solution</h4>
   
   <p>
      If you are entering URLs manually, you should stop doing so and use
      the links and buttons provided for this purpose by the program.
   </p>
   
   <p>
      If you were clicking a button or link in the program in the normal
      manner and got this message, this will almost certainly be a program
      error and you should file a 
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Missing Parameter Error: #{h(@message)}" %>
      immediately.
   </p>

<% elsif @type == 'InvalidParameterError' %>

   <h4>Problem</h4>

   <p>
      The action you just attempted failed because the information provided
      to the program was not valid.
   </p>

   <h4>Solution</h4>

   <p>
      If you are entering URLs manually, you should stop doing so and use
      the links and buttons provided for this purpose by the program.
   </p>

   <p>
      Please double-check any information you may have entered when this error
      occurred.  You may have typed a name or ID number incorrectly or entered
      and invalid date. This may also be caused by a program error and if you
      still get this error after verifying your information, you should file a 
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Invalid Parameter Error: #{h(@message)}" %>
      immediately.
   </p>

<% elsif @type == 'DoesNotExistError' %>

   <h4>Problem</h4>

   <p>
      The record you asked for does not exist on this system.
   </p>

   <h4>Solution</h4>

   <p>
      Please double-check your information. You may have entered a
      name or ID number incorrectly, or someone may have deleted a record
      just as you were trying to access it. The first thing to try is to back
      up to the previous page, refresh it and try the operation again.
   </p>
   
   <p>
      If you still get this error, it probably indicates a program error and
      you should file a
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Does Not Exist Error: #{h(@message)}" %>
      immediately.
   </p>

<% elsif @type == 'DatabaseError' %>

   <h4>Problem</h4>

   <p>
      You attempted to create a new record or delete an existing one and the attempt failed at the database level.
   </p>

   <h4>Solution</h4>

   <p>
      This could be for several reasons. You should first retry your action in
      case the problem was temporary (database busy).  If it continues to
      occur, it is most likely either a database problem or a program error.
      You should file a
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Database Error: #{h(@message)}" %>
      immediately.
   </p>

<% elsif @type == 'PermissionDeniedError' %>

   <h4>Problem</h4>

   <p>
      You do not have permission to access this feature.
   </p>

   <h4>Solution</h4>

   <p>
      If you are entering URLs manually, you should stop doing so and use
      the links and buttons provided for this purpose by the program.
   </p>

   <p>
      You should not normally see this message because the program should not
      offer you access to features unless you have permission to access them.
      Please file a
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Permission Denied Error: #{h(@message)}" %>
      immediately.
   </p>

<% elsif @type == 'InvalidMethodError' %>

   <h4>Problem</h4>

   <p>
      You attempted to perform an action using an invalid request method.
   </p>

   <h4>Solution</h4>

   <p>
      If you are entering URLs manually, you should stop doing so and use
      the links and buttons provided for this purpose by the program.
   </p>

   <p>
      Otherwise, this is almost certainly a program error and you should file a
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Invalid Method Error: #{h(@message)}" %>
      immediately.
   </p>
   
<% elsif @type == 'InvalidAuthenticityToken' %>

   <h4>Problem</h4>
   
   <p>
      You received this error because the security credentials for the form you
      are using have expired.
   </p>
   
   <h4>Solution</h4>
   
   <p>
      Use your browser back button to return to your form and then use the
      browser refresh button to reload it before submitting it again.
   </p>

   <p>
      If this does not solve the problem, please file a 
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Invalid Authenticity Token Error: #{h(@message)}" %>
      with a detailed explanation stating exactly which form is producing the
      error and anything else that you think might help us solve the problem.
   </p>

<% else %>

   <h4>Problem</h4>
   
   <p>
      An error occurred, but it generated an unknown error code.
   </p>
   
   <h4>Solution</h4>
   
   <p>
      This is always a program error and you should file a
      <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => "Unknown Error: #{h(@type)}: #{h(@message)}" %>
      immediately.
   </p>

<% end %>

<p>
   When filing Bug Reports, always be sure to specify the URL (address)
   of the page where the error occurred (see the browser address bar at the
   top of this window), and a detailed description of what you were trying to
   do when the error occurred.
</p>

<p>
   This information is vital in helping us find and fix this problem.
</p>