<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Not Found!</h1>

<p><span style='font-size:150%;font-weight:bold;'>The page you are looking for does not exist.</span></p>

<p>You may have mistyped the address or the page may have moved.</p>

<p>Please check your URL (page address) and try again.</p>

<h3>Buttons and Links</h3>

<p>If you get this message when clicking on a button or link in the
  FiveO program, please file a
  <%= link_to 'Bug Report', :controller => 'bugs', :action => 'edit', :summary => 'Broken Link' %>.
  Make sure you include:</p>

<ul>
   <li>Whether it is a button or a link</li>
   <li>The address of the page where the button or link is displayed</li>
   <li>The name of the section of the page where the button or link is located</li>
   <li>The <b>exact</b> name shown on the button or link.</li>
</ul>

<p>This information will help us find and fix this problem.</p>

<%= link_bar %>