<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for history_probation[1] %>';return false;">
   <td style='text-align:center;'><%=h format_date(history_probation[0]) %><br/>Probation</td>
   <td>
      <% if history_probation[1].status.nil? %>
         <% active = false %>
      <% else %>
         <% active = ['Active','State','Unsupervised'].include?(history_probation[1].status.long_name) %>
      <% end %>
      <b>Type:</b>
      <% if active %>
         <% if history_probation[1].status.long_name == 'Active' %>
            Parish
         <% else %>
            <%= history_probation[1].status.long_name %>
         <% end %>
      <% else %>
         <% if history_probation[1].sentence.nil? %>
            <% if history_probation[1].doc? %>
               State
            <% else %>
               Parish
            <% end %>
         <% else %>
            <% if history_probation[1].sentence.probation_type.nil? %>
               Unknown
            <% else %>
               <%= history_probation[1].sentence.probation_type.long_name %>
            <% end %>
         <% end %>
      <% end %>
      <%= space(3) %>
      <b>Length:</b> <%=h history_probation[1].probation_string %>
      <%= space(3) %>
      <b>Current Status:</b>
      <% if active %>
         Active
         <% if history_probation[1].hold_if_arrested? %>
            <span class='error'>[Hold If Arrested]</span>
         <% end %>
      <% else %>
         <%= history_probation[1].status.nil? ? 'Unknown' : history_probation[1].status.long_name %>
      <% end %>
      <br/>
      <b>Charge:</b> [<%=h history_probation[1].conviction_count %>] <%=h history_probation[1].conviction %>
   </td>
</tr>
