<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for history_arrest[1] %>';return false;">
   <td style='text-align:center;'><%=h format_date(history_arrest[0]) %><br/><%= history_arrest[1].arrest_type == 0 ? 'District<br/>' : (history_arrest[1].arrest_type == 1 ? 'City<br/>' : (history_arrest[1].arrest_type == 2 ? 'Other<br/>' : '')) %>Arrest</td>
   <td style='padding: 0;'>
      <table style='width: 100%;padding: 0;'>
         <tr>
            <th style='font-size:75%;padding:0;'>Cnt</th>
            <th style='font-size:75%;padding:0;'>Charge</th>
            <% if history_arrest[1].arrest_type == 0 %>
               <th style='font-size:75%;padding:0;'>Status</th>
            <% else %>
               <th style='font-size:75%;padding:0;'>Agency</th>
            <% end %>
         </tr>
         <% for c in history_arrest[1].district_charges %>
            <tr>
               <td><%=h c.count %></td>
               <td><%=h c.charge %><%= c.arrest_warrant.nil? ? '' : ' (Warrant# ' + c.arrest_warrant.warrant_no + ')' %></td>
               <td>
                  <% if history_arrest[1].legacy? %>
                     [Legacy]
                  <% elsif c.da_charges.empty? %>
                     Pending
                  <% elsif c.da_charges.size == 1 %>
                     <%=h charge_status_string(c.da_charges.first, c) %>
                  <% else %>
                     <table>
                        <% for d in c.da_charges %>
                           <tr>
                              <td><%=h charge_status_string(d, c) %></td>
                           </tr>
                        <% end %>
                     </table>
                  <% end %>
               </td>
            </tr>
         <% end %>
         <% for c in history_arrest[1].da_charges %>
            <tr>
               <td><%=h c.count %></td>
               <td>Added By D.A.: <%=h c.charge %></td>
               <td><%=h charge_status_string(c) %></td>
            </tr>
         <% end %>
         <% for c in history_arrest[1].city_charges %>
            <tr>
               <td><%=h c.count %></td>
               <td><%=h c.charge %><%= c.arrest_warrant.nil? ? '' : ' (Warrant# ' + c.arrest_warrant.warrant_no + ')' %></td>
               <td><%=h c.agency.nil? ? (c.arrest_warrant.nil? ? '' : (c.arrest_warrant.jurisdiction.nil? ? '' : c.arrest_warrant.jurisdiction.fullname)) : c.agency.fullname %> <%= history_arrest[1].legacy? ? '[Legacy]' : '' %></td>
            </tr>
         <% end %>
         <% for c in history_arrest[1].other_charges %>
            <tr>
               <td><%=h c.count %></td>
               <td><%=h c.charge %><%= c.arrest_warrant.nil? ? '' : ' (Warrant# ' + c.arrest_warrant.warrant_no + ')' %></td>
               <td><%=h c.arrest_warrant.nil? ? '' : (c.arrest_warrant.jurisdiction.nil? ? '' : c.arrest_warrant.jurisdiction.fullname) %> <%= history_arrest[1].legacy? ? '[Legacy]' : '' %></td>
            </tr>
         <% end %>
      </table>
   </td>
</tr>
