<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for history_citation[1] %>';return false;">
   <td style='text-align:center;'><%=h format_date(history_citation[0]) %><br/>Citation</td>
   <td style='padding:0;'>
      <table style='width:100%;padding:0;'>
         <tr>
            <th style='font-size:75%;padding:0'>Cnt</th>
            <th style='font-size:75%;padding:0'>Charge</th>
            <th style='font-size:75%;padding:0'>Status</th>
         </tr>
         <% for c in history_citation[1].charges %>
            <tr>
               <td><%=h c.count %></td>
               <td><%=h c.charge %></td>
               <td>
                  <% if c.da_charges.empty? %>
                     Pending
                  <% elsif c.da_charges.size == 1 %>
                     <%= charge_status_string(c.da_charges.first,c) %>
                  <% else %>
                     <table>
                        <% for d in c.da_charges %>
                           <tr>
                              <td><%= charge_status_string(d) %></td>
                           </tr>
                        <% end %>
                     </table>
                  <% end %>
               </td>
            </tr>
         <% end %>
      </table>
   </td>
</tr>
