<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = mark.new_record? ? 'new' : 'existing' %>
<% prefix = "person[#{new_or_existing}_mark_attributes][]" %>

<% fields_for prefix, mark do |mf| %>
   <tr class='mark'>
      <th><%= mf.label :description, 'Mark:' %></th>
      <td><%= mf.text_field :description, :size => 30 %><%= hint 'Description' %></td>
      <td><%= mf.select :location_id, get_opts("Anatomy", :allow_nil => true) %><%= hint 'Location' %></td>
      <td>
         <%= mf.hidden_field :created_by %>
         <%= mf.hidden_field :updated_by %>
         <%= button_to_function "Remove","$(this).up('.mark').remove()" %>
      </td>
      <td>
         <% mark.errors.each do |attr, msg| %>
            <div class='error'>
               <%= attr %> <%= msg %>
            </div>
         <% end %>
      </td>
   </tr>
<% end %>
