<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for person %>';return false;">
   <% is_wanted = !person.wanted.empty? %>
   <% is_forbidden = !person.forbidden.empty? %>
   <% if person.merge_locked? %>
   <td><%=h person.id %></td>
   <td><%=h person.full_name %></td>
   <td colspan="6"><span class='message'>Merged With: <%=h show_person person.alias_for %></span></td>
   <% else %>
   <td><%= is_wanted ? "<span class='error'>" : '' %><%=h person.id %><%= is_wanted ? "</span>" : '' %></td>
   <td style='white-space:nowrap;'><%=h person.full_name %></td>
   <td><%=h person.race.nil? ? '' : person.race.short_name %></td>
   <td><%=h person.sex_name(true) %></td>
   <td><%=h format_date(person.date_of_birth) %></td>
   <td><%=h person.ssn %></td>
   <td style='white-space:nowrap;'><%=h person.oln %><%= person.oln_state.nil? ? '' : " (#{person.oln_state.short_name})" %></td>
   <td style='white-space:nowrap;'>
      <%= is_wanted ? "<span class='error'>[WANTED]</span>" : "" %>
      <%= person.hepatitis? ? "<span class='error'>[HEP]</span>" : "" %>
      <%= person.hiv? ? "<span class='error'>[HIV]</span>" : "" %>
      <%= person.tb? ? "<span class='error'>[TB]</span>" : "" %>
      <%= person.deceased? ? "[DEC]" : "" %>
      <%= is_forbidden ? "<span class='message'>[FORBID]</span>" : "" %>
      <% unless person.bookings.empty? %>
         <% unless person.bookings.last.release_date? %>
            <%=h person.bookings.last.facility.nil? ? '' : "[#{person.bookings.last.facility.short_name}]" %>
         <% end %>
      <% end %>
      <% if person.legacy? %>
         [Legacy]
      <% end %>
   </td>
   <% end %>
</tr>
