<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = schedule.new_record? ? 'new' : 'existing' %>
<% prefix = "medication[#{new_or_existing}_schedule_attributes][]" %>

<% fields_for prefix, schedule do |sf| %>
   <tr class='schedule'>
      <th>Schedule:</th>
      <td><%= sf.text_field :dose, :size => 30 %><%= hint 'Dose' %></td>
      <td><%= sf.text_field :time, :size => 5 %><%= hint 'Time' %></td>
      <td><%= button_to_function "Remove","$(this).up('.schedule').remove()" %></td>
      <td>
         <% schedule.errors.each do |attr, msg| %>
            <div class='error'>
               <%= attr %> <%= msg %>
            </div>
         <% end %>
      </td>
   </tr>
<% end %>
