<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip name_help %>
<%= tip textile_help %>

<% form_for :person, :url => {:action => 'edit', :id => @person.id}, :html => { :multipart => true, :method => :post } do |f| %>
<%= f.error_messages %>

<div class="basic">
   <%= f.hidden_field :firstname %>
   <%= f.hidden_field :middlename %>
   <%= f.hidden_field :lastname %>
   <%= f.hidden_field :suffix %>

   <fieldset>
      <legend>Name</legend>
      <table class='input'>
         <% if @person.new_record? && has_permission(Perm[:set_person_id]) %>
            <tr>
               <th><%= f.label :id, 'ID:' %></th>
               <td><%= f.text_field :id, :size => 11 %></td>
            </tr>
         <% end %>
         <tr>
            <th><%= f.label :name, 'Full Name:' %></th>
            <td><%= f.text_field :name, :size => 30 %></td>
         </tr>
         <tr>
            <th><%= f.label :aka, 'Aliases:' %></th>
            <td><%= f.text_field :aka, :size => 70 %></td>
         </tr>
      </table>
      <%= input_note "If this person is an alias for another person, put the ID number for the other person in <b>Is an Alias For</b>. Once saved, any attempt to use this person for a new record will be redirected to the other person." %>
      <table class='input'>
         <tr>
            <th><%= f.label :is_alias_for, 'Is an Alias For:' %></th>
            <td><%= f.text_field :is_alias_for, :size => 6 %><%= hint 'ID' %></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Contact Information</legend>
      <table class='input'>
         <tr>
            <th><%= f.label :home_phone, 'Phone:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :home_phone, :size => 12 %><%= hint '999-999-9999' %></td>
                     <th><%= f.label :cell_phone, 'Cell:' %></th>
                     <td><%= f.text_field :cell_phone, :size => 12 %><%= hint '999-999-9999' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :email, 'Email:' %></th>
            <td><%= f.text_field :email, :size => 20 %><%= hint 'username@host.domain' %></td>
         </tr>
      </table>
      <%= input_note "The <b>Residence</b> must be the physical address (No P.O. Box) where the person lives." %>
      <table class='input'>
         <tr>
            <th><%= f.label :phys_street, 'Residence:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td colspan='3'><%= f.text_field :phys_street, :size => 30 %><%= hint 'Street' %></td>
                  </tr>
                  <tr>
                     <td><%= f.text_field :phys_city, :size => 15 %><%= hint 'City' %></td>
                     <td><%= f.select :phys_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                     <td><%= f.text_field :phys_zip, :size => 10 %><%= hint 'ZIP' %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <%= input_note "Enter the <b>Mailing Address</b> only if different from the <b>Residence</b>." %>
      <table class='input'>
         <tr>
            <th><%= f.label :mail_street, 'Mailing Address:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td colspan='3'><%= f.text_field :mail_street, :size => 30 %><%= hint 'Street or P.O. Box' %></td>
                  </tr>
                  <tr>
                     <td><%= f.text_field :mail_city, :size => 15 %><%= hint 'City' %></td>
                     <td><%= f.select :mail_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                     <td><%= f.text_field :mail_zip, :size => 10 %><%= hint 'ZIP' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :occupation, 'Employment:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :occupation %><%= hint 'Occupation' %></td>
                     <td><%= f.text_field :employer %><%= hint 'Employer' %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Identification</legend>
      <table class='input'>
         <tr>
            <th><%= f.label :date_of_birth, 'DOB:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.calendar_date_select :date_of_birth, :size => 10, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                     <th><%= f.label :place_of_birth, 'POB:' %></th>
                     <td><%= f.text_field :place_of_birth, :size => 30 %><%= hint 'City, State, (Country unless USA)' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :ssn, 'SSN:' %></th>
            <td><%= f.text_field :ssn, :size => 11 %><%= hint '999-99-9999' %></td>
         </tr>
         <tr>
            <th><%= f.label :oln, 'OLN:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :oln, :size => 12 %><%= hint 'Number' %></td>
                     <td><%= f.select :oln_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State of Issue' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :sid, 'State/Fed:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :sid, :size => 15 %><%= hint 'SID' %></td>
                     <td><%= f.text_field :doc_number, :size => 15 %><%= hint 'DOC' %></td>
                     <td><%= f.text_field :fbi, :size => 15 %><%= hint 'FBI' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :fingerprint_class, 'Fingerprint:' %></th>
            <td><%= f.text_field :fingerprint_class, :size => 30 %></td>
         </tr>
         <tr>
            <th><%= f.label :dna_profile, 'DNA Profile:' %></th>
            <td><%= f.text_field :dna_profile, :size => 30 %></td>
         </tr>
         <tr>
            <th><%= f.label :dna_swab_date, 'DNA Taken:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>Swab:</th>
                     <td><%= f.calendar_date_select :dna_swab_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                     <th>Blood:</th>
                     <td><%= f.calendar_date_select :dna_blood_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Description</legend>
      <table class='input'>
         <tr>
            <th><%= f.label :race_id, 'Race:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :race_id, get_opts("Race", :allow_nil => true) %></td>
                     <th><%= f.label :sex, 'Sex:' %></th>
                     <td><%= f.select :sex, [['---',nil],["Male",1],["Female",2]] %></td>
                     <th><%= f.label :complexion_id, 'Complexion:' %></th>
                     <td><%= f.select :complexion_id, get_opts("Complexion", :allow_nil => true) %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :build_id, 'Build:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :build_id, get_opts("Build", :allow_nil => true) %></td>
                     <th><%= f.label :height_ft, 'Height:' %></th>
                     <td><%= f.text_field :height_ft, :size => 2 %><%= hint 'FT' %></td>
                     <td><%= f.text_field :height_in, :size => 2 %><%= hint 'IN' %></td>
                     <th><%= f.label :weight, 'Weight:' %></th>
                     <td><%= f.text_field :weight, :size => 3 %><%= hint 'LBS' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :hair_type_id, 'Hair:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :hair_type_id, get_opts("Hair Type", :allow_nil => true) %><%= hint 'Type' %></td>
                     <td><%= f.select :hair_color_id, get_opts("Hair Color", :allow_nil => true) %><%= hint 'Color' %></td>
                     <td><%= f.select :facial_hair_id, get_opts("Facial Hair", :allow_nil => true) %><%= hint 'Facial' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :eye_color_id, 'Eyes:' %></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :eye_color_id, get_opts("Eye Color", :allow_nil => true) %><%= hint 'Color' %></td>
                     <td><%= f.check_box :glasses %><b><%= f.label :glasses, 'Glasses' %></b></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :shoe_size, 'Shoes:' %></th>
            <td><%= f.text_field :shoe_size, :size => 10 %><%= hint 'Size / Width' %></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Distinguishing Marks</legend>
      <table class='input' id='marks' style='width:auto;'>
         <%= render :partial => 'mark', :collection => @person.marks %>
      </table>
      <p><%= add_mark_link 'Add a Mark' %></p>
   </fieldset>

   <fieldset class='error'>
      <legend>Medical Information</legend>
      <table class='input'>
         <tr>
            <th><span class='error'><%= f.label :emergency_contact, 'Emergency Contact:' %></span></th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :emergency_contact, :size => 25 %><%= hint 'Full Name' %></td>
                     <td><%= f.select :em_relationship_id, get_opts("Associate Type", :allow_nil => true) %><%= hint 'Relationship' %></td>
                     <th><span class='error'><%= f.label :emergency_phone, 'Phone:' %></span></th>
                     <td><%= f.text_field :emergency_phone, :size => 12 %><%= hint '999-999-9999' %></td>
                  </tr>
                  <tr>
                     <td colspan='4'><%= f.text_field :emergency_address, :size => 70 %><%= hint 'Physical Address' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th><%= f.label :med_allergies, 'Drug Allergies:' %></th>
            <td><%= f.text_field :med_allergies, :size => 70 %></td>
         </tr>
         <tr>
            <th>Conditions:</th>
            <td>
               <%= f.check_box :hepatitis %><b><%= f.label :hepatitis, 'Hepatitis' %></b>
               <%= space(2) %>
               <%= f.check_box :hiv %><b><%= f.label :hiv, 'HIV' %></b>
               <%= space(2) %>
               <%= f.check_box :tb %><b><%= f.label :tb, 'Tuberculosis' %></b>
               <%= space(2) %>
               <%= f.check_box :deceased %><b><%= f.label :deceased, 'Deceased' %></b>
            </td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Known Associates</legend>
      <table id='associates' class='input' style='width:auto;'>
         <%= render :partial => 'associate', :collection => @person.associates %>
      </table>
      <p><%= add_associate_link 'Add Associate' %></p>
      <table class='input'>
         <tr>
            <th><%= f.label :gang_affiliation, 'Member of Gang:' %></th>
            <td><%= f.text_field :gang_affiliation, :size => 60 %></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Remarks</legend>
      <%= input_note remark_note %>
      <%= f.text_area :remarks, :class => 'textile' %>
   </fieldset>
   
   <%= form_buttons %>
</div>
<% end %>
<%= set_focus_to_id 'person_name' %>