<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :medication, :url => {:action => 'edit_med', :id => @medication.id, :person_id => @medication.person_id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :person_id %>
      <fieldset>
         <legend>Medication</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Drug Name:</th>
               <td><%= f.text_field :drug_name, :size => 20 %></td>
            </tr>
            <tr>
               <th><%= required %>Dose Instructions:</th>
               <td><%= f.text_field :dosage, :size => 30 %></td>
            </tr>
            <tr>
               <th>Warnings:</th>
               <td><%= f.text_field :warnings, :size => 80 %></td>
            </tr>
            <tr>
               <th>Prescription No.:</th>
               <td><%= f.text_field :prescription_no, :size => 20 %></td>
            </tr>
            <tr>
               <th>Physician:</th>
               <td><%= f.select :physician_id, get_opts('Physicians', :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Pharmacy:</th>
               <td><%= f.select :pharmacy_id, get_opts('Pharmacies', :allow_nil => true) %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Dosing Schedule</legend>
         <table id='schedules' class='input' style='width:auto;'>
            <%= render :partial => 'schedule', :collection => @medication.med_schedules %>
         </table>
         <p><%= add_schedule_link 'Add Schedule Line' %></p>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'medication_drug_name' %>