<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip photo_help %>

<% form_for :person, :url => { :action => 'front_mugshot', :id => @person.id }, :html => {:multipart => true, :method => :post} do |f| %>

   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Front Mugshot</legend>
         <table class='input' style='width:auto;float:left;'>
            <tr>
               <th>Replace With:</th>
               <td><%= f.file_field :front_mugshot %></td>
            </tr>
         </table>
         <%= image_tag(@person.front_mugshot.url(:small), :class => 'input') %>
      </fieldset>
   </div>

   <%= form_buttons :delete => true %>
<% end %>
<%= set_focus_to_id 'person_front_mugshot' %>