<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row :include_alpha => true %>
<table width="100%">
   <%= render :partial => 'header' %>
   <%= render :partial => 'person', :collection => @people %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row :include_alpha => true, :alpha_on_top => true%>

<%= link_bar %>

<%= tip "When searching by name, if you enter a one-word search term (no spaces or punctuation), it will match with the <b>beginning</b> of the last name." %>

<%= filter_simple %>
<form action='<%= url_for :action => 'index' %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help_simple(true) %>
      <table style='margin-left:20px;'>
         <tr>
            <th>Person Name or ID Number:</th>
            <td><%= filter_text_field 'simple', @query[:simple], 30 %></td>
         </tr>
      </table>
   </div>
</form>

<%= filter_advanced_start %>

<form action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>

      <table>
         <tr>
            <th>ID:</th>
            <td><%= filter_text_field 'id', @query[:id], 9 %></td>
         </tr>
         <tr>
            <th>Full Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 30 %></td>
         </tr>
         <tr>
            <th>Aliases:</th>
            <td><%= filter_text_field 'aka', @query[:aka], 70 %><br/>&nbsp;</td>
         </tr>
         <tr>
            <th>Address:</th>
            <td><%= filter_text_field 'street', @query[:street], 40 %><%= hint 'Street' %></td>
         </tr>
         <tr>
            <th>:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'city', @query[:city], 20 %><%= hint 'City' %></td>
                     <td><%= filter_select 'state', @query[:state], 'State' %><%= hint 'State' %></td>
                     <td><%= filter_text_field 'zip', @query[:zip], 5 %><%= hint 'ZIP' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Email:</th>
            <td><%= filter_text_field 'email', @query[:email], 20 %><br/>&nbsp;</td>
         </tr>
         <tr>
            <th>DOB:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'dob_from', @query[:dob_from] %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'dob_to', @query[:dob_to] %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>SSN:</th>
            <td><%= filter_text_field 'ssn', @query[:ssn], 11 %></td>
         </tr>
         <tr>
            <th>OLN:</th>
            <td>
               <%= filter_text_field 'oln', @query[:oln], 12 %>
               <%= space(2) %>
               <b>OLN State:</b> <%= filter_select 'oln_state_id', @query[:oln_state_id],'State' %>
            </td>
         </tr>
         <tr>
            <th>FBI:</th>
            <td>
               <%= filter_text_field 'fbi', @query[:fbi], 15 %>
               <%= space(2) %>
               <b>SID:</b> <%= filter_text_field 'sid', @query[:sid], 15 %>
               <%= space(2) %>
               <b>DOC:</b> <%= filter_text_field 'doc_number', @query[:doc_number], 15 %>
               <br/>
               &nbsp;
            </td>
         </tr>
         <tr>
            <th>Fingerprint:</th>
            <td><%= filter_text_field 'fingerprint_class', @query[:fingerprint_class], 30 %></td>
         </tr>
         <tr>
            <th>DNA Profile:</th>
            <td><%= filter_text_field 'dna_profile', @query[:dna_profile], 30 %></td>
         </tr>
         <tr>
            <th>Race:</th>
            <td>
               <%= filter_select 'race_id', @query[:race_id], 'Race' %>
               <%= space(2) %>
               <b>Sex:</b> <%= filter_radio_buttons 'sex', @query[:sex], [['1', 'Male'], ['2','Female']] %>
            </td>
         </tr>
         <tr>
            <th>Height:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_text_field 'height_from_ft', @query[:height_from_ft], 2 %>&nbsp;ft. <%= filter_text_field 'height_from_in', @query[:height_from_in], 2 %>&nbsp;in.</td>
                     <th>To:</th>
                     <td><%= filter_text_field 'height_to_ft', @query[:height_to_ft], 2 %>&nbsp;ft. <%= filter_text_field 'height_to_in', @query[:height_to_in], 2 %>&nbsp;in.</td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Weight:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_text_field 'weight_from', @query[:weight_from], 3 %>&nbsp;lbs.</td>
                     <th>To:</th>
                     <td><%= filter_text_field 'weight_to', @query[:weight_to], 3 %>&nbsp;lbs.</td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Build:</th>
            <td>
               <%= filter_select 'build_id', @query[:build_id], 'Build' %>
               <%= space(2) %>
               <b>Complexion:</b> <%= filter_select 'complexion_id', @query[:complexion_id], "Complexion" %>
            </td>
         </tr>
         <tr>
            <th>Hair Type:</th>
            <td>
               <%= filter_select 'hair_type_id', @query[:hair_type_id], "Hair Type" %>
               <%= space(2) %>
               <b>Hair Color:</b> <%= filter_select 'hair_color_id', @query[:hair_color_id], "Hair Color" %>
            </td>
         </tr>
         <tr>
            <th>Facial Hair:</th>
            <td>
               <%= filter_select 'facial_hair_id', @query[:facial_hair_id], "Facial Hair" %>
               <%= space(2) %>
               <b>Eye Color:</b> <%= filter_select 'eye_color_id', @query[:eye_color_id], "Eye Color" %>
            </td>
         </tr>
         <tr>
            <th>Glasses:</th>
            <td>
               <%= filter_radio_buttons 'glasses', @query[:glasses], [['1', 'Yes'],['0','No']] %>
               <%= space(2) %>
               <b>Shoe Size:</b> <%= filter_text_field 'shoe_size', @query[:shoe_size], 10 %><br/>&nbsp;
            </td>
         </tr>
         <tr>
            <th>Occupation:</th>
            <td><%= filter_text_field 'occupation', @query[:occupation], 15 %></td>
         </tr>
         <tr>
            <th>Place of Empl:</th>
            <td><%= filter_text_field 'employer', @query[:employer], 20 %></td>
         </tr>
         <tr>
            <th>Gang Affil:</th>
            <td><%= filter_text_field 'gang_affiliation', @query[:gang_affiliation], 30 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
