<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Records Linking To Person: <%=h show_person @person %></h1>

<%= tip "This page shows all links to this person (that you have permission to see)." %>

<% unless @person.marks.empty? %>
   <h3>Distinguishing Marks</h3>
   <table style='width:100%'>
      <tr>
         <th>Description</th>
         <th>Location</th>
      </tr>
      <% for m in @person.marks %>
         <tr class="<%= cycle('list-line-odd','list-line-even') %>">
            <td><%=h m.description %></td>
            <td><%=h m.location.nil? ? 'Unknown' : m.location.long_name %></td>
         </tr>
      <% end %>
   </table>
<% end %>

<% unless @person.associates.empty? %>
   <h3>Known Associates</h3>
   <table style='width:100%;'>
      <tr>
         <th>Name</th>
         <th>Relationship</th>
         <th>Remarks</th>
      </tr>
      <% for a in @person.associates %>
         <tr class="<%= cycle('list-line-odd','list-line-even') %>">
            <td><%=h a.name %></td>
            <td><%=h a.relationship.nil? ? 'Unknown' : a.relationship.long_name %></td>
            <td><%=h a.remarks %></td>
         </tr>
      <% end %>
   </table>
<% end %>

<% if has_permission(Perm[:view_arrest]) && !@person.arrests.empty? %>
   <h3>Arrests</h3>
   <table style='width:100%;'>
      <%= render :partial => 'arrests/header' %>
      <%= render :partial => 'arrests/arrest', :collection => @person.arrests %>
   </table>
<% end %>

<% if has_permission(Perm[:view_offense]) %>
   <% offenses = [] %>
   <% offenses << @person.offenses_as_victim %>
   <% offenses << @person.offenses_as_suspect %>
   <% offenses << @person.offenses_as_witness %>
   <% unless offenses.flatten.compact.uniq.empty? %>
      <h3>Offense Reports</h3>
      <table style='width:100%;'>
         <%= render :partial => 'offenses/header' %>
         <%= render :partial => 'offenses/offense', :collection => offenses.flatten.compact.uniq.sort{|a,b| a.id <=> b.id} %>
      </table>
   <% end %>
<% end %>

<% if has_permission(Perm[:view_forbid]) && !@person.forbids.empty? %>
   <h3>Forbids</h3>
   <table style='width:100%;'>
      <%= render :partial => 'forbids/header' %>
      <%= render :partial => 'forbids/forbid', :collection => @person.forbids %>
   </table>
<% end %>

<% if has_permission(Perm[:view_warrant]) && !@person.warrants.empty? %>
   <h3>Warrants</h3>
   <table style='width:100%;'>
      <%= render :partial => 'warrants/header' %>
      <%= render :partial => 'warrants/warrant', :collection => @person.warrants %>
   </table>
<% end %>

<% if has_permission(Perm[:view_bond]) && !@person.bonds.empty? %>
   <h3>Bonds (as bonded)</h3>
   <table style='width:100%;'>
      <%= render :partial => 'bonds/header' %>
      <%= render :partial => 'bonds/bond', :collection => @person.bonds %>
   </table>
<% end %>

<% if has_permission(Perm[:view_bond]) && !@person.bonds_as_surety.empty? %>
   <h3>Bonds (as surety)</h3>
   <table style='width:100%;'>
      <%= render :partial => 'bonds/header' %>
      <%= render :partial => 'bonds/bond', :collection => @person.bonds_as_surety %>
   </table>
<% end %>

<% if has_permission(Perm[:view_booking]) && !@person.bookings.empty? %>
   <h3>Bookings</h3>
   <table style='width:100%;'>
      <%= render :partial => 'bookings/header' %>
      <%= render :partial => 'bookings/booking', :collection => @person.bookings %>
   </table>
<% end %>

<% if has_permission(Perm[:view_transport]) && !@person.transports.empty? %>
   <h3>Transports</h3>
   <table style='width:100%;'>
      <%= render :partial => 'transports/header' %>
      <%= render :partial => 'transports/transport', :collection => @person.transports %>
   </table>
<% end %>

<% if has_permission(Perm[:view_evidence]) && !@person.evidences.empty? %>
   <h3>Evidence (as owner)</h3>
   <table style='width:100%;'>
      <%= render :partial => 'evidences/header' %>
      <%= render :partial => 'evidences/evidence', :collection => @person.evidences %>
   </table>
<% end %>

<% if has_permission(Perm[:view_probation]) && !@person.probations.empty? %>
   <h3>Probations</h3>
   <table style='width:100%;'>
      <%= render :partial => 'probations/header' %>
      <%= render :partial => 'probations/probation', :collection => @person.probations %>
   </table>
<% end %>

<% if has_permission(Perm[:view_stolen]) && !@person.stolens.empty? %>
   <h3>Stolen Items (as owner)</h3>
   <table style='width:100%;'>
      <%= render :partial => 'stolens/header' %>
      <%= render :partial => 'stolens/stolen', :collection => @person.stolens %>
   </table>
<% end %>

<% if has_permission(Perm[:view_court]) && !@person.dockets.empty? %>
   <h3>Dockets</h3>
   <table style='width:100%;'>
      <%= render :partial => 'dockets/header' %>
      <%= render :partial => 'dockets/docket', :collection => @person.dockets %>
   </table>
<% end %>

<% if has_permission(Perm[:view_citation]) && !@person.citations.empty? %>
   <h3>Citations</h3>
   <table style='width:100%;'>
      <%= render :partial => 'citations/header' %>
      <%= render :partial => 'citations/citation', :collection => @person.citations %>
   </table>
<% end %>

<% unless @person.alias_for.nil? %>
   <h3>Alias For (Person)</h3>
   <table style='width:100%;'>
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => [@person.alias_for] %>
   </table>
<% end %>

<% unless @person.aliases.empty? %>
   <h3>People (as aliases)</h3>
   <table style='width:100%;'>
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @person.aliases %>
   </table>
<% end %>

<% if has_permission(Perm[:view_warrant]) && !@person.warrant_exemptions.empty? %>
   <h3>Exempted Warrants</h3>
   <table style='width:100%;'>
      <%= render :partial => 'warrants/header' %>
      <%= render :partial => 'warrants/warrant', :collection => @person.warrant_exemptions %>
   </table>
<% end %>

<% if has_permission(Perm[:view_forbid]) && !@person.forbid_exemptions.empty? %>
   <h3>Exempted Forbids</h3>
   <table style='width:100%;'>
      <%= render :partial => 'forbids/header' %>
      <%= render :partial => 'forbids/forbid', :collection => @person.forbid_exemptions %>
   </table>
<% end %>

<%= link_bar %>