<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row :action => 'lookup_list' %>
<table width="100%">
    <% for person in @people %>
    <% is_wanted = !person.wanted.empty? %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
       <td>
          <% if is_wanted %>
             <span class='error'>
          <% end %>
          <% if !person.alias_for.nil? %>
            <%=h show_person person %>
         <% else %>
          <%= select_person_link person, @caller_id, @caller_name, @status, @caller_status %> <%=h person.full_name %>
          <% end %>
          <% if is_wanted %>
             </span>
          <% end %>
          <%= space(2) %>
          <% if person.aka? %>
             <%= space(2) %>
             &quot;<%=h person.aka %>&quot;
          <% end %>
          <% if !person.alias_for.nil? %>
             <%= space(2) %>
             <% p = person %>
             <% while !p.alias_for.nil? %>
             <% p = p.alias_for %>
             <% end %>
             [ALIAS FOR: <%= select_person_link p, @caller_id, @caller_name, @status, @caller_status %> <%= p.full_name %>]
          <% end %>
          <%= space(2) %>
          <span class='error'>
             <%= is_wanted ? 'WANTED' : "" %>
             <%= person.hepatitis? ? "HEP" : "" %>
             <%= person.hiv? ? "HIV" : "" %>
             <%= person.tb? ? "TUB" : "" %>
             <%= person.deceased? ? "DEC" : "" %>
          </span>

          <% if person.date_of_birth? || person.ssn? || person.oln? || person.fbi? || person.sid? || person.doc_number? %>
             <br />
             <span style='font-size: 90%;'>
                <%= space(4) %>
                <% if person.date_of_birth? %>
                   DOB: <%=h format_date(person.date_of_birth) %>
                   <%= space(2) %>
                <% end %>
                <% if person.ssn? %>
                   SSN: <%=h person.ssn %>
                   <%= space(2) %>
                <% end %>
                <% if person.oln? %>
                   OLN: <%=h person.oln %> (<%= person.oln_state.nil? ? '' : person.oln_state.short_name %>)
                   <%= space(2) %>
                <% end %>
                <% if person.fbi? %>
                   FBI: <%=h person.fbi %>
                   <%= space(2) %>
                <% end %>
                <% if person.sid? %>
                   SID: <%=h person.sid %>
                   <%= space(2) %>
                <% end %>
                <% if person.doc_number? %>
                   DOC: <%=h person.doc_number %>
                <% end %>
             </span>
          <% end %>
          
          <% if !person.person_description.empty? || !person.marks_description.empty? %>
            <% if !person.person_description.empty? %>
               <br/>
               <%= space(4) %>
               <%= summary(person.person_description, 120) %>
            <% end %>
            <% if !person.marks_description.empty? %>
               <br/>
               <%= space(4) %>
               <%= summary(person.marks_description, 120) %>
            <% end %>
         <% end %>
       </td>
    </tr>
    <% end %>
</table>
<%= nav_button_row :action => 'lookup_list' %>