<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Merging Person <%= @old_person.id %> into Person <%= @person.id %></h1>

<%= tip "You are editing the MASTER person record.  For your convenience, any information from the DUPLICATE record you are merging that does not match the MASTER information will be indicated with a <span class='error'>Conflict:</span> message. It is up to you to decide if the MASTER record contains the correct information, or needs to be updated." %>
<%= tip std_help %>
<%= tip name_help %>
<%= tip textile_help %>

<% form_for :person, :url => {:action => 'merge', :id => @old_person.id}, :html => { :multipart => true, :method => :post } do |f| %>
<%= f.error_messages %>

<div class="basic">
   <%= f.hidden_field :firstname %>
   <%= f.hidden_field :middlename %>
   <%= f.hidden_field :lastname %>
   <%= f.hidden_field :suffix %>
   <%= f.hidden_field :commissary_facility_id %>

   <fieldset>
      <legend>Name</legend>
      <table class='input'>
         <tr>
            <th><%= required %>Full Name:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :name, :size => 30 %></td>
                     <% unless @person.full_name == @old_person.full_name %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.full_name %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Aliases:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :aka, :size => 70 %></td>
                  </tr>
                  <% if @old_person.aka? && @person.aka != @old_person.aka %>
                     <tr>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.aka %></b></div></td>
                     </tr>
                  <% end %>
               </table>
            </td>
         </tr>
      </table>
      <%= f.hidden_field :is_alias_for %>
   </fieldset>
   
   <fieldset>
      <legend>Contact Information</legend>
      <table class='input'>
         <tr>
            <th>Phone:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :home_phone, :size => 12 %><%= hint '999-999-9999' %></td>
                     <% if @old_person.home_phone? && @person.home_phone != @old_person.home_phone %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.home_phone %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Cell:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :cell_phone, :size => 12 %><%= hint '999-999-9999' %></td>
                     <% if @old_person.cell_phone? && @person.cell_phone != @old_person.cell_phone %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.cell_phone %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Email:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :email, :size => 20 %><%= hint 'username@host.domain' %></td>
                     <% if @old_person.email? && @person.email != @old_person.email %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.email %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Residence:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td colspan='3'><%= f.text_field :phys_street, :size => 30 %><%= hint 'Street' %></td>
                     <% if @old_person.phys_street? && @person.phys_street != @old_person.phys_street %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.phys_street %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.text_field :phys_city, :size => 15 %><%= hint 'City' %></td>
                     <% if @old_person.phys_city? && @person.phys_city != @old_person.phys_city %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.phys_city %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.select :phys_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                     <% if !@old_person.phys_state.nil? && @person.phys_state_id != @old_person.phys_state_id %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.phys_state.long_name %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.text_field :phys_zip, :size => 10 %><%= hint 'ZIP' %></td>
                     <% if @old_person.phys_zip? && @person.phys_zip != @old_person.phys_zip %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.phys_zip %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Mailing:<br/>(If Different)</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td colspan='3'><%= f.text_field :mail_street, :size => 30 %><%= hint 'Street or P.O. Box' %></td>
                     <% if @old_person.mail_street? && @person.mail_street != @old_person.mail_street %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.mail_street %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.text_field :mail_city, :size => 15 %><%= hint 'City' %></td>
                     <% if @old_person.mail_city? && @person.mail_city != @old_person.mail_city %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.mail_city %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>   
                     <td><%= f.select :mail_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                     <% if !@old_person.mail_state.nil? && @person.mail_state_id != @old_person.mail_state_id %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.mail_state.long_name %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.text_field :mail_zip, :size => 10 %><%= hint 'ZIP' %></td>
                     <% if @old_person.mail_zip? && @person.mail_zip != @old_person.mail_zip %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.mail_zip %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Employment:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :occupation %><%= hint 'Occupation' %></td>
                     <% if @old_person.occupation? && @person.occupation != @old_person.occupation %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.occupation %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.text_field :employer %><%= hint 'Employer' %></td>
                     <% if @old_person.employer? && @person.employer != @old_person.employer %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.employer %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Identification</legend>
      <table class='input'>
         <tr>
            <th>DOB:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.calendar_date_select :date_of_birth, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                     <% if @old_person.date_of_birth? && @person.date_of_birth != @old_person.date_of_birth %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h format_date(@old_person.date_of_birth) %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>POB:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :place_of_birth, :size => 30 %><%= hint 'City, State, (Country unless USA)' %></td>
                     <% if @old_person.place_of_birth? && @person.place_of_birth != @old_person.place_of_birth %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.place_of_birth %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>SSN:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :ssn, :size => 11 %><%= hint '999-99-9999' %></td>
                     <% if @old_person.ssn? && @person.ssn != @old_person.ssn %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.ssn %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>OL:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :oln, :size => 12 %><%= hint 'Number' %></td>
                     <td><%= f.select :oln_state_id, get_opts("State", :allow_nil => true) %><%= hint 'State of Issue' %></td>
                     <% if (@old_person.oln? || @old_person.oln_state_id?) && (@person.oln != @old_person.oln || @person.oln_state_id != @old_person.oln_state_id) %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.oln %> - <%=h @old_person.oln_state.nil? ? '' : @old_person.oln_state.long_name %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>State/Fed:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :sid, :size => 15 %><%= hint 'SID' %></td>
                     <% if @old_person.sid? && @person.sid != @old_person.sid %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.sid %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.text_field :doc_number, :size => 15 %><%= hint 'DOC' %></td>
                     <% if @old_person.doc_number? && @person.doc_number != @old_person.doc_number %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.doc_number %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.text_field :fbi, :size => 15 %><%= hint 'FBI' %></td>
                     <% if @old_person.fbi? && @person.fbi != @old_person.fbi %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.fbi %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Fingerprint:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :fingerprint_class, :size => 30 %></td>
                     <% if @old_person.fingerprint_class? && @person.fingerprint_class != @old_person.fingerprint_class %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.fingerprint_class %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         <tr>
            <th>DNA Profile:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :dna_profile, :size => 30 %></td>
                     <% if @old_person.dna_profile? && @person.dna_profile != @old_person.dna_profile %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.dna_profile %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>DNA Taken:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.calendar_date_select :dna_swab_date, :size => 30 %><%= hint 'Swab (MM/DD/YYYY)' %></td>
                     <% if @old_person.dna_swab_date? && @person.dna_swab_date != @old_person.dna_swab_date %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h format_date(@old_person.dna_swab_date) %></b></div></td>
                     <% end %>
                     <td><%= f.calendar_date_select :dna_blood_date, :size => 30 %><%= hint 'Blood (MM/DD/YYYY)' %></td>
                     <% if @old_person.dna_blood_date? && @person.dna_blood_date != @old_person.dna_blood_date %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h format_date(@old_person.dna_blood_date) %></b></div></td>
                     <% end %>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Description</legend>
      <table class='input'>
         <tr>
            <th>Race:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :race_id, get_opts("Race", :allow_nil => true) %></td>
                     <th>Sex:</th>
                     <td><%= f.select :sex, [['---',nil],["Male",1],["Female",2]] %></td>
                     <th>Complexion:</th>
                     <td><%= f.select :complexion_id, get_opts("Complexion", :allow_nil => true) %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Build:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :build_id, get_opts("Build", :allow_nil => true) %></td>
                     <th>Height:</th>
                     <td><%= f.text_field :height_ft, :size => 2 %><%= hint 'FT' %></td>
                     <td><%= f.text_field :height_in, :size => 2 %><%= hint 'IN' %></td>
                     <th>Weight:</th>
                     <td><%= f.text_field :weight, :size => 3 %><%= hint 'LBS' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Hair:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :hair_type_id, get_opts("Hair Type", :allow_nil => true) %><%= hint 'Type' %></td>
                     <td><%= f.select :hair_color_id, get_opts("Hair Color", :allow_nil => true) %><%= hint 'Color' %></td>
                     <td><%= f.select :facial_hair_id, get_opts("Facial Hair", :allow_nil => true) %><%= hint 'Facial' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Eyes:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.select :eye_color_id, get_opts("Eye Color", :allow_nil => true) %><%= hint 'Color' %></td>
                     <td><%= f.check_box :glasses %><b>Glasses</b></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Shoes:</th>
            <td><%= f.text_field :shoe_size, :size => 10 %><%= hint 'Size / Width' %></td>
         </tr>
         <% unless @old_person.person_description.blank? || @person.person_description == @old_person.person_description %>
            <tr>
               <td colspan='2'>
                  <div class='merge'>
                     <table>
                        <tr>
                           <td><span class='error'>Conflict:</span></td>
                           <td><b><%=h @old_person.person_description %></b></td>
                        </tr>
                     </table>
                  </div>
               </td>
            </tr>
         <% end %>
      </table>
   </fieldset>

   <fieldset>
      <legend>Distinguishing Marks</legend>
      <table id='marks' class='input' style='width:auto;'>
         <%= render :partial => 'mark', :collection => @person.marks %>
      </table>
      <p><%= add_mark_link 'Add a Mark' %></p>
      <% if !@old_person.marks_description.blank? && @person.marks_description != @old_person.marks_description %>
         <div class='merge'>
            <table>
               <tr>
                  <td><span class='error'>Conflict:</span></td>
                  <td><%=h @old_person.marks_description %></td>
               </tr>
            </table>
         </div>
      <% end %>
   </fieldset>
   
   <fieldset class='error'>
      <legend>Medical Information</legend>
      <table class='input'>
         <tr>
            <th>Emergency:<br/>Contact:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :emergency_contact, :size => 25 %><%= hint 'Full Name' %></td>
                     <% if @old_person.emergency_contact? && @person.emergency_contact != @old_person.emergency_contact %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.emergency_contact %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><%= f.select :em_relationship_id, get_opts("Associate Type", :allow_nil => true) %><%= hint 'Relationship' %></td>
                     <% if !@old_person.em_relationship.nil? && @person.em_relationship_id != @old_person.em_relationship_id %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.em_relationship.long_name %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td><b>Phone:</b> <%= f.text_field :emergency_phone, :size => 12 %><%= hint '999-999-9999' %></td>
                     <% if @old_person.emergency_phone? && @person.emergency_phone != @old_person.emergency_phone %>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.emergency_phone %></b></div></td>
                     <% else %>
                        <td/>
                     <% end %>
                  </tr>
                  <tr>
                     <td colspan='2'><%= f.text_field :emergency_address, :size => 70 %><%= hint 'Physical Address' %></td>
                  </tr>
                  <% if @old_person.emergency_address? && @person.emergency_address != @old_person.emergency_address %>
                     <tr>
                        <td colspan='2'><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.emergency_address %></b></div></td>
                     </tr>
                  <% end %>
               </table>
            </td>
         </tr>
         <tr>
            <th>Drug Allergies:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= f.text_field :med_allergies, :size => 70 %></td>
                  </tr>
                  <% if @old_person.med_allergies? && @person.med_allergies != @old_person.med_allergies %>
                     <tr>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.med_allergies %></b></div></td>
                     </tr>
                  <% end %>
               </table>
            </td>
         </tr>
         <tr>
            <th>Conditions:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td>
                        <%= f.check_box :hepatitis %><b>Hepatitis</b>
                        <%= space(2) %>
                        <%= f.check_box :hiv %><b>HIV</b>
                        <%= space(2) %>
                        <%= f.check_box :tb %><b>Tuberculosis</b>
                        <%= space(2) %>
                        <%= f.check_box :deceased %><b>Deceased</b>
                     </td>
                  </tr>
                  <% if (@old_person.hepatitis? || @old_person.hiv? || @old_person.tb? || @old_person.deceased?) && (@person.hepatitis != @old_person.hepatitis || @person.hiv != @old_person.hiv || @person.tb |= @old_person.tb || @person.deceased != @old_person.deceased) %>
                     <tr>
                        <td><div class='merge'><span class='error'>Conflict:</span> <b><%= @old_person.hepatitis? ? 'Hepatitis' : '' %> - <%= @old_person.hiv? ? 'HIV' : '' %> - <%= @old_person.tb? ? 'Tuberculosis' : '' %> - <%= @old_person.deceased? ? 'Deceased' : '' %></b></div></td>
                     </tr>
                  <% end %>
               </table>
            </td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Known Associates</legend>
      <table id='associates' class='input' style='width:auto;'>
         <%= render :partial => 'associate', :collection => @person.associates %>
      </table>
      <p><%= add_associate_link 'Add an Associate' %></p>
   
      <% if !@old_person.associates_description.blank? && @person.associates_description != @old_person.associates_description %>
         <div class='merge'>
            <table>
               <tr>
                  <td><span class='error'>Conflict:</span></td>
                  <td><%=h @old_person.associates_description %></td>
               </tr>
            </table>
         </div>
      <% end %>
      
      <table class='input'>
         <tr>
            <th>Member of Gang:</th>
            <td><%= f.text_field :gang_affiliation, :size => 60 %></td>
         </tr>
         <% if @old_person.gang_affiliation? && @person.gang_affiliation != @old_person.gang_affiliation %>
            <tr>
               <td><div class='merge'><span class='error'>Conflict:</span> <b><%=h @old_person.gang_affiliation %></b></div></td>
            </tr>
         <% end %>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Remarks</legend>
      <%= f.text_area :remarks, :cols => 70, :rows => 5, :class => 'textile' %>
      
      <% if @old_person.remarks? && @person.remarks != @old_person.remarks %>
         <div class='merge'>
            <table>
               <tr>
                  <td><span class='error'>Conflict:</span></td>
                  <td><%= @old_person.remarks %></td>
               </tr>
            </table>
         </div>
      <% end %>
   </fieldset>
   
   <%= form_buttons %>
</div>
<% end %>
<%= set_focus_to_id 'person_name' %>