<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Drug Name:</th>
         <td><%=h @medication.drug_name %></td>
      </tr>
      <tr>
         <th>Dosage:</th>
         <td><%=h @medication.dosage %></td>
      </tr>
      <tr>
         <th>Warnings:</th>
         <td class='error'><%=h @medication.warnings %></td>
      </tr>
      <tr>
         <th>Prescription Number:</th>
         <td><%=h @medication.prescription_no %></td>
      </tr>
      <tr>
         <th>Physician:</th>
         <td><%=h show_contact @medication, :physician %></td>
      </tr>
      <tr>
         <th>Pharmacy:</th>
         <td><%=h show_contact @medication, :pharmacy %></td>
      </tr>
      <tr>
         <th>Dose Schedule:</th>
         <td><%=h @medication.dose_schedule %></td>
      </tr>
   </table>
</div>
<%= link_bar %>
<%= created_by @medication %>