<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>
<% if has_permission Perm[:destroy_person] %>
   <%= tip "If the Delete button is disabled, this person has associated records (or has aliases with associated records) and cannot be deleted. Try using the <b>Show Links</b> button for further information." %>
<% end %>

<div class='basic-view'>
   <% is_wanted = !@person.wanted.empty? %>
   <% is_forbidden = !@person.forbidden.empty? %>
   <table style='width:100%;'>
      <tr>
         <td>
            <span style='font-size: 150%;' <%= is_wanted ? "class='error'" : '' %>><b><%=h @person.full_name %></b></span><br/>
            <% if @alias.nil? %>
               <span class='error'>Error: Alias ID <%= @person.is_alias_for %> is invalid, please fix it!</span>
            <% else %>
               <% if @person.id != @alias.id -%>
                  <% if @person.merge_locked? %>
                     <div style='font-size: 120%;'><span class='message'>Merged with:</span> <%=h show_person(@person.alias_for) %><br/><span class='message'>This record can no longer be used or modified!</span></div>
                  <% else %>
                     <span class='error'>Alias For: <%=h show_person(@person.alias_for) %></span><br/>
                  <% end %>
               <% end %>
            <% end %>
            <br/>
            AKA:
            <% if @person.aka? -%>
               <b>&quot;<%=h @person.aka %>&quot;</b>
            <% end -%>
            <br/>
            <fieldset>
               <legend>Status Flags</legend>
               <b>
               <% unless @person.bookings.empty? || @person.bookings.last.release_date? %>
                  <% jail = "JAIL" %>
                  <% unless @person.bookings.last.facility.nil? %>
                     <% jail << ": " + @person.bookings.last.facility.short_name %>
                  <% end %>
                  <%= button_to_function(jail, :style => 'width:100px;font-weight:bold;'){|page| page.redirect_to(url_for(@person.bookings.last))} %><%= space 2 %>
               <% end %>
               <%= @person.deceased? ? "<span style='color:#{@colors.color_white};background-color:#{@colors.color_black};'>DECEASED</span>#{space(2)}" : "" %>
               <%= is_wanted ? button_to_function("WANTED", :class => 'error', :style => 'width:100px;font-weight:bold;'){|page| page.redirect_to("#active")} + space(2) : "" %>
               <%= is_forbidden ? button_to_function("FORBIDDEN", :class => 'message', :style => 'width:100px;font-weight:bold;'){|page| page.redirect_to("#active")} + space(2) : "" %>
               <%= @person.hepatitis? ? "<span style='color:#{@colors.color_white};background-color:#{@colors.color_error};'>HEP</span>#{space(2)}" : "" %>
               <%= @person.hiv? ? "<span style='color:#{@colors.color_white};background-color:#{@colors.color_error};'>HIV</span>#{space(2)}" : "" %>
               <%= @person.tb? ? "<span style='color:#{@colors.color_white};background-color:#{@colors.color_error};'>TB</span>#{space(2)}" : "" %>
               </b>
            </fieldset>
            <% unless @person.aliases.reject(&:merge_locked?).empty? %>
            <table style='width:100%;'>
               <tr>
                  <th>Other Names Used:</th>
                  <td><%= @person.aliases.collect{|a| "[#{show_person a, :include_id => false}]"}.join(', ') %></td>
               </tr>
            </table>
            <% end %>
         </td>      
         <td style='width:350px;text-align:center;'>
            <table style='width:100%;' class='hinted'>
               <tr>
                  <td><%= link_to image_tag(@person.front_mugshot.url(:small)), @person.front_mugshot.url %><div class='hint' style='text-align:center;'>Click For Larger Image</div></td>
                  <td><%= link_to image_tag(@person.side_mugshot.url(:small)), @person.side_mugshot.url %><div class='hint' style='text-align:center;'>Click For Larger Image</div></td>
               </tr>
               <% if has_permission(Perm[:update_person]) %>
               <tr>
                  <td style='text-align:center;'><%= button_to "Front Mugshot", { :action => 'front_mugshot', :id => @person.id }, :method => :get %></td>
                  <td style='text-align:center;'><%= button_to "Side Mugshot", { :action => 'side_mugshot', :id => @person.id }, :method => :get %></td>
               </tr>
               <% end %>
            </table>
         </td>
      </tr>
   </table>

   <% unless @person.merge_locked? %>
      <%= link_bar_extra %>
   <% end %>
   
   <h4>Contact Information</h4>

   <table>
      <tr>
         <th>Phone:</th>
         <td><%=h @person.home_phone %></td>
      </tr>
      <tr>
         <th>Cell:</th>
         <td><%=h @person.cell_phone %></td>
      </tr>
      <tr>
         <th>EMail:</th>
         <td><%=h @person.email %></td>
      </tr>
      <tr>
         <th>Residence:</th>
         <td>
            <%= @person.physical_line1 %><br />
            <%= @person.physical_line2 %>
         </td>
      </tr>
      <tr>
         <th>Mailing:</th>
         <td>
            <%= @person.mailing_line1 %><br />
            <%= @person.mailing_line2 %>
         </td>
      </tr>
      <tr>
         <th>Employer:</th>
         <td><%=h @person.employer %></td>
      </tr>
      <tr>
         <th>Occupation:</th>
         <td><%=h @person.occupation %></td>
      </tr>
   </table>
   
   <h4>Identification</h4>
   
   <table>
      <tr>
         <th>DOB:</th>
         <td><%=h format_date(@person.date_of_birth) %></td>
      </tr>
      <tr>
         <th>POB:</th>
         <td><%=h @person.place_of_birth %></td>
      </tr>
      <tr>
         <th>SSN:</th>
         <td><%=h @person.ssn %></td>
      </tr>
      <tr>
         <th>OLN:</th>
         <td><%=h @person.oln %> <%=h @person.oln_state.nil? ? '' : @person.oln_state.short_name %></td>
      </tr>
      <tr>
         <th>FBI:</th>
         <td><%=h @person.fbi %></td>
      </tr>
      <tr>
         <th>SID:</th>
         <td><%=h @person.sid %></td>
      </tr>
      <tr>
         <th>DOC:</th>
         <td><%=h @person.doc_number %></td>
      </tr>
      <tr>
         <th>Fingerprint:</th>
         <td><%=h @person.fingerprint_class %></td>
      </tr>
      <tr>
         <th>DNA Profile:</th>
         <td><%=h @person.dna_profile %></td>
      </tr>
      <tr>
         <th>Description:</th>
         <td><%=h @person.person_description %></td>
      </tr>
      <tr>
         <th>Dist. Marks:</th>
         <td><%= @person.marks_description %></td>
      </tr>
   </table>
   
   <h4>Medical Information</h4>
   <table>
      <tr>
         <th><span class='error'>Emergency Contact:</span></th>
         <td>
            <%=h @person.emergency_contact %>
            <% if !@person.em_relationship.nil? -%>
               (<%=h @person.em_relationship.long_name %>)
            <% end -%>
         </td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%=h @person.emergency_address %></td>
      </tr>
      <tr>
         <th><span class='error'>Phone:</span></th>
         <td><%=h @person.emergency_phone %></td>
      </tr>
      <tr>
         <th>Medical Allergies:</th>
         <td><%=h @person.med_allergies %></td>
      </tr>
   </table>
   
   <h3>Additional Information</h3>
   
   <table>
      <tr>
         <th>DNA Taken:</th>
         <td>
            <table class='hinted'>
               <tr>
                  <th>Swab:</th>
                  <td><%=h format_date(@person.dna_swab_date) %></td>
                  <th>Blood:</th>
                  <td><%=h format_date(@person.dna_blood_date) %></td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <th>Member of Gang:</th>
         <td><%=h @person.gang_affiliation %></td>
      </tr>
      <% if has_permission(Perm[:view_commissary]) %>
         <tr>
            <th>Commissary Balance:</th>
            <td><%=h number_to_currency(@person.commissary_balance) %></td>
         </tr>
      <% end %>
   </table>
   
   <h4>Known Associates</h4>
   <%= @person.associates_description %>
</div>

<div>
   <h4>Medications</h4>
   <table>
      <tr>
         <th>Drug Name</th>
         <th>Dosage Schedule</th>
      </tr>
      <% for m in @person.medications %>
         <tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>"  onclick="window.location='<%= url_for m %>';return false;">
            <td><%=h m.drug_name %></td>
            <td><%=h m.dose_schedule %></td>
         </tr>
      <% end %>
   </table>
</div>

<div class='basic-view'>
   <h4>Known Vehicles</h4>
   <% vs = @person.vehicles.collect{|p| [(p.color? ? p.color + ' ' : '') + (p.make? ? p.make + ' ' : '') + (p.model? ? p.model : '') + (p.vehicle_type.nil? ? '' : p.vehicle_type.long_name + ' ') + (p.license? ? ' License: ' + p.license + (p.license_state.nil? ? '' : p.license_state.short_name) + ' ' : '') + (p.vin? ? ' VIN: ' + p.vin + ' ' : ''), p.photos.collect{|p| link_to(image_tag(p.invest_photo.url(:thumb)), p.invest_photo.url(:original))}.join(' ')] } %>
   <table>
      <% for v in vs %>
         <tr>
            <td><%= v[0] %></td>
            <td><%= v[1] %></td>
         </tr>
      <% end %>
   </table>
</div>

<h3>Remarks</h3>
<%= textilize @person.remarks %>

<%= link_bar %>
<%= created_by @person %>

<% unless @person.merge_locked? %>

<h2><a name='active'></a>Active Records</h2>

<% unless @commissary.empty? %>
   <% @end_balance = @person.commissary_balance %>
   <h3>Commissary Log (past 30 days)</h3>
   <table style='width: 100%;'>
      <%= render :partial => 'commissary/header' %>
      <%= render :partial => 'commissary/commissary', :collection => @commissary%>
   </table>
<% end %>

<% unless @vwarrants.empty? && @pwarrants.empty? && @vforbids.empty? && @pforbids.empty? %>
<%= tip '<b>Possible</b> Warrants/Forbids <b>have not been verified</b>!' %>
<% if has_permission(Perm[:update_person]) %>
   <%= tip 'If a Warrant or Forbid is <b>definitely not for this person</b>, click the <b>Remove</b> button.' %>
   <%= tip 'If a <b>Possible</b> Warrant/Forbid is <b>verified to be for this person</b>, click the <b>Verify</b> button.' %>
<% end %>

<% unless @vwarrants.empty? %>
   <h3>Verified Warrants</h3>
   <table style='width: 100%;'>
      <tr>
         <th>Warrant No</th>
         <th>Name</th>
         <th>DOB</th>
         <th>SSN</th>
         <th>OLN</th>
         <th>Agency</th>
         <th>Charge(s)</th>
         <th/>
      </tr>
      <% for w in @vwarrants %>
         <tr class="<%= cycle('list-line-odd','list-line-even') %>">
            <td><%= link_to w.id.to_s, w %></td>
            <td><%=h w.full_name %></td>
            <td><%=h format_date(w.dob) %></td>
            <td><%=h w.ssn %></td>
            <td><%=h w.oln %><%=h w.oln_state.nil? ? '' : "-#{w.oln_state.short_name}" %></td>
            <td><%=h w.jurisdiction.nil? ? '' : w.jurisdiction.fullname %></td>
            <td><%=h w.legacy? ? '[Legacy] ' : '' %><%=h w.charge_summary %></td>
            <td>
               <% if has_permission(Perm[:update_person]) %>
                  <%= button_to("Remove", {:action => 'warrant_exemption', :id => @person.id, :warrant_id => w.id}, :style => 'width:100px;', :method => :post) %>
               <% end %>
            </td>
         </tr>
      <% end %>
   </table>
<% end %>

<% unless @pwarrants.empty? %>   
   <h3>Possible Warrants</h3>
   <table style='width:100%;'>
      <tr>
         <th>Warrant No</th>
         <th>Name</th>
         <th>DOB</th>
         <th>SSN</th>
         <th>OLN</th>
         <th>Agency</th>
         <th>Charge(s)</th>
         <th/>
      </tr>
      <% for w in @pwarrants %>
         <tr class="<%= cycle('list-line-odd','list-line-even') %>">
            <td><%= link_to w.id.to_s, w %></td>
            <td><%=h w.full_name %></td>
            <td><%=h format_date(w.dob) %></td>
            <td><%=h w.ssn %></td>
            <td><%=h w.oln %><%=h w.oln_state.nil? ? '' : "-#{w.oln_state.short_name}" %></td>
            <td><%=h w.jurisdiction.nil? ? '' : w.jurisdiction.fullname %></td>
            <td><%=h w.legacy? ? '[Legacy] ' : '' %><%=h w.charge_summary %></td>
            <td>
               <% if has_permission(Perm[:update_person]) %>
               <%= button_to("Verify", {:action => 'verify_warrant', :id => @person.id, :warrant_id => w.id}, :style => 'width:100px;', :method => :post) %>
               <%= button_to("Remove", {:action => 'warrant_exemption', :id => @person.id, :warrant_id => w.id}, :style => 'width:100px;', :method => :post) %>
               <% end %>
            </td>
         </tr>
      <% end %>
   </table>
<% end %>

<% unless @vforbids.empty? %>
   <h3>Verified Forbids</h3>
   <table style='width: 100%;'>
      <tr>
         <th>Forbid No</th>
         <th>Name</th>
         <th>Complainant</th>
         <th>Status</th>
         <th/>
      </tr>
      <% for f in @vforbids %>
         <tr class="<%= cycle('list-line-odd','list-line-even') %>">
            <td><%= link_to f.id.to_s, f %></td>
            <td><%=h f.full_name %></td>
            <td><%=h f.complainant %></td>
            <td>
               <% if !f.signed_date? %>
                  <%=h format_date(f.request_date) %>
                  <span class='error'><b>(NOT SIGNED)</b></span>
               <% else %>
                  <%=h format_date(f.signed_date) %>
                  <span class='message'><b>(ACTIVE)</b></span>
               <% end %>
               <% if f.legacy? %>
                  [Legacy]
               <% end %>
            </td>
            <td>
               <% if has_permission(Perm[:update_person]) %>
                  <%= button_to("Remove", {:action => 'forbid_exemption', :id => @person.id, :forbid_id => f.id}, :style => 'width:100px;', :method => :post) %>
               <% end %>
            </td>
         </tr>
      <% end %>
   </table>
<% end %>

<% unless @pforbids.empty? %>
   <h3>Possible Forbids</h3>
   <table style='width: 100%;'>
      <tr>
         <th>Forbid No</th>
         <th>Name</th>
         <th>Complainant</th>
         <th>Status</th>
         <th/>
      </tr>
      <% for f in @pforbids %>
         <tr class="<%= cycle('list-line-odd','list-line-even') %>">
            <td><%= link_to f.id.to_s, f %></td>
            <td><%=h f.full_name %></td>
            <td><%=h f.complainant %></td>
            <td>
               <% if f.recall_date? %>
                  <%=h format_date(f.recall_date) %>
                  <span class='notice'><b>(Recalled)</b></span>
               <% elsif !f.signed_date? %>
                  <%=h format_date(f.request_date) %>
                  <span class='error'><b>(NOT SIGNED)</b></span>
               <% else %>
                  <%=h format_date(f.signed_date) %>
                  <span class='message'><b>(ACTIVE)</b></span>
               <% end %>
               <% if f.legacy? %>
                  [Legacy]
               <% end %>
            </td>
            <td>
               <% if has_permission(Perm[:update_person]) %>
               <%= button_to("Verify", {:action => 'verify_forbid', :id => @person.id, :forbid_id => f.id}, :style => 'width:100px;', :method => :post) %>
               <%= button_to("Remove", {:action => 'forbid_exemption', :id => @person.id, :forbid_id => f.id}, :style => 'width:100px;', :method => :post) %>
               <% end %>
            </td>
         </tr>
      <% end %>
   </table>
<% end %>
<% end %>

<% unless @bonds.empty? %>
   <h3>Bonds</h3>
   <table style='width: 100%;'>
      <%= render :partial => 'bonds/header' %>
      <%= render :partial => 'bonds/bond', :collection => @bonds %>
   </table>
<% end %>

<% unless @probations.empty? %>
   <br/>
   <h3>Probation</h3>
   <table style='width:100%;'>
      <tr>
         <th>ID</th>
         <th>Type</th>
         <th>Status</th>
         <th>Charge</th>
      </tr>
      <% for p in @probations %>
         <tr>
            <td><%=h p.id %></td>
            <td><%=h p.status.nil? ? '' : (p.status.long_name == 'Active' ? 'Parish' : p.status.long_name) %></td>
            <td><%=h p.status.nil? ? '' : (['Active','State','Unsupervised'].include?(p.status.long_name) ? 'Active' : p.status.long_name) %><%= p.hold_if_arrested? ? " <span class='error'>[Hold If Arrested]</span>" : '' %></td>
            <td>[<%=h p.conviction_count %>] <%=h p.conviction %></td>
         </tr>
      <% end %>
   </table>
<% end %>

<h2>Rap Sheet</h2>
<% unless @history.empty? %>
   <table style='width:100%;'>
      <% for hist in @history %>
         <% if hist[1].is_a?(Arrest) %>
            <%= render :partial => 'history_arrest', :object => hist %>
         <% elsif hist[1].is_a?(Citation) %>
            <%= render :partial => 'history_citation', :object => hist %>
         <% elsif hist[1].is_a?(Transfer) %>
            <%= render :partial => 'history_transfer', :object => hist %>
         <% elsif hist[1].is_a?(Probation) %>
            <%= render :partial => 'history_probation', :object => hist %>
         <% end %>
      <% end %>
   </table>
<% end %>

<% unless @wexempt.empty? && @fexempt.empty? %>
<h2>Exemptions</h2>

<%= tip 'This person is currently exempt from the records shown below.' %>
<% if has_permission(Perm[:update_person]) %>
   <%= tip 'If an exemption is not correct, click the <b>Restore</b> button.' %>
<% end %>

<% unless @wexempt.empty? %>
<h3>Warrants</h3>
<table style='width: 100%;'>
   <tr>
      <th>Warrant No</th>
      <th>Name</th>
      <th>DOB</th>
      <th>SSN</th>
      <th>OLN</th>
      <th>Agency</th>
      <th>Charge(s)</th>
      <th/>
   </tr>
   <% for w in @wexempt %>
      <tr class="<%= cycle('list-line-odd','list-line-even') %>">
         <td><%= link_to w.id.to_s, w %></td>
         <td><%=h w.full_name %></td>
         <td><%=h format_date(w.dob) %></td>
         <td><%=h w.ssn %></td>
         <td><%=h w.oln %><%=h w.oln_state.nil? ? '' : "-#{w.oln_state.short_name}" %></td>
         <td><%=h w.jurisdiction.nil? ? '' : w.jurisdiction.fullname %></td>
         <td><%=h w.legacy? ? '[Legacy] ' : '' %><%=h w.charge_summary %></td>
         <td>
            <% if has_permission(Perm[:update_person]) %>
            <%= button_to("Restore", {:action => 'warrant_exemption', :id => @person.id, :warrant_id => w.id, :restore => 1}, :style => 'width:100px;', :method => :post) %>
            <% end %>
         </td>
      </tr>
   <% end %>
</table>
<% end %>

<% unless @fexempt.empty? %>
<h3>Forbid Exemptions</h3>
<table style='width: 100%;'>
   <tr>
      <th>Forbid No</th>
      <th>Name</th>
      <th>Complainant</th>
      <th>Status</th>
      <th/>
   </tr>
   <% for f in @fexempt %>
      <tr class="<%= cycle('list-line-odd','list-line-even') %>">
         <td><%= link_to f.id.to_s, f %></td>
         <td><%=h f.full_name %></td>
         <td><%=h f.complainant %></td>
         <td>
            <% if f.recall_date? %>
               <%=h format_date(f.recall_date) %>
               <span class='notice'><b>(Recalled)</b></span>
            <% elsif !f.signed_date? %>
               <%=h format_date(f.request_date) %>
               <span class='error'><b>(NOT SIGNED)</b></span>
            <% else %>
               <%=h format_date(f.signed_date) %>
               <span class='message'><b>(ACTIVE)</b></span>
            <% end %>
            <% if f.legacy? %>
               [Legacy]
            <% end %>
         </td>
         <td>
            <% if has_permission(Perm[:update_person]) %>
            <%= button_to("Restore", {:action => 'forbid_exemption', :id => @person.id, :forbid_id => f.id, :restore => 1}, :style => 'width:100px;', :method => :post) %>
            <% end %>
         </td>
      </tr>
   <% end %>
</table>
<% end %>
<% end %>
<% end %>
