<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for arrest %>';return false;">
   <td style='white-space:nowrap;'><%=h arrest.id %><%= arrest.legacy? ? ' [Legacy]' : '' %></td>
   <td style='white-space:nowrap;'><%=h format_date(arrest.arrest_date, arrest.arrest_time) %></td>
   <td style='white-space:nowrap;'><%=h arrest.agency %></td>
   <td><%=h arrest.charge_summary %></td>
</tr>
<% for b in arrest.bonds %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for b %>';return false;">
   <td>&rarr;&rarr;</td>
   <td>Bond: <%=h b.id %></td>
   <td style='white-space:nowrap;'><%=h format_date(b.issued_date, b.issued_time) %></td>
   <td>
      <%=h b.bond_type.nil? ? "" : b.bond_type.long_name %>
      (<%=h b.bondsman.nil? ? (b.surety.nil? ? 'Unknown' : show_person(b.surety)) : b.bondsman.name %>)
      For: <%= number_to_currency(b.bond_amt) %>
      <%= b.status.nil? ? "" : ' [' + b.status.long_name + ']' %>
   </td>
</tr>
<% end %>