<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr>
   <td><%= charge.id %></td>
   <td style='width:100%;'><%=h charge.charge %>(<%=h charge.count %>)</td>
   <td style='white-space:nowrap;'>
      <%= charge.sentence.nil? ? '' : button_to_function((charge.sentence.result.nil? ? 'Sentenced]' : "#{charge.sentence.result.long_name}"), :style => 'width:100px;'){|page| page.redirect_to(url_for(charge.sentence))} %>
      <%= charge.sentence.nil? ? '' : (charge.sentence.processed? ? "[Processed]" : '') %>
      <%= charge.sentence.nil? && !charge.info_only? && !charge.dropped_by_da? && !court_id.nil? ? button_to_function("Add Sentence", :style => 'width:100px;'){|page| page.redirect_to(url_for(edit_sentence_path(:court_id => court_id, :da_charge_id => charge.id)))} : '' %>
      <%= charge.info_only? ? "<span class='notice'>[Information Only]</span>" : '' %>
      <%= charge.dropped_by_da? ? "<span class='message'>[Dropped By D.A.]</span>" : '' %>
   </td>
   <td><%= (charge.arrest.nil? && charge.arrest_charge.nil?) ? button_to_function( "Link", :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'link_arr_or_charge', :da_charge_id => charge.id))} : '' %></td>
</tr>
