<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for citation %>';return false;">
   <td><%=h citation.id %></td>
   <td><%=h citation.ticket_no %></td>
   <td><%=h format_date(citation.citation_date, citation.citation_time) %></td>
   <td><%=h citation.charge_summary %></td>
   <td><%=h citation.paid_date? ? 'PAID' : '' %><%=h citation.recalled_date? ? 'RECALLED' : '' %></td>
</tr>
