<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for docket %>';return false;">
   <td><%=h docket.id %></td>
   <td><%=h docket.docket_no %></td>
   <td><%=h show_person(docket.person) %></td>
   <td>
      <% unless docket.next_courts.empty? %>
         <% for c in docket.next_courts %>
            [<%=h format_date(c.court_date) %> -- <%=h c.judge.nil? ? '' : c.judge.long_name %> -- <%=h c.court_type.nil? ? '' : c.court_type.long_name %>]&nbsp;&nbsp;
         <% end %>
      <% end %>
   </td>
</tr>
