<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for revocation %>';return false;">
   <td><%=h revocation.id %></td>
   <td><%=h format_date(revocation.revocation_date) %></td>
   <td><%=h revocation.judge.nil? ? '' : revocation.judge.long_name %></td>
   <td><%=h revocation.revoked? ? 'YES' : 'NO' %></td>
   <td><%=h revocation.total_string.blank? ? (revocation.parish_string.blank? ? '' : revocation.parish_string + ' (Parish Jail)') : revocation.total_string %></td>
   <td><%=h revocation.status %></td>
</tr>
