<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :docket, :url => {:action => 'edit', :id => @docket.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Docket Information</legend>
         <%= input_note 'If <b>Miscellaneous Docket Entry</b> is checked, all of the charges added to this docket will be flagged as information only.  This is intended for use with the pre-arraignment &quot;temporary&quot; dockets.','Leading Zeros and Spaces will be stripped from docket numbers!' %>
         <%= input_note "If this docket does not have a valid docket number (such as when you are finalizing charges that never went to court), click the <b>Date Stamp</b> button to generate a pseudo docket number." %>
         <table class='input'>
            <tr>
               <th><%= required %>Docket Number:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :docket_no, :size => 14 %> <%= f.check_box :misc %>Miscellaneous Docket Entry</td>
                        <td><%= button_to_remote "Date Stamp", {:url => {:action => 'date_stamp'}}, { :style => 'width:100px;' } %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <%= person_row @docket, :person_id, :required => true %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Charges</legend>
         <% if @docket.new_record? %>
            <%= input_note 'You will not be able to add charges here when adding a <b>New Docket</b>.  After the new docket is saved, add the initial charges by clicking the <b>Link Charges</b> button, then re-edit the docket to modify them as needed.' %>
         <% else %>
            <%= input_note 'Charges marked <b>Information Only</b> are printed on the Docket but are not processed further.','Enter one charge per line. To add additional charge lines, click the <b>Add Charge</b> button.' %>
         <% end %>
         <table id='charges' class='input' style='width:auto;'>
            <%= render :partial => 'docket_charge', :collection => @docket.da_charges %>
         </table>
         <% unless @docket.new_record? %>
            <p><%= add_docket_charge_link "Add Charge" %></p>
         <% end %>
      </fieldset>
      
      <fieldset>
         <legend>Docket Notes</legend>
         <%= f.text_area :notes %>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'docket_docket_no' %>