<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :court, :url => {:action => 'edit_court', :id => @court.id, :docket_id => @court.docket_id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :docket_id %>
      
      <fieldset>
         <legend>Court Information</legend>
         <table class='input'>
            <tr>
               <th>Docket Number:</th>
               <td><%= @court.docket.nil? ? 'Invalid' : @court.docket.docket_no %></td>
            </tr>
            <tr>
               <th>Name:</th>
               <td><%= @court.docket.nil? ? "" : show_person(@court.docket.person) %></td>
            </tr>
            <tr>
               <th><%= required %>Judge:</th>
               <td><%= f.select :judge_id, get_opts("Judge") %></td>
            </tr>
            <tr>
               <th><%= required %>Court Date:</th>
               <td><%= f.calendar_date_select :court_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th><%= required %>Court Type:</th>
               <td><%= f.select :court_type_id, get_opts("Court Type") %></td>
            </tr>
            <tr>
               <th><%= required %>Docket Type:</th>
               <td><%= f.select :docket_type_id, get_opts("Docket Type") %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Court Results</legend>
         <table class='input'>
            <tr>
               <th>Actions:</th>
               <td>
                  <%= f.check_box :bench_warrant_issued %>Bench Warrant Issued<br/>
                  <%= f.check_box :bond_forfeiture_issued %>Bond Forfeiture Ordered<br/>
                  <%= f.check_box :is_upset_wo_refix %>Upset Without Refix<br/>
                  <%= f.check_box :is_refixed %>Refixed - <b>Reason:</b> <%= f.text_field :refix_reason, :size => 40 %><br/>
                  <%= f.check_box :is_dismissed %>Dismissed<br/>
                  <%= f.check_box :psi %>Pre-Sentence Investigation Ordered<br/>
                  <%= f.check_box :fines_paid %>Fines Paid
               </td>
            <tr>
               <th>Pled:</th>
               <td><%= f.select :plea_type_id, get_opts("Plea Type", :allow_nil => true) %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Followup</legend>
         <%= input_note 'If you fill in all of the fields in this section, the next court record will be automatically created for you.  If you leave any blank, the next court record will need to be created manually.' %>
         <table class='input'>
            <tr>
               <th>Next Court Judge:</th>
               <td><%= f.select :next_judge_id, get_opts("Judge", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Next Court Date:</th>
               <td><%= f.calendar_date_select :next_court_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Next Court Type:</th>
               <td><%= f.select :next_court_type_id, get_opts("Court Type", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Next Docket Type:</th>
               <td><%= f.select :next_docket_type_id, get_opts("Docket Type", :allow_nil => true) %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Status</legend>
         <table class='input'>
            <tr>
               <th>State Report:</th>
               <td><%= f.check_box :needs_state_report %>Needs State Report</td>
            </tr>
            <tr>
               <th>Appeal:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :is_overturned %>Sentence Overturned:</td>
                        <td><%= f.calendar_date_select :overturned_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Additional Notes</legend>
         <%= f.text_area :notes %>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>

<%= observe_field 'court_docket_id', :url => {:action => 'validate'}, :update => 'docket_name', :with => 'c' %>
<%= set_focus_to_id 'court_judge_id' %>