<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :revocation, :url => {:action => 'edit_revocation', :id => @revocation.id, :docket_id => @revocation.docket_id}, :method => :post do |f| %>

   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :docket_id %>
      <%= f.hidden_field :doc %>
      
      <fieldset>
         <legend>Docket</legend>
         <table class='input'>
            <tr>
               <th>Docket Number:</th>
               <td><%=h @revocation.docket.nil? ? 'Invalid' : @revocation.docket.docket_no %></td>
            </tr>
            <tr>
               <th>Name:</th>
               <td><%=h @revocation.docket.nil? ? 'Unknown' : show_person(@revocation.docket.person) %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Revocation</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Date:</th>
               <td><%= f.calendar_date_select :revocation_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note "The <b>Revocation Arrest</b> is the arrest made for probation/parole violation, not the original charges arrest. While it is not required, it is important to enter this because &quot;time served&quot; calculations will potentially be more accurate." %>
            <tr>
               <th>Revocation Arrest:</th>
               <td><%= f.text_field :arrest_id, :size => 8 %><%= hint 'ID' %></td>
            </tr>
            <tr>
               <th><%= required %>Judge:</th>
               <td><%= f.select :judge_id, get_opts('Judge') %></td>
            </tr>
            <tr>
               <th>If DOC Sentence:</th>
               <td><%= f.check_box :doc %>D.O.C.</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>If Revoked</legend>
         <table class='input'>
            <tr>
               <th>Probation Revoked?</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :revoked %>Yes</td>
                        <th>Sentenced To Serve:</th>
                        <td><%= f.text_field :total_hours, :size => 5 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :total_days, :size => 5 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :total_months, :size => 5 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :total_years, :size => 5 %><%= hint 'Years' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>If Consecutive:</th>
               <td>Consecutive to <%= f.select :consecutive_type_id, get_opts("Consecutive Type", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>If Other Dockets:</th>
               <td>
                  <table class='hinted' id='dockets'>
                     <%= render :partial => 'rev_consecutive_docket', :collection => @revocation.consecutive_dockets %>
                  </table>
                  <p><%= add_rev_docket_link 'Add Consecutive Docket' %></p>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>If Not Revoked</legend>
         <table class='input'>
            <tr>
               <th>Parish Jail Time:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :parish_hours, :size => 5 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :parish_days, :size => 5 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :parish_months, :size => 5 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :parish_years, :size => 5 %><%= hint 'Years' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Options</legend>
         <table class='input'>
            <tr>
               <th>Credit Time Served?</th>
               <td><%= f.check_box :time_served %>Yes</td>
            </tr>
            <tr>
               <th>Deny Goodtime?</th>
               <td><%= f.check_box :deny_goodtime %>Yes</td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note "<b>Delay Execution?</b> can be checked in those cases where the revoked person will not be reporting to the jail until a later date.  When checked, revocation processing will open a new booking for the person and place a &quot;Temporary Release&quot; hold on it.  This feature is entirely optional. If it is not used, the revocation will remain &quot;pending&quot; until the person is actually booked into jail." %></td>
            </tr>
            <tr>
               <th>Delay Execution?</th>
               <td><%= f.check_box :delay_execution %>Yes</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'revocation_revocation_date' %>