<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :sentence, :url => {:action => 'edit_sentence', :id => @sentence.id, :da_charge_id => @sentence.da_charge_id, :court_id => @sentence.court_id}, :method => :post do |f| %>

   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :docket_id %>
      <%= f.hidden_field :court_id %>
      <%= f.hidden_field :da_charge_id %>
      <%= f.hidden_field :probation_id %>

      <fieldset>
         <legend>Docket</legend>
         <table class='input'>
            <tr>
               <th>Docket Number:</th>
               <td><%= @sentence.docket.nil? ? 'Invalid Docket' : @sentence.docket.docket_no %></td>
            </tr>
            <tr>
               <th>Name:</th>
               <td><%= @sentence.docket.nil? ? 'Unknown' : show_person(@sentence.docket.person) %></td>
            </tr>
            <tr>
               <th>Charge:</th>
               <td><%= @sentence.da_charge.nil? ? 'Invalid' : "#{@sentence.da_charge.count} count #{@sentence.da_charge.charge}" %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Sentence</legend>
         <table class='input'>
            <tr>
               <th>Result:</th>
               <td><%= f.select :result_id, get_opts("Trial Result", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Conviction:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :conviction_count, :size => 3 %><%= hint 'Count' %></td>
                        <td><%= f.text_field :conviction, :size => 80 %><%= hint 'Charge' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Type:</th>
               <td><%= f.radio_button :doc, false %>Parish&nbsp;&nbsp;<%= f.radio_button :doc, true %>D.O.C.</td>
            </tr>
            <tr>
               <th>Fines:</th>
               <td><%= f.text_field :fines, :size => 12 %><%= hint "999999.99" %></td>
            </tr>
            <tr>
               <th>Costs:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.select :court_cost_type_id, get_opts('Court Costs', :allow_nil => true) %></td>
                        <td>&larr; OR &rarr;</td>
                        <td><%= f.text_field :costs, :size => 12 %><%= hint '999999.99' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Pay By:</th>
               <td><%= f.calendar_date_select :pay_by_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>   
            <tr>
               <th>Payment Default:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :default_hours, :size => 5 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :default_days, :size => 5 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :default_months, :size => 5 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :default_years, :size => 5 %><%= hint 'Years' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>To Serve:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :sentence_hours, :size => 5 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :sentence_days, :size => 5 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :sentence_months, :size => 5 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :sentence_years, :size => 5 %><%= hint 'Years' %></td>
                        <td colspan='3'><%=f.check_box :parish_jail %>In Parish Jail</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Suspended:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :suspended %>Suspended, Except For:</td>
                        <td><%= f.text_field :suspended_except_hours, :size => 5 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :suspended_except_days, :size => 5 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :suspended_except_months, :size => 5 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :suspended_except_years, :size => 5 %><%= hint 'Years' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Probation:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.select :probation_type_id, get_opts("Probation Type", :allow_nil => true) %><%= hint 'Type' %></td>
                        <td><%= f.text_field :probation_hours, :size => 5 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :probation_days, :size => 5 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :probation_months, :size => 5 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :probation_years, :size => 5 %><%= hint 'Years' %></td>
                     </tr>
                  </table>
                  <br/>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :probation_reverts %>Reverts to Unsupervised</td>
                        <th>Conditions:</th>
                        <td><%= f.text_field :probation_revert_conditions, :size => 40 %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Conditions</legend>
         <%= input_note "<b>Delay Execution of Sentence?</b> can be checked in those cases where the person will not be reporting to the jail until a later date.  When checked, sentence processing will open a new booking for the person and place a &quot;Temporary Release&quot; hold on it.  This feature is entirely optional. If it is not used, the sentence will remain &quot;pending&quot; until the person is actually booked into jail." %>
         <table class='input'>
            <tr>
               <th class='wide'>Delay Execution of Sentence?</th>
               <td><%= f.check_box :delay_execution %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Deny Goodtime?</th>
               <td><%= f.check_box :deny_goodtime %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Credit For Time Served?</th>
               <td><%= f.check_box :credit_time_served %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Without Benefit of Parole?</th>
               <td><%= f.check_box :wo_benefit %><b>Yes</b></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note "Enter <b>Community Service</b> as either hours or days (not both) as indicated on the sentence sheet. If the sentence sheet has both, calculate the total and enter only one value here." %></td>
            </tr>
            <tr>
               <th>Community Service:</th>
               <td><%= f.text_field :community_service_days, :size => 5 %> Days --OR-- <%= f.text_field :community_service_hours, :size => 5 %> Hours</td>
            </tr>
            <tr>
               <th>Substance Abuse Program?</th>
               <td><%= f.check_box :substance_abuse_program %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Driver Improvement?</th>
               <td><%= f.check_box :driver_improvement %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Monthly Probation Fees:</th>
               <td><%= f.text_field :probation_fees, :size => 12 %><%= hint '999.99' %></td>
            </tr>
            <tr>
               <th>Pay Indigent Defender Fund:</th>
               <td><%= f.text_field :idf_amount, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
            <tr>
               <th>Pay D.A.R.E.:</th>
               <td><%= f.text_field :dare_amount, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
            <tr>
               <th>Pay Restitution:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :restitution_amount, :size => 12 %><%= hint '999999.99' %></td>
                        <th>By:</th>
                        <td><%= f.calendar_date_select :restitution_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Anger Management Training?</th>
               <td><%= f.check_box :anger_management %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Substance Abuse Treatment?</th>
               <td><%= f.check_box :substance_abuse_treatment %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Random Drug Screens?</th>
               <td><%= f.check_box :random_drug_screens %><b>Yes</b></td>
            </tr>
            <tr>
               <th>No Victim Contact?</th>
               <td><%= f.check_box :no_victim_contact %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Articles:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :art_893 %>893</td>
                        <td><%= f.check_box :art_894 %>894</td>
                        <td><%= f.check_box :art_895 %>895</td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Concurrency</legend>
         <table class='input' style='width:auto;'>
            <tr>
               <th>Sentence:</th>
               <td><%= f.radio_button :sentence_consecutive, false %>Concurrent</td>
               <td><%= f.radio_button :sentence_consecutive, true %>Consecutive</td>
               <td><%= f.text_field :sentence_notes, :size => 40 %><%= hint 'Notes' %></td>
            </tr>
            <tr>
               <th>Fines:</th>
               <td><%= f.radio_button :fines_consecutive, false %>Concurrent</td>
               <td><%= f.radio_button :fines_consecutive, true %>Consecutive</td>
               <td><%= f.text_field :fines_notes, :size => 40 %><%= hint 'Notes' %></td>
            </tr>
            <tr>
               <th>Costs:</th>
               <td><%= f.radio_button :costs_consecutive, false %>Concurrent</td>
               <td><%= f.radio_button :costs_consecutive, true %>Consecutive</td>
               <td><%= f.text_field :costs_notes, :size => 40 %><%= hint 'Notes' %></td>
            </tr>
            <tr>
               <th>Consecutive to:</th>
               <td><%= f.select :consecutive_type_id, get_opts("Consecutive Type", :allow_nil => true) %></td>
            </tr>
         </table>
         
         <table id='dockets' class='input' style='width:auto;'>
            <%= render :partial => 'consecutive_docket', :collection => @sentence.consecutive_dockets %>
         </table>
         <p><%= add_docket_link 'Add Consecutive Docket' %></p>
      </fieldset>
      
      <fieldset>
         <legend>Sentence Notes</legend>
         <%= f.text_area :notes %>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'sentence_result_id' %>