<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<% unless session[:letters].nil? or session[:letters].blank? %>
   <div sytle='font-size: 110%;'><p><span class='message'>Notice:</span> You have <%= session[:letters].size %> bonds queued for letters. Use <b>Bondsmen Letters</b> report below to print. <%= button_to_function("Clear Queue", :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'clear_letter_queue'))} %></p></div>
<% end %>

<% unless @unprocessed.empty? %>
   <div style='font-size:110%;'><p><span class='message'>Notice:</span> There are <%= @unprocessed.size %> unprocessed sentences/revocations. <%= button_to_function("List", :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'list_unprocessed'))} %></p></div>
<% end %> 

<%= nav_button_row %>
<table width="100%">
   <%= render :partial => 'header' %>
   <%= render :partial => 'docket', :collection => @dockets %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Search Filter</h3>

<form action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help 'dockets', true %>

      <table>
         <tr>
            <th>Docket No:</th>
            <td><%= filter_text_field 'docket_no', @query[:docket_no], 20 %></td>
         </tr>
         <tr>
            <th>Person ID:</th>
            <td><%= filter_text_field 'person_id', @query[:person_id], 6 %></td>
         </tr>
         <tr>
            <th>Person Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 30 %></td>
         </tr>
         <tr>
            <th>Court Date:</th>
            <td><%= filter_date_select 'court_date', @query[:court_date] %><%= hint 'MM/DD/YYYY' %></td>
         </tr>
         <tr>
            <th>Judge:</th>
            <td><%= filter_select 'judge_id', @query[:judge_id], 'Judge' %></td>
         </tr>
         <tr>
            <th>Docket Type:</th>
            <td><%= filter_select 'docket_type_id', @query[:docket_type_id], 'Docket Type' %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>

<h3>Reports</h3>

<blockquote>
<table>
   <tr>
      <th>Bondsmen Letters</th>
   </tr>
   <tr>
      <td>
         <form action="<%= url_for(:action => 'letters') %>" method='get'>
            <div>
               Docket: <select name='docket_type'><%= options_for_select(get_opts("Docket Type")) %></select>
               <%= space(2) %>
               Date: <input name='court_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' id='court_date' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
               <%= space(2) %>
               Judge: <select name='judge'><%= options_for_select(get_opts("Judge")) %></select>
               <%= space(2) %>
               Time: <input type='text' name='time' size='5' value="<%= current_time %>"/>
               <%= space(2) %>
               <input type='submit' value='PDF' style='width:100px;'/>
            </div>
         </form>
      </td>
   </tr>
   <tr>
      <td>Select a docket type, a court date and a judge, enter a time for the court, then click the PDF button to generate the bondsman letters for that docket.</td>
   </tr>
   <tr>
      <th>Dockets</th>
   </tr>
   <tr>
      <td>
         <form action="<%= url_for(:action => 'dockets') %>" method='get'>
            <div>
               Docket: <select name='docket_type'><%= options_for_select(get_opts("Docket Type")) %></select>
               <%= space(2) %>
               Date: <input name='court_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' id='court_date2' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
               <%= space(2) %>
               Judge: <select name='judge'><%= options_for_select(get_opts("Judge")) %></select>
               <%= space(2) %>
               <input type='submit' value='PDF' style='width:100px;'/>
            </div>
         </form>
      </td>
   </tr>
   <tr>
      <td>Select a docket type, a court date and a judge, then click the PDF button to generate the selected docket.</td>
   </tr>
</table>
</blockquote>
