<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Select Arrest or Charge for Link</h1>

<h4>Arrests/Citations for <%=h show_person(@da_charge.docket.person) %></h4>
<table style='width:100%;'>
   <% for r in @records %>
      <tr class='<%= cycle('list-line-odd','list-line-even') %>'>
         <% if r[1].is_a?(Arrest) %>
            <td style='white-space:nowrap;'>
               <b>Arrest:</b> <%=h r[1].id %>
               <%= button_to('Link Arrest', {:action => 'do_link_arr_or_charge', :da_charge_id => @da_charge.id, :arrest_id => r[1].id}, :style => 'width:100px;float:left;') %>
            </td>
            <td>
               <b>Date/Time:</b> <%=h format_date(r[1].arrest_date, r[1].arrest_time) %> <%= r[1].legacy? ? '[Legacy]' : '' %>
               <table style='width:100%;'>
                  <% for c in r[1].district_charges %>
                     <tr>
                        <td><%= button_to('Link Charge', {:action => 'do_link_arr_or_charge', :da_charge_id => @da_charge.id, :charge_id => c.id}, :style => 'width:100px;') %></td>
                        <td style='width:100%;'>(<%=h c.count %>) <%=h c.charge %></td>
                        <td>
                           <% unless c.da_charges.reject{|c| c.info_only?}.empty? %>
                              <span class='message'><b>Linked</b></span>
                           <% end %>
                        </td>
                     </tr>
                  <% end %>
               </table>
            </td>
         <% else %>
            <td style='white-space:nowrap'>
               <b>Citation:</b> <%=h r[1].id %>
            </td>
            <td>
               <b>Date/Time:</b> <%=h format_date(r[1].citation_date, r[1].citation_time) %>
               <table style='width:100%;'>
                  <% for c in r[1].charges %>
                     <tr>
                        <td><%= button_to('Link Charge', {:action => 'do_link_arr_or_charge', :da_charge_id => @da_charge.id, :charge_id => c.id}, :style => 'width:100px;') %></td>
                        <td style='width:100%;'>(<%=h c.count %>) <%=h c.charge %></td>
                        <td>
                           <% unless c.da_charges.reject{|c| c.info_only?}.empty? %>
                              <span class='message'><b>Linked</b></span>
                           <% end %>
                        </td>
                     </tr>
                  <% end %>
               </table>
            </td>
         <% end %>
      </tr>
   <% end %>
</table>
<%= link_bar %>
