<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Select Charges for Docket ID: <%= @docket.id %></h1>

<%= tip "If a charge includes an <b>[INFO]</b> flag, this means the charge has already been linked into one or more dockets as Information Only." %>

<form action="<%= url_for(:action => 'link_charges') %>" method='post'>
   <%= form_auth %>
   
   <h4>Charges for <%=h show_person(@docket.person) %></h4>
   <div>
      <input type='hidden' name='docket_id' value='<%= @docket.id %>'/>
      <table style='width:100%;'>
         <tr>
            <th>Link</th>
            <th>Type</th>
            <th>Date</th>
            <th>Charge</th>
            <th/>
         </tr>
         <% for c in @charges %>
            <tr class="<%= cycle('list-line-odd','list-line-even') %>">
               <td><input type='checkbox' name='docket[charges][]' value="<%= c[2] %>" /></td>
               <td><%=h c[1] %></td>
               <td><%=h format_date(c[0]) %></td>
               <td><%=h c[3] %></td>
               <td><%=h c[4] %></td>
            </tr>
         <% end %>
      </table>
      <%= form_buttons %>
   </div>
</form>
