<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Unprocessed Sentences/Revocations</h1>

<table style='width:100%'>
   <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Docket</th>
      <th>Person</th>
      <th>Reason</th>
   </tr>
   <% for s in @unprocessed %>
      <tr class="<%= cycle('list-line-odd','list-line-even') %>">
         <td>
            <% if s.is_a?(Sentence) %>
               Sentence:
            <% else %>
               Revocation:
            <% end %>
            <%= link_to s.id.to_s, s %>
         </td>
         <td>
            <% if s.is_a?(Sentence) %>
               <%=h format_date(s.sentence_date) %>
            <% else %>
               <%=h format_date(s.revocation_date) %>
            <% end %>
         </td>
         <td><%= s.docket.nil? ? '' : link_to(s.docket.docket_no, s.docket) %></td>
         <td><%= s.docket.nil? ? '' : show_person(s.docket.person) %></td>
         <td><%= s.process_status? ? s.process_status : (s.doc_record.nil? ? 'Unknown' : 'DOC: ' + link_to(s.doc_record.id.to_s, s.doc_record)) %></td>
      </tr>   
   <% end %>
</table>

<%= link_bar %>
         