<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Court ID: <%= @court.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Docket Number:</th>
         <td><%=h @court.docket.nil? ? "" : @court.docket.docket_no %></td>
      </tr>
      <tr>
         <th>Name:</th>
         <td><%=h @court.docket.nil? ? "Unknown" : show_person(@court.docket.person) %></td>
      </tr>
      <tr>
         <th>Court Date:</th>
         <td><%=h format_date(@court.court_date) %></td>
      </tr>
      <tr>
         <th>Judge:</th>
         <td><%=h @court.judge.nil? ? "Invalid Judge!" : @court.judge.long_name %></td>
      </tr>
      <tr>
         <th>Court Type:</th>
         <td><%=h @court.court_type.nil? ? "Invalid Court Type!" : @court.court_type.long_name %></td>
      </tr>
      <tr>
         <th>Docket Type:</th>
         <td><%=h @court.docket_type.nil? ? "Invalid Docket Type!" : @court.docket_type.long_name %></td>
      </tr>
   </table>
      
   <h4>Results</h4>
   <blockquote>
      <ul>
         <% if @court.bench_warrant_issued? %>
            <li>Bench Warrant Issued</li>
         <% end %>
         <% if @court.bond_forfeiture_issued? %>
            <li>Bond Forfeiture Ordered</li>
         <% end %>
         <% if @court.is_upset_wo_refix? %>
            <li>Upset W/O Refix</li>
         <% end %>
         <% if @court.is_refixed? %>
            <li>Refixed
            <% if @court.refix_reason? %>
               - <%=h @court.refix_reason %></li>
            <% else %>
               </li>
            <% end %>
         <% end %>
         <% if @court.is_dismissed? %>
            <li>Dismissed</li>
         <% end %>
         <% if @court.psi? %>
            <li>Pre-Sentence Investigation Ordered</li>
         <% end %>
         <% if @court.fines_paid? %>
            <li>Fines Paid</li>
         <% end %>
         <% unless @court.plea.nil? %>
            <li>Pled: <%=h @court.plea.long_name %></li>
         <% end %>
      </ul>
   </blockquote>
      
   <h4>Followup</h4>
   <table>
      <tr>
         <th>Next Court Date:</th>
         <td><%=h format_date(@court.next_court_date) %></td>
      </tr>
      <tr>
         <th>Judge:</th>
         <td><%=h @court.next_judge.nil? ? "" : @court.next_judge.long_name %></td>
      </tr>
      <tr>
         <th>Court Type:</th>
         <td><%=h @court.next_court_type.nil? ? "" : @court.next_court_type.long_name %></td>
      </tr>
      <tr>
         <th>Docket Type:</th>
         <td><%=h @court.next_docket_type.nil? ? "" : @court.next_docket_type.long_name %></td>
      </tr>
   </table>
   
   <% if @court.is_overturned %>
      <h4>Appeal</h4>
      <p>
         Sentence was overturned on appeal
         <% if @court.overturned_date? %>
            on <%=h format_date(@court.overturned_date) %>
         <% end %>
      </p>
   <% end %>
   
   <h4>Notes</h4>
   <%= simple_format @court.notes %>
   
   <h3>Remarks</h3>
   <%= textilize @court.remarks %>
</div>

<%= link_bar %>
<%= created_by @court %>

<% unless @court.docket.nil? || @court.docket.da_charges.empty? %>
   <h3>Docket Charges</h3>
   <table style='width:100%'>
      <%= render :partial => 'header_charge' %>
      <%= render :partial => 'charge', :collection => @court.docket.da_charges, :locals => {:court_id => @court.id} %>
   </table>
<% end %>

<% unless @court.docket.nil? || @court.docket.revocations.empty? %>
   <h3>Revocations</h3>
   <table style='width:100%'>
      <%= render :partial => 'header_revocation' %>
      <%= render :partial => 'revocation', :collection => @court.docket.revocations %>
   </table>
<% end %>

<h2>Reports</h2>
<blockquote>
<table style='width:100%;'>
   <tr>
      <th>Bondsmen Letters For This Court Only</th>
   </tr>
   <tr>
      <td>
         <form action="<%= url_for(:action => 'letters') %>" method='get'>
            <div>
               Time: <input type='text' name='time' size='5' value="<%= current_time %>"/>
               <input type='hidden' name='court_id' value="<%= @court.id %>">
               <%= space(2) %>
               <input type='submit' value='PDF' style='width:100px;'/>
            </div>
         </form>
      </td>
   </tr>
   <tr>
      <td>Enter a time for the court and click the PDF button to generate the bondsman letters for this court only.</td>
   </tr>
</table>
</blockquote>
