<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Sentence ID: <%= @sentence.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Status:</th>
         <td>
            <% if @sentence.processed? %>
               <span class='notice'>Processed</span>
            <% else %>
               <table class='hinted'>
                  <tr>
                     <td><span class='error'>Not Processed:</span> <%= @sentence.process_status? ? @sentence.process_status : 'Unknown Reason' %></td>
                     <td>
                        <% if has_permission(Perm[:update_court]) %>
                        <% txt = "WARNING\n\nThis is only to be used when the inmate has served their time or was transferred before the sentence or revocation could be entered into the computer.  Are you sure you want to do this?" %>
                        <%= button_to("Force", {:action => 'force_processing', :id => @sentence.id, :type => 'sentence'}, :confirm => txt, :style => 'width:100px;', :method => :post) %>
                        <% end %>
                     </td>
                  </tr>
               </table>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Docket Number:</th>
         <td><%=h @sentence.docket.nil? ? 'Unknown' : @sentence.docket.docket_no %></td>
      </tr>
      <tr>
         <th>Court Date:</th>
         <td><%=h @sentence.court.nil? ? '' : format_date(@sentence.court.court_date) %></td>
      </tr>
      <tr>
         <th>Name:</th>
         <td><%=h @sentence.docket.nil? ? 'Unknown' : show_person(@sentence.docket.person) %></td>
      </tr>
      <tr>
         <th>Docket Charge:</th>
         <td>
            <% if @sentence.da_charge.nil? %>
               <span class='error'>Not Linked</span>
            <% else %>
               <%= @sentence.da_charge.count %> Count <%= @sentence.da_charge.charge %>
            <% end %>
         </td>
      </tr>
   </table>
   
   <h4>Disposition</h4>
   <table>
      <% if !@sentence.result.nil? && (@sentence.result.long_name == 'Dismissed' || @sentence.result.long_name == 'Not Guilty') %>
         <tr>
            <th>Result:</th>
            <td><span class='message'><%= @sentence.result.long_name %></span></td>
         </tr>
      </table>
      <% else %>
         <tr>
            <th>Result:</th>
            <td><%=h @sentence.result.nil? ? 'Invalid Result' : @sentence.result.long_name %></td>
         </tr>
         <tr>
            <th>Conviction:</th>
            <td><%=h @sentence.conviction? ? "#{@sentence.conviction_count} count: #{@sentence.conviction}" : 'Unknown' %></td>
         </tr>
         <tr>
            <th>Type:</th>
            <td><%=h @sentence.doc? ? "D.O.C" : "Parish" %></td>
         </tr>
         <tr>
            <th>Fines:</th>
            <td><%=h number_to_currency(@sentence.fines) %></td>
         </tr>
         <tr>
            <th>Costs:</th>
            <td><%=h number_to_currency(@sentence.costs) %><%=h @sentence.court_cost_type.nil? ? '' : " (#{@sentence.court_cost_type.long_name})" %></td>
         </tr>
         <tr>
            <th>Pay By:</th>
            <td><%=h format_date(@sentence.pay_by_date) %></td>
         </tr>   
         <tr>
            <th>Payment Default:</th>
            <td><%=h @sentence.default_string %></td>
         </tr>
         <tr>
            <th>Sentenced To Serve:</th>
            <td><%=h @sentence.sentence_string %></td>
         </tr>
         <tr>
            <th>Suspended:</th>
            <td>
               <% if @sentence.suspended? %>
                  <%= @sentence.suspended_except_string.blank? ? "Yes" : "Except For: #{@sentence.suspended_except_string}" %>
               <% else %>
                  NO
               <% end %>
            </td>
         </tr>
         <tr>
            <th>Probation:</th>
            <td>
               <%=h @sentence.probation_string %>
               <% unless @sentence.probation_string.blank? %>
                  Type: <%=h @sentence.probation_type.nil? ? 'Unknown' : @sentence.probation_type.long_name %>
                  <% if @sentence.probation_reverts? %>
                     <br/>
                     Reverts to Unsupervised After: <%=h @sentence.probation_revert_conditions %>
                  <% end %>
               <% end %>
            </td>
         </tr>
      </table>
   
      <% if @sentence.credit_time_served? || @sentence.wo_benefit? || @sentence.community_service_days? || @sentence.substance_abuse_program? || @sentence.driver_improvement? || @sentence.probation_fees? || @sentence.idf_amount? || @sentence.dare_amount? || @sentence.restitution_amount? || @sentence.anger_management? || @sentence.substance_abuse_treatment? || @sentence.random_drug_screens? || @sentence.no_victim_contact || @sentence.art_893? || @sentence.art_894? || @sentence.art_895? %>
         <h4>Additional Conditions</h4>
         <ul>
            <% if @sentence.deny_goodtime? %>
               <li><p>Goodtime Denied</p></li>
            <% end %>
            <% if @sentence.credit_time_served? %>
               <li><p>Credit for Time Served</p></li>
            <% end %>
            <% if @sentence.wo_benefit? %>
               <li><p>Without Benefit of Probation/Parole</p></li>
            <% end %>
            <% if @sentence.community_service_days? %>
               <li><p>Community Service: <%=h @sentence.community_service_days %> Days</p></li>
            <% elsif @sentence.community_service_hours? %>
               <li><p>Community Service: <%=h @sentence.community_service_hours %> Hours</p></li>
            <% end %>
            <% if @sentence.substance_abuse_program? %>
               <li><p>Substance Abuse Program</p></li>
            <% end %>
            <% if @sentence.driver_improvement? %>
               <li><p>Driver Improvement Program</p></li>
            <% end %>
            <% if @sentence.probation_fees? %>
               <li><p>Pay Probation Fees (monthly): <%=h number_to_currency(@sentence.probation_fees) %></p></li>
            <% end %>
            <% if @sentence.idf_amount? %>
               <li><p>Pay Indigent Defender Fund: <%=h number_to_currency(@sentence.idf_amount) %></p></li>
            <% end %>
            <% if @sentence.dare_amount? %>
               <li><p>Pay D.A.R.E. Fund: <%=h number_to_currency(@sentence.dare_amount) %></p></li>
            <% end %>
            <% if @sentence.restitution_amount? %>
               <li><p>Pay Restitution: <%=h number_to_currency(@sentence.restitution_amount) %><%=h @sentence.restitution_date? ? " (Pay By: #{format_date(@sentence.restitution_date)})" : '' %></p></li>
            <% end %>
            <% if @sentence.anger_management? %>
               <li><p>Anger Management</p></li>
            <% end %>
            <% if @sentence.substance_abuse_treatment? %>
               <li><p>Substance Abuse Treatment</p></li>
            <% end %>
            <% if @sentence.random_drug_screens? %>
               <li><p>Random Drug Screens</p></li>
            <% end %>
            <% if @sentence.no_victim_contact %>
               <li><p>No Victim Contact</p></li>
            <% end %>
            <% if @sentence.art_893? || @sentence.art_894? || @sentence.art_895? %>
               <li><p>Articles: <%= @sentence.art_893? ? "893 " : '' %><%= @sentence.art_894? ? '894 ' : '' %><%= @sentence.art_895? ? '895' : '' %></p></li>
            <% end %>
         </ul>
      <% end %>

      <h4>Concurrency</h4>
      <table>
         <tr>
            <th>Sentence:</th>
            <td><%= @sentence.sentence_consecutive? ? "Consecutive" : "Concurrent" %><%= @sentence.sentence_notes? ? " (#{@sentence.sentence_notes})" : '' %></td>
         </tr>
         <tr>
            <th>Fines:</th>
            <td><%= @sentence.fines_consecutive? ? "Consecutive" : "Concurrent" %><%= @sentence.fines_notes? ? " (#{@sentence.fines_notes})" : '' %></td>
         </tr>
         <tr>
            <th>Costs:</th>
            <td><%= @sentence.costs_consecutive? ? "Consecutive" : "Concurrent" %><%= @sentence.costs_notes? ? " (#{@sentence.costs_notes})" : '' %></td>
         </tr>
         <tr>
            <th>Consecutive To:</th>
            <td>
               <% if @sentence.consecutive_type.nil? %>
                  None
               <% else %>
                  <%= @sentence.consecutive_type.long_name %><%= @sentence.consecutive_dockets.empty? ? '' : docket_links(@sentence.consecutive_dockets) %>
               <% end %>
            </td>
         </tr>
      </table>
   <% end %>
      
   <h4>Additional Notes</h4>
   <% if @sentence.notes? %>
      <p><%=h @sentence.notes %></p>
   <% end %>
   
   <h3>Remarks</h3>
   <%= textilize @sentence.remarks %>
</div>

<%= link_bar %>
<%= created_by @sentence %>
