<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Status:</th>
         <td>
            <% if @revocation.processed? %>
               <span class='notice'>Processed</span>
            <% else %>
               <table class='hinted'>
                  <tr>
                     <td><span class='error'>Not Processed:</span> <%= @revocation.process_status? ? @revocation.process_status : 'Unknown' %></td>
                     <td>
                        <% if has_permission(Perm[:update_court]) %>
                        <% txt = "WARNING\n\nThis is only to be used when the inmate has served their time or was transferred before the sentence or revocation could be entered into the computer.  Are you sure you want to do this?" %>
                        <%= button_to("Force", {:action => 'force_processing', :id => @revocation.id, :type => 'revocation'}, :confirm => txt, :style => 'width:100px;', :method => :post) %>
                        <% end %>
                     </td>
                  </tr>
               </table>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Name:</th>
         <td><%= @revocation.docket.nil? ? 'Unknown' : show_person(@revocation.docket.person) %></td>
      <tr>
         <th>Docket Number:</th>
         <td><%= @revocation.docket.nil? ? 'Unknown' : @revocation.docket.docket_no %></td>
      </tr>
      <tr>
         <th>D.O.C.?</th>
         <td><%= @revocation.doc? ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Date:</th>
         <td><%=h format_date(@revocation.revocation_date) %></td>
      </tr>
      <tr>
         <th>Judge:</th>
         <td><%=h @revocation.judge.nil? ? '' : @revocation.judge.long_name %></td>
      </tr>
      <tr>
         <th>Probation Revoked?</th>
         <td><%= @revocation.revoked? ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Sentence To Serve:</th>
         <td><%=h @revocation.total_string %></td>
      </tr>
      <tr>
         <th>Consecutive to:</th>
         <td>
            <%=h @revocation.consecutive_type.nil? ? 'None' : @revocation.consecutive_type.long_name %>
            <% if !@revocation.consecutive_type.nil? && @revocation.consecutive_type.long_name == 'Other Dockets' %>
               (<%= @revocation.consecutive_dockets.collect{|d| link_to d.docket_no, d}.join(', ') %>)
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Parish Jail:</th>
         <td><%=h @revocation.parish_string.blank? ? '' : @revocation.parish_string %></td>
      </tr>
      <tr>
         <th>Credit Time Served?</th>
         <td><%= @revocation.time_served? ? "Yes (#{hours_to_sentence(@revocation.total_of_time_served, :returns => 'string')})" : 'No' %></td>
      </tr>
      <tr>
         <th>Deny Goodtime?</th>
         <td><%= @revocation.deny_goodtime? ? "YES" : "NO" %></td>
      </tr>
   </table>

   <h3>Remarks</h3>
   <%= textilize @revocation.remarks %>
</div>
<%= link_bar %>
<%= created_by @revocation %>
