<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Docket ID: <%= @docket.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Docket No:</th>
         <td><%= @docket.docket_no %> <%= @docket.misc? ? "<span class='notice'>(Miscellaneous)</span>" : '' %></td>
      </tr>
      <tr>
         <th>Name:</th>
         <td><%=h show_person(@docket.person) %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td>
            <% unless @docket.person.nil? %>
               <%=h @docket.person.physical_line1 %><br/>
               <%=h @docket.person.physical_line2 %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Case Number(s):</th>
         <td>
            <% for c in @docket.case_numbers %>
               <%= case_number_or_link(c) %>
               <%= space(2) %>
            <% end %>
         </td>
      </tr>
   </table>
   
   <h4>Charges</h4>
   </div>
      <table style='width:100%;'>
         <%= render :partial => 'header_charge' %>
         <%= render :partial => 'charge', :collection => @docket.da_charges, :locals => {:court_id => nil} %>
      </table>
   </div>
   <div class='basic-view'>
   
   <h4>Status</h4>
   
   <table>
      <tr>
         <th>Upcoming Court(s):</th>
         <td>
            <table class='hinted'>
               <% for c in @docket.next_courts %>
               <tr>
                  <th><%= link_to c.id.to_s, c %>:</th>
                  <td><%=h format_date(c.court_date) %></td>
                  <td><%=h c.judge.nil? ? '' : c.judge.long_name %></td>
                  <td><%=h c.court_type.nil? ? '' : c.court_type.long_name %></td>
               </tr>
               <% end %>
            </table>
         </td>
      </tr>
      <tr>
         <th>Reported to State:</th>
         <td><%=h format_date(@docket.state_report_date) %></td>
      </tr>
   </table>
   
   <h4>Notes</h4>
   <%= simple_format @docket.notes %>
   
   <h3>Remarks</h3>
   <%= textilize @docket.remarks %>
</div>

<%= link_bar %>
<%= created_by @docket %>

<% unless @docket.courts.empty? %>
   <h3>Courts</h3>
   <table style='width:100%;'>
      <%= render :partial => 'header_court' %>
      <%= render :partial => 'court', :collection => @docket.courts %>
   </table>

   <% unless @docket.revocations.empty? %>
      <h4>Revocations</h4>
      <table style='width:100%;'>
         <%= render :partial => 'header_revocation' %>
         <%= render :partial => 'revocation', :collection => @docket.revocations %>
      </table>
   <% end %>
<% end %>

<% unless @docket.arrests.empty? %>
   <h3>Arrests</h3>
   <table style='width:100%;'>
      <%= render :partial => 'header_arrest' %>
      <%= render :partial => 'arrest', :collection => @docket.arrests %>
   </table>
<% end %>

<% unless @docket.citations.empty? %>
   <h3>Citations</h3>
   <table style='width:100%;'>
      <%= render :partial => 'header_citation' %>
      <%= render :partial => 'citation', :collection => @docket.citations %>
   </table>
<% end %>
