<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Message Log ID: <%= @message_log.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>To:</th>
         <td>
            <%=h show_user @message_log.receiver %>
            <% unless @message_log.receiver.nil? %>
               <%= image_tag @message_log.receiver.user_photo.url(:thumb), :style => 'float:left;margin-right:.5em;' %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>From:</th>
         <td>
            <%=h show_user @message_log.sender %>
            <% unless @message_log.sender.nil? %>
               <%= image_tag @message_log.sender.user_photo.url(:thumb), :style => 'float: left;margin-right:.5em;' %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Date/Time:</th>
         <td><%=h format_date(@message_log.created_at) %></td>
      </tr>
      <tr>
         <th>Subject:</th>
         <td><%=h @message_log.subject %></td>
      </tr>
   </table>
   
   <h4>Message</h4>
   
   <div><%= textilize @message_log.body %></div>
</div>

<%= link_bar %>