<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :fax_cover, :url => {:action => 'edit', :id => @fax_cover.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   <div class='basic'>
      <fieldset>
         <legend>Fax Cover Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Name of this Cover:</th>
               <td><%= f.text_field :name, :size => 40 %></td>
            </tr>
            <tr>
               <th><%= required %>Agency Name:</th>
               <td><%= f.text_field :from_name, :size => 40 %></td>
            </tr>
            <tr>
               <th><%= required %>Agency Phone:</th>
               <td><%= f.text_field :from_phone, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
            <tr>
               <th><%= required %>Agency FAX:</th>
               <td><%= f.text_field :from_fax, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Optional Notice</legend>
         <table class='input'>
            <tr>
               <th>Show Notice?</th>
               <td><%= f.check_box :include_notice %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Notice Title:</th>
               <td><%= f.text_field :notice_title, :size => 40 %></td>
            </tr>
            <tr>
               <th>Notice Body:</th>
               <td><%= f.text_area :notice_body %></td>
            </tr>
         </table>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'fax_cover_name' %>