<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Fax Cover Sheet ID: <%= @fax_cover.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Name of this Cover:</th>
         <td><%=h @fax_cover.name %></td>
      </tr>
      <tr>
         <th>Agency Name:</th>
         <td><%=h @fax_cover.from_name %></td>
      </tr>
      <tr>
         <th>Agency Phone:</th>
         <td><%=h @fax_cover.from_phone %></td>
      </tr>
      <tr>
         <th>Agency FAX:</th>
         <td><%=h @fax_cover.from_fax %></td>
      </tr>
      <tr>
         <th>Notice Title:</th>
         <td><%=h @fax_cover.notice_title %></td>
      </tr>
      <tr>
         <th>Notice Body:</th>
         <td><%=h @fax_cover.notice_body %></td>
      </tr>
   </table>
</div>

<%= link_bar %>
<%= created_by @fax_cover %>