<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for probation_payment_path(:id => payment.id) %>';return false;">
   <td><%= payment.report_datetime? ? icon('lock',14) : "" %></td>
   <td><%=h payment.id %></td>
   <td><%=h format_date(payment.transaction_date) %></td>
   <td><%=h payment.receipt_no %></td>
   <td><%=h payment.memo %></td>
   <td style='text-align:right;'><%=h number_to_money(payment.total_charges - payment.total_payments) %></td>
   <td style='text-align:right;'><%=h number_to_money(@end_balance) %><% @end_balance -= (payment.total_charges - payment.total_payments) %></td>
</tr>
