<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% active = (probation.status.nil? ? false : (probation.status.long_name == 'Active' ? true : false)) %>
<tr <%= active ? "style='color:#{@colors.color_notice};'" : "" %> class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for probation %>';return false;">
   <td><%=h probation.id %></td>
   <td><%=h format_date((probation.sentence.nil? ? probation.start_date : (probation.sentence.court.nil? ? probation.start_date : probation.sentence.court.court_date))) %></td>
   <td>(<%=h probation.conviction_count %>) <%=h probation.conviction %></td>
   <td><%=h probation.docket_no %></td>
   <td><%=h probation.status.nil? ? '' : probation.status.long_name %></td>
   <td style='text-align:right;'><%=h number_to_currency(probation.total_balance) %></td>
</tr>
