<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for(:action => 'show_probationer', :person_id => probationer.id) %>';return false;">
   <td><%=h probationer.id %></td>
   <td><%=h probationer.full_name %></td>
   <td><%=h probationer.ssn %></td>
   <td><%=h probationer.oln %> (<%=h probationer.oln_state.nil? ? '' : probationer.oln_state.short_name %>)</td>
   <td><%=h probationer.home_phone %></td>
   <td><%=h probationer.cell_phone %></td>
   <td style='text-align:right;'><%=h number_to_currency probationer.probation_balance %></td>
</tr>
