<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :probation_payment, :url => {:action => 'edit_payment', :id => @probation_payment.id, :probation_id => @probation.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Transaction Information</legend>
         <table class='input'>
            <tr>
               <th>Probationer:</th>
               <td><%=h show_person @probation.person %></td>
            </tr>
            <tr>
               <th><%= required %>Transaction Date:</th>
               <td><%= f.calendar_date_select :transaction_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <%= contact_row :probation_payment, :officer, :required => true %>
         </table>
      </fieldset>
   
      <fieldset>
         <legend>Transaction</legend>
         <table class='input'>
            <tr>
               <th>Receipt Number:</th>
               <td><%= f.text_field :receipt_no, :size => 25 %></td>
            </tr>
            <tr>
               <th>Memo:</th>
               <td><%= f.text_field :memo, :size => 30 %></td>
            </tr>
         </table>
         <%= input_note "If you are making an adjustment, make sure that adjustments to the amount <b>Sentenced</b> go in the Charge column, and adjustments to the amount <b>Paid</b> go in the Payment column." %>
         <%= input_note "To zero a probation account that was Revoked or Completed Unsatisfactory, enter the amount shown in the <b>Due</b> column on each fund as a minus in the <b>Charge</b> column." %>
         <%= input_note "All fields in the <b>Charge</b> and <b>Payment</b> columns must be a number (cannot be blank). If a field is blank, enter 0 (zero) in it before submitting the form." %>
         <table class='input'>
            <tr>
               <th>Transaction:</th>
               <td>
                  <table class='hinted' style='width:auto;text-align:right;'>
                     <tr>
                        <th class='top'>Fund</th>
                        <th class='top'>Due</th>
                        <th class='top'>Charge</th>
                        <th class='top'>Credit</th>
                     </tr>
                     <% for x in (1..9) %>
                        <tr>
                           <% if @probation_payment.send("fund#{x}_name").blank? %>
                              <td><%= f.text_field "fund#{x}_name", :size => 14 %>:</td>
                           <% else %>
                              <td><%=h @probation_payment.send("fund#{x}_name") %>:</td>
                           <% end %>
                           <td><%= number_to_currency(@probation.send("fund#{x}_balance")) %></td>
                           <td><%= money_field @probation_payment, "fund#{x}_charge" %><%= hint '999999999.99' %></td>
                           <td><%= money_field @probation_payment, "fund#{x}_payment" %><%= hint '999999999.99' %></td>
                        </tr>
                     <% end %>
                     <tr>
                        <th class='bottom'>Total:</th>
                        <th class='bottom' style='text-align:right;'><%= number_to_currency(@probation.total_balance) %></th>
                        <th class='bottom'/>
                        <th class='bottom'/>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
   </div>

   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'probation_payment_transaction_date' %>