<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>
<%= tip 'Any Monies due from court or for probation fees must be entered through a payment transaction, not by editing the probation.' %>

<% form_for :probation, :url => {:action => 'edit', :id => @probation.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Probation Information</legend>
         <table class='input'>
            <%= person_row @probation, :person_id, :required => true %>
            <tr>
               <th><%= required %>Docket No:</th>
               <td><%= f.text_field :docket_no, :size => 15 %></td>
            </tr>
            <%= contact_row :probation, :probation_officer, :required => true %>
         </table>
         <%= input_note '<b>Charge ID</b> is only required when creating a probation record prior to the sentence being entered into the system.' %>
         <%= input_note 'When entering <b>Charge ID</b> (from the sentence sheet), skip the remainder of this form.  It will be filled in automatically when the sentence is entered.' %>
         <table class='input'>
            <tr>
               <th>Charge ID:</th>
               <td><%= f.text_field :da_charge_id, :size => 8 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Sentencing Information</legend>
         <%= input_note 'Monies Sentenced must be added or updated through payment transactions and are not included here.' %>
         <table class='input'>
            <tr>
               <th>Trial Result:</th>
               <td><%= f.text_field :trial_result, :size => 30 %><%= hint 'Found Guilty, Pled Guilty, Etc.' %></td>
            </tr>
            <tr>
               <th>Conviction:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :conviction_count, :size => 3 %><%= hint 'Count' %></td>
                        <td><%= f.text_field :conviction, :size => 60 %><%= hint 'Charge' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Type:</th>
               <td><%= f.radio_button :doc, false %>Parish&nbsp;&nbsp;<%= f.radio_button :doc, true %>D.O.C.</td>
            </tr>
            <tr>
               <th>Fines:</th>
               <td><%= f.text_field :fines, :size => 12 %><%= hint '999999999.99' %></td>
            </tr>
            <tr>
               <th>Costs:</th>
               <td><%= f.text_field :costs, :size => 12 %><%= hint '999999999.99' %></td>
            </tr>
            <tr>
               <th>Must Pay By:</th>
               <td><%= f.calendar_date_select :pay_by_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>   
            <tr>
               <th>Payment Default:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :default_hours, :size => 8 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :default_days, :size => 8 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :default_months, :size => 8 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :default_years, :size => 8 %><%= hint 'Years' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Sentence:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :sentence_hours, :size => 8 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :sentence_days, :size => 8 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :sentence_months, :size => 8 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :sentence_years, :size => 8 %><%= hint 'Years' %></td>
                        <td colspan='3'><%=f.check_box :parish_jail %>In Parish Jail</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Suspended:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :sentence_suspended %>Suspended, Except For:</td>
                        <td><%= f.text_field :suspended_except_hours, :size => 8 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :suspended_except_days, :size => 8 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :suspended_except_months, :size => 8 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :suspended_except_years, :size => 8 %><%= hint 'Years' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Probation:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :probation_hours, :size => 8 %><%= hint 'Hours' %></td>
                        <td><%= f.text_field :probation_days, :size => 8 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :probation_months, :size => 8 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :probation_years, :size => 8 %><%= hint 'Years' %></td>
                        <td style='width:100%'>
                     </tr>
                     <tr>
                        <td colspan='5'><%= f.check_box :reverts_to_unsup %>Reverts to Unsupervised</td>
                     </tr>
                     <tr>
                        <td colspan='5'><b>Conditions:</b> <%= f.text_field :reverts_conditions, :size => 60 %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Conditions</legend>
         <table class='input'>
            <tr>
               <th class='wide'>Time Served Credit?</th>
               <td><%= f.check_box :credit_served %>Yes</td>
            </tr>
            <tr>
               <th class='wide'>Community Service:</th>
               <td>
                  <%= f.text_field :service_days, :size => 5 %> Days / <%= f.text_field :service_hours, :size => 5 %> Hours
                  <%= icon('forward',14) %> Served: <%= f.text_field :service_served, :size => 5 %> Days/Hours
               </td>
            </tr>
            <tr>
               <th class='wide'>Substance Abuse Program?</th>
               <td><%= f.check_box :sap %>Yes <%= icon('forward',14) %> <%= f.check_box :sap_complete %>Completed</td>
            </tr>
            <tr>
               <th class='wide'>Driver Improvement Program?</th>
               <td><%= f.check_box :driver %>Yes <%= icon('forward',14) %> <%= f.check_box :driver_complete %>Completed</td>
            </tr>
            <tr>
               <th class='wide'>Monthly Probation Fees:</th>
               <td><%= f.text_field :probation_fees, :size => 12 %><%= hint '999.99' %></td>
            </tr>
            <tr>
               <th class='wide'>Anger Management Training?</th>
               <td><%= f.check_box :anger %>Yes <%= icon('forward',14) %> <%= f.check_box :anger_complete %>Completed</td>
            </tr>
            <tr>
               <th class='wide'>Substance Abuse Treatment?</th>
               <td><%= f.check_box :sat %>Yes <%= icon('forward',14) %> <%= f.check_box :sat_complete %>Completed</td>
            </tr>
            <tr>
               <th class='wide'>Random Drug Screens?</th>
               <td><%= f.check_box :random_screens %>Yes</td>
            </tr>
            <tr>
               <th class='wide'>No Contact With Victim?</th>
               <td><%= f.check_box :no_victim_contact %>Yes</td>
            </tr>
            <tr>
               <th class='wide'>Pay Restitution:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :restitution_amount, :size => 12 %><%= hint '999999.99' %></td>
                        <th>By:</th>
                        <td><%= f.calendar_date_select :restitution_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th class='wide'>Pay D.A.R.E.:</th>
               <td><%= f.text_field :dare_amount, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
            <tr>
               <th class='wide'>Pay Indigent Defender Fund:</th>
               <td><%= f.text_field :idf_amount, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
            <tr>
               <th class='wide'>Articles:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :art893 %>893</td>
                        <td><%= f.check_box :art894 %>894</td>
                        <td><%= f.check_box :art895 %>895</td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Sentence Notes</legend>
         <%= f.text_area :sentence_notes %>
      </fieldset>
      
      <fieldset>
         <legend>Status</legend>
         <table class='input'>
            <tr>
               <th>Hold if Arrested?</th>
               <td><%= f.check_box :hold_if_arrested %>Yes</td>
            </tr>
            <tr>
               <th>Status:</th>
               <td><%= f.select :status_id, get_opts("Probation Status") %></td>
            </tr>
            <tr>
               <th>Probation Starts:</th>
               <td><%= f.calendar_date_select :start_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
         </table>
         <%= input_note 'Leave <b>Probation Ends</b> blank and the computer will calculate the date based on <b>Probation Starts</b> and probation sentence length.' %>
         <table class='input'>
            <tr>
               <th>Probation Ends:</th>
               <td><%= f.calendar_date_select :end_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Revoked:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :revoked_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <th>Reason:</th>
                        <td><%= f.text_field :revoked_for, :size => 40 %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Completed:</th>
               <td><%= f.calendar_date_select :completed_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Probation Notes</legend>
         <%= f.text_area :notes %>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   <%= form_buttons %>
<% end %>

<% if @charge.nil? %>
   <%= observe_field 'probation_da_charge_id', :url => {:action => 'disable_sentence_info'}, :with => 'c' %>
<% end %>
<%= set_focus_to_id 'probation_person_id' %>