<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table width="100%">
   <%= render :partial => 'header_probationer' %>
   <%= render :partial => 'probationer', :collection => @people %>
   <%= render :partial => 'header_probationer' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Probation Search Filter</h3>
<%= filter_help 'probations', true %>

<form action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Probation:</th>
            <td><%= filter_text_field 'id', @query[:id], 6 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Person:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'person_id', @query[:person_id], 6 %><%= hint 'ID' %></td>
                     <td> --OR-- </td>
                     <td><%= filter_text_field 'name', @query[:name], 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Start Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'start_from', @query[:start_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'start_to', @query[:start_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>End Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'end_from', @query[:end_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'end_to', @query[:end_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Completed Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'completed_from', @query[:completed_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'completed_to', @query[:completed_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Revoked Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'revoked_from', @query[:revoked_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'revoked_to', @query[:revoked_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Hold On Arrest?</th>
            <td><%= filter_radio_buttons 'hold_if_arrested', @query[:hold_if_arrested], [["1", "Yes"],["0", "No"]] %></td>
         </tr>
         <tr>
            <th>Status:</th>
            <td><%= filter_select 'status_id', @query[:status_id], "Probation Status" %></td>
         </tr>
         <tr>
            <th>Docket:</th>
            <td><%= filter_text_field 'docket_no', @query[:docket_no], 20 %></td>
         </tr>
         <tr>
            <th>Probation Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'probation_officer_badge', @query[:probation_officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'probation_officer_unit', @query[:probation_officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'probation_officer', @query[:probation_officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Notes:</th>
            <td><%= filter_text_field 'notes', @query[:notes], 70 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
    </div>
</form>

<h3>Unposted Transactions</h3>
<table style='width:100%'>
   <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Account</th>
      <th>Name</th>
      <th>Receipt</th>
      <th>Memo</th>
      <th>Amount</th>
   </tr>
   <% payments = ProbationPayment.all_unposted %>
   <% for p in payments %>
      <tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" <%= p.probation.nil? ? '' : %(onclick="window.location='#{url_for p.probation}';return false;") %>>
         <td><%=h p.id %></td>
         <td><%=h format_date(p.transaction_date) %></td>
         <td><%=h p.probation.nil? ? '' : p.probation.id %></td>
         <td>
            <% unless p.probation.nil? %>
               <%=h show_person p.probation.person %>
            <% end %>
         </td>
         <td><%=h p.receipt_no %></td>
         <td><%=h p.memo %></td>
         <td style='text-align:right;'><%=h number_to_money(p.total_charges - p.total_payments) %></td>
      </tr>
   <% end %>
   <% if payments.empty? %>
      <tr>
         <td colspan="7" style='text-align:center;'>No Un-posted Transactions Found</td>
      </tr>
   <% end %>
</table>

<h3>Miscellaneous Reports</h3>
<blockquote>
   <div class='basic'>
      <form action="<%= url_for(:action => 'active_list') %>" method='get'>
         <fieldset>
            <legend>Active Probation List</legend>
            <%= input_note "This generates a listing of probationers with active Parish probations." %>
            <table class='input'>
               <tr>
                  <td><input type='submit' value='PDF' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>
      
      <form action="<%= url_for(:action => 'probation_balance') %>" method='get'>
         <fieldset>
            <legend>Balances Due</legend>
            <%= input_note "This generates a listing of all probation records with a payment balance due." %>
            <table class='input'>
               <tr>
                  <td><input type='submit' value='PDF' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>
   
      <form action="<%= url_for(:action => 'transaction_history') %>">
         <fieldset>
            <legend>Transaction History</legend>
            <%= input_note 'This shows transactions made on probation accounts during the selected date range.  To see <b>only payments</b>, use the <b>Payment History</b> report above.' %>
            <%= input_note 'To generate this report for one probation or one person only, enter the <b>Probation ID</b> or <b>Person ID</b>. To report for all probations with transactions in the specified date range, leave the <b>Probation ID</b> and <b>Person ID</b> fields blank.' %>
            <%= input_note 'If a <b>Probation ID</b> AND a <b>Person ID</b> are entered, the <b>Probation ID</b> will be used and the <b>Person ID</b> will be ignored.' %>
            <table class='input'>
               <tr>
                  <th>Probation ID:</th>
                  <td><input type='text' name='probation_id' value="" size='8' /></td>
               </tr>
               <tr>
                  <th>Person ID:</th>
                  <td><input type='text' name='person_id' value="" size='8' /></td>
               </tr>
            </table>
            <%= input_note "Leave <b>Start Date</b> blank to begin the report at the first recorded transaction. (Example: to get all transactions prior to this month, enter last of last month in End Date and leave Start Date blank.)" %>
            <%= input_note "Leave <b>End Date</b> blank to include transactions to-date. (Example: to get current month-to-date, enter the first of this month in Start Date and leave End Date blank.)" %>
            <table class='input'>
               <tr>
                  <th>Start Date:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><input name='start_date' size='10' type='text' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' /></td>
                           <th>End Date:</th>
                           <td><input name='end_date' size='10' type='text' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' /></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <th/>
                  <td><input type='submit' value='PDF' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>
   </div>
</blockquote>

<h3>Posting Reports</h3>
<blockquote>
   <div class='basic'>
      <form action="<%= url_for(:action => 'posting_report') %>" method='get'>
         <fieldset>
            <legend>Preview</legend>
            <%= input_note "This generates the posting report preview. This will not post the transactions." %>
            <table class='input'>
               <tr>
                  <td>
                     <input type='hidden' name='status' value='preview'/>
                     <input type='submit' value='Preview' style='width:100px;'/>
                  </td>
               </tr>
            </table>
         </fieldset>
      </form>

      <% if has_permission(Perm[:update_probation]) %>
         <form action="<%= url_for(:action => 'posting_report') %>" method='post'>
            <fieldset>
               <legend>Post</legend>
               <%= input_note "This generates the posting report. <span class='error'><b>WARNING!</b></span> This is the actual posting report. It will mark all unposted transactions as posted. <b>This is not undoable!</b> Please use the <b>Preview</b> report if you do not wish to post." %>
               <%= input_note "After posting transactions, refresh the screen to update the unposted transactions list." %>
               <table class='input'>
                  <tr>
                     <td>
                        <%= form_auth %>
                        <input type='submit' value='Post' style='width:100px;'/>
                        <input type='hidden' name='status' value='post'/>
                     </td>
                  </tr>
               </table>
            </fieldset>
         </form>
      <% end %>

      <form action="<%= url_for(:action => 'posting_report') %>" method='get'>
         <fieldset>
            <legend>Reprint</legend>
            <%= input_note "This allows you to regenerate a previous posting report.  Select the date/time of the previous report and click <b>Reprint</b>." %>
            <table class='input'>
               <tr>
                  <th>Posting Date:</th>
                  <td><select name='post_datetime'><%= options_for_select(get_opts("Probation Posting")) %></select></td>
               </tr>
               <tr>
                  <th/>
                  <td>
                     <input type='hidden' value='reprint' name='status'/>
                     <input type='submit' value='Reprint' style='width:100px;'/>
                  </td>
               </tr>
            </table>
         </fieldset>
      </form>
   </div>
</blockquote>
