<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<% wanted = !@person.wanted.empty? %>
<% booked = !@person.bookings.empty? && !@person.bookings.last.release_date? %>
<% if booked %>
   <% prob = @person.bookings.last.holds.reject{|h| h.cleared_date? || h.hold_type.nil? || h.hold_type.long_name != 'Probation (Parish)'}.size > 0 %>
<% else %>
   <% prob = false %>
<% end %>

<div class='basic-view'>
   <% if wanted || booked %>
   <h3>ALERTS</h3>
   <table>
      <% if booked %>
         <tr>
            <th>Alert:</th>
            <td><span class='message'>Currently In Jail!</span><%= prob ? " <span class='error'>(Probation Hold)</span>" : '' %></td>
         </tr>
      <% end %>
      <% if wanted %>
         <tr>
            <th>Alert:</th>
            <td><span class='error'>Has Outstanding Warrants!</span></td>
         </tr>
      <% end %>
   </table>
   <% end %>
   
   <h3>Contact Information</h3>
   <table>
      <tr>
         <th>SSN:</th>
         <td>
            <table class='hinted'>
               <tr>
                  <td><%=h @person.ssn %></td>
                  <th>OLN:</th>
                  <td><%=h @person.oln %> (<%=h @person.oln_state.nil? ? '' : @person.oln_state.short_name %>)</td>
               </tr>
            </table>
         </td>
      <tr>
         <th>Residence:</th>
         <td>
            <%= @person.physical_line1 %><br />
            <%= @person.physical_line2 %>
         </td>
      </tr>
      <tr>
         <th>Mailing:</th>
         <td>
            <%= @person.mailing_line1 %><br />
            <%= @person.mailing_line2 %>
         </td>
      </tr>
      <tr>
         <th>Phone:</th>
         <td><%=h @person.home_phone %></td>
      </tr>
      <tr>
         <th>Cell:</th>
         <td><%=h @person.cell_phone %></td>
      </tr>
      <tr>
         <th>EMail:</th>
         <td><%=h @person.email %></td>
      </tr>
      <tr>
         <th>Employer:</th>
         <td><%=h @person.employer %></td>
      </tr>
      <tr>
         <th>Occupation:</th>
         <td><%=h @person.occupation %></td>
      </tr>
   </table>

   <h3>Status</h3>
   <table>
      <tr>
         <th>Total Due:</th>
         <td><%=h number_to_currency(@person.probation_balance) %></td>
      </tr>
   </table>
</div>

<%= link_bar %>

<h3>Probation Records</h3>
<%= tip "Records highlighted in green are active Parish probations." %>
<%= tip "Click on a line below to view the indicated probation record." %>

<table width="100%">
   <%= render :partial => 'header' %>
   <%= render :partial => 'probation', :collection => @person.probations.reverse %>
</table>

<h3>Transaction Records</h3>
<%= tip "Posted transactions will show a lock symbol (#{icon('lock',14)}) which means that they cannot be altered or destroyed." %>
<% @end_balance = @person.probation_balance %>
<table width="100%">
   <%= render :partial => 'header_payment' %>
   <%= render :partial => 'payment', :collection => @payments %>
</table>