<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Probation Account ID: <%= @probation.id %></h1>

<div class='basic-view'>
   
   <h3>Probation Information</h3>
   <table>
      <tr>
         <th>Person:</th>
         <td><%=h show_person @probation.person %></td>
      </tr>
      <tr>
         <th>Docket No:</th>
         <td><%=h @probation.docket_no %></td>
      </tr>
      <tr>
         <th>Probation Officer:</th>
         <td><%=h show_contact @probation, :probation_officer %></td>
      </tr>
   </table>
   
   <h3>Sentencing Information</h3>
   
   <% if @pending == true %>
   <div><p style='font-size:125%;font-weight:bold;' class='notice'>Not Yet Available</p></div>
   <% else %>
   <table>
      <tr>
         <th>Trial Result:</th>
         <td><%=h @probation.trial_result %></td>
      </tr>
      <tr>
         <th>Conviction:</th>
         <td><%=h @probation.conviction? ? "#{@probation.conviction_count} count: #{@probation.conviction}" : 'Unknown' %></td>
      </tr>
      <tr>
         <th>Sentence Type:</th>
         <td><%= @probation.doc? ? "D.O.C." : "Parish" %></td>
      </tr>
      <tr>
         <th>Fines:</th>
         <td><%=h number_to_currency(@probation.fines) %></td>
      </tr>
      <tr>
         <th>Costs:</th>
         <td><%=h number_to_currency(@probation.costs) %></td>
      </tr>
      <tr>
         <th>Must Pay By:</th>
         <td><%=h format_date(@probation.pay_by_date) %></td>
      </tr>
      <tr>
         <th>Default:</th>
         <td><%=h @probation.default_string %></td>
      </tr>
      <tr>
         <th>Sentenced To:</th>
         <td>
            <%=h @probation.sentence_string %>
            <% unless @probation.sentence_string.blank? %>
               <% if @probation.doc? && !@probation.parish_jail %>
                  at hard labor for D.O.C.
               <% elsif @probation.doc? && @probation.parish_jail %>
                  in the Parish jail for D.O.C.
               <% else %>
                  in the Parish jail.
               <% end %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Suspended?</th>
         <td>
            <% if @probation.sentence_suspended? %>
               YES
               <% unless @probation.suspended_except_string.blank? %>
                  except for <%=h @probation.suspended_except_string %>
               <% end %>
            <% else %>
               NO
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Probation Sentence:</th>
         <td><%= @probation.probation_string %><%= @probation.reverts_to_unsup? ? " -- reverts to Unsupervised after: #{@probation.reverts_conditions}" : '' %></td>
      </tr>
   </table>
   <% end %>
</div>

<% unless @pending == true %>
<h4>Conditions</h4>

<% if @probation.credit_served? %>
   <ul><li>Credit for Time Served</li></ul>
<% end %>
<% if @probation.service_days? %>
   <ul><li>Community Service: <%=h @probation.service_days %> days (Served: <%=h @probation.service_served? ? @probation.service_served : 0 %> days) <%= @probation.community_service_complete? ? "<span class='notice'>[Completed]</span>" : "<span class='error'>[Incomplete]</span>" %></li></ul>
<% elsif @probation.service_hours? %>
   <ul><li>Community Service: <%=h @probation.service_hours %> hours (Served: <%=h @probation.service_served? ? @probation.service_served : 0 %> hours) <%= @probation.community_service_complete? ? "<span class='notice'>[Completed]</span>" : "<span class='error'>[Incomplete]</span>" %></li></ul>
<% end %>
<% if @probation.sap? %>
   <ul><li>Substance Abuse Program <%= @probation.sap_complete? ? "<span class='notice'>[Completed]</span>" : "<span class='error'>[Incomplete]</span>" %></li></ul>
<% end %>
<% if @probation.driver? %>
   <ul><li>Driver Improvement Program <%= @probation.driver_complete? ? "<span class='notice'>[Completed]</span>" : "<span class='error'>[Incomplete]</span>" %></li></ul>
<% end %>
<% if @probation.probation_fees? %>
   <ul><li>Pay monthly probation fees of <%=h number_to_currency(@probation.probation_fees) %></li></ul>
<% end %>
<% if @probation.anger? %>
   <ul><li>Anger Management <%= @probation.anger_complete? ? "<span class='notice'>[Completed]</span>" : "<span class='error'>[Incomplete]</span>" %></li></ul>
<% end %>
<% if @probation.sat? %>
   <ul><li>Substance Abuse Treatment <%= @probation.sap_complete? ? "<span class='notice'>[Completed]</span>" : "<span class='error'>[Incomplete]</span>" %></li></ul>
<% end %>
<% if @probation.random_screens? %>
   <ul><li>Random Drug Screens</li></ul>
<% end %>
<% if @probation.no_victim_contact? %>
   <ul><li>No Victim Contact</li></ul>
<% end %>
<% if @probation.restitution_amount? %>
   <ul><li>Must Pay <%=h number_to_currency(@probation.restitution_amount) %> Restitution<%= @probation.restitution_date? ? ', By: ' + format_date(@probation.restitution_date) : '' %></li></ul>
<% end %>
<% if @probation.dare_amount? %>
   <ul><li>Must Pay <%=h number_to_currency(@probation.dare_amount) %> to D.A.R.E. Fund</li></ul>
<% end %>
<% if @probation.idf_amount? %>
   <ul><li>Must Pay <%=h number_to_currency(@probation.idf_amount) %> to Indigent Defender Fund (IDF)</li></ul>
<% end %>
<% if @probation.art893? || @probation.art894? || @probation.art895? %>
   <ul><li>Article(s): <%= @probation.art893? ? "893 " : '' %><%= @probation.art894? ? "894 " : '' %><%= @probation.art895? ? "895" : '' %></li></ul>
<% end %>

<h4>Sentence Notes</h4>
<%= simple_format @probation.sentence_notes %>
<% end %>

<h3>Fines Levied / Collected</h3>
<table>
   <tr>
      <th>Fund</th>
      <th>Charged</th>
      <th>Credited</th>
      <th>Balance Due</th>
   </tr>
   <% for x in (1..9) %>
      <% unless @probation.send("fund#{x}_name").blank? %>
         <tr>
            <td><%=h @probation.send("fund#{x}_name") %></td>
            <td style='text-align:right'><%=h number_to_money(@probation.send("fund#{x}_charged")) %></td>
            <td style='text-align:right'><%=h number_to_money(@probation.send("fund#{x}_paid")) %></td>
            <td style='text-align:right'><%=h number_to_money(@probation.send("fund#{x}_balance")) %></td>
         </tr>
      <% end %>
   <% end %>
   <tr>
      <td><b>Total</b></td>
      <td style='text-align:right'><b><%=h number_to_money(@probation.total_charged) %></b></td>
      <td style='text-align:right'><b><%=h number_to_money(@probation.total_paid) %></b></td>
      <td style='text-align:right'><b><%=h number_to_money(@probation.total_balance) %></b></td>
   </tr>
</table>

<div class='basic-view'>   
   <h3>Status</h3>
   <table>
      <tr>
         <th>Status:</th>
         <td><%=h @probation.status.nil? ? '' : @probation.status.long_name %></td>
      </tr>
      <tr>
         <th>Hold if Arrested?</th>
         <td><%= @probation.hold_if_arrested? ? "<span class='error'>YES</span>" : 'NO' %></td>
      </tr>
      <tr>
         <th>Probation Starts:</th>
         <td><%=h format_date(@probation.start_date) %></td>
      </tr>
      <tr>
         <th>Probation Ends:</th>
         <td><%=h format_date(@probation.end_date) %></td>
      </tr>
      <tr>
         <th>Probation Revoked:</th>
         <td><%=h format_date(@probation.revoked_date) %></td>
      </tr>
      <tr>
         <th>Revocation Reason:</th>
         <td><%=h @probation.revoked_for %></td>
      </tr>
      <tr>
         <th>Revocation(s):</th>
         <td><%= @probation.docket.nil? ? '' : @probation.docket.revocations.reject{|r| !r.revoked?}.collect{|r| button_to_function(r.id.to_s, :style => 'width:75px;'){|page| page.redirect_to(url_for(r))}}.join(space(2)) %></td>
      </tr>
      <tr>
         <th>Probation Completed:</th>
         <td><%=h format_date(@probation.completed_date) %></td>
      </tr>
   </table>
</div>

<h4>Probation Notes</h4>
<%= simple_format @probation.notes %>

<h3>Remarks</h3>
<%= textilize @probation.remarks %>

<%= link_bar %>
<%= created_by @probation %>

<h3>Payment Transactions (past 30 days)</h3>
<%= tip "Posted payments will show a lock symbol (#{icon('lock',14)}) which means that they cannot be altered or destroyed." %>
<% @end_balance = @probation.total_balance %>
<table style='width:100%;'>
   <%= render :partial => 'header_payment' %>
   <%= render :partial => 'payment', :collection => @probation.past_days(30).reverse %>
</table>
