<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<% if @probation_payment.report_datetime? %>
   <div style='text-align:center;'><%= icon('lock',20) %><span class='error' style='font-size:125%'><b>Posted</b></span></div>
<% end %>

<div class='basic-view'>
   <h3>Transaction Information</h3>
   <table>
      <tr>
         <th>Probationer:</th>
         <td><%=h show_person @probation_payment.probation.person %></td>
      </tr>
      <tr>
         <th>Transaction Date:</th>
         <td><%=h format_date(@probation_payment.transaction_date) %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h show_contact @probation_payment, :officer %></td>
      </tr>
      <% if @probation_payment.report_datetime? %>
         <tr>
            <th>Posting Date/Time:</th>
            <td><%=h format_date(@probation_payment.report_datetime) %></td>
         </tr>
      <% end %>
   </table>

   <h3>Transaction</h3>
   <table>
      <tr>
         <th>Receipt Number:</th>
         <td><%=h @probation_payment.receipt_no %></td>
      </tr>
      <tr>
         <th>Memo:</th>
         <td><%=h @probation_payment.memo %></td>
      </tr>
      <tr>
         <th>Transaction:</th>
         <td>
            <table class='hinted' style='width:auto;text-align:right;'>
               <tr>
                  <th class='top'>Fund</th>
                  <th class='top'>Charge</th>
                  <th class='top'>Credit</th>
               </tr>
               <% for x in (1..9) %>
                  <tr>
                     <td><%=h @probation_payment.send("fund#{x}_name") %>:</td>
                     <td><%=h number_to_money(@probation_payment.send("fund#{x}_charge")) %></td>
                     <td><%=h number_to_money(@probation_payment.send("fund#{x}_payment")) %></td>
                  </tr>
               <% end %>
               <tr>
                  <th class='bottom'>Total:</th>
                  <th class='bottom'><%=h number_to_money(@probation_payment.total_charges) %></th>
                  <th class='bottom'><%=h number_to_money(@probation_payment.total_payments) %></th>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <th>Net Change:</th>
         <td><%=h number_to_currency(@probation_payment.total_charges - @probation_payment.total_payments) %></td>
      </tr>
   </table>
</div>
<%= link_bar %>
<%= created_by @probation_payment %>