<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :zip, :url => {:action => 'edit', :id => @zip.id}, :method => :post do |f| %>
   
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Zip Code</legend>
         <table class='input'>
            <tr>
               <th><%= required %>ZIP Code:</th>
               <td><%= f.text_field :zip_code, :size => 5 %><%= hint '99999' %></td>
            </tr>
            <tr>
               <th><%= required %>City:</th>
               <td><%= f.text_field :city %></td>
            </tr>
            <tr>
               <th><%= required %>State Abbreviation:</th>
               <td><%= f.text_field :state, :size => 2 %><%= hint 'XX' %></td>
            </tr>
            <tr>
               <th>County / Parish:</th>
               <td><%= f.text_field :county %></td>
            </tr>
            <tr>
               <th>Latitude:</th>
               <td><%= f.text_field :latitude, :size => 20 %></td>
            </tr>
            <tr>
               <th>Longitude:</th>
               <td><%= f.text_field :longitude, :size => 20 %></td>
            </tr>
         </table>
      </fieldset>
   </div>

   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'zip_zip_code' %>