<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'zip', :collection => @zips %>
   <%= render :partial => 'header' %>
</table>

<%= link_bar %>

<h3>Zip Code Search Filter</h3>
<%= filter_help 'ZIP codes' %>

<form action='<% url_for :action => "index" %>'>
   <div class='basic-filter'>
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>ZIP Code:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_text_field 'from', @query[:from], 5 %></td>
                     <th>To:</th>
                     <td><%= filter_text_field 'to', @query[:to], 5 %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>City:</th>
            <td><%= filter_text_field 'city', @query[:city], 20 %></td>
         </tr>
         <tr>
            <th>State:</th>
            <td><%= filter_text_field 'state', @query[:state], 2 %> (Postal Abbreviation)</td>
         </tr>
         <tr>
            <th>County/Parish:</th>
            <td><%= filter_text_field 'county', @query[:county], 20 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
