<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>ZIP Code ID: <%= @zip.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>ZIP Code:</th>
         <td><%=h @zip.zip_code %></td>
      </tr>
      <tr>
         <th>City:</th>
         <td><%=h @zip.city %></td>
      </tr>
      <tr>
         <th>State:</th>
         <td><%=h @zip.state %></td>
      </tr>
      <tr>
         <th>County/Parish:</th>
         <td><%=h @zip.county %></td>
      </tr>
      <tr>
         <th>Latitude:</th>
         <td><%=h @zip.latitude %></td>
      </tr>
      <tr>
         <th>Longitude:</th>
         <td><%=h @zip.longitude %></td>
      </tr>
   </table>
</div>

<%= link_bar %>

<%= created_by @zip %>