<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for invest_criminal %>';return false;">
   <td><%= invest_criminal.id %></td>
   <td><%= invest_criminal.person.nil? ? (invest_criminal.full_name? ? invest_criminal.full_name : 'Unknown') : show_person(invest_criminal.person) %></td>
   <td style='width:100%;'><%= summary((invest_criminal.description? ? invest_criminal.description : '' ) + (invest_criminal.height? ? '. Height: ' + invest_criminal.height : '') + (invest_criminal.weight? ? '. Weight: ' + invest_criminal.weight : '')) %></td>
</tr>
