<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :invest_vehicle, :url => {:action => 'edit_vehicle', :id => @invest_vehicle.id, :investigation_id => @invest_vehicle.investigation_id, :invest_crime_id => @invest_vehicle.invest_crime_id, :invest_report_id => @invest_vehicle.invest_report_id, :invest_criminal_id => @invest_vehicle.invest_criminal_id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <!-- Don't allow changing association links -->
      <%= f.hidden_field :investigation_id %>
      <%= f.hidden_field :invest_crime_id %>
      <%= f.hidden_field :invest_report_id %>
      <%= f.hidden_field :invest_criminal_id %>
      
      <fieldset>
         <legend>Vehicle Information</legend>
         <%= input_note "The <b>Owner</b> must be a valid Person from the People database.  If the registered owner of the vehicle is not in the database, you will need to add them before they can be entered here.",'If an registered owner is entered here, the basic vehicle information will show up on their Person page unless the investigation is Private.' %>
         <table class='input'>
            <%= person_row @invest_vehicle, :owner_id %>
            <tr>
               <th>Type:</th>
               <td><%= f.select :vehicle_type_id, get_opts("Vehicle Type", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Color:</th>
               <td><%= f.text_field :color, :size => 40 %></td>
            </tr>
            <tr>
               <th>Make:</th>
               <td><%= f.text_field :make, :size => 40 %></td>
            </tr>
            <tr>
               <th>Model:</th>
               <td><%= f.text_field :model, :size => 40 %></td>
            </tr>
            <tr>
               <th>Year:</th>
               <td><%= f.text_field :model_year, :size => 20 %></td>
            </tr>
            <tr>
               <th>VIN:</th>
               <td><%= f.text_field :vin, :size => 40 %></td>
            </tr>
            <tr>
               <th>License:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :license, :size => 40 %></td>
                        <td><%= f.select :license_state_id, get_opts("State", :allow_nil => true) %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Tires:</th>
               <td><%= f.text_field :tires, :size => 40 %></td>
            </tr>
            <tr>
               <th>Description:</th>
               <td><%= f.text_area :description %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Privacy Controls</legend>
         <%= input_note 'Access and Ownership only be changed at the top-most (Investigation) level.' %>
         <table class='input'>
            <tr>
               <th>Private?</th>
               <td><%= f.hidden_field :private %><b><%= @invest_vehicle.private? ? "<span class='error'>Yes</span>" : 'No' %></b></td>
            </tr>
            <tr>
               <th>Current Owner:</th>
               <td><%= f.hidden_field :owned_by %><%=h show_user @invest_vehicle.owner %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'invest_vehicle_owner_id' %>