<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :invest_report, :url => {:action => 'edit_report', :id => @invest_report.id, :investigation_id => @invest_report.investigation_id, :invest_crime_id => @invest_report.invest_crime_id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <!-- Don't allow changing association links -->
      <%= f.hidden_field :investigation_id %>
      <%= f.hidden_field :invest_crime_id %>
      
      <fieldset>
         <legend>Report</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Date/Time:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :report_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :report_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         
         <%= required %><%= f.text_area :details, :style => 'height:40em;' %>
         
         <p>Author: <%=h @invest_report.creator.name %></p>
      </fieldset>
      
      <fieldset>
         <legend>People Involved</legend>
         <table id='victims' class='input' style='width:auto;'>
            <%= render :partial => 'victim', :collection => @invest_report.victims, :locals => {:model => 'invest_report'} %>
         </table>
         <p><%= add_person_link "victim" ,"invest_report" %></p>
         
         <hr/>
         
         <table id='witnesses' class='input' style='width:auto;'>
            <%= render :partial => 'witness', :collection => @invest_report.witnesses, :locals => {:model => 'invest_report'} %>
         </table>
         <p><%= add_person_link "witness" ,"invest_report" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Sources (Confidential)</legend>
         <%= input_note 'Sources are always confidential.  They will never appear on any report, and even after the investigation is made public, they will not be visible to anyone but you (the &quot;owner&quot; of the investigation).' %>
         <table id='sources' class='input' style='width:auto;'>
            <%= render :partial => 'source', :collection => @invest_report.sources, :locals => {:model => 'invest_report'} %>
         </table>
         <p><%= add_person_link "source" ,"invest_report" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Privacy Controls</legend>
         <%= input_note 'Access and Ownership only be changed at the top-most (Investigation) level.' %>
         <table class='input'>
            <tr>
               <th>Private?</th>
               <td><%= f.hidden_field :private %><b><%= @invest_report.private? ? "<span class='error'>Yes</span>" : 'No' %></b></td>
            </tr>
            <tr>
               <th>Current Owner:</th>
               <td><%= f.hidden_field :owned_by %><%=h show_user @invest_report.owner %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'invest_report_report_date' %>