<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :invest_case, :url => {:action => 'edit_case', :id => @invest_case.id, :investigation_id => @invest_case.investigation_id, :invest_crime_id => @invest_case.invest_crime_id}, :method => :post do |f| %>

   <%= f.error_messages %>

   <div class='basic'>
      <%= f.hidden_field :investigation_id %>
      <%= f.hidden_field :invest_crime_id %>
      <fieldset>
         <legend>Case</legend>
         <%= input_note 'The case number entered here must be a valid existing case number. You cannot create new cases here.' %>
         <table class='input'>
            <tr>
               <th><%= required %>Case No:</th>
               <td><%= f.text_field :case_no, :size => 10 %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Privacy Controls</legend>
         <%= input_note 'Access and Ownership only be changed at the top-most (Investigation) level.' %>
         <table class='input'>
            <tr>
               <th>Private?</th>
               <td><%= f.hidden_field :private %><b><%= @invest_case.private? ? "<span class='error'>Yes</span>" : 'No' %></b></td>
            </tr>
            <tr>
               <th>Current Owner:</th>
               <td><%= f.hidden_field :owned_by %><%=h show_user @invest_case.owner %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note, 'If this investigation is made public, these remarks will be visible on the case view page to anyone allowed to view cases.' %>
         <%= f.text_area :remarks, :cols => 80, :rows => 5, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'invest_case_case_no' %>