<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :invest_photo, :url => {:action => 'edit_photo', :id => @invest_photo.id, :investigation_id => @invest_photo.investigation_id, :invest_crime_id => @invest_photo.invest_crime_id, :invest_report_id => @invest_photo.invest_report_id, :invest_criminal_id => @invest_photo.invest_criminal_id, :invest_vehicle_id => @invest_photo.invest_vehicle_id}, :html => {:multipart => true, :method => :post} do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <!-- Don't allow changing association links -->
      <%= f.hidden_field :investigation_id %>
      <%= f.hidden_field :invest_crime_id %>
      <%= f.hidden_field :invest_report_id %>
      <%= f.hidden_field :invest_criminal_id %>
      <%= f.hidden_field :invest_vehicle_id %>
      
      <fieldset>
         <legend>Photo Information</legend>
         <table class='input' style='width:auto;float:left;'>
            <tr>
               <th>File Name:</th>
               <td><%=h @invest_photo.invest_photo_file_name %></td>
            </tr>
            <tr>
               <th>Content Type:</th>
               <td><%=h @invest_photo.invest_photo_content_type %></td>
            </tr>
            <tr>
               <th>File Size:</th>
               <td><%=h @invest_photo.invest_photo_file_size %></td>
            </tr>
            <tr>
               <th>Uploaded At:</th>
               <td><%=h format_date(@invest_photo.invest_photo_updated_at) %></td>
            </tr>
            <% if @invest_photo.new_record? %>
               <tr>
                  <th>Upload Photo:</th>
                  <td><%= f.file_field :invest_photo %></td>
               </tr>
            <% end %>
         </table>
         <%= image_tag(@invest_photo.invest_photo.url(:small), :class => 'input') %>
      </fieldset>
      
      <fieldset>
         <legend>Scene Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Date of Photo:</th>
               <td><%= f.calendar_date_select :date_taken, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th><%= required %>Location:</th>
               <td><%= f.text_field :location_taken, :size => 40 %></td>
            </tr>
            <%= contact_row :invest_photo, :taken_by, :required => true %>
            <tr>
               <th><%= required %>Short Description:</th>
               <td><%= f.text_field :description, :size => 70 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Privacy Controls</legend>
         <%= input_note 'Access and Ownership only be changed at the top-most (Investigation) level.' %>
         <table class='input'>
            <tr>
               <th>Private?</th>
               <td><%= f.hidden_field :private %><b><%= @invest_photo.private? ? "<span class='error'>Yes</span>" : 'No' %></b></td>
            </tr>
            <tr>
               <th>Current Owner:</th>
               <td><%= f.hidden_field :owned_by %><%=h show_user @invest_photo.owner %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'invest_photo_invest_photo' %>