<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :investigation, :url => {:action => 'edit', :id => @investigation.id}, :method => :post do |f| %>

   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Investigation</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Date/Time:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :investigation_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :investigation_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <%= contact_row :investigation, :detective, :required => true, :getopts => 'Detectives' %>
            <tr>
               <th><%= required %>Status:</th>
               <td><%= f.select :status_id, get_opts("Investigation Status") %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Description</legend>
         <%= input_note 'Enter a description of the investigation here.  This should be fairly short and to the point. <b>This is not for reports!</b>' %>
         <%= required %><%= f.text_area :details %>
      </fieldset>
      
      <%= tip("If you enter the people related to this investigation here, they will show up for the investigation, but will not print out on any report you do. If you want them to show up on the report, wait until you create the report to add the victims, witnesses and suspects.") %>
      
      <fieldset>
         <legend>People Involved</legend>
         <%= input_note 'You may enter victim information here. However, it may make more sense to add victim information when you add a <b>Crime</b> or <b>Report</b> to this investigation.' %>
         <table id='victims' class='input' style='width:auto;'>
            <%= render :partial => 'victim', :collection => @investigation.victims, :locals => {:model => 'investigation'} %>
         </table>
         <p><%= add_person_link "victim" ,"investigation" %></p>
         
         <hr/>
         
         <%= input_note 'You may enter witness information here. However, it may make more sense to add witness information when you add a <b>Crime</b> or <b>Report</b> to this investigation.' %>
         <table id='witnesses' class='input' style='width:auto;'>
            <%= render :partial => 'witness', :collection => @investigation.witnesses, :locals => {:model => 'investigation'} %>
         </table>
         <p><%= add_person_link "witness" ,"investigation" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Sources (Confidential)</legend>
         <%= input_note 'You may enter source (informant) information here. However, it may make more sense to add source information when you add a <b>Crime</b> or <b>Report</b> to this investigation.','Sources are always confidential.  They will never appear on any report, and even after the investigation is made public, they will not be visible to anyone but you (the &quot;owner&quot; of the investigation).' %>
         <table id='sources' class='input' style='width:auto;'>
            <%= render :partial => 'source', :collection => @investigation.sources, :locals => {:model => 'investigation'} %>
         </table>
         <p><%= add_person_link "source" ,"investigation" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Contacts (Rolodex)</legend>
         <%= input_note 'Here you may link to officers, agencies and other contacts from the system Contact database to create a &quot;Rolodex&quot; for this investigation.' %>
         <table id='contacts' class='input' style='width:auto;'>
            <%= render :partial => 'contact', :collection => @investigation.contacts %>
         </table>
         <p><%= add_contact_link "Add a Contact" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Privacy Controls</legend>
         <%= input_note 'If <b>Private</b> is checked, only <b>you</b> can see this investigation.  If <b>Private</b> is unchecked, this investigation will be visible to other system users that have permission to view investigations.' %>
         <table class='input'>
            <tr>
               <th>Private?</th>
               <td><%= f.check_box :private %><b>Yes</b></td>
            </tr>
         </table>
         <%= input_note 'You may hand this investigation over to another Detective by selecting them as the <b>Current Owner</b>. If you do this, you will no longer be able to access this investigation until it is made public.' %>
         <table class='input'>
            <tr>
               <th>Current Owner:</th>
               <td><%= f.select :owned_by, Contact.detective_users_for_select %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'investigation_investigation_date' %>