<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :invest_criminal, :url => {:action => 'edit_criminal', :id => @invest_criminal.id, :investigation_id => @invest_criminal.investigation_id, :invest_crime_id => @invest_criminal.invest_crime_id, :invest_report_id => @invest_criminal.invest_report_id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <!-- Don't allow changing association links -->
      <%= f.hidden_field :investigation_id %>
      <%= f.hidden_field :invest_crime_id %>
      <%= f.hidden_field :invest_report_id %>
      <fieldset>
         <legend>Criminal</legend>
         <%= input_note 'If you enter a person ID here and save it, it will look up the full name in the Person database and overwrite anything you have in the Full Name field.  If ID is blank, you can type anything you want in the Full Name field and it will be saved as-is.' %>
         <table class='input'>
            <tr>
               <th>Person:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :person_id, :size => 8 %><%= hint "ID" %></td>
                        <td><%= f.text_field :full_name, :size => 30 %><%= hint 'Full Name' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Description:</th>
               <td><%= f.text_field :description, :size => 80 %></td>
            </tr>
            <tr>
               <th>Height:</th>
               <td><%= f.text_field :height, :size => 40 %></td>
            </tr>
            <tr>
               <th>Weight:</th>
               <td><%= f.text_field :weight, :size => 40 %></td>
            </tr>
            <tr>
               <th>Shoes:</th>
               <td><%= f.text_field :shoes, :size => 40 %></td>
            </tr>
            <tr>
               <th>Fingerprint:</th>
               <td><%= f.text_field :fingerprint_class, :size => 40 %></td>
            </tr>
            <tr>
               <th>DNA Profile:</th>
               <td><%= f.text_field :dna_profile, :size => 40 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Privacy Controls</legend>
         <%= input_note 'Access and Ownership only be changed at the top-most (Investigation) level.' %>
         <table class='input'>
            <tr>
               <th>Private?</th>
               <td><%= f.hidden_field :private %><b><%= @invest_criminal.private? ? "<span class='error'>Yes</span>" : 'No' %></b></td>
            </tr>
            <tr>
               <th>Current Owner:</th>
               <td><%= f.hidden_field :owned_by %><%=h show_user @invest_criminal.owner %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= observe_field 'invest_criminal_person_id', :url => { :controller => 'investigations', :action => 'update_person' }, :with => 'c' %>
<%= set_focus_to_id 'invest_criminal_person_id' %>