<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :invest_crime, :url => {:action => 'edit_crime', :id => @invest_crime.id, :investigation_id => @invest_crime.investigation_id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <!-- Don't allow changing association links -->
      <%= f.hidden_field :investigation_id %>

      <fieldset>
         <legend>Crime</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Location:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :location, :size => 50 %></td>
                        <td><%= f.check_box :occupied %>Occupied</td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <%= input_note "<b>Description</b> should be a description of the crime.  It is <b>not</b> a report.  You will still need to add a <b>Report</b> to your <b>Crime</b> in order to print it." %>
         <table class='input'>
            <tr>
               <th><%= required %>Description:</th>
               <td><%= f.text_area :details %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>People Involved</legend>
         <table id='victims' class='input' style='width:auto;'>
            <%= render :partial => 'victim', :collection => @invest_crime.victims, :locals => {:model => 'invest_crime'} %>
         </table>
         <p><%= add_person_link "victim" ,"invest_crime" %></p>
         
         <hr/>
         
         <table id='witnesses' class='input' style='width:auto;'>
            <%= render :partial => 'witness', :collection => @invest_crime.witnesses, :locals => {:model => 'invest_crime'} %>
         </table>
         <p><%= add_person_link "witness" ,"invest_crime" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Sources (Confidential)</legend>
         <%= input_note 'Sources are always confidential.  They will never appear on any report, and even after the investigation is made public, they will not be visible to anyone but you (the &quot;owner&quot; of the investigation).' %>
         <table id='sources' class='input' style='width:auto;'>
            <%= render :partial => 'source', :collection => @invest_crime.sources, :locals => {:model => 'invest_crime'} %>
         </table>
         <p><%= add_person_link "source" ,"invest_crime" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Modus Operandi</legend>
         <table class='input'>
            <tr>
               <th>Motive:</th>
               <td><%= f.text_field :motive, :size => 70 %></td>
            </tr>
            <tr>
               <th>Entry Gained:</th>
               <td><%= f.text_field :entry_gained, :size => 70 %></td>
            </tr>
            <tr>
               <th>Type of Security:</th>
               <td><%= f.text_field :security, :size => 70 %></td>
            </tr>
            <tr>
               <th>Impersonated:</th>
               <td><%= f.text_field :impersonated, :size => 70 %></td>
            </tr>
            <tr>
               <th>Weapon(s) Used:</th>
               <td><%= f.text_field :weapons_used, :size => 70 %></td>
            </tr>
            <tr>
               <th>Relation To Victim:</th>
               <td><%= f.select :victim_relationship_id, get_opts("Associate Type", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Facts Prior:</th>
               <td><%= f.text_area :facts_prior %></td>
            </tr>
            <tr>
               <th>Actions During:</th>
               <td><%= f.text_area :actions_taken %></td>
            </tr>
            <tr>
               <th>Threats Made:</th>
               <td><%= f.text_area :threats_made %></td>
            </tr>
            <tr>
               <th>Targets of Crime:</th>
               <td><%= f.text_area :targets %></td>
            </tr>
            <tr>
               <th>Facts After:</th>
               <td><%= f.text_area :facts_after %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Privacy Controls</legend>
         <%= input_note 'Access and Ownership only be changed at the top-most (Investigation) level.' %>
         <table class='input'>
            <tr>
               <th>Private?</th>
               <td><%= f.hidden_field :private %><b><%= @invest_crime.private? ? "<span class='error'>Yes</span>" : 'No' %></b></td>
            </tr>
            <tr>
               <th>Current Owner:</th>
               <td><%= f.hidden_field :owned_by %><%=h show_user @invest_crime.owner %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'invest_crime_location' %>