<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip 'Any investigations appearing in red are private (visible only to you) until you make them &quot;public&quot;.' %>
<%= tip '&quot;Public&quot; investigations are visible to anyone with Detective level permissions.' %>

<%= nav_button_row %>
<table style='width:100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'investigation', :collection => @investigations %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Investigations Search Filter</h3>
<%= filter_help 'investigations', true %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>ID:</th>
            <td><%= filter_text_field 'id', @query[:id], 9 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Details Contains:</th>
            <td><%= filter_text_field 'details', @query[:details], 70 %></td>
         </tr>
         <tr>
            <th>Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'investigation_date_from', @query[:investigation_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'investigation_date_to', @query[:investigation_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Detective:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'detective_badge', @query[:detective_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'detective_unit', @query[:detective_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'detective', @query[:detective], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Case no:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 10 %></td>
         </tr>
         <tr>
           <th>Report Contains:</th>
           <td><%= filter_text_field 'report_details', @query[:report_details], 70 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>

