<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Investigation ID: <%= @investigation.id %></h1>

<div style='text-align:center;'><%= @investigation.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <table>
      <tr>
         <th>Date/Time:</th>
         <td><%=h format_date(@investigation.investigation_date, @investigation.investigation_time) %></td>
      </tr>
      <tr>
         <th>Detective:</th>
         <td><%=h show_contact @investigation, :detective %></td>
      </tr>
      <tr>
         <th>Current Status:</th>
         <td><%=h @investigation.status.nil? ? "Unknown" : @investigation.status.long_name %></td>
      </tr>
   </table>

   <h4>Details</h4>
   <p><%=h @investigation.details %></p>
   
   <h3>Ownership</h3>
   <table>
      <tr>
         <th>Currently Owned By:</th>
         <td><%=h show_user @investigation.owner %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @investigation.remarks %>
</div>

<%= link_bar %>
<%= created_by @investigation %>

<br/>
<h2>Records Linked To This Investigation</h2>

<% unless @investigation.cases.empty? %>
   <h3>Cases</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_case_header' %>
      <%= render :partial => 'invest_case', :collection => @investigation.cases %>
   </table>
<% end %>

<% unless @investigation.contacts.empty? %>
   <h3>Contacts (Rolodex)</h3>
   <table style='width:100%;'>
      <%= render :partial => 'contacts/header' %>
      <%= render :partial => 'contacts/contact', :collection => @investigation.contacts %>
   </table>
<% end %>

<% unless @investigation.crimes.empty? %>
   <h3>Crimes</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_crime_header' %>
      <%= render :partial => 'invest_crime', :collection => @investigation.crimes %>
   </table>
<% end %>

<% unless @investigation.criminals.empty? %>
   <h3>Criminals</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_criminal_header' %>
      <%= render :partial => 'invest_criminal', :collection => @investigation.criminals %>
   </table>
<% end %>

<% unless @investigation.events.empty? %>
   <h3>Events</h3>
   <table style='width:100%;'>
      <%= render :partial => 'events/header' %>
      <%= render :partial => 'events/event', :collection => @investigation.events %>
   </table>
<% end %>

<% unless @investigation.evidences.empty? %>
   <h3>Evidence</h3>
   <table style='width:100%;'>
      <%= render :partial => 'evidences/header' %>
      <%= render :partial => 'evidences/evidence', :collection => @investigation.evidences %>
   </table>
<% end %>

<% unless @investigation.photos.empty? %>
   <h3>Photos</h3>
   <p><%= photo_summary(@investigation) %></p>
<% end %>

<% unless @investigation.reports.empty? %>
   <h3>Reports</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_report_header' %>
      <%= render :partial => 'invest_report', :collection => @investigation.reports %>
   </table>
<% end %>

<% if @investigation.owned_by == session[:user] %>
<% crime_sources = @investigation.crimes.collect{|c| c.sources}.flatten.compact.uniq %>
<% report_sources = @investigation.reports.collect{|r| r.sources}.flatten.compact.uniq %>
<% unless @investigation.sources.empty? && crime_sources.empty? && report_sources.empty? %>
   <h3>Sources (Confidential)</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @investigation.sources %>
      <% unless crime_sources.empty? %>
         <tr>
            <th colspan='8'>From Linked Crimes</th>
         </tr>
         <%= render :partial => 'people/person', :collection => crime_sources %>
      <% end %>
      <% unless report_sources.empty? %>
         <tr>
            <th colspan='8'>From Linked Reports</th>
         </tr>
         <%= render :partial => 'people/person', :collection => report_sources %>
      <% end %>
   </table>
<% end %>
<% end %>

<% unless @investigation.stolens.empty? %>
   <h3>Stolen Items</h3>
   <table style='width:100%;'>
      <%= render :partial => 'stolens/header' %>
      <%= render :partial => 'stolens/stolen', :collection => @investigation.stolens %>
   </table>
<% end %>

<% unless @investigation.vehicles.empty? %>
   <h3>Vehicles</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_vehicle_header' %>
      <%= render :partial => 'invest_vehicle', :collection => @investigation.vehicles %>
   </table>
<% end %>

<% crime_victims = @investigation.crimes.collect{|c| c.victims}.flatten.compact.uniq %>
<% report_victims = @investigation.reports.collect{|r| r.victims}.flatten.compact.uniq %>
<% unless @investigation.victims.empty? && crime_victims.empty? && report_victims.empty? %>
   <h3>Victims</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @investigation.victims %>
      <% unless crime_victims.empty? %>
         <tr>
            <th colspan='8'>From Linked Crimes</th>
         </tr>
         <%= render :partial => 'people/person', :collection => crime_victims %>
      <% end %>
      <% unless report_victims.empty? %>
         <tr>
            <th colspan='8'>From Linked Reports</th>
         </tr>
         <%= render :partial => 'people/person', :collection => report_victims %>
      <% end %>
   </table>
<% end %>

<% unless @investigation.warrants.empty? %>
   <h3>Warrants</h3>
   <table style="width:100%;">
      <%= render :partial => 'warrants/header' %>
      <%= render :partial => 'warrants/warrant', :collection => @investigation.warrants %>
   </table>
<% end %>

<% crime_witnesses = @investigation.crimes.collect{|c| c.witnesses}.flatten.compact.uniq %>
<% report_witnesses = @investigation.reports.collect{|r| r.witnesses}.flatten.compact.uniq %>
<% unless @investigation.witnesses.empty? && crime_witnesses.empty? && report_witnesses.empty? %>
   <h3>Witnesses</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @investigation.witnesses %>
      <% unless crime_witnesses.empty? %>
         <tr>
            <th colspan='8'>From Linked Crimes</th>
         </tr>
         <%= render :partial => 'people/person', :collection => crime_witnesses %>
      <% end %>
      <% unless report_witnesses.empty? %>
         <tr>
            <th colspan='8'>From Linked Reports</th>
         </tr>
         <%= render :partial => 'people/person', :collection => report_witnesses %>
      <% end %>
   </table>
<% end %>
