<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Investigation Report ID: <%= @invest_report.id %></h1>

<div style='text-align:center;'><%= @invest_report.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <h3>Report Information</h3>
   <table>
      <tr>
         <th>Date/Time:</th>
         <td><%=h format_date(@invest_report.report_date, @invest_report.report_time) %></td>
      </tr>
   </table>
   
   <h3>Details</h3>
   <p><%= simple_format @invest_report.details %></p>
   
   <h4>Photos</h4>
   <%= photo_summary(@invest_report) %>
   
   <h3>Ownership</h3>
   <table>
      <tr>
         <th>Currently Owned By:</th>
         <td><%=h show_user @invest_report.owner %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @invest_report.remarks %>
</div>
<%= link_bar %>
<%= created_by @invest_report %>

<br/>
<h2>Records Linked To This Report</h2>

<% unless @invest_report.criminals.empty? %>
   <h3>Criminals</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_criminal_header' %>
      <%= render :partial => 'invest_criminal', :collection => @invest_report.criminals %>
   </table>
<% end %>

<% unless @invest_report.sources.empty? || session[:user] != @invest_report.owned_by %>
   <h3>Sources (Confidential)</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @invest_report.sources %>
   </table>
<% end %>

<% unless @invest_report.vehicles.empty? %>
   <h3>Vehicles</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_vehicle_header' %>
      <%= render :partial => 'invest_vehicle', :collection => @invest_report.vehicles %>
   </table>
<% end %>

<% unless @invest_report.victims.empty? %>
   <h3>Victims</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @invest_report.victims %>
   </table>
<% end %>

<% unless @invest_report.witnesses.empty? %>
   <h3>Witnesses</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @invest_report.witnesses %>
   </table>
<% end %>
