<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Investigation Case ID: <%= @invest_case.id %></h1>

<div style='text-align:center;'><%= @invest_case.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <table>
      <tr>
         <th>Case No:</th>
         <td><%= case_number_or_link(@invest_case.case_no) %></td>
      </tr>
   </table>
   
   <h3>Ownership</h3>
   <table>
      <tr>
         <th>Currently Owned By:</th>
         <td><%=h show_user @invest_case.owner %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @invest_case.remarks %>
</div>

<%= link_bar %>
<%= created_by @invest_case %>