<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Investigation Vehicle ID: <%= @invest_vehicle.id %></h1>

<div style='text-align:center;'><%= @invest_vehicle.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <h3>Vehicle Information</h3>
   <table>
      <tr>
         <th>Registered To:</th>
         <td><%=h show_person @invest_vehicle.registered_owner %></td>
      </tr>
      <tr>
         <th>Type:</th>
         <td><%=h @invest_vehicle.vehicle_type.nil? ? "Unknown" : @invest_vehicle.vehicle_type.long_name %></td>
      </tr>
      <tr>
         <th>Color:</th>
         <td><%=h @invest_vehicle.color %></td>
      </tr>
      <tr>
         <th>Make:</th>
         <td><%=h @invest_vehicle.make %></td>
      </tr>
      <tr>
         <th>Model:</th>
         <td><%=h @invest_vehicle.model %></td>
      </tr>
      <tr>
         <th>Year:</th>
         <td><%=h @invest_vehicle.model_year %></td>
      </tr>
      <tr>
         <th>VIN:</th>
         <td><%=h @invest_vehicle.vin %></td>
      </tr>
      <tr>
         <th>License:</th>
         <td><%=h @invest_vehicle.license? ? @invest_vehicle.license + ' ' : '' %><%=h @invest_vehicle.license_state.nil? ? '' : @invest_vehicle.license_state.short_name %></td>
      </tr>
      <tr>
         <th>Tires:</th>
         <td><%=h @invest_vehicle.tires %></td>
      </tr>
   </table>
      
   <h4>Description</h4>
   <p><%=h @invest_vehicle.description %></p>
   
   <h4>Photos</h4>
   <%= photo_summary(@invest_vehicle) %>

   <h3>Ownership</h3>
   <table>
      <tr>
         <th>Currently Owned By:</th>
         <td><%=h show_user @invest_vehicle.owner %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @invest_vehicle.remarks %>
</div>
<%= link_bar %>
<%= created_by @invest_vehicle %>
