<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Investigation Crime ID: <%= @invest_crime.id %></h1>

<div style='text-align:center;'><%= @invest_crime.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <h3>Crime</h3>
   <table>
      <tr>
         <th>Location:</th>
         <td><%=h @invest_crime.location %> <%= @invest_crime.occupied? ? '(Occupied)' : '' %></td>
      </tr>
   </table>
   
   <h4>Details</h4>  
   <%=h @invest_crime.details %>
   
   <h4>Photos</h4>
   <%= photo_summary(@invest_crime) %>

   <h3>Modus Operandi</h3>
   <table>
      <tr>
         <th>Motive:</th>
         <td><%=h @invest_crime.motive? ? @invest_crime.motive : 'Unknown' %></td>
      </tr>
      <tr>
         <th>Entry Gained:</th>
         <td><%=h @invest_crime.entry_gained %></td>
      </tr>
      <tr>
         <th>Type of Security:</th>
         <td><%=h @invest_crime.security %></td>
      </tr>
      <tr>
         <th>Impersonated:</th>
         <td><%=h @invest_crime.impersonated %></td>
      </tr>
      <tr>
         <th>Weapon(s) Used:</th>
         <td><%=h @invest_crime.weapons_used %></td>
      </tr>
      <tr>
         <th>Relation To Victim(s):</th>
         <td><%=h @invest_crime.victim_relationship.nil? ? '' : @invest_crime.victim_relationship.long_name %></td>
      </tr>
   </table>
   
   <h4>Facts Prior to Crime</h4>
   <%=h @invest_crime.facts_prior %>
   
   <h4>Actions Taken During Crime</h4>   
   <%=h @invest_crime.actions_taken %>

   <h4>Threats Made During Crime</h4>
   <%=h @invest_crime.threats_made %>

   <h4>Targets Of Crime</h4>
   <%=h @invest_crime.targets %>

   <h4>Facts After Crime</h4>
   <%=h @invest_crime.facts_after %>
   
   <h3>Ownership</h3>
   <table>
      <tr>
         <th>Currently Owned By:</th>
         <td><%=h show_user @invest_crime.owner %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @invest_crime.remarks %>
</div>
<%= link_bar %>
<%= created_by @invest_crime %>

<br/>
<h2>Records Linked To This Crime</h2>

<% unless @invest_crime.cases.empty? %>
   <h3>Cases</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_case_header' %>
      <%= render :partial => 'invest_case', :collection => @invest_crime.cases %>
   </table>
<% end %>

<% unless @invest_crime.criminals.empty? %>
   <h3>Criminals</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_criminal_header' %>
      <%= render :partial => 'invest_criminal', :collection => @invest_crime.criminals %>
   </table>
<% end %>

<% unless @invest_crime.evidences.empty? %>
   <h3>Evidence</h3>
   <table style='width:100%;'>
      <%= render :partial => 'evidences/header' %>
      <%= render :partial => 'evidences/evidence', :collection => @invest_crime.evidences %>
   </table>
<% end %>

<% unless @invest_crime.reports.empty? %>
   <h3>Reports</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_report_header' %>
      <%= render :partial => 'invest_report', :collection => @invest_crime.reports %>
   </table>
<% end %>

<% if @invest_crime.owned_by == session[:user] %>
<% report_sources = @invest_crime.reports.collect{|r| r.sources}.flatten.compact.uniq %>
<% unless @invest_crime.sources.empty? && report_sources.empty? %>
   <h3>Sources (Confidential)</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @invest_crime.sources %>
      <% unless report_sources.empty? %>
         <tr>
            <th colspan='8'>From Linked Reports</th>
         </tr>
         <%= render :partial => 'people/person', :collection => report_sources %>
      <% end %>
   </table>
<% end %>
<% end %>

<% unless @invest_crime.stolens.empty? %>
   <h3>Stolen Items</h3>
   <table style='width:100%;'>
      <%= render :partial => 'stolens/header' %>
      <%= render :partial => 'stolens/stolen', :collection => @invest_crime.stolens %>
   </table>
<% end %>

<% unless @invest_crime.vehicles.empty? %>
   <h3>Vehicles</h3>
   <table style='width:100%;'>
      <%= render :partial => 'invest_vehicle_header' %>
      <%= render :partial => 'invest_vehicle', :collection => @invest_crime.vehicles %>
   </table>
<% end %>

<% report_victims = @invest_crime.reports.collect{|r| r.victims}.flatten.compact.uniq %>
<% unless @invest_crime.victims.empty? && report_victims.empty? %>
   <h3>Victims</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @invest_crime.victims %>
      <% unless report_victims.empty? %>
         <tr>
            <th colspan='8'>From Linked Reports</th>
         </tr>
         <%= render :partial => 'people/person', :collection => report_victims %>
      <% end %>
   </table>
<% end %>

<% unless @invest_crime.warrants.empty? %>
   <h3>Warrants</h3>
   <table style="width:100%;">
      <%= render :partial => 'warrants/header' %>
      <%= render :partial => 'warrants/warrant', :collection => @invest_crime.warrants %>
   </table>
<% end %>

<% report_witnesses = @invest_crime.reports.collect{|r| r.witnesses}.flatten.compact.uniq %>
<% unless @invest_crime.witnesses.empty? && report_witnesses.empty? %>
   <h3>Witnesses</h3>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @invest_crime.witnesses %>
      <% unless report_witnesses.empty? %>
         <tr>
            <th colspan='8'>From Linked Reports</th>
         </tr>
         <%= render :partial => 'people/person', :collection => report_witnesses %>
      <% end %>
   </table>
<% end %>
