<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Investigation Criminal ID: <%= @invest_criminal.id %></h1>

<div style='text-align:center;'><%= @invest_criminal.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <h3>Criminal Information</h3>
   <table>
      <tr>
         <th>Person:</th>
         <td><%=h @invest_criminal.person.nil? ? (@invest_criminal.full_name? ? @invest_criminal.full_name : 'Unknown') : show_person(@invest_criminal.person) %></td>
      </tr>
      <tr>
         <th>Description:</th>
         <td><%=h @invest_criminal.description %></td>
      </tr>
      <tr>
         <th>Height:</th>
         <td><%=h @invest_criminal.height %></td>
      </tr>
      <tr>
         <th>Weight:</th>
         <td><%=h @invest_criminal.weight %></td>
      </tr>
      <tr>
         <th>Shoes:</th>
         <td><%=h @invest_criminal.shoes %></td>
      </tr>
      <tr>
         <th>Fingerprint:</th>
         <td><%=h @invest_criminal.fingerprint_class %></td>
      </tr>
      <tr>
         <th>DNA Profile:</th>
         <td><%=h @invest_criminal.dna_profile %></td>
      </tr>
   </table>
   
   <h4>Photos</h4>
   <%= photo_summary(@invest_criminal) %>
      
   <h3>Ownership</h3>
   <table>
      <tr>
         <th>Currently Owned By:</th>
         <td><%=h show_user @invest_criminal.owner %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @invest_criminal.remarks %>
</div>
<%= link_bar %>
<%= created_by @invest_criminal %>

<br/>
<h2>Records Linked To This Criminal</h2>

<% unless @invest_criminal.stolens.empty? %>
   <h3>Stolen Items</h3>
   <table style='width:100%;'>
      <%= render :partial => 'stolens/header' %>
      <%= render :partial => 'stolens/stolen', :collection => @invest_criminal.stolens %>
   </table>
<% end %>

<% unless @invest_criminal.vehicles.empty? %>
   <h4>Vehicles</h4>
   <table style='width:100%;'>
      <%= render :partial => 'invest_vehicle_header' %>
      <%= render :partial => 'invest_vehicle', :collection => @invest_criminal.vehicles %>
   </table>
<% end %>

<% unless @invest_criminal.warrants.empty? %>
   <h3>Warrants</h3>
   <table style="width:100%;">
      <%= render :partial => 'warrants/header' %>
      <%= render :partial => 'warrants/warrant', :collection => @invest_criminal.warrants %>
   </table>
<% end %>
