<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Investigation Photo ID: <%= @invest_photo.id %></h1>

<div style='text-align:center;'><%= @invest_photo.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <h3>Photo Information</h3>
   <table style='width:100%;'>
      <tr>
         <td>
            <table>
               <tr>
                  <th>File Name:</th>
                  <td><%=h @invest_photo.invest_photo_file_name %></td>
               </tr>
               <tr>
                  <th>Content Type:</th>
                  <td><%=h @invest_photo.invest_photo_content_type %></td>
               </tr>
               <tr>
                  <th>File Size:</th>
                  <td><%=h @invest_photo.invest_photo_file_size %> bytes</td>
               </tr>
               <tr>
                  <th>Uploaded At:</th>
                  <td><%=h format_date(@invest_photo.invest_photo_updated_at) %></td>
               </tr>
            </table>
         </td>
         <td style='width:150px;text-align:right;'><%= link_to image_tag(@invest_photo.invest_photo.url(:small)), @invest_photo.invest_photo.url %><%= hint 'Click For Larger Image' %></td>
      </tr>
   </table>
   
   <h3>Scene Information</h3>
   <table>
      <tr>
         <th>Date of Photo:</th>
         <td><%=h format_date(@invest_photo.date_taken) %></td>
      </tr>
      <tr>
         <th>Location:</th>
         <td><%=h @invest_photo.location_taken %></td>
      </tr>
      <tr>
         <th>Taken By:</th>
         <td><%=h show_contact @invest_photo, :taken_by %></td>
      </tr>
      <tr>
         <th>Description:</th>
         <td><%=h @invest_photo.description %></td>
      </tr>
   </table>
   
   <h3>Ownership</h3>
   <table>
      <tr>
         <th>Currently Owned By:</th>
         <td><%=h show_user @invest_photo.owner %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @invest_photo.remarks %>
</div>
<%= link_bar %>
<%= created_by @invest_photo %>
