<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :statute, :url => {:action => 'edit', :id => @statute.id}, :method => :post do |f| %>

   <%= f.error_messages %>
   <div class='basic'>
      <fieldset>
         <legend>Statue</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Name:</th>
               <td><%= f.text_field :name, :size => 70 %></td>
            </tr>
         </table>
      </fieldset>
   
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'statute_name' %>