<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Class: I18nSimpleBackendInterpolateTest</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href=".././rdoc-style.css" type="text/css" media="screen" />
 
<script language="JavaScript" type="text/javascript">
// <![CDATA[
 
function toggleSource( id )
{
var elem
var link
 
if( document.getElementById )
{
elem = document.getElementById( id )
link = document.getElementById( "l_" + id )
}
else if ( document.all )
{
elem = eval( "document.all." + id )
link = eval( "document.all.l_" + id )
}
else
return false;
 
if( elem.style.display == "block" )
{
elem.style.display = "none"
link.innerHTML = "show source"
}
else
{
elem.style.display = "block"
link.innerHTML = "hide source"
}
}
 
function openCode( url )
{
window.open( url, "SOURCE_CODE", "width=400,height=400,scrollbars=yes" )
}
// ]]>
</script>
</head>
 
<body>
<table width="100%" border='0' cellpadding='0' cellspacing='0' class='banner'><tr>
<td class="file-title"><span class="file-title-prefix">Class</span><br />I18nSimpleBackendInterpolateTest</td>
<td align="right">
<table cellspacing=0 cellpadding=2>
<tr valign="top">
<td>In:</td>
<td>
<a href="../files/vendor/rails/activesupport/lib/active_support/vendor/i18n-0_1_3/test/simple_backend_test_rb.html">vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb</a>
</td>
</tr>
<tr>
<td>Parent:</td>
<td>
Test::Unit::TestCase
</td>
</tr>
</table>
</td>
</tr>
</table>
 <!-- banner header -->
 
<div id="bodyContent">
<div id="content">
 
 
 
 
<div class="sectiontitle">Methods</div>
<ul>
<li><a href="#M000173">test_interpolate_given_a_non_unicode_multibyte_value_hash_interpolates_into_a_string_with_the_same_encoding</a></li>
<li><a href="#M000175">test_interpolate_given_a_non_unicode_multibyte_value_hash_into_an_unicode_string_raises_encoding_compatibility_error</a></li>
<li><a href="#M000180">test_interpolate_given_a_string_containing_a_reserved_key_raises_reserved_interpolation_key</a></li>
<li><a href="#M000170">test_interpolate_given_a_value_hash_interpolates_into_unicode_string</a></li>
<li><a href="#M000169">test_interpolate_given_a_value_hash_interpolates_the_values_to_the_string</a></li>
<li><a href="#M000178">test_interpolate_given_a_values_hash_with_nil_values_interpolates_the_string</a></li>
<li><a href="#M000179">test_interpolate_given_an_empty_values_hash_raises_missing_interpolation_argument</a></li>
<li><a href="#M000177">test_interpolate_given_an_non_string_as_a_string_returns_nil</a></li>
<li><a href="#M000172">test_interpolate_given_an_unicode_value_hash_interpolates_into_unicode_string</a></li>
<li><a href="#M000171">test_interpolate_given_an_unicode_value_hash_interpolates_to_the_string</a></li>
<li><a href="#M000174">test_interpolate_given_an_unicode_value_hash_into_a_non_unicode_multibyte_string_raises_encoding_compatibility_error</a></li>
<li><a href="#M000176">test_interpolate_given_nil_as_a_string_returns_nil</a></li>
</ul>
 
<div class="sectiontitle">Included Modules</div>
<ul>
<li><a href="I18nSimpleBackendTestSetup.html">I18nSimpleBackendTestSetup</a></li>
</ul>
 
 
 
 
 
<div class="sectiontitle">Public Instance methods</div>
<div class="method">
<div class="title">
<a name="M000173"></a><b>test_interpolate_given_a_non_unicode_multibyte_value_hash_interpolates_into_a_string_with_the_same_encoding</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000173_source')" id="l_M000173_source">show source</a> ]</p>
<div id="M000173_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 264</span>
264:     <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_a_non_unicode_multibyte_value_hash_interpolates_into_a_string_with_the_same_encoding</span>
265:       <span class="ruby-identifier">assert_equal</span> <span class="ruby-identifier">euc_jp</span>(<span class="ruby-value str">'Hi ゆきひろ!'</span>), <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'Hi {{name}}!'</span>, <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-identifier">euc_jp</span>(<span class="ruby-value str">'ゆきひろ'</span>))
266:     <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000175"></a><b>test_interpolate_given_a_non_unicode_multibyte_value_hash_into_an_unicode_string_raises_encoding_compatibility_error</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000175_source')" id="l_M000175_source">show source</a> ]</p>
<div id="M000175_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 274</span>
274:     <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_a_non_unicode_multibyte_value_hash_into_an_unicode_string_raises_encoding_compatibility_error</span>
275:       <span class="ruby-identifier">assert_raise</span>(<span class="ruby-constant">Encoding</span><span class="ruby-operator">::</span><span class="ruby-constant">CompatibilityError</span>) <span class="ruby-keyword kw">do</span>
276:         <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'こんにちは、{{name}}さん!'</span>, <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-identifier">euc_jp</span>(<span class="ruby-value str">'ゆきひろ'</span>))
277:       <span class="ruby-keyword kw">end</span>
278:     <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000180"></a><b>test_interpolate_given_a_string_containing_a_reserved_key_raises_reserved_interpolation_key</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000180_source')" id="l_M000180_source">show source</a> ]</p>
<div id="M000180_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 297</span>
297:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_a_string_containing_a_reserved_key_raises_reserved_interpolation_key</span>
298:     <span class="ruby-identifier">assert_raise</span>(<span class="ruby-constant">I18n</span><span class="ruby-operator">::</span><span class="ruby-constant">ReservedInterpolationKey</span>) { <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'{{default}}'</span>, {<span class="ruby-identifier">:default</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-keyword kw">nil</span>}) }
299:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000170"></a><b>test_interpolate_given_a_value_hash_interpolates_into_unicode_string</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000170_source')" id="l_M000170_source">show source</a> ]</p>
<div id="M000170_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 251</span>
251:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_a_value_hash_interpolates_into_unicode_string</span>
252:     <span class="ruby-identifier">assert_equal</span> <span class="ruby-value str">'Häi David!'</span>, <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'Häi {{name}}!'</span>, <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-value str">'David'</span>)
253:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000169"></a><b>test_interpolate_given_a_value_hash_interpolates_the_values_to_the_string</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000169_source')" id="l_M000169_source">show source</a> ]</p>
<div id="M000169_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 247</span>
247:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_a_value_hash_interpolates_the_values_to_the_string</span>
248:     <span class="ruby-identifier">assert_equal</span> <span class="ruby-value str">'Hi David!'</span>, <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'Hi {{name}}!'</span>, <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-value str">'David'</span>)
249:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000178"></a><b>test_interpolate_given_a_values_hash_with_nil_values_interpolates_the_string</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000178_source')" id="l_M000178_source">show source</a> ]</p>
<div id="M000178_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 289</span>
289:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_a_values_hash_with_nil_values_interpolates_the_string</span>
290:     <span class="ruby-identifier">assert_equal</span> <span class="ruby-value str">'Hi !'</span>, <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'Hi {{name}}!'</span>, {<span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-keyword kw">nil</span>})
291:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000179"></a><b>test_interpolate_given_an_empty_values_hash_raises_missing_interpolation_argument</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000179_source')" id="l_M000179_source">show source</a> ]</p>
<div id="M000179_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 293</span>
293:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_an_empty_values_hash_raises_missing_interpolation_argument</span>
294:     <span class="ruby-identifier">assert_raise</span>(<span class="ruby-constant">I18n</span><span class="ruby-operator">::</span><span class="ruby-constant">MissingInterpolationArgument</span>) { <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'Hi {{name}}!'</span>, {}) }
295:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000177"></a><b>test_interpolate_given_an_non_string_as_a_string_returns_nil</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000177_source')" id="l_M000177_source">show source</a> ]</p>
<div id="M000177_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 285</span>
285:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_an_non_string_as_a_string_returns_nil</span>
286:     <span class="ruby-identifier">assert_equal</span> [], <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, [], <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-value str">'David'</span>)
287:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000172"></a><b>test_interpolate_given_an_unicode_value_hash_interpolates_into_unicode_string</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000172_source')" id="l_M000172_source">show source</a> ]</p>
<div id="M000172_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 259</span>
259:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_an_unicode_value_hash_interpolates_into_unicode_string</span>
260:     <span class="ruby-identifier">assert_equal</span> <span class="ruby-value str">'こんにちは、ゆきひろさん!'</span>, <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'こんにちは、{{name}}さん!'</span>, <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-value str">'ゆきひろ'</span>)
261:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000171"></a><b>test_interpolate_given_an_unicode_value_hash_interpolates_to_the_string</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000171_source')" id="l_M000171_source">show source</a> ]</p>
<div id="M000171_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 255</span>
255:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_an_unicode_value_hash_interpolates_to_the_string</span>
256:     <span class="ruby-identifier">assert_equal</span> <span class="ruby-value str">'Hi ゆきひろ!'</span>, <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-value str">'Hi {{name}}!'</span>, <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-value str">'ゆきひろ'</span>)
257:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000174"></a><b>test_interpolate_given_an_unicode_value_hash_into_a_non_unicode_multibyte_string_raises_encoding_compatibility_error</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000174_source')" id="l_M000174_source">show source</a> ]</p>
<div id="M000174_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 268</span>
268:     <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_an_unicode_value_hash_into_a_non_unicode_multibyte_string_raises_encoding_compatibility_error</span>
269:       <span class="ruby-identifier">assert_raise</span>(<span class="ruby-constant">Encoding</span><span class="ruby-operator">::</span><span class="ruby-constant">CompatibilityError</span>) <span class="ruby-keyword kw">do</span>
270:         <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-identifier">euc_jp</span>(<span class="ruby-value str">'こんにちは、{{name}}さん!'</span>), <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-value str">'ゆきひろ'</span>)
271:       <span class="ruby-keyword kw">end</span>
272:     <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M000176"></a><b>test_interpolate_given_nil_as_a_string_returns_nil</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M000176_source')" id="l_M000176_source">show source</a> ]</p>
<div id="M000176_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/test/simple_backend_test.rb, line 281</span>
281:   <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">test_interpolate_given_nil_as_a_string_returns_nil</span>
282:     <span class="ruby-identifier">assert_nil</span> <span class="ruby-ivar">@backend</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:interpolate</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-keyword kw">nil</span>, <span class="ruby-identifier">:name</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-value str">'David'</span>)
283:   <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
</div>

</div>
 
</body>
</html>