<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Class: I18n::Backend::Simple</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../../.././rdoc-style.css" type="text/css" media="screen" />
 
<script language="JavaScript" type="text/javascript">
// <![CDATA[
 
function toggleSource( id )
{
var elem
var link
 
if( document.getElementById )
{
elem = document.getElementById( id )
link = document.getElementById( "l_" + id )
}
else if ( document.all )
{
elem = eval( "document.all." + id )
link = eval( "document.all.l_" + id )
}
else
return false;
 
if( elem.style.display == "block" )
{
elem.style.display = "none"
link.innerHTML = "show source"
}
else
{
elem.style.display = "block"
link.innerHTML = "hide source"
}
}
 
function openCode( url )
{
window.open( url, "SOURCE_CODE", "width=400,height=400,scrollbars=yes" )
}
// ]]>
</script>
</head>
 
<body>
<table width="100%" border='0' cellpadding='0' cellspacing='0' class='banner'><tr>
<td class="file-title"><span class="file-title-prefix">Class</span><br />I18n::Backend::Simple</td>
<td align="right">
<table cellspacing=0 cellpadding=2>
<tr valign="top">
<td>In:</td>
<td>
<a href="../../../files/vendor/rails/activerecord/lib/active_record/i18n_interpolation_deprecation_rb.html">vendor/rails/activerecord/lib/active_record/i18n_interpolation_deprecation.rb</a>
<a href="../../../files/vendor/rails/activesupport/lib/active_support/vendor/i18n-0_1_3/lib/i18n/backend/simple_rb.html">vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb</a>
</td>
</tr>
<tr>
<td>Parent:</td>
<td>
<a href="../../Object.html">
Object
</a>
</td>
</tr>
</table>
</td>
</tr>
</table>
 <!-- banner header -->
 
<div id="bodyContent">
<div id="content">
 
 
 
 
<div class="sectiontitle">Methods</div>
<ul>
<li><a href="#M002637">available_locales</a></li>
<li><a href="#M002649">deep_symbolize_keys</a></li>
<li><a href="#M002642">default</a></li>
<li><a href="#M002639">init_translations</a></li>
<li><a href="#M002636">initialized?</a></li>
<li><a href="#M002644">interpolate</a></li>
<li><a href="#M002631">interpolate_with_deprecated_syntax</a></li>
<li><a href="#M002645">load_file</a></li>
<li><a href="#M002646">load_rb</a></li>
<li><a href="#M002632">load_translations</a></li>
<li><a href="#M002647">load_yml</a></li>
<li><a href="#M002635">localize</a></li>
<li><a href="#M002641">lookup</a></li>
<li><a href="#M002648">merge_translations</a></li>
<li><a href="#M002643">pluralize</a></li>
<li><a href="#M002638">reload!</a></li>
<li><a href="#M002633">store_translations</a></li>
<li><a href="#M002634">translate</a></li>
<li><a href="#M002640">translations</a></li>
</ul>
 
 
 
 
<div class="sectiontitle">Constants</div>
<table border='0' cellpadding='5'>
<tr valign='top'>
<td class="attr-name">DEPRECATED_INTERPOLATORS</td>
<td>=</td>
<td class="attr-value">{ '%d' =&gt; '{{count}}', '%s' =&gt; '{{value}}' }</td>
</tr>
<tr valign='top'>
<td class="attr-name">INTERPOLATION_RESERVED_KEYS</td>
<td>=</td>
<td class="attr-value">%w(scope default)</td>
</tr>
<tr valign='top'>
<td class="attr-name">MATCH</td>
<td>=</td>
<td class="attr-value">/(\\\\)?\{\{([^\}]+)\}\}/</td>
</tr>
</table>
 
 
<div class="sectiontitle">Public Instance methods</div>
<div class="method">
<div class="title">
<a name="M002637"></a><b>available_locales</b>()
</div>
<div class="description">
<p>
Returns an array of locales for which <a
href="Simple.html#M002640">translations</a> are available
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002637_source')" id="l_M002637_source">show source</a> ]</p>
<div id="M002637_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 73</span>
73:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">available_locales</span>
74:         <span class="ruby-identifier">init_translations</span> <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">initialized?</span>
75:         <span class="ruby-identifier">translations</span>.<span class="ruby-identifier">keys</span>
76:       <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002636"></a><b>initialized?</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002636_source')" id="l_M002636_source">show source</a> ]</p>
<div id="M002636_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 68</span>
68:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">initialized?</span>
69:         <span class="ruby-ivar">@initialized</span> <span class="ruby-operator">||=</span> <span class="ruby-keyword kw">false</span>
70:       <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002632"></a><b>load_translations</b>(*filenames)
</div>
<div class="description">
<p>
Accepts a list of paths to translation files. Loads <a
href="Simple.html#M002640">translations</a> from plain Ruby (*.rb) or YAML
files (*.yml). See <a href="Simple.html#M002646">load_rb</a> and <a
href="Simple.html#M002647">load_yml</a> for details.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002632_source')" id="l_M002632_source">show source</a> ]</p>
<div id="M002632_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 12</span>
12:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">load_translations</span>(<span class="ruby-operator">*</span><span class="ruby-identifier">filenames</span>)
13:         <span class="ruby-identifier">filenames</span>.<span class="ruby-identifier">each</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">filename</span><span class="ruby-operator">|</span> <span class="ruby-identifier">load_file</span>(<span class="ruby-identifier">filename</span>) }
14:       <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002635"></a><b>localize</b>(locale, object, format = :default)
</div>
<div class="description">
<p>
Acts the same as <tt>strftime</tt>, but returns a localized version of the
formatted date string. Takes a key from the date/time formats <a
href="Simple.html#M002640">translations</a> as a format argument
(<em>e.g.</em>, <tt>:short</tt> in <tt>:&#8217;date.formats&#8216;</tt>).
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002635_source')" id="l_M002635_source">show source</a> ]</p>
<div id="M002635_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 48</span>
48:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">localize</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">object</span>, <span class="ruby-identifier">format</span> = <span class="ruby-identifier">:default</span>)
49:         <span class="ruby-identifier">raise</span> <span class="ruby-constant">ArgumentError</span>, <span class="ruby-node">&quot;Object must be a Date, DateTime or Time object. #{object.inspect} given.&quot;</span> <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">object</span>.<span class="ruby-identifier">respond_to?</span>(<span class="ruby-identifier">:strftime</span>)
50: 
51:         <span class="ruby-identifier">type</span> = <span class="ruby-identifier">object</span>.<span class="ruby-identifier">respond_to?</span>(<span class="ruby-identifier">:sec</span>) <span class="ruby-operator">?</span> <span class="ruby-value str">'time'</span> <span class="ruby-operator">:</span> <span class="ruby-value str">'date'</span>
52:         <span class="ruby-comment cmt"># TODO only translate these if format is a String?</span>
53:         <span class="ruby-identifier">formats</span> = <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-node">&quot;#{type}.formats&quot;</span><span class="ruby-node">&quot;#{type}.formats&quot;</span>)
54:         <span class="ruby-identifier">format</span> = <span class="ruby-identifier">formats</span>[<span class="ruby-identifier">format</span>.<span class="ruby-identifier">to_sym</span>] <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">formats</span> <span class="ruby-operator">&amp;&amp;</span> <span class="ruby-identifier">formats</span>[<span class="ruby-identifier">format</span>.<span class="ruby-identifier">to_sym</span>]
55:         <span class="ruby-comment cmt"># TODO raise exception unless format found?</span>
56:         <span class="ruby-identifier">format</span> = <span class="ruby-identifier">format</span>.<span class="ruby-identifier">to_s</span>.<span class="ruby-identifier">dup</span>
57: 
58:         <span class="ruby-comment cmt"># TODO only translate these if the format string is actually present</span>
59:         <span class="ruby-comment cmt"># TODO check which format strings are present, then bulk translate then, then replace them</span>
60:         <span class="ruby-identifier">format</span>.<span class="ruby-identifier">gsub!</span>(<span class="ruby-regexp re">/%a/</span>, <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-value str">&quot;date.abbr_day_names&quot;</span><span class="ruby-value str">&quot;date.abbr_day_names&quot;</span>)[<span class="ruby-identifier">object</span>.<span class="ruby-identifier">wday</span>])
61:         <span class="ruby-identifier">format</span>.<span class="ruby-identifier">gsub!</span>(<span class="ruby-regexp re">/%A/</span>, <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-value str">&quot;date.day_names&quot;</span><span class="ruby-value str">&quot;date.day_names&quot;</span>)[<span class="ruby-identifier">object</span>.<span class="ruby-identifier">wday</span>])
62:         <span class="ruby-identifier">format</span>.<span class="ruby-identifier">gsub!</span>(<span class="ruby-regexp re">/%b/</span>, <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-value str">&quot;date.abbr_month_names&quot;</span><span class="ruby-value str">&quot;date.abbr_month_names&quot;</span>)[<span class="ruby-identifier">object</span>.<span class="ruby-identifier">mon</span>])
63:         <span class="ruby-identifier">format</span>.<span class="ruby-identifier">gsub!</span>(<span class="ruby-regexp re">/%B/</span>, <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-value str">&quot;date.month_names&quot;</span><span class="ruby-value str">&quot;date.month_names&quot;</span>)[<span class="ruby-identifier">object</span>.<span class="ruby-identifier">mon</span>])
64:         <span class="ruby-identifier">format</span>.<span class="ruby-identifier">gsub!</span>(<span class="ruby-regexp re">/%p/</span>, <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-node">&quot;time.#{object.hour &lt; 12 ? :am : :pm}&quot;</span><span class="ruby-node">&quot;time.#{object.hour &lt; 12 ? :am : :pm}&quot;</span>)) <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">object</span>.<span class="ruby-identifier">respond_to?</span> <span class="ruby-identifier">:hour</span>
65:         <span class="ruby-identifier">object</span>.<span class="ruby-identifier">strftime</span>(<span class="ruby-identifier">format</span>)
66:       <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002638"></a><b>reload!</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002638_source')" id="l_M002638_source">show source</a> ]</p>
<div id="M002638_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 78</span>
78:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">reload!</span>
79:         <span class="ruby-ivar">@initialized</span> = <span class="ruby-keyword kw">false</span>
80:         <span class="ruby-ivar">@translations</span> = <span class="ruby-keyword kw">nil</span>
81:       <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002633"></a><b>store_translations</b>(locale, data)
</div>
<div class="description">
<p>
Stores <a href="Simple.html#M002640">translations</a> for the given locale
in memory. This uses a deep merge for the <a
href="Simple.html#M002640">translations</a> hash, so existing <a
href="Simple.html#M002640">translations</a> will be overwritten by new ones
only at the deepest level of the hash.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002633_source')" id="l_M002633_source">show source</a> ]</p>
<div id="M002633_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 20</span>
20:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">store_translations</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">data</span>)
21:         <span class="ruby-identifier">merge_translations</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">data</span>)
22:       <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002634"></a><b>translate</b>(locale, key, options = {})
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002634_source')" id="l_M002634_source">show source</a> ]</p>
<div id="M002634_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 24</span>
24:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">key</span>, <span class="ruby-identifier">options</span> = {})
25:         <span class="ruby-identifier">raise</span> <span class="ruby-constant">InvalidLocale</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">locale</span>) <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">locale</span>.<span class="ruby-identifier">nil?</span>
26:         <span class="ruby-keyword kw">return</span> <span class="ruby-identifier">key</span>.<span class="ruby-identifier">map</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">k</span><span class="ruby-operator">|</span> <span class="ruby-identifier">translate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">k</span>, <span class="ruby-identifier">options</span>) } <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">key</span>.<span class="ruby-identifier">is_a?</span> <span class="ruby-constant">Array</span>
27: 
28:         <span class="ruby-identifier">reserved</span> = <span class="ruby-identifier">:scope</span>, <span class="ruby-identifier">:default</span>
29:         <span class="ruby-identifier">count</span>, <span class="ruby-identifier">scope</span>, <span class="ruby-identifier">default</span> = <span class="ruby-identifier">options</span>.<span class="ruby-identifier">values_at</span>(<span class="ruby-identifier">:count</span>, <span class="ruby-operator">*</span><span class="ruby-identifier">reserved</span>)
30:         <span class="ruby-identifier">options</span>.<span class="ruby-identifier">delete</span>(<span class="ruby-identifier">:default</span>)
31:         <span class="ruby-identifier">values</span> = <span class="ruby-identifier">options</span>.<span class="ruby-identifier">reject</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">name</span>, <span class="ruby-identifier">value</span><span class="ruby-operator">|</span> <span class="ruby-identifier">reserved</span>.<span class="ruby-identifier">include?</span>(<span class="ruby-identifier">name</span>) }
32: 
33:         <span class="ruby-identifier">entry</span> = <span class="ruby-identifier">lookup</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">key</span>, <span class="ruby-identifier">scope</span>)
34:         <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">entry</span>.<span class="ruby-identifier">nil?</span>
35:           <span class="ruby-identifier">entry</span> = <span class="ruby-identifier">default</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">default</span>, <span class="ruby-identifier">options</span>)
36:           <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">entry</span>.<span class="ruby-identifier">nil?</span>
37:             <span class="ruby-identifier">raise</span>(<span class="ruby-constant">I18n</span><span class="ruby-operator">::</span><span class="ruby-constant">MissingTranslationData</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">key</span>, <span class="ruby-identifier">options</span>))
38:           <span class="ruby-keyword kw">end</span>
39:         <span class="ruby-keyword kw">end</span>
40:         <span class="ruby-identifier">entry</span> = <span class="ruby-identifier">pluralize</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">entry</span>, <span class="ruby-identifier">count</span>)
41:         <span class="ruby-identifier">entry</span> = <span class="ruby-identifier">interpolate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">entry</span>, <span class="ruby-identifier">values</span>)
42:         <span class="ruby-identifier">entry</span>
43:       <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="sectiontitle">Protected Instance methods</div>
<div class="method">
<div class="title">
<a name="M002649"></a><b>deep_symbolize_keys</b>(hash)
</div>
<div class="description">
<p>
Return a new hash with all keys and nested keys converted to symbols.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002649_source')" id="l_M002649_source">show source</a> ]</p>
<div id="M002649_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 205</span>
205:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">deep_symbolize_keys</span>(<span class="ruby-identifier">hash</span>)
206:           <span class="ruby-identifier">hash</span>.<span class="ruby-identifier">inject</span>({}) { <span class="ruby-operator">|</span><span class="ruby-identifier">result</span>, (<span class="ruby-identifier">key</span>, <span class="ruby-identifier">value</span>)<span class="ruby-operator">|</span>
207:             <span class="ruby-identifier">value</span> = <span class="ruby-identifier">deep_symbolize_keys</span>(<span class="ruby-identifier">value</span>) <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">value</span>.<span class="ruby-identifier">is_a?</span> <span class="ruby-constant">Hash</span>
208:             <span class="ruby-identifier">result</span>[(<span class="ruby-identifier">key</span>.<span class="ruby-identifier">to_sym</span> <span class="ruby-keyword kw">rescue</span> <span class="ruby-identifier">key</span>) <span class="ruby-operator">||</span> <span class="ruby-identifier">key</span>] = <span class="ruby-identifier">value</span>
209:             <span class="ruby-identifier">result</span>
210:           }
211:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002642"></a><b>default</b>(locale, default, options = {})
</div>
<div class="description">
<p>
Evaluates a <a href="Simple.html#M002642">default</a> translation. If the
given <a href="Simple.html#M002642">default</a> is a String it is used
literally. If it is a Symbol it will be translated with the given options.
If it is an Array the first translation yielded will be returned.
</p>
<p>
<em>I.e.</em>, <tt><a href="Simple.html#M002642">default</a>(locale, [:foo,
&#8216;<a href="Simple.html#M002642">default</a>&#8217;])</tt> will return
<tt><a href="Simple.html#M002642">default</a></tt> if <tt><a
href="Simple.html#M002634">translate</a>(locale, :foo)</tt> does not yield
a result.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002642_source')" id="l_M002642_source">show source</a> ]</p>
<div id="M002642_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 118</span>
118:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">default</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">default</span>, <span class="ruby-identifier">options</span> = {})
119:           <span class="ruby-keyword kw">case</span> <span class="ruby-identifier">default</span>
120:             <span class="ruby-keyword kw">when</span> <span class="ruby-constant">String</span> <span class="ruby-keyword kw">then</span> <span class="ruby-identifier">default</span>
121:             <span class="ruby-keyword kw">when</span> <span class="ruby-constant">Symbol</span> <span class="ruby-keyword kw">then</span> <span class="ruby-identifier">translate</span> <span class="ruby-identifier">locale</span>, <span class="ruby-identifier">default</span>, <span class="ruby-identifier">options</span>
122:             <span class="ruby-keyword kw">when</span> <span class="ruby-constant">Array</span>  <span class="ruby-keyword kw">then</span> <span class="ruby-identifier">default</span>.<span class="ruby-identifier">each</span> <span class="ruby-keyword kw">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">obj</span><span class="ruby-operator">|</span>
123:               <span class="ruby-identifier">result</span> = <span class="ruby-identifier">default</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">obj</span>, <span class="ruby-identifier">options</span>.<span class="ruby-identifier">dup</span>) <span class="ruby-keyword kw">and</span> <span class="ruby-keyword kw">return</span> <span class="ruby-identifier">result</span>
124:             <span class="ruby-keyword kw">end</span> <span class="ruby-keyword kw">and</span> <span class="ruby-keyword kw">nil</span>
125:           <span class="ruby-keyword kw">end</span>
126:         <span class="ruby-keyword kw">rescue</span> <span class="ruby-constant">MissingTranslationData</span>
127:           <span class="ruby-keyword kw">nil</span>
128:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002639"></a><b>init_translations</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002639_source')" id="l_M002639_source">show source</a> ]</p>
<div id="M002639_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 84</span>
84:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">init_translations</span>
85:           <span class="ruby-identifier">load_translations</span>(<span class="ruby-operator">*</span><span class="ruby-constant">I18n</span>.<span class="ruby-identifier">load_path</span>.<span class="ruby-identifier">flatten</span>)
86:           <span class="ruby-ivar">@initialized</span> = <span class="ruby-keyword kw">true</span>
87:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002644"></a><b>interpolate</b>(locale, string, values = {})
</div>
<div class="description">
<p>
Interpolates values into a given string.
</p>
<pre>
  interpolate &quot;file {{file}} opened by \\{{user}}&quot;, :file =&gt; 'test.txt', :user =&gt; 'Mr. X'
  # =&gt; &quot;file test.txt opened by {{user}}&quot;
</pre>
<p>
Note that you have to double escape the <tt>\</tt> when you want to escape
the <tt>{{&#8230;}}</tt> key in a string (once for the string and once for
the interpolation).
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002644_source')" id="l_M002644_source">show source</a> ]</p>
<div id="M002644_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 151</span>
151:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">interpolate</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">string</span>, <span class="ruby-identifier">values</span> = {})
152:           <span class="ruby-keyword kw">return</span> <span class="ruby-identifier">string</span> <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">string</span>.<span class="ruby-identifier">is_a?</span>(<span class="ruby-constant">String</span>)
153: 
154:           <span class="ruby-identifier">string</span>.<span class="ruby-identifier">gsub</span>(<span class="ruby-constant">MATCH</span>) <span class="ruby-keyword kw">do</span>
155:             <span class="ruby-identifier">escaped</span>, <span class="ruby-identifier">pattern</span>, <span class="ruby-identifier">key</span> = <span class="ruby-identifier">$1</span>, <span class="ruby-identifier">$2</span>, <span class="ruby-identifier">$2</span>.<span class="ruby-identifier">to_sym</span>
156: 
157:             <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">escaped</span>
158:               <span class="ruby-identifier">pattern</span>
159:             <span class="ruby-keyword kw">elsif</span> <span class="ruby-constant">INTERPOLATION_RESERVED_KEYS</span>.<span class="ruby-identifier">include?</span>(<span class="ruby-identifier">pattern</span>)
160:               <span class="ruby-identifier">raise</span> <span class="ruby-constant">ReservedInterpolationKey</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">pattern</span>, <span class="ruby-identifier">string</span>)
161:             <span class="ruby-keyword kw">elsif</span> <span class="ruby-operator">!</span><span class="ruby-identifier">values</span>.<span class="ruby-identifier">include?</span>(<span class="ruby-identifier">key</span>)
162:               <span class="ruby-identifier">raise</span> <span class="ruby-constant">MissingInterpolationArgument</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">pattern</span>, <span class="ruby-identifier">string</span>)
163:             <span class="ruby-keyword kw">else</span>
164:               <span class="ruby-identifier">values</span>[<span class="ruby-identifier">key</span>].<span class="ruby-identifier">to_s</span>
165:             <span class="ruby-keyword kw">end</span>
166:           <span class="ruby-keyword kw">end</span>
167:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002631"></a><b>interpolate_with_deprecated_syntax</b>(locale, string, values = {})
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002631_source')" id="l_M002631_source">show source</a> ]</p>
<div id="M002631_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activerecord/lib/active_record/i18n_interpolation_deprecation.rb, line 12</span>
12:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">interpolate_with_deprecated_syntax</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">string</span>, <span class="ruby-identifier">values</span> = {})
13:           <span class="ruby-keyword kw">return</span> <span class="ruby-identifier">string</span> <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">string</span>.<span class="ruby-identifier">is_a?</span>(<span class="ruby-constant">String</span>) <span class="ruby-operator">&amp;&amp;</span> <span class="ruby-operator">!</span><span class="ruby-identifier">values</span>.<span class="ruby-identifier">empty?</span>
14: 
15:           <span class="ruby-identifier">string</span> = <span class="ruby-identifier">string</span>.<span class="ruby-identifier">gsub</span>(<span class="ruby-regexp re">/%d|%s/</span>) <span class="ruby-keyword kw">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">s</span><span class="ruby-operator">|</span>
16:             <span class="ruby-identifier">instead</span> = <span class="ruby-constant">DEPRECATED_INTERPOLATORS</span>[<span class="ruby-identifier">s</span>]
17:             <span class="ruby-constant">ActiveSupport</span><span class="ruby-operator">::</span><span class="ruby-constant">Deprecation</span>.<span class="ruby-identifier">warn</span> <span class="ruby-node">&quot;using #{s} in messages is deprecated; use #{instead} instead.&quot;</span>
18:             <span class="ruby-identifier">instead</span>
19:           <span class="ruby-keyword kw">end</span>
20: 
21:           <span class="ruby-identifier">interpolate_without_deprecated_syntax</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">string</span>, <span class="ruby-identifier">values</span>)
22:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002645"></a><b>load_file</b>(filename)
</div>
<div class="description">
<p>
Loads a single <a href="Simple.html#M002640">translations</a> file by
delegating to <a href="Simple.html#M002646">load_rb</a> or <a
href="Simple.html#M002647">load_yml</a> depending on the file extension and
directly merges the data to the existing <a
href="Simple.html#M002640">translations</a>. Raises <a
href="../UnknownFileType.html">I18n::UnknownFileType</a> for all other file
extensions.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002645_source')" id="l_M002645_source">show source</a> ]</p>
<div id="M002645_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 173</span>
173:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">load_file</span>(<span class="ruby-identifier">filename</span>)
174:           <span class="ruby-identifier">type</span> = <span class="ruby-constant">File</span>.<span class="ruby-identifier">extname</span>(<span class="ruby-identifier">filename</span>).<span class="ruby-identifier">tr</span>(<span class="ruby-value str">'.'</span>, <span class="ruby-value str">''</span>).<span class="ruby-identifier">downcase</span>
175:           <span class="ruby-identifier">raise</span> <span class="ruby-constant">UnknownFileType</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">type</span>, <span class="ruby-identifier">filename</span>) <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">respond_to?</span>(<span class="ruby-node">&quot;load_#{type}&quot;</span><span class="ruby-node">&quot;load_#{type}&quot;</span>)
176:           <span class="ruby-identifier">data</span> = <span class="ruby-identifier">send</span> <span class="ruby-node">&quot;load_#{type}&quot;</span><span class="ruby-node">&quot;load_#{type}&quot;</span>, <span class="ruby-identifier">filename</span> <span class="ruby-comment cmt"># TODO raise a meaningful exception if this does not yield a Hash</span>
177:           <span class="ruby-identifier">data</span>.<span class="ruby-identifier">each</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">locale</span>, <span class="ruby-identifier">d</span><span class="ruby-operator">|</span> <span class="ruby-identifier">merge_translations</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">d</span>) }
178:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002646"></a><b>load_rb</b>(filename)
</div>
<div class="description">
<p>
Loads a plain Ruby <a href="Simple.html#M002640">translations</a> file.
eval&#8216;ing the file must yield a Hash containing translation data with
locales as toplevel keys.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002646_source')" id="l_M002646_source">show source</a> ]</p>
<div id="M002646_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 182</span>
182:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">load_rb</span>(<span class="ruby-identifier">filename</span>)
183:           <span class="ruby-identifier">eval</span>(<span class="ruby-constant">IO</span>.<span class="ruby-identifier">read</span>(<span class="ruby-identifier">filename</span>), <span class="ruby-identifier">binding</span>, <span class="ruby-identifier">filename</span>)
184:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002647"></a><b>load_yml</b>(filename)
</div>
<div class="description">
<p>
Loads a YAML <a href="Simple.html#M002640">translations</a> file. The data
must have locales as toplevel keys.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002647_source')" id="l_M002647_source">show source</a> ]</p>
<div id="M002647_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 188</span>
188:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">load_yml</span>(<span class="ruby-identifier">filename</span>)
189:           <span class="ruby-constant">YAML</span><span class="ruby-operator">::</span><span class="ruby-identifier">load</span>(<span class="ruby-constant">IO</span>.<span class="ruby-identifier">read</span>(<span class="ruby-identifier">filename</span>))
190:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002641"></a><b>lookup</b>(locale, key, scope = [])
</div>
<div class="description">
<p>
Looks up a translation from the <a
href="Simple.html#M002640">translations</a> hash. Returns nil if eiher key
is nil, or locale, scope or key do not exist as a key in the nested <a
href="Simple.html#M002640">translations</a> hash. Splits keys or scopes
containing dots into multiple keys, i.e. <tt>currency.format</tt> is
regarded the same as <tt>%w(currency format)</tt>.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002641_source')" id="l_M002641_source">show source</a> ]</p>
<div id="M002641_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 98</span>
 98:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">lookup</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">key</span>, <span class="ruby-identifier">scope</span> = [])
 99:           <span class="ruby-keyword kw">return</span> <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">key</span>
100:           <span class="ruby-identifier">init_translations</span> <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">initialized?</span>
101:           <span class="ruby-identifier">keys</span> = <span class="ruby-constant">I18n</span>.<span class="ruby-identifier">send</span>(<span class="ruby-identifier">:normalize_translation_keys</span>, <span class="ruby-identifier">locale</span>, <span class="ruby-identifier">key</span>, <span class="ruby-identifier">scope</span>)
102:           <span class="ruby-identifier">keys</span>.<span class="ruby-identifier">inject</span>(<span class="ruby-identifier">translations</span>) <span class="ruby-keyword kw">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">result</span>, <span class="ruby-identifier">k</span><span class="ruby-operator">|</span>
103:             <span class="ruby-keyword kw">if</span> (<span class="ruby-identifier">x</span> = <span class="ruby-identifier">result</span>[<span class="ruby-identifier">k</span>.<span class="ruby-identifier">to_sym</span>]).<span class="ruby-identifier">nil?</span>
104:               <span class="ruby-keyword kw">return</span> <span class="ruby-keyword kw">nil</span>
105:             <span class="ruby-keyword kw">else</span>
106:               <span class="ruby-identifier">x</span>
107:             <span class="ruby-keyword kw">end</span>
108:           <span class="ruby-keyword kw">end</span>
109:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002648"></a><b>merge_translations</b>(locale, data)
</div>
<div class="description">
<p>
Deep merges the given <a href="Simple.html#M002640">translations</a> hash
with the existing <a href="Simple.html#M002640">translations</a> for the
given locale
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002648_source')" id="l_M002648_source">show source</a> ]</p>
<div id="M002648_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 194</span>
194:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">merge_translations</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">data</span>)
195:           <span class="ruby-identifier">locale</span> = <span class="ruby-identifier">locale</span>.<span class="ruby-identifier">to_sym</span>
196:           <span class="ruby-identifier">translations</span>[<span class="ruby-identifier">locale</span>] <span class="ruby-operator">||=</span> {}
197:           <span class="ruby-identifier">data</span> = <span class="ruby-identifier">deep_symbolize_keys</span>(<span class="ruby-identifier">data</span>)
198: 
199:           <span class="ruby-comment cmt"># deep_merge by Stefan Rusterholz, see http://www.ruby-forum.com/topic/142809</span>
200:           <span class="ruby-identifier">merger</span> = <span class="ruby-identifier">proc</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">key</span>, <span class="ruby-identifier">v1</span>, <span class="ruby-identifier">v2</span><span class="ruby-operator">|</span> <span class="ruby-constant">Hash</span> <span class="ruby-operator">===</span> <span class="ruby-identifier">v1</span> <span class="ruby-operator">&amp;&amp;</span> <span class="ruby-constant">Hash</span> <span class="ruby-operator">===</span> <span class="ruby-identifier">v2</span> <span class="ruby-value">? </span><span class="ruby-identifier">v1</span>.<span class="ruby-identifier">merge</span>(<span class="ruby-identifier">v2</span>, <span class="ruby-operator">&amp;</span><span class="ruby-identifier">merger</span>) <span class="ruby-operator">:</span> <span class="ruby-identifier">v2</span> }
201:           <span class="ruby-identifier">translations</span>[<span class="ruby-identifier">locale</span>].<span class="ruby-identifier">merge!</span>(<span class="ruby-identifier">data</span>, <span class="ruby-operator">&amp;</span><span class="ruby-identifier">merger</span>)
202:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002643"></a><b>pluralize</b>(locale, entry, count)
</div>
<div class="description">
<p>
Picks a translation from an array according to English pluralization rules.
It will pick the first translation if count is not equal to 1 and the
second translation if it is equal to 1. Other backends can implement more
flexible or complex pluralization rules.
</p>
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002643_source')" id="l_M002643_source">show source</a> ]</p>
<div id="M002643_source" class="dyn-source">
<pre>
     <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 134</span>
134:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">pluralize</span>(<span class="ruby-identifier">locale</span>, <span class="ruby-identifier">entry</span>, <span class="ruby-identifier">count</span>)
135:           <span class="ruby-keyword kw">return</span> <span class="ruby-identifier">entry</span> <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">entry</span>.<span class="ruby-identifier">is_a?</span>(<span class="ruby-constant">Hash</span>) <span class="ruby-keyword kw">and</span> <span class="ruby-identifier">count</span>
136:           <span class="ruby-comment cmt"># raise InvalidPluralizationData.new(entry, count) unless entry.is_a?(Hash)</span>
137:           <span class="ruby-identifier">key</span> = <span class="ruby-identifier">:zero</span> <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">count</span> <span class="ruby-operator">==</span> <span class="ruby-value">0</span> <span class="ruby-operator">&amp;&amp;</span> <span class="ruby-identifier">entry</span>.<span class="ruby-identifier">has_key?</span>(<span class="ruby-identifier">:zero</span>)
138:           <span class="ruby-identifier">key</span> <span class="ruby-operator">||=</span> <span class="ruby-identifier">count</span> <span class="ruby-operator">==</span> <span class="ruby-value">1</span> <span class="ruby-operator">?</span> <span class="ruby-identifier">:one</span> <span class="ruby-operator">:</span> <span class="ruby-identifier">:other</span>
139:           <span class="ruby-identifier">raise</span> <span class="ruby-constant">InvalidPluralizationData</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">entry</span>, <span class="ruby-identifier">count</span>) <span class="ruby-keyword kw">unless</span> <span class="ruby-identifier">entry</span>.<span class="ruby-identifier">has_key?</span>(<span class="ruby-identifier">key</span>)
140:           <span class="ruby-identifier">entry</span>[<span class="ruby-identifier">key</span>]
141:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
<div class="method">
<div class="title">
<a name="M002640"></a><b>translations</b>()
</div>
<div class="sourcecode">
<p class="source-link">[ <a href="javascript:toggleSource('M002640_source')" id="l_M002640_source">show source</a> ]</p>
<div id="M002640_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File vendor/rails/activesupport/lib/active_support/vendor/i18n-0.1.3/lib/i18n/backend/simple.rb, line 89</span>
89:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">translations</span>
90:           <span class="ruby-ivar">@translations</span> <span class="ruby-operator">||=</span> {}
91:         <span class="ruby-keyword kw">end</span>
</pre>
</div>
</div>
</div>
</div>

</div>
 
</body>
</html>