<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip(std_help) %>

<% form_for(:bondsman, :url => {:action => :edit, :id => @bondsman.id}, :method => :post) do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Bondsman Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Name:</th>
               <td><%= f.text_field(:name, :size => 40) %></td>
            </tr>
            <tr>
               <th><%= required %>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= f.text_field(:street, :size => 40) %><%= hint('Street') %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field(:city, :size => 25) %><%= hint('City') %></td>
                        <td><%= f.select(:state_id, get_opts('State')) %><%= hint('State') %></td>
                        <td><%= f.text_field(:zip, :size => 10) %><%= hint('ZIP') %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Bond Company:</th>
               <td><%= f.text_field(:company, :size => 40) %></td>
            </tr>
         </table>
         <%= input_note('Disabled Bondsmen cannot be selected for new bonds. However, they remain in the system because old bonds may still refer to them.') %>
         <table class='input'>
            <tr>
               <th>Disabled?</th>
               <td><%= f.check_box(:disabled) %><b>Yes</b></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Phone Numbers</legend>
         <table id='bondsman_phones' class='input' style='width:auto;'>
            <%= render(:partial => 'phone', :collection => @bondsman.bondsman_phones) %>
         </table>
         <p><%= add_bondsman_phone_link("Add a Phone") %></p>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>

<%= link_bar %>
<%= set_focus_to_id 'bondsman_name' %>