<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width: 100%'>
   <%= render(:partial => 'header') %>
   <%= render(:partial => 'bondsman', :collection => @bondsmen) %>
   <%= render(:partial => 'header') %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Bondsman Search Filter</h3>
<%= filter_help('bondsmen') %>

<form action='<%= url_for(:action => "index") %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Name:</th>
            <td><%= filter_text_field('name', @query[:name], 40) %></td>
         </tr>
         <tr>
            <th>Address:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td colspan='3'><%= filter_text_field('street', @query[:street], 40) %><%= hint('Street') %></td>
                  </tr>
                  <tr>
                     <td><%= filter_text_field('city', @query[:city], 25) %><%= hint('City') %></td>
                     <td><%= filter_select('state_id', @query[:state_id], 'State') %><%= hint('State') %></td>
                     <td><%= filter_text_field('zip', @query[:zip], 10) %><%= hint('ZIP') %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Bond Company Name:</th>
            <td><%= filter_text_field('company', @query[:company], 40) %></td>
         </tr>
         <tr>
            <th>Disabled:</th>
            <td><%= filter_radio_buttons('disabled', @query[:disabled], [['1','Yes'],['0','No']]) %></td>
         </tr>
      </table>

      <%= filter_buttons %>
   </div>
</form>
