<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Bondsman ID: <%= @bondsman.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Name:</th>
         <td><%=h @bondsman.name %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%=h @bondsman.address1 %><br/><%=h @bondsman.address2 %></td>
      </tr>
      <tr>
         <th>Bonding Company:</th>
         <td><%=h @bondsman.company %></td>
      </tr>
      <tr>
         <th>Disabled:</th>
         <td><%= @bondsman.disabled? ? "Yes" : "No" %></td>
      </tr>
   </table>
   
   <% unless @bondsman.bondsman_phones.empty? %>
      <h4>Phone Numbers</h4>
      <table>
         <% for phone in @bondsman.bondsman_phones %>
            <tr>
               <th><%=h phone.label.nil? ? "" : phone.label.long_name %>:</th>
               <td>
                  <%=h phone.value %>
                  <% if phone.note? %>
                     <%= space(2) %>
                     (<%=h phone.note %>)
                  <% end %>
               </td>
            </tr>
         <% end %>
      </table>
   <% end %>
   
</div>

<%= link_bar %>
<%= created_by(@bondsman) %>