<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% trel = booking.temporary_release? %>
<% bstat = booking.status %>
<% bts = booking.is_time_served %>
<% bexp = booking.is_expired %>
<% bdoc = booking.doc_incomplete? %>
<% bstyle = (bstat == '[No Holds]' || bts == true || bexp == true || bdoc == true ? "style='color:#{@colors.color_error};background-color: #{@colors.color_error_bg};'" : (trel ? "style='background-color: #{@colors.color_light};'" : '')) %>
<% nbstyle = (bstat == '[No Holds]' || bts == true || bexp == true || bdoc == true ? "style='white-space:nowrap;color:#{@colors.color_error};background-color: #{@colors.color_error_bg};'" : (trel ? "style='white-space:nowrap;background-color: #{@colors.color_light};'" : "style='white-space:nowrap;'")) %>
<tr class='<%= cycle('link-list-line-odd','link-list-line-even') %>' onclick="window.location='<%= url_for booking %>';return false;">
   <td <%= nbstyle %>><%= booking.disable_timers? ? "<span class='message'>" : '' %><%=h booking.id %><%= booking.disable_timers? ? "</span>" : '' %></td>
   <td <%= nbstyle %>><%=h show_person booking.person %></td>
   <td <%= nbstyle %>><%= booking_location_or_link(booking.id, :supervisor => false, :html => false) %></td>
   <td <%= bstyle %>>
      <%= bstat %>
      <% stl = "color:white;font-weight:bold;background-color:darkblue;" %>
      <% if has_permission(Perm[:update_billing]) %>
         <% if booking.doc_billable? %>
            <span style='<%= stl %>'>[DOC Billable]</span>
         <% elsif booking.doc? %>
            <span style='<%= stl %>'>[DOC]</span>
         <% end %>
      <% else %>
         <% if booking.doc? %>
            <span style='<%= stl %>'>[DOC]</span>
         <% end %>
      <% end %>
      <% if booking.legacy? %>
         [Legacy]
      <% end %>
   </td>
</tr>
