<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class='<%= cycle('link-list-line-odd','link-list-line-even') %>' onclick="window.location='<%= url_for doc %>';return false;">
   <td><%=h doc.id %></td>
   <td><%=h doc.doc_number %></td>
   <td style='white-space:nowrap;'><%=h show_person doc.person %></td>
   <td><%=h doc.booking.nil? ? 'Invalid Booking' : doc.booking.id %></td>
   <td>
      <% if doc.booking.nil? %>
         <span class='error'>[Invalid Booking]</span>
      <% elsif doc.hold.nil? %>
         <span class='error'>[Invalid Hold]</span> 
      <% elsif doc.hold.cleared_date? %>
         <span class='notice'>[Hold Cleared]</span>
      <% else %>
         <span class='message'>[Serving Time]</span>
      <% end %>
      <span class='error'>
      <% if doc.to_serve_string.blank? %>
         [Needs&nbsp;To-Serve&nbsp;Time]
      <% end %>
      <% unless doc.billable? && doc.bill_from_date? %>
         [Needs&nbsp;Billing&nbsp;Info]
      <% end %>
      <% unless doc.doc_number? %>
         [Needs&nbsp;DOC&nbsp;Number]
      <% end %>
      <% unless doc.conviction? %>
         [Needs&nbsp;Conviction&nbsp;Info]
      <% end %>
      &nbsp;
      </span>
   </td>
</tr>
