<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = property.new_record? ? 'new' : 'existing' %>
<% prefix = "booking[#{new_or_existing}_property_attributes][]" %>

<% fields_for prefix, property do |pf| %>
   <tr class='property'>
      <th>Property:</th>
      <td><%= pf.text_field :quantity, :size => 3 %><%= hint 'Qty' %></td>
      <td><%= pf.text_field :description, :size => 40 %><%= hint 'Description' %></td>
      <td>
         <%= pf.hidden_field :created_by %>
         <%= pf.hidden_field :updated_by %>
         <%= button_to_function 'Remove', "$(this).up('.property').remove()" %>
      </td>
      <td>
         <% property.errors.each do |attr, msg| %>
            <div class='error'>
               <b><%= attr %></b> <%= msg %>
            </div>
         <% end %>
      </td>
   </tr>
<% end %>
