<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= visitor.sign_out_time? ? cycle('list-line-odd','list-line-even') : 'error' %>">
   <td><%=h format_date(visitor.visit_date) %></td>
   <td><%=h visitor.sign_in_time %></td>
   <td>
      <% if visitor.sign_out_time? %>
         <%=h visitor.sign_out_time %>
      <% else %>
         <% if has_permission(Perm[:update_booking]) %>
            <%= button_to "Sign Out", {:action => "visitor_out", :id => visitor.id, :booking_id => @booking.id}, :method => :post %>
         <% end %>
      <% end %>
   </td>
   <td><%=h visitor.name %></td>
   <td><%=h visitor.phone %></td>
   <td><%=h visitor.relationship.nil? ? "" : visitor.relationship.long_name %></td>

<% if visitor.sign_out_time? && has_permission(Perm[:update_booking]) && ((session[:user] == visitor.updated_by) || has_permission(Perm[:author_all])) %>
   <td style='border: 0;'>
      <%= button_to "Reset", {:action => 'visit_reset', :id => @booking.id, :visitor => visitor.id}, :method => :post %>
   </td>
<% end %>
</tr>
