<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :booking, :url => {:action => 'edit', :id => @booking.id, :person_id => @person.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <%= f.hidden_field :legacy, :value => false %>
      
      <fieldset>
         <legend>Person Information</legend>
         <table class='input'>
            <%= person_row @booking, :person_id, :required => true %>
            <tr>
               <th>Phone Called:</th>
               <td><%= f.text_field :phone_called, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
            <tr>
               <th>Cash Taken:</th>
               <td><%= f.text_field :cash_at_booking, :size => 12 %><%= hint '9999.99' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Enter one item of property per line.  To add additional property lines, click the <b>Add Property</b> button.' %></td>
            </tr>
            <tr>
               <td colspan='2' style='padding-left: 0;'>
                  <table id='properties' class='input' style='width:auto;'>
                     <%= render :partial => 'property', :collection => @booking.properties %>
                  </table>
                  <p><%= add_property_link "Add Property" %></p>
               </td>
            </tr>
            <tr>
               <th>Receipt Number:</th>
               <td><%= f.text_field :cash_receipt, :size => 15 %></td>
            </tr>
            <tr>
               <th>Attorney:</th>
               <td><%= f.text_field :attorney, :size => 30 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Booking Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Booked:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :booking_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :booking_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <%= contact_row :booking, :booking_officer, :required => true %>
            <tr>
               <th>Intoxicated?</th>
               <td><%= f.check_box :intoxicated %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Entered in AFIS?</th>
               <td><%= f.check_box :afis %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Scheduled Release:</th>
               <td><%= f.calendar_date_select :sched_release_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th><%= required %>Location:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.select :facility_id, get_opts("Facility", :allow_nil => true) %><%= hint 'Facility' %></td>
                        <td><%= f.select :cell_id, get_opts("Cell", :allow_nil => true) %><%= hint 'Cell' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Special Flags</legend>
         <%= input_note "<b>Receive Good Time</b> should be checked if the prisoner is to receive &quot;Good Time&quot; (#{(SiteConfig.goodtime_hours_per_day_local / 24.0).round(2)} hours per hour)" %>
         <table class='input'>
            <tr>
               <th>Receive Good Time?</th>
               <td><%= f.check_box :good_time %><b>Yes</b></td>
            </tr>
         </table>
      </fieldset>
      
      <% releasable = true %>
      <% for hold in @booking.holds %>
         <% unless hold.cleared_date? %>
            <% releasable = false %>
         <% end %>
      <% end %>
      
      <% if releasable && !@booking.new_record? && has_permission(Perm[:reopen_booking]) %>
         <fieldset>
            <legend>Release Information</legend>
            <table class='input'>
               <tr>
                  <th>Released:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><%= f.calendar_date_select :release_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                           <td><%= f.text_field :release_time, :size => 5 %><%= hint 'HH:MM' %></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <%= contact_row :booking, :release_officer %>
               <tr>
                  <th>Release Reason:</th>
                  <td><%= f.select :released_because_id, get_opts("Release Reason", :allow_nil => true) %></td>
               </tr>
            </table>
         </fieldset>
      <% end %>

      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>

      <%= form_buttons %>
   </div>
<% end %>

<%= observe_field 'booking_person_id', :url => { :controller => 'people', :action => 'validate' }, :update => 'booking_person_name', :with => 'p' %>
<%= set_focus_to_id 'booking_person_id' %>