<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :doc, :url => {:action => 'edit_doc', :id => @doc.id, :transfer_id => @doc.transfer_id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :transfer_date %>
      <%= f.hidden_field :transfer_time %>
      <%= f.hidden_field :hold_id %>
      
      <fieldset>
         <legend>Inmate Information</legend>
         <table class='input'>
            <tr>
               <th>Name:</th>
               <td><%=h show_person @doc.person %></td>
            </tr>
            <tr>
               <th>DOC Number:</th>
               <td><%= f.text_field :doc_number, :size => 30 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Sentence Information</legend>
         <table class='input'>
            <tr>
               <td colspan='2'><%= input_note '<b>Convicted Of</b> should be filled in with a list of the charges the inmate was convicted of. This information will be displayed with the hold on the booking page.' %></td>
            </tr>
            <tr>
               <th>Convicted Of:</th>
               <td><%= f.text_field :conviction, :size => 80 %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note '<b>Original Sentence</b> is the time the inmate was originally sentenced to serve.  It is for informational purposes only.' %></td>
            </tr>
            <tr>
               <th>Original Sentence:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :sentence_days, :size => 4 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :sentence_months, :size => 4 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :sentence_years, :size => 4 %><%= hint 'Years' %></td>
                     </td>
                  </table>
               </td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note "<b>To Serve (Here)</b> is the total time (for this sentence only) the inmate must serve at this facility from booking to release.  <span class='error'>This must be entered for the sentence to operate properly.</span>  Until this information is entered, the sentence will be &quot;pending&quot;." %></td>
            </tr>
            <tr>
               <th>To Serve (Here):</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :to_serve_days, :size => 4 %><%= hint 'Days' %></td>
                        <td><%= f.text_field :to_serve_months, :size => 4 %><%= hint 'Months' %></td>
                        <td><%= f.text_field :to_serve_years, :size => 4 %><%= hint 'Years' %></td>
                     </td>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Billing Status</legend>
         <table class='input'>
            <tr>
               <th>Can Bill D.O.C.?</th>
               <td><%= f.check_box :billable %><b>Yes</b></td>
            </tr>
            <tr>
               <th>Bill From Date:</th>
               <td><%= f.calendar_date_select :bill_from_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'doc_doc_number' %>