<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% unless @needs_attention.empty? %>
   <h1><span class='error'>Needs Attention</span></h1>
   <p class='error'>The following booking records need attention:</p>
   <table style='width:100%;'>
      <tr>
         <th>Booking</th>
         <th>Inmate</th>
         <th>Facility</th>
         <th>Problem</th>
      </tr>
      <% for b in @needs_attention %>
         <tr class='<%= cycle('link-list-line-odd','link-list-line-even') %>' onclick="window.location='<%= url_for b[0] %>';return false;">
            <td><%=h b[0].id %></td>
            <td><%=h show_person(b[0].person) %></td>
            <td><%=h b[0].facility.nil? ? 'Invalid Facility' : b[0].facility.short_name %></td>
            <td><%=h b[1] %></td>
         </tr>
      <% end %>
      <tr>
         <th colspan='4' style='text-align:left;'><%= button_to_function('PDF', :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'problem_list'))} %></th>
      </tr>
   </table>
   <br/>
<% end %>

<h1><%= @page_title %></h1>

<%= tip "Booking lines highlighted in <span class='message'>Blue</span> are on temporary release." %>
<%= tip "Booking lines highlighted in <span class='error'>Red</span> need attention for one of the following reasons:<ul><li>has no active holds</li><li>has a Serving Sentence hold with no time left to serve</li><li>has an expired 48 Hour or 72 Hour hold.</li><li>has a DOC record missing important information.</li></ul>" %>

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'booking', :collection => @bookings %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<%= tip "To print a simple booking list, use the search filter to select the bookings you want to include and click the Set Filter button. The selected records will be displayed in the booking list. In the toolbar at the bottom of the list is a PDF button. Click it to download a PDF list of the currently selected bookings." %>

<h3>Booking Search Filter</h3>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help 'bookings', true %>
   
      <table>
         <tr>
            <th>Booking ID:</th>
            <td><%= filter_text_field 'id', @query[:id], 6 %></td>
         </tr>
         <tr>
            <th>Person ID:</th>
            <td><%= filter_text_field 'person_id', @query[:person_id], 6 %></td>
         </tr>
         <tr>
            <th>Full Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 30 %></td>
         </tr>
         <tr>
            <th>Booking Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'booking_officer_badge', @query[:booking_officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'booking_officer_unit', @query[:booking_officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'booking_officer', @query[:booking_officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Booking Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'booking_date_from', @query[:booking_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'booking_date_to', @query[:booking_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Facility:</th>
            <td><%= filter_select 'facility_id', @query[:facility_id], 'Facility' %></td>
         </tr>
         <tr>
            <th>Cell:</th>
            <td><%= filter_select 'cell_id', @query[:cell_id], 'Cell' %></td>
         </tr>
         <tr>
            <th>DOC?:</th>
            <td><%= filter_radio_buttons 'doc', @query[:doc], [['1', 'Yes']] %></td>
         </tr>
         <% if has_permission(Perm[:update_billing]) %>
         <tr>
            <th>DOC Billable?</th>
            <td><%= filter_radio_buttons 'doc_billable', @query[:doc_billable], [['1', 'Yes']] %></td>
         </tr>
         <% end %>
         <tr>
            <th>AFIS:</th>
            <td><%= filter_radio_buttons 'afis', @query[:afis], [['1', 'Yes'],['0', 'No']] %></td>
         </tr>
         <tr>
            <th>Scheduled Release Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'sched_release_date_from', @query[:sched_release_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'sched_release_date_to', @query[:sched_release_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Release Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'release_date_from', @query[:release_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'release_date_to', @query[:release_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Release Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'release_officer_badge', @query[:release_officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'release_officer_unit', @query[:release_officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'release_officer', @query[:release_officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Release Reason:</th>
            <td><%= filter_select 'released_because_id', @query[:released_because_id], 'Release Reason' %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>

<h3>Jail Reports And Functions</h3>

<h4>Jail Reports</h4>

<blockquote>
   <table>
      <tr>
         <th>Monthly In-Jail Report</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'in_jail') %>" method='get'>
               <div>
                  Facility:
                  <select name='facility_id'><%= options_for_select(get_opts("Facility").unshift(["ALL",nil])) %></select>
                  <%= space(2) %>
                  <input type='submit' value='PDF' style='width:100px;'/>
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>Select a facility (or ALL for all facilities) and click the PDF button to generate the monthly In Jail report for the Judges. This report may be run at any time.</td>
      </tr>
      <tr>
         <th>Social Security Administration (SSA) Report</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'ssa_report') %>" method='get'>
               <div>
                  Date:
                  <input name='ssa_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
                  <%= space(2) %>
                  <input type='submit' value='PDF' style='width:100px;'/>
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>Select a date for the report and click the PDF button to generate the SSA Report.  The report will be for the month prior to the date you select here.</td>
      </tr>
      <tr>
         <th>Fraud and Child Support (FCS) Report</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'fcs_report') %>" method='get'>
               <div>
                  Date:
                  <input name='fcs_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
                  <%= space(2) %>
                  <input type='submit' value='PDF' style='width:100px;'/>
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>Select a date for the report and click the PDF button to generate the FCS Report.  The report will be for the month prior to the date you select here.</td>
      </tr>
   </table>
</blockquote>

<h4>Headcount</h4>

<blockquote>

<table>
   <tr>
      <th>Nightly Head Count Report</th>
   </tr>
   <tr>
      <td>
         <form action="<%= url_for(:action => 'billing_headcount') %>" method='get'>
            <div>
               Date:
               <input name='report_date' size='10' type='text' value='<%= Date.yesterday.to_s(:us) %>' id='report_date' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
               <%= space(2) %>
               Facility:
               <select name='facility_id'><%= options_for_select(get_opts("Facility")) %></select>
               <%= space(2) %>
               <input type='submit' value='PDF' style='width:100px;'/>
            </div>
         </form>
      </td>
   </tr>
   <tr>
      <td>Enter the desired Date, select a facility and click the PDF button to generate the nightly billing head count report for the specified Date and Facility.  The date entered must be in the past (cannot be today or in the future).</td>
   </tr>
   <% if has_permission(Perm[:view_billing]) %>
      <tr>
         <th>Monthly Billing Report</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'month_billing') %>" method='get'>
               <div>
                  Month: <select name='month'><%= options_for_select(get_opts("Months"),(Date.today.beginning_of_month - 1.day).month) %></select>
                  <%= space(2) %>
                  Year: <select name='year'><%= options_for_select(get_opts("Years"),Date.today.year) %></select>
                  <%= space(2) %>
                  Facility: <select name='facility_id'><%= options_for_select(get_opts("Facility", :allow_nil => true)) %></select>
                  <%= space(2) %>
                  <input type='submit' value='PDF' style='width:100px;'/>
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>Select a month and a year, and optionally a facility then click the PDF button to generate the Monthly Billing Report.  If the month/year selected is the current month, the report will be month-to-date.  If the month/year selected is in the future you will receive an error page. Leave Facility blank (---) to make the report for all facilities. <span class='error'>This report takes a long time to generate!  Please be patient.</span></td>
      </tr>
   <% end %>
</table>
</blockquote>
