<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row :action => 'index_doc' %>
<table style='width: 100%;'>
   <%= render :partial => 'doc_header' %>
   <%= render :partial => 'doc', :collection => @docs %>
   <%= render :partial => 'doc_header' %>
</table>
<%= nav_button_row :action => 'index_doc' %>

<%= link_bar %>

<h3>DOC Inmate Search Filter</h3>

<%= filter_help 'DOC inmates', true %>

<form name='search' action='<% url_for :action => "index_doc" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>DOC:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'id', @query[:id], 6 %><%= hint 'ID' %></td>
                     <td><%= filter_text_field 'doc_number', @query[:doc_number], 25 %><%= hint 'DOC Number' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Booking:</th>
            <td><%= filter_text_field 'booking_id', @query[:booking_id], 6 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Person:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'person_id', @query[:person_id], 6 %><%= hint 'ID' %></td>
                     <td><%= filter_text_field 'person_name', @query[:person_name], 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>DOC Number:</th>
            <td><%= filter_text_field 'doc_number', @query[:doc_number], 20 %></td>
         </tr>
         <tr>
            <th>Conviction:</th>
            <td><%= filter_text_field 'conviction', @query[:conviction], 70 %></td>
         </tr>
         <tr>
            <th>Billable?</th>
            <td><%= filter_radio_buttons 'billable', @query[:billable], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Incoming Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'transfer_from', @query[:transfer_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'transfer_to', @query[:transfer_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 80 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
