<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<table width="100%">
   <% for booking in @bookings %>
   <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td>
         <table style='width:100%'>
            <tr>
               <td>
                  Booking ID: <%= select_booking_link booking, @caller_id, @caller_name %>
                  <%= space(2) %>
                  <%=h show_person booking.person %>
                  <%= space(2) %>
                  <% if booking.doc? %>
                     </span class='message'>D.O.C.</span>
                     <%= space(2) %>
                  <% end %>

                  <br/>

                  <%= space(4) %>
                  Location: <%= booking_location_or_link(booking.id) %>

                  <% if booking.release_date? %>
                     <br/>
                     <%= space(4) %>
                     Released: <%=h format_date(booking.release_date, booking.release_time) %>
                     <%= space(2) %>
                     By: <%=h show_contact booking, :release_officer %>
                  <% elsif !booking.holds.reject(&:cleared_date?).empty? %>
                     <% for hold in booking.holds.reject(&:cleared_date?) %>
                        <br/>
                        <%= space(4) %>
                        <% txt = "<span class='error'>Active Hold:</span> #{hold.hold_type.nil? ? '' : h(hold.hold_type.long_name)}" %>
                        <span class='summary'><%= txt %></span>
                     <% end %>
                  <% else %>
                     <br/>
                     <%= space(4) %>
                     <span class='message'>NO ACTIVE HOLDS!</span>
                  <% end %>
               </td>
               <td style='width:80px;text-align:center;'>
                  <% unless booking.person.nil? %>
                     <%= image_tag booking.person.front_mugshot.url(:thumb) %>
                  <% end %>
               </td>
            </tr>
         </table>
      </td>
   </tr>
<% end %>
</table>