<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :medical, :url => {:action => 'medical', :id => @medical.id, :booking_id => @booking.id}, :method => :post do |f| %>

   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Screening Information</legend>
         <table class='input'>
            <tr>
               <th>Name:</th>
               <td><%=h show_person @booking.person %></td>
            </tr>
            <tr>
               <th><%= required %>Date/Time:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :screen_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :screen_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <%= contact_row :medical, :officer, :required => true %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Interview</legend>
         <%= input_note 'For each of the questions below: if the answer is YES, enter a short explanation in the space provided.  If the answer is NO, leave the space blank.' %>
         <dl class='input'>
            <dt>1. Were you injured during arrest?</dt>
            <dd><%= f.text_field :arrest_injuries, :size => 70 %></dd>
            <dt>2. Are you currently receiving medical treatment?</dt>
            <dd><%= f.text_field :rec_med_tmnt, :size => 70 %></dd>
            <dt>3. Are you currently receiving dental treatment?</dt>
            <dd><%= f.text_field :rec_dental_tmnt, :size => 70 %></dd>
            <dt>4. Are you currently receiving mental treatment?</dt>
            <dd><%= f.text_field :rec_mental_tmnt, :size => 70 %></dd>
            <dt>5. Are you currently taking any medications?</dt>
            <dd><%= f.text_field :current_meds, :size => 70 %></dd>
            <dt>6. Are you allergic to any medications? </dt>
            <dd><%= f.text_field :allergies, :size => 70 %></dd>
            <dt>7. Are you bleeding, or have injuries, illness or pain?</dt>
            <dd><%= f.text_field :injuries, :size => 70 %></dd>
            <dt>8. Are you showing signs of infestation or lesions?</dt>
            <dd><%= f.text_field :infestation, :size => 70 %></dd>
            <dt>9. Are you currently under the influence of alcohol?</dt>
            <dd><%= f.text_field :alcohol, :size => 70 %></dd>
            <dt>10. Are you currently under the influence of drugs?</dt>
            <dd><%= f.text_field :drug, :size => 70 %></dd>
            <dt>11. Interviewer, is the person showing signs of withdrawal?</dt>
            <dd><%= f.text_field :withdrawal, :size => 70 %></dd>
            <dt>12. Are you thinking about suicide or have you ever attempted it?</dt>
            <dd><%= f.text_field :attempt_suicide, :size => 70 %></dd>
            <dt>13. Interviewer, does the persons behavior suggest possible danger or risk of suicide?</dt>
            <dd><%= f.text_field :suicide_risk, :size => 70 %></dd>
            <dt>14. Interviewer, is the person displaying violent or aggressive behavior indicating a possible danger to himself/herself or others?</dt>
            <dd><%= f.text_field :danger, :size => 70 %></dd>
            <dt>15. Interviewer, if the person is female, is she pregnant?</dt>
            <dd><%= f.text_field :pregnant, :size => 70 %></dd>
            <dt>16. Does the person have any deformities, amputations or injuries requiring the use of cane, crutches, casts, braces or other medical device?</dt>
            <dd><%= f.text_field :deformities, :size => 70 %></dd>
            <dt>17. Does the person have any of the following conditions? (check all that apply)</dt>
            <dd>
               <%= f.check_box :heart_disease %>Heart Disease<br/>
               <%= f.check_box :blood_pressure %>High Blood Pressure<br/>
               <%= f.check_box :diabetes %>Diabetes (sugar in the blood)<br/>
               <%= f.check_box :epilepsy %>Epilepsy<br/>
               <%= f.check_box :hepatitis %>Hepatitis<br/>
               <%= f.check_box :hiv %>HIV or AIDS<br/>
               <%= f.check_box :tb %>Tuberculosis<br/>
               <%= f.check_box :ulcers %>Ulcers<br/>
               <%= f.check_box :venereal %>Venereal Disease
            </dd>
         </dl>
      </fieldset>
      
      <fieldset>
         <legend>Results of Interview</legend>
         <p><%= required %>Enter the disposition for this person: <%= f.text_field :disposition, :size => 40 %></p>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'medical_screen_date' %>