<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :booking, :url => {:action => 'release', :id => @booking.id, :person_id => @person.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <%= f.hidden_field :legacy, :value => false %>

      <fieldset>
         <legend>Release Information</legend>
         <table class='input'>
            <tr>
               <th>Name:</th>
               <td><%= show_person @booking.person %></td>
            </tr>
            <tr>
               <th><%= required %>Released:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :release_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :release_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <%= contact_row :booking, :release_officer, :required => true %>
            <tr>
               <th><%= required %>Release Reason:</th>
               <td><%= f.select :released_because_id, get_opts("Release Reason", :allow_nil => true) %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'booking_release_date' %>