<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Status:</th>
         <td>
            <% if @doc.hold.nil? %>
               <span class='error'>Missing Hold!</span>
            <% elsif @doc.hold.cleared_date? %>
               <span class='message'>Time Served</span>
            <% else %>
               <span class='notice'>Serving Time</span>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Name:</th>
         <td><%=h show_person @doc.person, :include_id => false %></td>
      </tr>
      <tr>
         <th>DOC Number:</th>
         <td><%=h @doc.doc_number %><%= @doc.doc_number? ? '' : "<span class='error'>Need to enter the DOC Number for this inmate!</span>" %></td>
      </tr>
      <tr>
         <th>Convicted Of:</th>
         <td><%=h @doc.conviction %><%= @doc.conviction? ? '' : "<span class='error'>Need to enter charges inmate was convicted of here!</span>" %></td>
      </tr>
      <tr>
         <th>Original Sentence:</th>
         <td><%=h @doc.sentence_string %></td>
      </tr>
      <tr>
         <th>To Serve (Here):</th>
         <td><%=h @doc.to_serve_string %><%= @doc.to_serve_string.blank? ? "<span class='error'>PENDING: Need to enter length of time remaining on original sentence here!</span>" : '' %></td>
      </tr>
      <% if @doc.problems? %>
      <tr>
         <th>Processing Problems:</th>
         <td><%=h @doc.problems %> (Correct these then try saving again)</td>
      </tr>
      <% end %>
   </table>
      
   <h4>Billing Status</h4>
   <table>
      <tr>
         <th>Billable?</th>
         <td><%= @doc.billable? ? 'YES' : 'NO' %></td>
      </tr>
      <tr>
         <th>Start Date:</th>
         <td><%=h format_date(@doc.bill_from_date) %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @doc.remarks %>
</div>
<%= link_bar %>
<%= created_by @doc %>
