<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<% if @booking.temporary_release? %>
   <div class='error' style='text-align:center;font-size:150%;font-weight:bold;'>
      On Temporary Release: <%= @booking.temporary_release_reason %>
   </div>
<% end %>

<div class='basic-view'>
   <% unless @booking.person.nil? %>
      <%= image_tag @booking.person.front_mugshot.url(:small), :style => 'float:right;' %>
   <% end %>
   
   <table style='width:100%;'>
      <tr>
         <th>Detainee:</th>
         <td>
            <span style='font-size: 140%;'>
               <%= show_person(@booking.person, :include_id => false) %>
               <% if @booking.doc_billable? && has_permission(Perm[:update_billing]) %>
                  <%= space(2) %>
                  <span class='message'><b>DOC (Billable)</b></span>
               <% elsif @booking.doc? %>
                  <%= space(2) %>
                  <span class='message'><b>DOC</b></span>
               <% end %>
            </span>
         </td>
      </tr>
      <tr>
         <th>Address:</th>
         <td>
            <% unless @booking.person.nil? %>
               <%= @booking.person.physical_line1 %>
               <br/>
               <%= @booking.person.physical_line2 %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Phone Called:</th>
         <td><%=h @booking.phone_called %></td>
      </tr>
      <tr>
         <th>Cash Taken:</th>
         <td><%= number_to_currency(@booking.cash_at_booking) %></td>
      </tr>
      <tr>
         <th>Property&nbsp;Taken:</th>
         <td><%= @booking.property_list %></td>
      </tr>
      <tr>
         <th>Receipt:</th>
         <td><%=h @booking.cash_receipt %></td>
      </tr>
      <tr>
         <th>Mother:</th>
         <td>
            <% unless @booking.person.nil? %>
               <%=h @booking.person.mother %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Father:</th>
         <td>
            <% unless @booking.person.nil? %>
               <%=h @booking.person.father %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Attorney:</th>
         <td><%=h @booking.attorney %></td>
      </tr>
   </table>
</div>

<h3>Booking Information</h3>

<div class='basic-view'>
   <table>
      <tr>
         <th>Date/Time:</th>
         <td><%=h format_date(@booking.booking_date, @booking.booking_time) %></td>
      </tr>
      <tr>
         <th>Booking Officer:</th>
         <td><%=h show_contact(@booking, :booking_officer) %></td>
      </tr>
      <tr>
         <th>Intoxicated?</th>
         <td><%= @booking.intoxicated? ? "YES" : "NO" %></td>
      </tr>
      <tr>
         <th>Entered in AFIS?</th>
         <td><%= @booking.afis? ? "YES" : "NO" %></td>
      </tr>
      <tr>
         <th>Medical Disposition:</th>
         <td>
            <% if @booking.medicals.empty? %>
               <span class='error'>Not Screened</span>
            <% else %>
               <%=h @booking.medicals.last.disposition %>
            <% end %>
            <%= button_to "Medical Screen", { :action => 'medical', :booking_id => @booking.id }, :style => 'width:100px;', :method => :put %>
         </td>
      </tr>
   </table>
</div>

<h3>Status</h3>

<div class='basic-view'>
   <table>
      <tr>
         <th>Assigned Facility:</th>
         <td><%=h @booking.facility.nil? ? "Invalid Facility!" : @booking.facility.long_name %></td>
      </tr>
      <tr>
         <th>Assigned Cell:</th>
         <td><%=h @booking.cell.nil? ? "Invalid Cell!" : @booking.cell.long_name %></td>
      </tr>
      <tr>
         <th>Current Location:</th>
         <td><%= booking_location_or_link(@booking.id) %></td>
      </tr>
      <tr>
         <th>Commissary Balance:</th>
         <td><%=h @booking.person.nil? ? nil : number_to_currency(@booking.person.commissary_balance) %></td>
      </tr>
      <tr>
         <th>Scheduled Release:</th>
         <td><%=h format_date(@booking.sched_release_date) %></td>
      </tr>
      <% unless @booking.release_date? %>
      <tr>
         <th>Good Time:</th>
         <td>
            <%= @booking.good_time? ? "<span class='notice'>ON</span>" : "<span class='error'>OFF</span>" %>
            <%= space(4) %><span class='message'>(This setting is <b>ignored</b> for DOC sentences.)</span>
            <% if has_permission(Perm[:update_booking]) -%>
               <%= button_to (@booking.good_time? ? "Turn Off" : "Turn On"), { :action => 'toggle_goodtime', :booking_id => @booking.id }, :style => 'width:100px;', :method => :post %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Time Log:</th>
         <td>
            <%= @booking.disable_timers? ? "<span class='error'>Disabled</span>" : "<span class='notice'>Enabled</span>" %>
            <%= space(4) %>
            (<%= @booking.simple_time_served_by_log %> Total Time Logged)
         </td>
      </tr>
      <% end %>
      <% if @booking.is_serving_time %>
      <tr>
         <th>Remaining To Serve:</th>
         <td><%= hours_to_string(@booking.total_remaining_hours) %></td>
      </tr>
      <tr>
         <th>Projected Release:</th>
         <td>
            <%= (DateTime.now + @booking.total_remaining_hours.hours).to_date.to_s(:us) %>
            <%= space(4) %>
            <span class='message'>(Does not count any future Good Time.)</span>
         </td>
      </tr>
      <% end %>
   </table>
</div>

<% unless @booking.holds.empty? %>
   <h4>Holds</h4>
   <table style='width:100%;'>
      <%= render :partial => 'holds/header' %>
      <%= render :partial => 'holds/hold', :collection => (session[:show_all_holds] ? @booking.holds : @booking.holds.reject(&:cleared_date?)) %>
   </table>
   <%= button_to (session[:show_all_holds] ? "Show Active" : "Show All"), {:controller => 'bookings', :action => 'toggle_holds', :id => @booking.id}, :style => 'width:100px;', :method => :get %>
<% end %>

<% unless @booking.person.nil? || @booking.person.medications.empty? %>
   <h4>Medications</h4>
   <table style='width:100%;'>
      <tr>
         <th>Drug Name</th>
         <th>Schedule</th>
      </tr>
      <% for m in @booking.person.medications %>
         <tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>"  onclick="window.location='<%= url_for m %>';return false;">
            <td><%=h m.drug_name %></td>
            <td><%=h m.dose_schedule %></td>
         </tr>
      <% end %>
   </table>
<% end %>

<br/>

<% if @booking.release_date? %>
   <h3>Release Information</h3>

   <div class='basic-view'>
      <table>
         <tr>
            <th>Released:</th>
            <td><%=h format_date(@booking.release_date, @booking.release_time) %></td>
         </tr>
         <tr>
            <th>Released By:</th>
            <td><%=h show_contact(@booking, :release_officer) %></td>
         </tr>
         <tr>
            <th>Released Because:</th>
            <td><%=h @booking.released_because.nil? ? 'Unknown' : @booking.released_because.long_name %></td>
         </tr>
      </table>
   </div>
<% end %>

<h3>Reports</h3>
<div class='basic'>
   <table style='width:100%;'>
      <tr>
         <td style='text-align: center;width:25%;'>
            <b>Jail Card</b><br/>
            <%= button_to_function('PDF', :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'jail_card', :booking_id => @booking.id))} %>
         </td>
         <td style='text-align: center;width:25%;'>
            <b>Medical Report</b><br/>
            <% unless @booking.medicals.empty? %>
               <%= button_to_function('PDF', :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'medical_form', :booking_id => @booking.id))} %>
            <% else %>
               Not Available
            <% end %>
         </td>
         <td style='text-align: center;width:25%;'>
            <b>Arraignment Notice</b><br/>
            <% if @booking.allow_arraignment_notice? %>
               <%= button_to_function('PDF', :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'arraignment_notice', :booking_id => @booking.id))} %>
            <% else %>
               Not Available
            <% end %>
         </td>
         <td style='text-align: center;width:25%;'>
            <b>Time Log</b><br/>
            <% if @booking.booking_logs.empty? %>
               Not Available
            <% else %>
               <%= button_to_function('PDF', :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'time_log', :id => @booking.id))} %>
            <% end %>
         </td>
      </tr>
   </table>
</div>

<h3>Remarks</h3>
<%= textilize @booking.remarks %>

<%= link_bar %>
<%= created_by @booking %>

<% unless @booking.visitors.empty? %>
   <br/>
   <h3>Visitation Log</h3>
   <table style='width: 100%;'>
      <%= render :partial => 'header_visitor' %>
      <%= render :partial => 'visitor', :collection => @booking.visitors.reverse %>
   </table>
<% end %>

<% unless @booking.absents.empty? %>
   <br/>
   <h3>Absents Log</h3>
   <table style='width:100%;'>
      <%= render :partial => 'absents/header' %>
      <%= render :partial => 'absents/absent', :collection => @booking.absents.reverse %>
   </table>
<% end %>

<% unless @booking.last_booking_logs.empty? %>
   <br/>
   <h3>Booking Time Log (last 5 entries)</h3>
   <table style='width:100%;'>
      <tr>
         <th>Signed In</th>
         <th>Sign In Officer</th>
         <th>Signed Out</th>
         <th>Sign Out Officer</th>
         <th>Hours Logged</th>
      </tr>
      <% for l in @booking.last_booking_logs %>
         <tr>
            <td><%=h format_date(l.start_datetime) %></td>
            <td><%=h show_contact l, :start_officer %></td>
            <td><%=h format_date(l.stop_datetime) %></td>
            <td><%=h l.stop_datetime? ? show_contact(l, :stop_officer) : '' %></td>
            <td><%=h l.hours_served %></td>
         </tr>
      <% end %>
   </table>
<% end %>

<% if has_permission(Perm[:view_commissary]) && !@booking.person.nil? %>
   <br/>
   <% @end_balance = @booking.person.commissary_balance %>
   <h3>Commissary Log (past 30 days)</h3>
   <table style='width: 100%;'>
      <%= render :partial => 'commissary/header' %>
      <%= render :partial => 'commissary/commissary', :collection => @booking.person.past_days(30).reverse %>
   </table>
<% end %>
