<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Temporary Release</h1>

<%= tip std_help %>
<%= tip 'This allows releasing an inmate from jail temporarily.  This is typically done when they are allowed Work Release while serving a sentence, but may also be used in the event of an escape so that the inmate may be shown as &quot;Not Here&quot; without closing the booking record.' %>
<%= tip 'Inmates on temporary release will not be included in physical or billing headcounts, but will be shown in the active booking list. They will also not be accruing time served.' %>
<%= tip 'When an inmate on temporary release returns to jail, you need only clear the Temporary Release hold to return them to active status.' %>

<form action="<%= url_for(:action => 'temp_release_out') %>" method='post'>
   <div class='basic'>
      <%= form_auth %>
      <input type='hidden' name='id' value="<%= @booking.id %>"/>
      <fieldset>
         <legend>Release Information</legend>
         <table class='input'>
            <tr>
               <th>Inmate:</th>
               <td><%=h show_person @booking.person %></td>
            </tr>
            <tr>
               <th><%= required %>Release Reason:</th>
               <td><select name='reason' id='reason'><%= options_for_select(get_opts("Temporary Release Reason", :allow_nil => true)) %></select></td>
            </tr>
         </table>
      </fieldset>
      <%= form_buttons %>
   </div>
</form>
<%= set_focus_to_id 'reason' %>