<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :visitor, :url => {:action => 'visitor_in', :id => @visitor.id, :booking_id => @booking.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Visitor Information</legend>
         <table class='input'>
            <tr>
               <th>Inmate Name:</th>
               <td><%=h show_person @booking.person %></td>
            </tr>
            <tr>
               <th><%= required %>Visitor Name:</th>
               <td><%= f.text_field :name, :size => 30 %></td>
            </tr>
            <tr>
               <th><%= required %>Relationship:</th>
               <td><%= f.select :relationship_id, get_opts("Associate Type") %></td>
            </tr>
            <tr>
               <th><%= required %>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= f.text_field :street, :size => 30 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :city, :size => 15 %><%= hint 'City' %></td>
                        <td><%= f.select :state_id, get_opts("State") %><%= hint 'State' %></td>
                        <td><%= f.text_field :zip, :size => 10 %><%= hint 'ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Phone:</th>
               <td><%= f.text_field :phone, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
            <tr>
               <th>Signed In:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :visit_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :sign_in_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'visitor_name' %>