<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<table style='width: 100%;'>
   <tr>
      <th>Name</th>
      <th>Signed In</th>
      <th>Inmate</th>
      <th>Facility</th>
   </tr>
   <% for visitor in @visitors %>
      <tr>
         <td><%=h visitor.name %></td>
         <td><%=h format_date(visitor.visit_date, visitor.sign_in_time) %></td>
         <td><%=h visitor.booking.nil? ? 'Invalid Booking' : show_person(visitor.booking.person) %></td>
         <td><%=h visitor.booking.nil? ? 'Invalid Booking' : (visitor.booking.facility.nil? ? "Invalid Facility!" : visitor.booking.facility.short_name) %></td>
         <td>
            <% if has_permission(Perm[:update_booking]) %>
               <%= link_to "Sign Out", {:action => "visitor_out", :id => visitor.id, :booking_id => visitor.booking.id}, :method => :post %>
            <% end %>
         </td>
      </tr>
   <% end %>
</table>

<%= link_bar %>