<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :group, :url => {:action => 'edit', :id => @group.id}, :method => :post do |f| -%>
   <%= f.error_messages %>
   
   <div class="basic">
      <fieldset>
         <legend>Group</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Group Name:</th>
               <td><%= f.text_field :name %></td>
            </tr>
            <tr>
               <th><%= required %>Description:</th>
               <td><%= f.text_field :description, :size => 80 %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Permissions</legend>
         <p>
            Permissions control access to all parts of FiveO.<br/> Be sure to only 
            assign the permissions absolutely required for this Group.
         </p>
         <h4>Administrator Permissions</h4>
         <%= input_note "If <b>Administrator</b> permission is assigned to this role, none of the other permissions will have any effect. Administrators automatically get <b>all permissions</b>." %>
         <table class='input' style='width:auto;'>
            <tr>
               <th>Admin:</th>
               <td><%= check_box_tag 'group[permissions][]', "#{Perm[:admin]}", @group.permissions.include?(Perm[:admin]), :id => nil %></td>
               <td><span class='error'>Warning: this grants <b>all</b> permissions! Use with caution!</span></td>
            </tr>
         </table>
         <h4>Special Permissions</h4>
         <%= input_note "These are normally not needed.  However, if you decide to assign one of these to a Role, be sure you know what effect it will have." %>
         <table class='input' style='width:auto;'>
            <tr>
               <th>Author All:</th>
               <td><%= check_box_tag 'group[permissions][]', "#{Perm[:author_all]}", @group.permissions.include?(Perm[:author_all]), :id => nil %></td>
               <td>This allows the user to edit author-protected records even if they are not the author.</td>
            </tr>
            <tr>
               <th>View Database:</th>
               <td><%= check_box_tag 'group[permissions][]', "#{Perm[:view_database]}", @group.permissions.include?(Perm[:view_database]), :id => nil %></td>
               <td>This allows viewing the Database administration page.  <span class='error'>This should be restricted to Database Administrators.</span></td>
            </tr>
            <tr>
               <th>Update Database:</th>
               <td><%= check_box_tag 'group[permissions][]', "#{Perm[:update_database]}", @group.permissions.include?(Perm[:update_database]), :id => nil %></td>
               <td>This allows running the Database administration functions.  <span class='error'>This should be restricted to the Database Administrators.</span></td>
            </tr>
         </table>
         <h4>Standard Permissions</h4>
         <%= input_note "Permissions shown in <span class='error'>Red</span> are dangerous and you should be very careful when granting them." %>
         <table class='input' style='width:auto;'>
            <tr>
               <th>Announcement:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_announcement]}", @group.permissions.include?(Perm[:view_announcement]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_announcement]}", @group.permissions.include?(Perm[:update_announcement]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_announcement]}", @group.permissions.include?(Perm[:destroy_announcement]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Arrest:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_arrest]}", @group.permissions.include?(Perm[:view_arrest]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_arrest]}", @group.permissions.include?(Perm[:update_arrest]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_arrest]}", @group.permissions.include?(Perm[:destroy_arrest]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Billing:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_billing]}", @group.permissions.include?(Perm[:view_billing]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_billing]}", @group.permissions.include?(Perm[:update_billing]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "0", false, :disabled => true, :id => nil %><span style='color:gray;'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Bond:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_bond]}", @group.permissions.include?(Perm[:view_bond]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_bond]}", @group.permissions.include?(Perm[:update_bond]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_bond]}", @group.permissions.include?(Perm[:destroy_bond]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
         </table>
         <%= input_note "The <b>Reopen</b> permission is used to restrict who is allowed to reopen a closed booking record." %>
         <table class='input'>
            <tr>
               <th>Booking:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_booking]}", @group.permissions.include?(Perm[:view_booking]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_booking]}", @group.permissions.include?(Perm[:update_booking]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_booking]}", @group.permissions.include?(Perm[:destroy_booking]), :id => nil %><span class='error'>Delete</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:reopen_booking]}", @group.permissions.include?(Perm[:reopen_booking]), :id => nil %><span class='error'>Reopen</span>
               </td>
            </tr>
            <tr>
               <th>Bug Report:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_bug]}", @group.permissions.include?(Perm[:view_bug]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_bug]}", @group.permissions.include?(Perm[:update_bug]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_bug]}", @group.permissions.include?(Perm[:destroy_bug]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Call:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_call]}", @group.permissions.include?(Perm[:view_call]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_call]}", @group.permissions.include?(Perm[:update_call]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_call]}", @group.permissions.include?(Perm[:destroy_call]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Case:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_case]}", @group.permissions.include?(Perm[:view_case]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_case]}", @group.permissions.include?(Perm[:update_case]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_case]}", @group.permissions.include?(Perm[:destroy_case]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Citation:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_citation]}", @group.permissions.include?(Perm[:view_citation]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_citation]}", @group.permissions.include?(Perm[:update_citation]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_citation]}", @group.permissions.include?(Perm[:destroy_citation]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Civil Papers:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_civil]}", @group.permissions.include?(Perm[:view_civil]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_civil]}", @group.permissions.include?(Perm[:update_civil]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_civil]}", @group.permissions.include?(Perm[:destroy_civil]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Commissary:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_commissary]}", @group.permissions.include?(Perm[:view_commissary]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_commissary]}", @group.permissions.include?(Perm[:update_commissary]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_commissary]}", @group.permissions.include?(Perm[:destroy_commissary]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Contact:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_contact]}", @group.permissions.include?(Perm[:view_contact]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_contact]}", @group.permissions.include?(Perm[:update_contact]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_contact]}", @group.permissions.include?(Perm[:destroy_contact]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Court:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_court]}", @group.permissions.include?(Perm[:view_court]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_court]}", @group.permissions.include?(Perm[:update_court]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_court]}", @group.permissions.include?(Perm[:destroy_court]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Event:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_event]}", @group.permissions.include?(Perm[:view_event]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_event]}", @group.permissions.include?(Perm[:update_event]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_event]}", @group.permissions.include?(Perm[:destroy_event]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Evidence:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_evidence]}", @group.permissions.include?(Perm[:view_evidence]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_evidence]}", @group.permissions.include?(Perm[:update_evidence]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_evidence]}", @group.permissions.include?(Perm[:destroy_evidence]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Forbid:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_forbid]}", @group.permissions.include?(Perm[:view_forbid]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_forbid]}", @group.permissions.include?(Perm[:update_forbid]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_forbid]}", @group.permissions.include?(Perm[:destroy_forbid]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Group:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_group]}", @group.permissions.include?(Perm[:view_group]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_group]}", @group.permissions.include?(Perm[:update_group]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_group]}", @group.permissions.include?(Perm[:destroy_group]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>History:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_history]}", @group.permissions.include?(Perm[:view_history]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "0", false, :disabled => true, :id => nil %><span style='color:gray;'>Update</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_history]}", @group.permissions.include?(Perm[:destroy_history]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Investigation:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_investigation]}", @group.permissions.include?(Perm[:view_investigation]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_investigation]}", @group.permissions.include?(Perm[:update_investigation]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_investigation]}", @group.permissions.include?(Perm[:destroy_investigation]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
         </table>
         <%= input_note "The <b>Reopen</b> permission is used to restrict who is allowed to reopen a closed booking record." %>
         <table class='input'>
            <tr>
               <th>Jail 1:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_jail1]}", @group.permissions.include?(Perm[:view_jail1]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_jail1]}", @group.permissions.include?(Perm[:update_jail1]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_jail1]}", @group.permissions.include?(Perm[:destroy_jail1]), :id => nil %><span class='error'>Delete</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:reopen_jail1]}", @group.permissions.include?(Perm[:reopen_jail1]), :id => nil %><span class='error'>Reopen</span>
               </td>
            </tr>
            <tr>
               <th>Jail 2:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_jail2]}", @group.permissions.include?(Perm[:view_jail2]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_jail2]}", @group.permissions.include?(Perm[:update_jail2]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_jail2]}", @group.permissions.include?(Perm[:destroy_jail2]), :id => nil %><span class='error'>Delete</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:reopen_jail2]}", @group.permissions.include?(Perm[:reopen_jail2]), :id => nil %><span class='error'>Reopen</span>
               </td>
            </tr>
            <tr>
               <th>Jail 3:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_jail3]}", @group.permissions.include?(Perm[:view_jail3]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_jail3]}", @group.permissions.include?(Perm[:update_jail3]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_jail3]}", @group.permissions.include?(Perm[:destroy_jail3]), :id => nil %><span class='error'>Delete</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:reopen_jail3]}", @group.permissions.include?(Perm[:reopen_jail3]), :id => nil %><span class='error'>Reopen</span>
               </td>
            </tr>
            <tr>
               <th>Offense:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_offense]}", @group.permissions.include?(Perm[:view_offense]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_offense]}", @group.permissions.include?(Perm[:update_offense]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_offense]}", @group.permissions.include?(Perm[:destroy_offense]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
         </table>
         <%= input_note "Options, once entered, do not normally allow changes to name or description. The <b>Edit</b> permission allows this, but is not recommended because it can break program operation." %>
         <table class='input'>
            <tr>
               <th>Option:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_option]}", @group.permissions.include?(Perm[:view_option]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_option]}", @group.permissions.include?(Perm[:update_option]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_option]}", @group.permissions.include?(Perm[:destroy_option]), :id => nil %><span class='error'>Delete</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:edit_option]}", @group.permissions.include?(Perm[:edit_option]), :id => nil %><span class='error'>Edit</span>
               </td>
            </tr>
            <tr>
               <th>Pawn:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_pawn]}", @group.permissions.include?(Perm[:view_pawn]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_pawn]}", @group.permissions.include?(Perm[:update_pawn]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_pawn]}", @group.permissions.include?(Perm[:destroy_pawn]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
         </table>
         <%= input_note "<b>Merge</b> permission is restricted because it is dangerous and can cause more problems than it solves if used carelessly.","<b>Set ID</b> allows the user to attempt to force the ID number for new Person records.  This is <b>not recommended</b> and used carelessly can cause problems." %>
         <table class='input'>
            <tr>
               <th>Person:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_person]}", @group.permissions.include?(Perm[:view_person]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_person]}", @group.permissions.include?(Perm[:update_person]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_person]}", @group.permissions.include?(Perm[:destroy_person]), :id => nil %><span class='error'>Delete</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:merge_person]}", @group.permissions.include?(Perm[:merge_person]), :id => nil %><span class='error'>Merge</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:set_person_id]}", @group.permissions.include?(Perm[:set_person_id]), :id => nil %><span class='error'>Set ID</span>
               </td>
            </tr>
            <tr>
               <th>Probation:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_probation]}", @group.permissions.include?(Perm[:view_probation]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_probation]}", @group.permissions.include?(Perm[:update_probation]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_probation]}", @group.permissions.include?(Perm[:destroy_probation]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Statute:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_statute]}", @group.permissions.include?(Perm[:view_statute]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_statute]}", @group.permissions.include?(Perm[:update_statute]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_statute]}", @group.permissions.include?(Perm[:destroy_statute]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Stolen:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_stolen]}", @group.permissions.include?(Perm[:view_stolen]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_stolen]}", @group.permissions.include?(Perm[:update_stolen]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_stolen]}", @group.permissions.include?(Perm[:destroy_stolen]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
            <tr>
               <th>Transport:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_transport]}", @group.permissions.include?(Perm[:view_transport]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_transport]}", @group.permissions.include?(Perm[:update_transport]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_transport]}", @group.permissions.include?(Perm[:destroy_transport]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
         </table>
         <%= input_note "<b>Reset</b> permission allows the user to reset the password for any other user.  This is very dangerous and can easily be used to gain administrator access to the system.  Be very careful granting this permission!" %>
         <table class='input'>
            <tr>
               <th>User:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_user]}", @group.permissions.include?(Perm[:view_user]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_user]}", @group.permissions.include?(Perm[:update_user]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_user]}", @group.permissions.include?(Perm[:destroy_user]), :id => nil %><span class='error'>Delete</span>
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:reset_user]}", @group.permissions.include?(Perm[:reset_user]), :id => nil %><span class='error'>Reset</span>
               </td>
            </tr>
            <tr>
               <th>Warrant:</th>
               <td>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:view_warrant]}", @group.permissions.include?(Perm[:view_warrant]), :id => nil %>View
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:update_warrant]}", @group.permissions.include?(Perm[:update_warrant]), :id => nil %>Update
                  <%= space(2) %>
                  <%= check_box_tag 'group[permissions][]', "#{Perm[:destroy_warrant]}", @group.permissions.include?(Perm[:destroy_warrant]), :id => nil %><span class='error'>Delete</span>
               </td>
            </tr>
         </table>
      </fieldset>
   </div>

   <%= form_buttons %>

<% end %>
<%= set_focus_to_id 'group_name' %>