<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Group ID: <%= @group.id %></h1>

<div class='basic-view'>
   <% if @group.name == "Admin" %>
      <%= tip "The Admin group cannot be edited or deleted.", :force => true %>
   <% end %>
   <table style='width:100%'>
      <tr>
         <th>Group Name:</th>
         <td><%=h @group.name %></td>
      </tr>
      <tr>
         <th>Description:</th>
         <td><%=h @group.description %></td>
      </tr>
      <tr>
         <th>Group Members:</th>
         <td>
            <% for u in @group.users %>
               <%= button_to(u.login, u, :style => 'width:100px;float:left;margin-right:5px;', :method => :get) %>               
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Permissions:</th>
         <td><%= perms_table(@group.permissions) %></td>
      </tr>
   </table>
</div>
<%= link_bar %>
<%= created_by @group %>