<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for call %>';return false;">
   <td style='white-space:nowrap;'><%=h call.id %><%= call.legacy? ? ' [Legacy]' : '' %></td>
   <td style='white-space:nowrap'><%=h format_date(call.call_date, call.call_time) %></td>
   <td><%=h call.received_via.nil? ? "" : call.received_via.long_name %></td>
   <td><%= call.call_subjects.empty? ? 'No Subjects' : call.subject_summary %></td>
   <td><%=h call.case_no %></td>
   <td>
      <% unless call.signal_code.nil? %>
         <%=h call.signal_code.short_name %>
      <% end %>
   </td>
</tr>
