<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for review %>';return false;">
   <td>
      <b><%=h review.id %><%= review.legacy? ? ' [Legacy]' : '' %></b>
      <%= space(4) %>
      <b>Received Via:</b> <%=h review.received_via.nil? ? '' : review.received_via.long_name %>
      <%= space(4) %>
      <b>Signal:</b> <%=h review.signal_code.nil? ? '' : review.signal_code.short_name %>
      <%= space(4) %>
      <b>Case Number:</b> <%=h review.case_no %>
      <br/>
      
      <%= space(6) %>
      <%= review.subject_summary %>
      
      <br/>
      
      <%= space(6) %>
      <b>Details:</b> <%= summary(review.details.blank? ? '' : review.details.downcase) %>
      
      <% unless review.units.empty? %>
         <br/>
         <%= space(6) %>
         <b>Units Dispatched:</b> <%=h review.units %>
      <% end %>
      
      <br/>

      <%= space(6) %>
      <b>Dispatcher:</b> <%=h show_contact(review, :dispatcher) %>
      <% unless review.received_by == review.dispatcher %>
         <%= space(4) %>
         <b>Received By:</b> <%=h show_contact(review, :received_by) %>
      <% end %>
   </td>
</tr>
