<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = subject.new_record? ? 'new' : 'existing' %>
<% prefix = "call[#{new_or_existing}_subject_attributes][]" %>
<% fields_for prefix, subject do |uf| %>
   <tr class='subject'>
      <td>
         <table class='hinted'>
            <tr>
               <th>Type:</th>
               <td colspan='2'><%= uf.select :subject_type_id, get_opts("Subject Type", :allow_nil => true) %><%= space(5) %><%= button_to_function "Remove", "$(this).up('.subject').remove()" %></td>
            </tr>
            <tr>
               <td/>
               <th>Full Name:</th>
               <td><%= uf.text_field :name, :size => 30 %></td>
            </tr>
            <tr>
               <td/>
               <th>Address:</th>
               <td><%= uf.text_field :address1, :size => 40 %><%= hint("Street") %></td>
            </tr>
            <tr>
               <td/>
               <th/>
               <td><%= uf.text_field :address2, :size => 40 %><%= hint("City, ST ZIP") %></td>
            </tr>
            <tr>
               <td/>
               <th>Home Phone:</th>
               <td><%= uf.text_field :home_phone, :size => 12 %><%= hint("999-999-9999") %></td>
            </tr>
            <tr>
               <td/>
               <th>Cell Phone:</th>
               <td><%= uf.text_field :cell_phone, :size => 12 %><%= hint("999-999-9999") %></td>
            </tr>
            <tr>
               <td/>
               <th>Work Phone:</th>
               <td><%= uf.text_field :work_phone, :size => 12 %><%= hint("999-999-9999") %></td>
            </tr>
         </table>
         <%= uf.hidden_field :created_by %>
         <%= uf.hidden_field :updated_by %>
      </td>
      <td>
         <% subject.errors.each do |attr, msg| %>
            <div class='error'><b><%= attr %></b> <%= msg %></div>
         <% end %>
      </td>
   </tr>
<% end %>
