<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = unit.new_record? ? 'new' : 'existing' %>
<% prefix = "call[#{new_or_existing}_unit_attributes][]" %>
<% path = url_for :controller => 'contacts', :action => 'lookup' %>
<% fields_for prefix, unit do |uf| %>
   <tr class='unit'>
      <td><b>Unit:</b> <%= uf.select :officer_id, get_opts("Officers", :allow_nil => true) %></td>
      <td><%= icon("forward",16) %></td>
      <td><%= uf.text_field :officer_badge, :size => 6 %><%= hint("Badge") %></td>
      <td><%= uf.text_field :officer_unit, :size => 6 %><%= hint("Unit") %></td>
      <td><%= uf.text_field :officer, :size => 25 %><%= hint("Name") %></td>
      <td>
         <%= uf.hidden_field :created_by %>
         <%= uf.hidden_field :updated_by %>
         <%= button_to_function "Remove", "$(this).up('.unit').remove()" %>
      </td>
      <td>
         <% unit.errors.each do |attr, msg| %>
            <div class='error'><b><%= attr %></b> <%= msg %></div>
         <% end %>
      </td>
   </tr>
<% end %>
