<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip name_help %>
<%= tip textile_help %>

<% form_for :call, :url => {:action => :edit, :id => @call.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <%= f.hidden_field :case_no %>
      
      <fieldset>
         <legend>Call Information</legend>
         <%= input_note "If this is a follow-up report to a previous call sheet, enter the case number from the previous call sheet in the <b>Follow-up To Case:</b> field. Otherwise, leave it blank." %>
         <table class='input'>
            <tr>
               <th style="white-space: nowrap;">Follow-up To Case:</th>
               <td><%= f.text_field :followup_no, :size => 10 %></td>
            </tr>
            <tr>
               <th><%= required %>Received:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :call_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :call_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>VIA:</th>
               <td><%= f.select :received_via_id, get_opts("Call Via") %></td>
            </tr>
            <%= contact_row :call, :received_by, :title => 'Answered By:', :required => true %>
            <tr>
               <th>Location:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :ward, :size => 3 %><%= hint 'Ward' %></td>
                        <td><%= f.text_field :district, :size => 3 %><%= hint 'District' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %><%= link_to "Signal:", signals_path, :popup => popup_options("Signal List", 400, 400) %></th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :signal, :size => 6 %><%= hint 'Code' %></td>
                        <td>
                           <div id='signal_name'>
                              <% if @call.signal_code.nil? %>
                                 UNKNOWN
                              <% else %>
                                 <%= @call.signal_code.long_name %>
                              <% end %>
                           </div>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>People Involved</legend>
         <table id='subjects' class='input' style='width:auto;'>
            <%= render :partial => 'subject', :collection => @call.call_subjects %>
         </table>
         <p><%= add_subject_link "Add Involved Party" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Call Details</legend>
         <%= required %><%= f.text_area :details, :style => 'height:20em;' %>
      </fieldset>
      
      <fieldset>
         <legend>Response</legend>
         <table id='units' class='input' style='width:auto;'>
            <%= render :partial => 'unit', :collection => @call.call_units %>
         </table>
         <p><%= add_unit_link "Add Dispatched Unit" %></p>
         <table class='input'>
            <tr>
               <th>Dispatched:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :dispatch_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :dispatch_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Arrived:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :arrival_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :arrival_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Concluded:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :concluded_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :concluded_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Disposition:</th>
               <td><%= f.select :disposition_id, get_opts("Call Disposition") %></td>
            </tr>
            <%= contact_row :call, :detective, :getopts => 'Detectives' %>
            <%= contact_row :call, :dispatcher, :required => true %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
      <%= form_buttons %>
   </div>

<% end %>
<%= observe_field 'call_signal', :url => { :controller => 'calls', :action => 'validate_signal' }, :update => 'signal_name', :with => 'p' %>
<%= set_focus_to_id 'call_call_date' %>