<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table width="100%">
   <%= render :partial => 'header' %>
   <%= render :partial => 'call', :collection => @calls %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<%= filter_simple %>
<form action='<%= url_for :action => 'index' %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help_simple(true) %>
      <table style='margin-left:20px;'>
         <tr>
            <th>Subject Name or Case Number:</th>
            <td><%= filter_text_field 'simple', @query[:simple], 30 %></td>
         </tr>
      </table>
   </div>
</form>

<%= filter_advanced_start %>
<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help 'calls', true %>
      <table>
         <tr>
            <th>Call Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'call_from', @query[:call_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'call_to', @query[:call_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Signal:</th>
            <td><%= filter_select 'signal_code_id', @query[:signal_code_id], 'Signal Code' %></td>
         </tr>
         <tr>
            <th>Case Number:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 10 %></td>
         </tr>
         <tr>
            <th>VIA:</th>
            <td><%= filter_select 'received_via_id', @query[:received_via_id], 'Call Via'%></td>
         </tr>
         <tr>
            <th>Answered By:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'received_by_badge', @query[:received_by_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'received_by_unit', @query[:received_by_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'received_by', @query[:received_by], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Ward:</th>
            <td><%= filter_text_field 'ward', @query[:ward], 3 %><%= space(2) %><b>District:</b><%= filter_text_field 'district', @query[:district], 3 %></td>
         </tr>
         <tr>
            <th>Involved Party Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 25 %></td>
         </tr>
         <tr>
            <th>Details:</th>
            <td><%= filter_text_field 'details', @query[:details], 60 %></td>
         </tr>
         <tr>
            <th>Units:</th>
            <td><%= filter_text_field 'units', @query[:units], 60 %></td>
         </tr>
         <tr>
            <th>Disposition:</th>
            <td><%= filter_select 'disposition_id', @query[:disposition_id], 'Call Disposition' %></td>
         </tr>
         <tr>
            <th>Detective:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'detective_badge', @query[:detective_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'detective_unit', @query[:detective_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'detective', @query[:detective], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Dispatcher:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'dispatcher_badge', @query[:dispatcher_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'dispatcher_unit', @query[:dispatcher_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'dispatcher', @query[:dispatcher], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 60 %></td>
         </tr>
      </table>
   </div>
</form>
<%= filter_advanced_end %>

<h3>Reports</h3>

<blockquote>
   <table>
      <tr>
         <th>Shift Report</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'shift_report') %>" method='get'>
               <div>
                  Date: <input name='date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' id='date' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
                  <%= space(2) %>
                  Shift:
                  <select name='shift'>
                     <% if @shifts.empty? %>
                        <option value=''>None Defined</option>
                     <% else %>
                        <% for shift in @shifts %>
                           <option value='<%= shift %>'>
                              <%= shift %> -- <%= SiteConfig.send("dispatch_shift#{shift}_start") %>-<%= SiteConfig.send("dispatch_shift#{shift}_stop") %>
                           </option>
                        <% end %>
                     <% end %>
                  </select>
                  <%= space(2) %>
                  <input type='submit' value='PDF' style='width:100px;'/>
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>Select a Date and a Shift and click the PDF button to generate the shift report. Note that second shift should select the date that their shift started.</td>
      </tr>
   </table>
</blockquote>
