<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Date/Time:</th>
         <td><%=h format_date(@call.call_date, @call.call_time) %></td>
      </tr>
      <tr>
         <th>VIA:</th>
         <td><%=h @call.received_via.nil? ? "" : @call.received_via.long_name %></td>
      </tr>
      <tr>
         <th>Answered By:</th>
         <td><%=h show_contact(@call, :received_by) %></td>
      </tr>
      <tr>
         <th>Case:</th>
         <td><%= case_number_or_link(@call.case_no) %></td>
      </tr>
      <tr>
         <th>Ward:</th>
         <td><%=h @call.ward %></td>
      </tr>
      <tr>
         <th>District:</th>
         <td><%=h @call.district %></td>
      </tr>
      <tr>
         <th>Signal:</th>
         <td>
            <% if @call.signal_code.nil? %>
               INVALID
            <% else %>
               <%=h @call.signal_code.short_name %> <%=h @call.signal_code.long_name %>
            <% end %>
         </td>
      </tr>
   </table>

<% unless @call.call_subjects.empty? %>
   <h3>Parties Involved</h3>
   <% for s in @call.call_subjects %>
      <h4><%=h s.subject_type.nil? ? 'Unknown' : s.subject_type.long_name %></h4>
      <table>
         <tr>
            <th>Name:</th>
            <td><%=h s.name %></td>
         </tr>
         <tr>
            <th>Address:</th>
            <td>
               <%=h s.address1 %><br/>
               <%=h s.address2 %>
            </td>
         </tr>
         <tr>
            <th>Home Phone:</th>
            <td><%=h s.home_phone %></td>
         </tr>
         <tr>
            <th>Cell Phone:</th>
            <td><%=h s.cell_phone %></td>
         </tr>
         <tr>
            <th>Work Phone:</th>
            <td><%=h s.work_phone %></td>
         </tr>
      </table>
   <% end %>
<% end %>
</div>

<h3>Details</h3>

<%= simple_format @call.details %>

<h3>Response</h3>

<div class='basic-view'>
   <table>
      <tr>
         <th>Dispatched Units:</th>
         <td>
            <% for unit in @call.call_units %>
               <div><%=h show_contact(unit, :officer) %></div>
            <% end %>
         </td>
      </tr>

      <tr>
         <th>Dispatched:</th>
         <td><%=h format_date(@call.dispatch_date, @call.dispatch_time) %></td>
      </tr>
      <tr>
         <th>Arrived:</th>
         <td><%=h format_date(@call.arrival_date, @call.arrival_time) %></td>
      </tr>
      <tr>
         <th>Concluded:</th>
         <td><%=h format_date(@call.concluded_date, @call.concluded_time) %></td>
      </tr>
      <tr>
         <th>Disposition:</th>
         <td><%=h @call.disposition.nil? ? "" : @call.disposition.long_name %></td>
      </tr>
      <tr>
         <th>Detective:</th>
         <td>
            <% if @call.detective? %>
               <%= show_contact @call, :detective %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Dispatcher:</th>
         <td><%= show_contact @call, :dispatcher %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @call.remarks %>
</div>
   
<br/>

<%= link_bar %>
<%= created_by @call %>

<h3>Offense Reports</h3>
<% unless @call.offenses.empty? %>
   <table style='width: 100%;'>
      <%= render :partial => 'offenses/header' %>
      <%= render :partial => 'offenses/offense', :collection => @call.offenses %>
   </table>
<% end %>

<h3>Forbidden To Enter Notices</h3>
<% unless @call.forbids.empty? %>
   <table style='width: 100%;'>
      <%= render :partial => 'forbids/header' %>
      <%= render :partial => 'forbids/forbid', :collection => @call.forbids %>
   </table>
<% end %>

