<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>
<%= link_to_function "Close", "window.close()" %>
<table>
   <tr>
      <th>Code</th>
      <th>Description</th>
   </tr>
   <% for signal in @signals %>
   <tr>
      <td><%= select_signal_link signal.short_name, signal.long_name %></td>
      <td><%= signal.long_name %></td>
   </tr>
   <% end %>
</table>
<%= link_to_function "Close", "window.close()" %>
   