<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :user, :url=>{:action => 'change_password'}, :method => :post do |form| %>
   
   <%= error_messages_for 'user' %>
   
<div class='basic'>
   <%= form_auth %>
   <fieldset>
      <legend>Old Password</legend>
      <table class='input'>
         <tr>
            <th><%= required %>Old Password:</th>
            <td><%= form.password_field "old_password", :size => 20, :value => "" %></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>New Password</legend>
      <%= input_note "To set a new password, you must enter it twice, exactly the same way each time." %>
      <table class='input'>
         <tr>
            <th><%= required %>New Password:</th>
            <td><%= form.password_field "password", :size => 20, :value=>"" %></td>
         </tr>
         <tr>
            <th><%= required %>New Password:</th>
            <td><%= form.password_field "password_confirmation", :size => 20, :value=>"" %></td>
         </tr>
      </table>
   </fieldset>
   
   <%= form_buttons %>
</div>
<% end %>
<%= set_focus_to_id 'user_old_password' %>