<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip %(If this user is currently logged in, they will have to log out and log back in for any changes to take effect.) %>
<%= tip %(If the <em>Disabled Text:</em> field contains an entry, the account will be disabled. If anyone attempts to log in to that account, they will receive an error that says "Account disabled because: [disabled text]".) %>

<%= error_messages_for :object => [@user, @contact] %>

<% form_for :user, :url => { :action => 'edit', :id => @user.id }, :method => :post do |f| %>

   <div class='basic'>
      <% if @user.new_record? %>
         <%= f.hidden_field :password, :value => "pa$$word" %>
         <%= f.hidden_field :password_confirmation, :value => "pa$$word" %>
      <% else %>
         <%= f.hidden_field :keep_pass, :value => true %>
      <% end %>
      <%= f.hidden_field :items_per_page %>
      <%= f.hidden_field :send_email %>
      <%= f.hidden_field :no_self_bug_messages %>
      <%= f.hidden_field :show_tips %>
      <%= f.hidden_field :contact_id %>
      <fieldset>
         <legend>User Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Login:</th>
               <td><%= f.text_field :login %><%= hint 'No Spaces!' %></td>
            </tr>
            <tr>
               <th>Account Locked?</th>
               <td><%= f.check_box :locked %>Yes</td>
            </tr>
         </table>
         <%= input_note 'If anything is entered into the <b>Disabled Text</b> field, this user will be unable to log in.  When they try, they will be shown the information from <b>Disabled Text</b> as the reason.' %>
         <table class='input'>
            <tr>
               <th>Disabled Text:</th>
               <td><%= f.text_field :disabled_text, :size => 60 %></td>
            </tr>
         </table>
      </fieldset>
      
      <% fields_for :contact do |c| %>
      <fieldset>
         <legend>Identity</legend>
         <%= input_note 'Names for individuals should be entered in <b>Last, First Middle Suffix</b> order.' %>
         <table class='input'>
            <tr>
               <th><%= required %>Name:</th>
               <td colspan="3">
                  <%= c.text_field :fullname, :size => 50 %>
                  <%= c.hidden_field :business %>
               </td>
            </tr>
            <tr>
               <th>Title:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= c.text_field :title, :size => 15 %></td>
                        <th>Unit:</th>
                        <td><%= c.text_field :unit, :size => 10 %></td>
                        <th>Badge:</th>
                        <td><%= c.text_field :badge_no, :size => 10 %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Agency:</th>
               <td><%= c.select :agency_id, get_opts('Companies', :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Flags:</th>
               <td><%= c.check_box :active %>Active <%= c.check_box :officer %>Law Enforcement <%= c.check_box :detective %>Detective<br/><%= c.check_box :physician %>Physician <%= c.check_box :pharmacy %>Pharmacy</td>
            </tr>
            <tr>
               <th>Extra:</th>
               <td><%= c.text_field :notes, :size => 30 %></td>
            </tr>
            <tr>
               <th>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= c.text_field :street, :size => 30 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td colspan='3'><%= c.text_field :street2, :size => 30 %><%= hint 'Street Line 2' %></td>
                     </tr>
                     <tr>
                        <td><%= c.text_field :city, :size => 15 %><%= hint 'City' %></td>
                        <td><%= c.select :state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                        <td><%= c.text_field :zip, :size => 10 %><%= hint 'ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Contact Information</legend>
         <%= input_note "Phones marked <b>Unlisted</b> will be shown in <span class='error'>Red</span> on contact pages." %>
         <table id='phones' class='input' style='width:auto;'>
            <%= render :partial => 'contacts/phone', :collection => @contact.phones %>
         </table>
         <p><%= add_phone_link "Add a Phone" %></p>
         
         <table class='input'>
            <tr>
               <th>EMail:</th>
               <td><%= c.text_field :pri_email %></td>
            </tr>
            <tr>
               <th>EMail (alt):</th>
               <td><%= c.text_field :alt_email %></td>
            </tr>
            <tr>
               <th>Web Site:</th>
               <td><%= c.text_field :web_site %></td>
            </tr>
         </table>
      </fieldset>
   <% end %>
   
   <fieldset>
      <legend>Group Membership</legend>
      <%= input_note "Group membership gives a user all of the permissions assigned to that group. Users may belong to as many groups as necessary to gain the permissions required to perform their assigned tasks." %>
      <table class='input' style='width:auto;margin-left:2em;'>
         <tr>
            <th style='border-bottom: 1px solid black;text-align: left;width:15em;'>Groups</th>
         </tr>
         <tr>
            <td><%= add_group_link "Add Group" %></td>
         </tr>
         <tr>
            <td id='groups' style='white-space:nowrap;'><%= render :partial => 'group', :collection => @user.groups %></td>
         </tr>
      </table>
   </fieldset>

   <%= form_buttons %>

<% end %>
<%= set_focus_to_id 'user_login' %>
