<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<% form_for :user, :url => {:action => "edit_settings"}, :html => {:multipart => true, :method => :post} do |f| %>
   
   <%= f.error_messages %>

   <div class="basic">
      <%= f.hidden_field :keep_pass, :value => true %>
      <%= f.hidden_field :login %>
      
      <fieldset>
         <legend>Preferences</legend>
         <%= input_note '<b>Items Per Page</b> controls how many rows will be listed on each page of a list view.  For instance, if you click the People menu item (on the left) you will be shown a list of People in the system. If this is set to 10, only 10 people will shown on each page of the list.' %>
         <table class='input'>
            <tr>
               <th>Items Per Page:</th>
               <td><%= f.select :items_per_page, [[10,10],[15,15],[20,20], [30,30],[50,50],[100,100]] %></td>
            </tr>
         </table>
         <hr/>
         <%= input_note '<b>Item Review</b> settings control whether or not you are notified about new items. If a particular item is checked, you will be notified at login if there are new records for that item.' %>
         <table class='input'>
            <tr>
               <th>Item Review:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Arrests:</th>
                        <td><%= f.check_box :review_arrest %>Yes</td>
                     </tr>
                     <tr>
                        <th>Bug Reports:</th>
                        <td><%= f.check_box :review_bug %>Yes</td>
                     </tr>
                     <tr>
                        <th>Call Sheets:</th>
                        <td><%= f.check_box :review_call %>Yes</td>
                     </tr>
                     <tr>
                        <th>Forbids:</th>
                        <td><%= f.check_box :review_forbid %>Yes</td>
                     </tr>
                     <tr>
                        <th>Pawn Tickets:</th>
                        <td><%= f.check_box :review_pawn %>Yes</td>
                     </tr>
                     <tr>
                        <th>Warrants:</th>
                        <td><%= f.check_box :review_warrant %>Yes</td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <hr/>
         <%= input_note '<b>Notifications</b> settings control whether or not you receive messages when certain events occur.  If a particular item is checked, you will receive a system message as notification whenever that event happens.' %>
         <table class='input'>
            <tr>
               <th>Notifications:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Inmate Released:</th>
                        <td><%= f.check_box :notify_release %>Yes</td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <hr/>
         <%= input_note '<b>Skip Own Changes</b> controls whether you wish to receive bug report message about changes you make to the bug report. If this is checked, you will not, for instance, receive a bug report message when you add a comment to a bug report.  You will still continue to receive messages about changes other people make regardless of this setting.' %>
         <table class='input'>
            <tr>
               <th>Skip Own Changes:</th>
               <td><%= f.check_box :no_self_bug_messages %>Yes</td>
            </tr>
         </table>
         <hr/>
         <%= input_note 'If <b>Message Email</b> is checked, <b>and you have a valid Primary Email address configured in your profile</b> then any message you receive here will also be sent to your email address.' %>
         <table class='input'>
            <tr>
               <th>Message Email:</th>
               <td><%= f.check_box :send_email %></td>
            </tr>
         </table>
         <hr/>
         <%= input_note 'If <b>Show Tips</b> is checked, useful notes and tips will be displayed on many pages. Turning this off will remove those messages, but be aware that some tips will always display regardless of this setting.' %>
         <table class='input'>
            <tr>
               <th>Show Tips?</th>
               <td><%= f.check_box :show_tips %>Yes</td>
            </tr>
         </table>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'user_items_per_page' %>