<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'user', :collection => @users %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>User Search Filter</h3>
<%= filter_help 'users', true %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Login:</th>
            <td><%= filter_text_field 'login', @query[:login], 10 %></td>
         </tr>
         <tr>
            <th>Full Name:</th>
            <td><%= filter_text_field 'full_name', @query[:full_name], 25 %></td>
         </tr>
         <tr>
            <th>Belongs to Group:</th>
            <td><%= filter_select 'group', @query[:group], 'Groups' %></td>
         </tr>
         <tr>
            <th>Disabled?</th>
            <td><%= filter_radio_buttons 'disabled', @query[:disabled], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Disabled Reason:</th>
            <td><%= filter_text_field 'disabled_text', @query[:disabled_text], 40 %></td>
         </tr>
         <tr>
            <th>Locked?</th>
            <td><%= filter_radio_buttons 'locked', @query[:locked], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Expiration Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'expires_from', @query[:expires_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'expires_to', @query[:expires_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
