<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>

<div class='left'>
    <table border='0'>
        <tr>
            <td><%= image_tag SiteConfig.ceo_img, :height => '200' %></td>
        </tr>
        <tr>
            <td id='ceo'><%= SiteConfig.ceo %></td>
        </tr>
        <tr>
            <td id='ceo_title'><%= SiteConfig.ceo_title %></td>
        </tr>
    </table>
</div>

<div class='login'>
    <% form_for :user, :url=> {:action=> "login"} do |form| %>
        <div class='basic'>
            <table>
                <tr>
                    <th>Login:</th>
                    <td><%= form.text_field "login", :size => 20 %></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><%= form.password_field "password", :size => 20 %></td>
                </tr>
                <tr>
                    <th></th>
                    <td><%= submit_tag "Submit" %></td>
                </tr>
            </table>
        </div>
    <% end %>
</div>
<%= set_focus_to_id 'user_login' %>