<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>User ID: <%= @user.id.to_s %></h1>

<div class="basic-view">
   <%= link_to image_tag(@user.user_photo.url(:small), :style => 'float:right;'), @user.user_photo.url %>
   
   <table style='width:80%'>
      <tr>
         <th>Login:</th>
         <td>
            <%=h @user.login %>
            <% if @user.locked -%>
               <%= icon("lock") %>
            <% end -%>
            <% if @user.disabled_text? -%>
               <%= space(2) %>
               <span class='error'>Disabled: <%=h @user.disabled_text %></span>
            <% end -%>
         </td>
      </tr>
   </table>
   
   <h4 style='width:80%'>Permissions</h4>
   <table>
      <tr>
         <th>Belongs to Groups:</th>
         <td>
            <% for g in @user.groups %>
               <%= button_to(g.name, g, :style => 'width:100px;float:left;margin-right:5px;', :method => :get) %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Permissions:</th>
         <td><%= perms_table(@user.pids) %></td>
      </tr>
   </table>

   <h4>Profile Information</h4>
   <% if !@contact.nil? %>
   <%= tip "Phone Numbers in <span class='error'>Red</span> are unlisted!", :tip_type => 'warning', :force => true %>
   <table>
      <tr>
         <th><%= @contact.business? ? (@contact.officer? ? 'Agency:' : 'Company:') : 'Name' %></th>
         <td style='vertical-align:top;'>
            <span style='font-size:120%;'><%=h @contact.fullname %></span>
            <% if @contact.business? %>
               <%= icon('business') %>
            <% else %>
               <%= icon('person') %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Title:</th>
         <td><%=h @contact.title %></td>
      </tr>
      <tr>
         <th>Unit:</th>
         <td><%=h @contact.unit %></td>
      </tr>
      <tr>
         <th>Badge:</th>
         <td><%=h @contact.badge_no %></td>
      </tr>
      <% unless @contact.business? %>
         <tr>
            <th><%= @contact.officer? ? 'Agency:' : 'Company:' %></th>
            <td><%=h @contact.agency.nil? ? '' : @contact.agency.fullname %></td>
         </tr>
      <% end %>
      <tr>
         <th>Status:</th>
         <td>
            <%= @contact.active? ? "<span class='notice'>[Active]</span>" : "<span class='error'>[Inactive]</span>" %>
            <%= @contact.officer? ? "[Law Enforcement]" : "" %>
            <%= @contact.detective? ? "[Detective]" : "" %>
            <%= @contact.physician? ? "[Physician]" : "" %>
            <%= @contact.pharmacy? ? "[Pharmacy]" : "" %>
         </td>
      </tr>
      <tr>
         <th>Note:</th>
         <td><%=h @contact.notes %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%= @contact.address_line1 %><br/><%= @contact.address_line2 %><br/><%= @contact.address_line3 %></td>
      </tr>
      <tr>
         <th>Phone(s):</th>
         <td>
            <table class='hinted'>
               <% for phone in @contact.phones %>
                  <tr>
                     <th><%=h phone.label.nil? ? 'Invalid' : phone.label.long_name %>:</th>
                     <td>
                        <%= phone.unlisted? ? "<span class='error'>" : '' %>
                        <%=h phone.value %>
                        <%= phone.unlisted? ? "</span>" : '' %>
                     </td>
                     <td><%=h phone.note? ? " (" + phone.note + ")" : '' %></td>
                  </tr>
               <% end %>
            </table>
         </td>
      </tr>
      <tr>
         <th>EMail (Pri):</th>
         <td><%=h @contact.pri_email %></td>
      </tr>
      <tr>
         <th>EMail (Alt):</th>
         <td><%=h @contact.alt_email %></td>
      </tr>
      <tr>
         <th>Web Site:</th>
         <td><%=h @contact.web_site %></td>
      </tr>
   </table>
   <% else %>
   <p style='font-size:120%'><span class='error'>Contact Information Missing!  Edit this record to correct it.</span></p>
   <% end %>
</div>
<%= link_bar %>
<%= created_by @user %>