<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :option, :url => {:action => 'edit', :id => @option.id}, :method => :post do |f| %>

   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Option</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Option Type:</th>
               <td><%= f.select :option_type_id, get_opts("Option Type") %></td>
            </tr>
            <tr>
               <th><%= required %>Long Name:</th>
               <td><%= f.text_field :long_name, :size => 30 %></td>
            </tr>
            <tr>
               <th>Short Name:</th>
               <td><%= f.text_field :short_name, :size => 10 %></td>
            </tr>
         </table>
         <%= input_note 'Disabled options are not available for use on forms, but remain available for the older forms that may reference them.' %>
         <table class='input'>
            <tr>
               <th>Disabled?</th>
               <td><%= f.check_box :disabled %>Yes</td>
            </tr>
         </table>
      </fieldset>

      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'option_option_type_id' %>