<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Option ID: <%= @option.id.to_s %></h1>

<div class='basic-view'>
   
   <table>
      <tr>
         <th>Option Type:</th>
         <td><%=h @option.option_type.nil? ? 'Invalid Type' : @option.option_type.name %></td>
      </tr>
      <tr>
         <th>Long Name:</th>
         <td><%=h @option.long_name %></td>
      </tr>
      <tr>
         <th>Short Name:</th>
         <td><%=h @option.short_name %></td>
      </tr>
      <tr>
         <th>Status:</th>
         <td><%=h @option.disabled? ? "Disabled" : "Enabled" %></td>
      </tr>
   </table>
   
   <% if @option.permanent? %>
   <div style='color:green;text-align:center;'>
      <p>This option is permanent and cannot be modified.</p>
   </div>
   <% end %>
   
</div>

<%= link_bar %>

<%= created_by @option %>