<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for forbid %>';return false;">
   <td><%=h forbid.id %></td>
   <td><%=h forbid.full_name %></td>
   <td><%=h forbid.complainant %></td>
   <td><%=h forbid.case_no %></td>
   <td>
      <% if forbid.recall_date? %>
         <%=h format_date(forbid.recall_date) %>
         <span class='notice'><b>(Recalled)</b></span>
      <% elsif !forbid.signed_date? %>
         <%=h format_date(forbid.request_date) %>
         <span class='error'><b>(NOT SIGNED)</b></span>
      <% else %>
         <%=h format_date(forbid.signed_date) %>
         <span class='message'><b>(ACTIVE)</b></span>
      <% end %>
      <% if forbid.legacy? %>
         [Legacy]
      <% end %>
   </td>
</tr>
