<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>"  onclick="window.location='<%= url_for review %>';return false;">
   <td>
      <b><%=h review.id %><%= review.legacy? ? ' [Legacy]' : '' %></b>
      <%= space(4) %>
      <b>Request Date:</b> <%=h format_date(review.request_date) %>
      <%= space(4) %>
      <b>Requested By:</b> <%=h review.complainant %>
      
      <br/>
      
      <%= space(6) %>
      <b>Forbidden Person:</b>
      <%=h review.person.nil? ? review.full_name : show_person(review.person) %>
      <%= space(4) %>
      <b>Status:</b>
      <% if review.recall_date? %>
         <span class='notice'><b>(Recalled)</b></span>
      <% elsif !review.signed_date? %>
         <span class='error'><b>(NOT SIGNED)</b></span>
      <% else %>
         <span class='message'><b>(ACTIVE)</b></span>
      <% end %>
      <b>Date:</b>
      <% if review.recall_date? %>
         <%=h format_date(review.recall_date) %>
      <% elsif !review.signed_date? %>
         <%=h format_date(review.request_date) %>
      <% else %>
         <%=h format_date(review.signed_date) %>
      <% end %>
   </td>
</tr>
