<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip name_help %>
<%= tip textile_help %>

<% form_for :forbid, :url => {:action => 'edit', :id => @forbid.id}, :method => :post do |f| %>
   <%= f.error_messages %>
  
   <div class='basic'>
      <fieldset>
         <legend>Forbid Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Complainant:</th>
               <td><%= f.text_field :complainant, :size => 30 %><%= hint 'Full Name' %></td>
            </tr>
            <tr>
               <th><%= required %>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :comp_street, :size => 40 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :comp_city_state_zip, :size => 40 %><%= hint 'City, ST ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Phone:</th>
               <td><%= f.text_field :comp_phone, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
            <tr>
               <th><%= required %>Received:</th>
               <td><%= f.calendar_date_select :request_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <%= contact_row :forbid, :receiving_officer, :title => 'Received By:', :required => true %>
            <tr>
               <th>Call Sheet:</th>
               <td><%= f.text_field :call_id, :size => 6 %><%= hint 'ID' %></td>
            </tr>
            <tr>
               <th>Case Number:</th>
               <td><%= f.text_field :case_no, :size => 10 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Forbidden Person</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Forbidden:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :forbidden_id, :size => 8 %><%= hint 'ID' %></td>
                        <td><%= f.text_field :name, :size => 30 %><%= hint 'Full Name' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :forbid_street, :size => 40 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :forbid_city_state_zip, :size => 40 %><%= hint 'City, ST ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Phone:</th>
               <td><%= f.text_field :forbid_phone, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Forbidden Location(s)</legend>
         <%= required %><%= f.text_area :details, :style => 'height:15em;' %>
      </fieldset>
      
      <fieldset>
         <legend>Status</legend>
         <table class='input'>
            <tr>
               <th>Signed:</th>
               <td><%= f.calendar_date_select :signed_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <%= contact_row :forbid, :serving_officer %>
            <tr>
               <th>Recalled:</th>
               <td><%= f.calendar_date_select :recall_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      
   </div>
   <%= form_buttons %>
<% end %>
<%= observe_field 'forbid_forbidden_id', :url => { :controller => 'forbids', :action => 'update_person' }, :with => 'c' %>
<%= set_focus_to_id 'forbid_complainant' %>