<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row :include_alpha => true %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'forbid', :collection => @forbids %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row :include_alpha => true, :alpha_on_top => true %>

<%= link_bar %>

<h3>Forbids Search Filter</h3>
<%= filter_help 'forbids', true %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Forbidden:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'forbidden_id', @query[:forbidden_id], 9 %><%= hint 'ID' %></td>
                     <td><%= filter_text_field 'name', @query[:name], 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Complainant:</th>
            <td><%= filter_text_field 'complainant', @query[:complainant], 30 %><%= hint 'Full Name' %></td>
         </tr>
         <tr>
            <th>Address Contains:</th>
            <td><%= filter_text_field 'address', @query[:address], 40 %></td>
         </tr>
         <tr>
            <th>Requested Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'request_date_from', @query[:request_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'request_date_to', @query[:request_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Received By:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'receiving_officer_badge', @query[:receiving_officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'receiving_officer_unit', @query[:receiving_officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'receiving_officer', @query[:receiving_officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Case no:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 10 %></td>
         </tr>
         <tr>
            <th>Date Served:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'signed_date_from', @query[:signed_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'signed_date_to', @query[:signed_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Served By:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'serving_officer_badge', @query[:serving_officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'serving_officer_unit', @query[:serving_officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'serving_officer', @query[:serving_officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Forbidden Location:</th>
            <td><%= filter_text_field 'details', @query[:details], 60 %></td>
         </tr>
         <tr>
            <th>Date Recalled:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'recall_date_from', @query[:recall_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'recall_date_to', @query[:recall_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 60 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
