<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<% if @forbids.empty? %>
<div style='font-size:150%;text-align:center;'>
   <p>No New Forbids</p>
</div>
<div style='text-align:center;'>
   <p>There are no new forbids since you last checked.</p>
   <p><%= link_to "Return to Forbid List", :action => 'index' %></p>
</div>
<% else %>

<table style='width: 100%;'>
   <%= render :partial => 'review', :collection => @forbids %>
</table>
<%= link_bar %>

<% end %>
