<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Date:</th>
         <td><%=h format_date(@forbid.request_date) %></td>
      </tr>
      <tr>
         <th>Received By:</th>
         <td><%=h show_contact @forbid, :receiving_officer %></td>
      </tr>
      <tr>
         <th>Case no:</th>
         <td><%= case_number_or_link(@forbid.case_no) %></td>
      </tr>
      <tr>
         <th>Date Signed:</th>
         <td><%=h format_date(@forbid.signed_date) %></td>
      </tr>
      <tr>
         <th>Served By:</th>
         <td><%=h show_contact @forbid, :serving_officer %></td>
      </tr>
   </table>

   <h4>Complainant</h4>
   <table>
      <tr>
         <th>Name:</th>
         <td><%=h @forbid.complainant %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td>
            <%=h @forbid.comp_street %><br/>
            <%=h @forbid.comp_city_state_zip %>
         </td>
      </tr>
      <tr>
         <th>Phone:</th>
         <td><%=h @forbid.comp_phone %></td>
      </tr>
   </table>
   
   <h4>Forbidden Person</h4>
   <table>
      <tr>
         <th>Name:</th>
         <td><%= @forbid.person.nil? ? @forbid.full_name : show_person(@forbid.person) %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%=h @forbid.forbid_street %><br/><%=h @forbid.forbid_city_state_zip %></td>
      </tr>
      <tr>
         <th>Phone:</th>
         <td><%=h @forbid.forbid_phone %></td>
      </tr>
   </table>
   
   <h4>Location(s) Forbidden</h4>
      <% if @forbid.details? %>
         <%= simple_format @forbid.details %>
      <% else %>
         Not On File
      <% end %>
   <hr/>
   <table>
      <tr>
         <th>Status:</th>
         <td>
            <% if @forbid.recall_date? %>
               <span class='notice'>Recalled</span>
               <%=h format_date(@forbid.recall_date) %>
            <% elsif !@forbid.signed_date? %>
               Requested <%=h format_date(@forbid.request_date) %>
               <%= space(2) %>
               <span class='error'><b>NOT YET SIGNED</b></span>
            <% else %>
               Signed <%=h format_date(@forbid.signed_date) %>
               <%= space(2) %>
               <span class='message'><b>ACTIVE</b>
            <% end %>
         </td>
      </tr>
   </table>
</div>

<h3>Remarks</h3>
<%= textilize @forbid.remarks %>

<%= link_bar %>
<%= created_by @forbid %>