<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width:100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'history', :collection => @histories %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>History Search Filter</h3>

<%= filter_help 'histories' %>

<form action='<% url_for :action => "index" %>'>
   <div class='basic-filter'>
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>ID:</th>
            <td><%= filter_text_field 'id', @query[:history_id], 6 %></td>
         </tr>
         <tr>
            <th>Key:</th>
            <td><%= filter_text_field 'key', @query[:key], 12 %></td>
         </tr>
         <tr>
            <th>Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 40 %></td>
         </tr>
         <tr>
            <th>History Type:</th>
            <td><%= filter_select 'type_id', @query[:type_id], 'History Type' %></td>
         </tr>
         <tr>
            <th>Details:</th>
            <td><%= filter_text_field 'details', @query[:details], 70 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
