<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for event %>';return false;">
   <td <%= event.private? ? "class='error'" : "" %>><%=h event.id %></td>
   <td <%= event.private? ? "class='error'" : "" %>><%=h event.name %></td>
   <td <%= event.private? ? "class='error'" : "" %>><%=h show_user event.creator %></td>
   <td <%= event.private? ? "class='error'" : "" %>><%=h format_date(event.start_date) %></td>
   <td <%= event.private? ? "class='error'" : "" %>>
      <% if event.end_date == event.start_date %>
         One Day Event
      <% else %>
         <%=h format_date(event.end_date) %>
      <% end %>
   </td>
   <td <%= event.private? ? "class='error'" : "" %>>
      <% if event.expired? %>
         EXPIRED
      <% else %>
         Active
      <% end %>
   </td>
</tr>
      