<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :event, :url => {:action => 'edit', :id => @event.id, :investigation_id => @event.investigation_id}, :method => :post do |f| %>

<%= f.error_messages %>
<div class='basic'>
   <%= f.hidden_field :investigation_id %>
   <%= f.hidden_field :owned_by %>
   <fieldset>
      <legend>Event</legend>
      <table class='input'>
         <tr>
            <th><%= required %>Start Date:</th>
            <td><%= f.calendar_date_select :start_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
         </tr>
         <tr>
            <td colspan='2'><%= input_note 'For one-day events, leave the <b>End Date</b> blank.' %></td>
         </tr>
         <tr>
            <th>End Date:</th>
            <td><%= f.calendar_date_select :end_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
         </tr>
         <tr>
            <td colspan='2'><%= input_note 'Keep the <b>Event</b> name short or it will not display properly in the calendar on the &quot;Home Page&quot;.' %></td>
         </tr>
         <tr>
            <th><%= required %>Event:</th>
            <td><%= f.text_field :name, :size => 15 %></td>
         </tr>
         <tr>
            <td colspan='2'><%= input_note "If <b>Private</b> is checked, you will be the only one able to see this event in the calendar. Calendar events that are shown in <span class='error'>Red</span> are private." %></td>
         </tr>
         <tr>
            <th>Private?</th>
            <td><%= f.check_box :private %><b>Yes</b></td>
         </tr>
      </table>
   </fieldset>
   
   <fieldset>
      <legend>Details</legend>
      <%= f.text_area :details, :style => 'height:10em;', :class => 'textile' %>
      <p>-- <%=h show_user(@event.creator) %></p>
   </fieldset>

   <%= form_buttons %>
</div>
<% end %>
<%= set_focus_to_id 'event_start_date' %>