<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Event ID: <%= @event.id %></h1>

<div style='text-align:center;'><%= @event.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<p>
   <b>Date:</b>
   <%=h format_date(@event.start_date, :long => true) %>
   <% unless @event.start_date == @event.end_date %>
      <b>&rarr;</b>
      <%=h format_date(@event.end_date, :long => true) %>
   <% end %>
   <% if @event.expired? %>
      <%= space(2) %>
      <span class='error'>EXPIRED</span>
   <% end %>
</p>

<h4><%=h @event.name %></h4>

<p><%= textilize @event.details %></p>

<p>-- <%=h show_user(@event.creator) %></p>

<%= link_bar %>

<%= created_by @event %>