<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% trans_net = (commissary.deposit > 0 ? commissary.deposit : -commissary.withdraw) %>
<tr class='<%= cycle('link-list-line-odd','link-list-line-even') %>' onclick="window.location='<%= url_for commissary %>';return false;">
   <td><%=h commissary.report_datetime? ? "*" : "" %></td>
   <td><%=h commissary.id %></td>
   <td><%=h format_date(commissary.transaction_date) %></td>
   <td><%=h show_contact commissary, :officer %></td>
   <td><%=h commissary.category.nil? ? "" : commissary.category.long_name %></td>
   <td><%=h commissary.memo %></td>
   <td><%=h commissary.receipt_no %></td>
   <td style='text-align: right;'><%=h number_to_currency(trans_net) %></td>
   <td style='text-align: right;'><%=h number_to_currency(@end_balance) %><% @end_balance -= trans_net %></td>
</tr>
