<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :commissary, :url => {:action => 'commissary', :id => @commissary.id, :person_id => @person.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Transaction Information</legend>
         <table class='input'>
            <tr>
               <th>Inmate:</th>
               <td><%=h show_person @person %> <%=h @person.bookings.empty? ? '' : (@person.bookings.last.release_date? ? '(Not Currently Booked!)' : '' ) %></td>
            </tr>
            <tr>
               <th>Available Balance:</th>
               <td><%=h number_to_currency(@person.commissary_balance) %></td>
            </tr>
            <tr>
               <th><%= required %>Transaction Date:</th>
               <td><%= f.calendar_date_select :transaction_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <%= contact_row :commissary, :officer, :required => true %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Details</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Transaction Type:</th>
               <td><%= f.select :category_id, get_opts("Commissary Type") %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Either a Deposit or a Withdrawal is required.  You cannot do both in a single transaction.' %></td>
            </tr>
            <tr>
               <th>Amt. To Deposit: $</th>
               <td><%= f.text_field :deposit, :size => 12 %><%= hint '9999.99' %></td>
            </tr>
            <tr>
               <th>Amt. To Withdraw: $</th>
               <td><%= f.text_field :withdraw, :size => 12 %><%= hint '9999.99' %></td>
            </tr>
            <tr>
               <th>Receipt Number:</th>
               <td><%= f.text_field :receipt_no, :size => 25 %></td>
            </tr>
            <tr>
               <th>Memo:</th>
               <td><%= f.text_field :memo, :size => 30 %></td>
            </tr>
         </table>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'commissary_transaction_date' %>