<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :commissary_item, :url => {:action => 'edit', :id => @commissary_item.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Item Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Description:</th>
               <td><%= f.text_field :description, :size => 40 %></td>
            </tr>
            <tr>
               <th><%= required %>Price:</th>
               <td>$<%= f.text_field :price, :size => 12 %><%= hint '9999.99' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Facilities</legend>
         <%= input_note 'This item will appear on the commissary sales sheet for each facility listed below.' %>
         <table id='facilities' class='input' style='width:auto;'>
            <%= render :partial => 'facility', :collection => @commissary_item.facilities %>
         </table>
         <p><%= add_facility_link "Add Facility" %></p>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'commissary_item_description' %>