<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Commissary Administration</h1>

<h3>Commissary Items</h3>

<%= nav_button_row %>
<table style='width:100%;'>
   <%= render :partial => 'header_item' %>
   <%= render :partial => 'commissary_item', :collection => @commissary_items %>
   <%= render :partial => 'header_item' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Commissary Item Search Filter</h3>

<form action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help 'commissary items' %>

      <table>
         <tr>
            <th>Facility:</th>
            <td><%= filter_select 'facility_id', @query[:facility_id], 'Facility' %></td>
         </tr>
         <tr>
            <th>Description:</th>
            <td><%= filter_text_field 'description', @query[:description], 60 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>

<h3>Un-posted Commissary Transactions</h3>
<table style='width:100%'>
   <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Person</th>
      <th>Type</th>
      <th>Memo</th>
      <th>Receipt</th>
      <th>Amount</th>
   </tr>
   <% for c in @commissaries %>
      <% if c.person.nil? %>
         <tr class="<%= cycle('list-line-odd','list-line-even') %>">
      <% else %>
         <tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for c %>';return false;">
      <% end %>   
         <td><%=h c.id %></td>
         <td><%=h format_date(c.transaction_date) %></td>
         <td style='white-space:nowrap;'><%=h show_person c.person %></td>
         <td style='white-space:nowrap;'><%=c.category.nil? ? 'Invalid Category' : c.category.long_name %></td>
         <td><%=h c.memo %></td>
         <td><%=h c.receipt_no %></td>
         <td><%=h number_to_currency(c.deposit > 0 ? c.deposit : -c.withdraw) %></td>
      </tr>
   <% end %>
   <% if @commissaries.empty? %>
      <tr>
         <td style='text-align:center;' colspan="8">No Unposted Transactions</td>
      </tr>
   <% end %>
</table>

<h3>Commissary Reports and Functions</h3>

<% if has_permission(Perm[:update_commissary]) %>
   <h4>Transactions</h4>
   <blockquote>
      <div class='basic'>
      
         <form action="<%= url_for(:action => 'commissary') %>">
            <fieldset>
               <legend>New Transactions</legend>
               <%= input_note "Use this to enter new commissary transactions, or you can look up the person in People and use the <b>Commissary</b> button on that page." %>
               <table class='input'>
                  <tr>
                     <th>Person ID:</th>
                     <td><input type='text' name='person_id' value="" size='8' /></td>
                  </tr>
                  <tr>
                     <th/>
                     <td><input type='submit' value='Transaction' style='width:100px;'/></td>
                  </tr>
               </table>
            </fieldset>
         </form>
      </div>
   </blockquote>
<% end %>

<h4>Reports</h4>
<blockquote>
   <div class='basic'>
      <form action="<%= url_for(:action => 'sales_sheet') %>">
         <fieldset>
            <legend>Sales Sheets</legend>
            <%= input_note 'To generate sheets for a single inmate, enter their <b>Person ID</b>.  To generate sheets for an entire Facility, leave the <b>Person ID</b> field blank and instead select the desired Facility.  If a <b>Person ID</b> is entered, the Facility will be ignored.',"This report may take a few minutes to generate, please be patient!" %>
            <table class='input'>
               <tr>
                  <th>Person ID:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><input type='text' name='person_id' value="" size='8' /></td>
                           <th>Facility:</th>
                           <td><select name='facility_id'><%= options_for_select(get_opts("Facility", :allow_nil => true)) %></select></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <th/>
                  <td><input type='submit' value='PDF' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>

      <form action="<%= url_for(:action => 'transaction_report') %>">
         <fieldset>
            <legend>Transaction Report</legend>
            <%= input_note 'To generate this report for one inmate, enter their <b>Person ID</b>. To report for an entire Facility, leave the <b>Person ID</b> field blank and instead select the desired <b>Facility</b>. If a <b>Person ID</b> is entered, <b>Facility</b> will be ignored.',"If <b>Person ID</b> is blank and you leave <b>Facility</b> set to blank (---) the report will be for <b>all people</b> regardless of facility. This version of the report may help locate balance problems with the Facility-specific versions." %>
            <table class='input'>
               <tr>
                  <th>Report Type:</th>
                  <td><select name='status'><option value='detailed'>Detailed</option><option value='summary'>Summary Only</option></select></td>
               </tr>
               <tr>
                  <th>Person ID:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><input type='text' name='person_id' value="" size='8' /></td>
                           <th>Facility:</th>
                           <td><select name='facility_id'><%= options_for_select(get_opts("Facility", :allow_nil => true)) %></select></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <th>Start Date:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><input name='start_date' size='10' type='text' value='<%= Date.today.beginning_of_month.to_s(:us) %>' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' /></td>
                           <th>End Date:</th>
                           <td><input name='end_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' /></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <th/>
                  <td><input type='submit' value='PDF' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>
         
      <form action="<%= url_for(:action => 'fund_balance') %>" method='get'>
         <fieldset>
            <legend>Fund Balance Report</legend>
            <%= input_note "Select a facility to list all inmate records for that facility with a non-zero Commissary balance. The report total should equal the Commissary Fund Balance for that Facility.","If you leave the facility set to blank (---) the report will be for <b>all people</b> regardless of facility. This version of the report may help locate balance problems with the Facility-specific versions." %>
            <table class='input'>
               <tr>
                  <th>Facility:</th>
                  <td><select name='facility_id'><%= options_for_select(get_opts("Facility", :allow_nil => true)) %></select></td>
               </tr>
               <tr>
                  <th/>
                  <td><input type='submit' value='Balance' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>

   </div>
</blockquote>

<h4>Posting Reports</h4>

<%= tip 'Generating the Posting report will not update this screen. You need to do a screen refresh after posting or the old transactions will still be listed.' %>

<blockquote>
   <div class='basic'>
      
      <form action="<%= url_for(:action => 'posting_report') %>" method='get'>
         <fieldset>
            <legend>Posting Report Preview</legend>
            <input type='hidden' name='status' value='preview'/>
            <%= input_note "This is the <b>Posting Preview</b> report and does not post transactions.", "Select a facility to generate the preview report for that facility.","If you leave the facility blank (---), the report will include ALL transactions regardless of facility. This may be useful if known transactions are not showing up in a Facility-specific report." %>
            <table class='input'>
               <tr>
                  <th>Facility:</th>
                  <td><select name='facility_id'><%= options_for_select(get_opts("Facility", :allow_nil => true)) %></select></td>
               </tr>
               <tr>
                  <th/>
                  <td><input type='submit' value='Preview' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>
      
      <% if has_permission(Perm[:update_commissary]) %>
         <form action="<%= url_for(:action => 'posting_report') %>" method='post'>
            <fieldset>
               <legend>Posting Report</legend>
               <%= form_auth %>
               <input type='hidden' name='status' value='post'/>
               <%= input_note "This is the <b>Posting</b> report and <b>posts transactions</b>!", "Select a facility to generate the posting report (and post the transactions) for that facility.","If you leave the facility blank (---), this will report and post ALL transactions regardless of facility.","<span class='error'><b>WARNING!</b></span> This is the actual posting report. It will mark all unposted transactions as posted. <b>This is not undoable!</b> Please make sure the <b>Preview</b> report (above) is correct before doing this!" %>
               <table class='input'>
                  <tr>
                     <th>Facility:</th>
                     <td><select name='facility_id'><%= options_for_select(get_opts("Facility", :allow_nil => true)) %></select></td>
                  </tr>
                  <tr>
                     <th/>
                     <td><input type='submit' value='Post' style='width:100px;'/></td>
                  </tr>
               </table>
            </fieldset>
         </form>
      <% end %>

      <form action="<%= url_for(:action => 'posting_report') %>" method='get'>
         <fieldset>
            <legend>Posting Report Reprints</legend>
            <input type='hidden' value='reprint' name='status'/>
            <%= input_note "To regenerate a prior posting report, select a facility and a posting date/time.", "If you leave the facility blank (---), this will include all transactions posted on that date regardless of facility." %>
            <table class='input'>
               <tr>
                  <th>Facility:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><select name='facility_id'><%= options_for_select(get_opts("Facility", :allow_nil => true)) %></select></td>
                           <th>Post Date:</th>
                           <td><select name='post_datetime'><%= options_for_select(get_opts("Commissary Posting")) %></select></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <th/>
                  <td><input type='submit' value='Reprint' style='width:100px;' <%= Commissary.posting_dates.empty? ? "disabled='disabled'" : '' %>/></td>
               </tr>
            </table>
         </fieldset>
      </form>

   </div>
</blockquote>

