<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "The <b>New</b> button at the bottom of the page will create a new commissary transaction for <b>this person</b>. To create a new commissary transaction for a different person, look them up in the people list then use the <b>Commissary</b> button on their page." %>

<div class='basic-view'>
   <h3>Transaction Information</h3>
   <table>
      <tr>
         <th>Inmate:</th>
         <td><%=h show_person @commissary.person %></td>
      </tr>
      <tr>
         <th>Transaction Date:</th>
         <td><%=h format_date(@commissary.transaction_date) %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h show_contact(@commissary, :officer) %>
      </tr>
   </table>
      
   <h3>Details</h3>
   <table>
      <tr>
         <th>Transaction Type:</th>
         <td><%=h @commissary.category.nil? ? 'Unknown' : @commissary.category.long_name %></td>
      </tr>
      <tr>
         <th>Deposited: $</th>
         <td><%=h number_to_currency(@commissary.deposit) %></td>
      </tr>
      <tr>
         <th>Withdrawn: $</th>
         <td><%=h number_to_currency(@commissary.withdraw) %></td>
      </tr>
      <tr>
         <th>Receipt Number:</th>
         <td><%=h @commissary.receipt_no %></td>
      </tr>
      <tr>
         <th>Memo:</th>
         <td><%=h @commissary.memo %></td>
      </tr>
   </table>
   <% if @commissary.report_datetime? %>
      <p/>
      <table>
         <tr>
            <th><span class='error'>Posted:</span></th>
            <td><span class='error'><%=h format_date(@commissary.report_datetime) %></span></td>
         </tr>
      </table>
   <% end %>
</div>
<%= link_bar %>
<%= created_by @commissary %>