<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Commissary Item ID: <%= @commissary_item.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Description:</th>
         <td><%=h @commissary_item.description %></td>
      </tr>
      <tr>
         <th>Price:</th>
         <td><%= number_to_currency(@commissary_item.price) %></td>
      </tr>
      <tr>
         <th>Valid For:</th>
         <td><%= @commissary_item.facility_names(true) %></td>
      </tr>
   </table>
</div>
<%= link_bar %>
<%= created_by @commissary_item %>
