<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="link-list-line-odd" onclick="window.location='<%= url_for hold %>';return false;">
   <td style='white-space:nowrap;'><%= hold.cleared_date? ? '' : "<span class='error'>" %><%=h hold.hold_type.nil? ? 'Unknown' : hold.hold_type.long_name %><%= hold.cleared_date? ? '' : "</span>" %></td>
   <td style='white-space:nowrap;'><%=h format_date(hold.hold_date, hold.hold_time) %></td>
   <td style='white-space:nowrap;'><%=h show_contact hold, :hold_by %></td>
   <td><%=h hold.booking.nil? ? '' : hold.booking.id %></td>
   <td><%=h hold.arrest.nil? ? '' : hold.arrest.id %></td>
   <td style='white-space:nowrap;'>
      <% if hold.cleared_date? %>
         <span class='notice'>[<b>Cleared:</b> <%=h format_date(hold.cleared_date, hold.cleared_time) %>]</span>
      <% else %>
         <span class='message'>[<b>Active</b>]</span>
         <% dstl = "color:white;font-weight:bold;background-color:darkblue;" %>
         <% if has_permission(Perm[:update_billing]) %>
            <% if hold.doc_billable? %>
               <span style='<%= dstl %>'>[DOC&nbsp;Bill]</span>
            <% elsif hold.doc? %>
               <span style='<%= dstl %>'>[DOC]</span>
            <% end %>
         <% else %>
            <% if hold.doc? %>
               <span style='<%= dstl %>'>[DOC]</span>
            <% end %>
         <% end %>
         <% if hold.expired? %>
            <span class='error'>[Expired]</span>
         <% end %>
         <% if !hold.hold_type.nil? && (hold.hold_type.long_name == "Serving Sentence" || hold.hold_type.long_name == "Fines/Costs") %>
            <% sstl = "color:black;background-color:aquamarine;" %>
            <% if hold.hours_total == 0 %>
               <span style='<%= sstl %>'>[Pending&nbsp;Sentence]</span>
            <% else %>
               <% hrem = hold.hours_remaining %>
               <% if hrem <= 0 %>
                  <span style='<%= sstl %>'>[TIME SERVED]</span>
               <% else %>
                  <span style='<%= sstl %>'>[<%=h hours_to_string(hrem) %>]</span>
                  <% if hold.active_blockers? %>
                     <span class='error'>[Consecutive]</span>
                  <% end %>
               <% end %>
            <% end %>
         <% end %>
      <% end %>
      <% if hold.legacy? %>
         [Legacy]
      <% end %>
   </td>
</tr>
<tr class="list-line-even">
   <td style='text-align:right;font-size:85%;'><%= hold.hold_reason_name %></td>
   <td colspan='4' style='font-size:85%;'><b><%= hold.hold_reason %><%= !hold.hold_type.nil? && hold.hold_type.long_name == 'Temporary Transfer' && has_permission(Perm[:update_billing]) ? (hold.other_billable? ? "<span class='notice'> (Billable)</span>" : "<span class='error'> (Not Billable)</span>") : '' %></b></td>
   <% if hold.cleared_date? %>
   <td/>
   <% else %>
      <td style='white-space:nowrap;width:220px;'>
      <% if has_permission(Perm[:update_booking]) %>
         <% unless hold.hold_type.nil? %>
            <% if hold.hold_type.long_name == '72 Hour' %>
               <%= button_to_function('Clear', :style => 'width:100px;'){|page| page.redirect_to(url_for(seventytwo_path(:id => hold.arrest.id, :booking_id => hold.booking.id)))} %>
            <% elsif hold.hold_type.long_name == 'Bondable' %>
               <%= button_to_function('Clear', :style => 'width:100px;'){|page| page.redirect_to(url_for(edit_bond_path(:arrest_id => hold.arrest.id, :hold_id => hold.id)))} %>
               <%= button_to_function('Clear WO Bond', :style => 'width:100px;'){|page| page.redirect_to(url_for(clear_hold_path(:id => hold.id, :cause => 'Manual Release')))} %>
            <% elsif hold.hold_type.long_name == 'Hold for City' || hold.hold_type.long_name == 'Hold for Other Agency' || hold.hold_type.long_name =~ /^Probation/ %>
               <%= button_to_function('Clear', :style => 'width:100px;'){|page| page.redirect_to(url_for(clear_hold_path(:id => hold.id, :cause => 'Manual Release')))} %>
               <%= button_to_function('Add Bond', :style => 'width:100px;'){|page| page.redirect_to(url_for(edit_bond_path(:hold_id => hold.id)))} %>
            <% elsif hold.hold_type.long_name == 'Temporary Transfer' || hold.hold_type.long_name == 'Temporary Housing' %>
               <% if hold.hold_type.long_name == 'Temporary Transfer' && has_permission(Perm[:update_billing]) %>
                  <%= button_to((hold.other_billable? ? "Not Billable" : "Billable"), {:controller => 'holds', :action => 'toggle_bill', :id => hold.id}, :style => 'width:100px;float:left;', :method => :post) %>
               <% end %>
               <%= button_to('Clear', {:controller => 'transfers', :action => 'transfer', :id => hold.booking.id}, :style => 'width:100px;float:left;', :method => :get) %>
            <% elsif hold.hold_type.long_name == 'Temporary Release' %>
               <%= button_to 'Return', {:action => 'temp_release_in', :hold_id => hold.id}, :style => 'width:100px;', :method => :post %>
            <% else %>
               <%= button_to_function('Clear', :style => 'width:100px;'){|page| page.redirect_to(url_for(clear_hold_path(:id => hold.id)))} %>
            <% end %>
         <% end %>
      <% end %>
      </td>
   <% end %>
</tr>
