<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip 'This form is used to make adjustments to the Hours Served, Hours Goodtime and Hours Time Served fields on a &quot;Serving Sentence&quot; or &quot;Fines/Costs&quot; hold.' %>
<%= tip 'Enter your adjustment and then click the <b>Preview</b> button.  The hours shown will update with your adjustments. When you are satisfied that the numbers are correct, click <b>Submit</b> to actually save them.' %>

<% form_for :hold_adjustment, :url => {:action => 'adjustment', :id => @hold.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Hold Information</legend>
         <table class='input'>
            <tr>
               <th>Name:</th>
               <td><%=h show_person @hold.booking.person %></td>
            </tr>
            <tr>
               <th>Sentence Remaining:</th>
               <td><%=h @hold.hours_remaining %> Hours (Approximately <%=h @hold.days_remaining %> Days)</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Adjustments</legend>
         <%= input_note '<b>Total Sentence</b> is the actual hours the inmate is sentenced to serve.' %>
         <table class='input'>
            <tr>
               <th>Total Sentence:</th>
               <td>
                  <% if @hold.hours_total.blank? %>
                     <span class='error'>INVALID</span>
                  <% else %>
                     <%= @hold.hours_total %> Hours (Approximately <%= (@hold.hours_total / 24.0).round %> Days)
                  <% end %>
               </td>
            </tr>
            <tr>
               <th/>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Add:</th>
                        <td><%= f.text_field :plus_hours_total, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :plus_days_total, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :plus_months_total, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :plus_years_total, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                     <tr>
                        <th>Subtract:</th>
                        <td><%= f.text_field :minus_hours_total, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :minus_days_total, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :minus_months_total, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :minus_years_total, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <%= input_note '<b>Hours Served</b> is the actual hours the inmate has served here on this sentence.' %>
         <table class='input'>
            <tr>
               <th>Hours Served:</th>
               <td>
                  <% if @hold.hours_served.blank? %>
                     <span class='error'>INVALID</span>
                  <% else %>
                     <%= @hold.hours_served %> (Approximately <%= (@hold.hours_served / 24.0).round %> Days)
                  <% end %>
               </td>
            </tr>
            <tr>
               <th/>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Add:</th>
                        <td><%= f.text_field :plus_hours_served, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :plus_days_served, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :plus_months_served, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :plus_years_served, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                     <tr>
                        <th>Subtract:</th>
                        <td><%= f.text_field :minus_hours_served, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :minus_days_served, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :minus_months_served, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :minus_years_served, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <%= input_note '<b>Hours Good Time</b> is the actual &quot;Good Time&quot; hours the inmate has collected at this facility for this sentence.' %> 
         <table class='input'>
            <tr>
               <th>Hours Good Time:</th>
               <td>
                  <% if @hold.hours_goodtime.blank? %>
                     <span class='error'>INVALID</span>
                  <% else %>
                     <%= @hold.hours_goodtime.round %> (Approximately <%= (@hold.hours_goodtime / 24.0).round %> Days)
                  <% end %>
               </td>
            </tr>
            <tr>
               <th/>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Add:</th>
                        <td><%= f.text_field :plus_hours_goodtime, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :plus_days_goodtime, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :plus_months_goodtime, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :plus_years_goodtime, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                     <tr>
                        <th>Subtract:</th>
                        <td><%= f.text_field :minus_hours_goodtime, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :minus_days_goodtime, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :minus_months_goodtime, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :minus_years_goodtime, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <%= input_note '<b>Time Served Credit</b> is the total number of hours granted by the court for time served prior to sentencing.' %>
         <table class='input'>
            <tr>
               <th>Time Served Credit:</th>
               <td>
                  <% if @hold.hours_time_served.blank? %>
                     <span class='error'>INVALID</span>
                  <% else %>
                     <%= @hold.hours_time_served %> (Approximately <%= (@hold.hours_time_served / 24.0).round %> Days)
                  <% end %>
               </td>
            </tr>
            <tr>
               <th/>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Add:</th>
                        <td><%= f.text_field :plus_hours_time_served, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :plus_days_time_served, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :plus_months_time_served, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :plus_years_time_served, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                     <tr>
                        <th>Subtract:</th>
                        <td><%= f.text_field :minus_hours_time_served, :size => 8 %><%= hint "Hours" %></td>
                        <td><%= f.text_field :minus_days_time_served, :size => 8 %><%= hint "Days" %></td>
                        <td><%= f.text_field :minus_months_time_served, :size => 8 %><%= hint "Months" %></td>
                        <td><%= f.text_field :minus_years_time_served, :size => 8 %><%= hint "Years" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <%= form_buttons :preview => true %>
   </div>
<% end %>
<%= set_focus_to_id 'hold_adjustment_plus_hours_total' %>