<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :hold, :url => {:action => :clear, :id => @hold.id }, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Clearing Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Cleared:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :cleared_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :cleared_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Cleared Because:</th>
               <td><%= f.select :cleared_because_id, get_opts("Release Type", :allow_nil => true) %></td>
            </tr>
            <%= contact_row :hold, :cleared_by, :required => true %>
            <tr>
               <th><%= required %>Explanation:</th>
               <td><%= f.text_field :explanation, :size => 80 %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Transfer Information</legend>
         <%= input_note 'This information is required for transfers.' %>
         <table class='input'>
            <%= contact_row :hold, :agency, :getopts => 'Agencies' %>
            <%= contact_row :hold, :transfer_officer %>
         </table>
      </fieldset>

      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>

   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'hold_cleared_date' %>