<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :hold, :url => {:action => :edit, :id => @hold.id, :booking_id => @booking.id }, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Hold Information</legend>
         <table class='input'>
            <tr>
               <th>Person:</th>
               <td><%=h show_person(@hold.booking.person) %></td>
            </tr>
            <tr>
               <th><%= required %>Date:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :hold_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :hold_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Type of Hold:</th>
               <td>
                  <% if @hold.new_record? %>
                     <%= f.select :hold_type_id, get_opts("Hold Type", :manual_only => true, :allow_nil => true) %>
                  <% else %>
                     <%= f.select :hold_type_id, get_opts("Hold Type") %>
                  <% end %>
               </td>
            </tr>
            <%= contact_row :hold, :hold_by, :title => "Placed By:", :required => true %>
         </table>
         <%= input_note 'For &quot;Fines/Costs&quot; holds, <b>Can Pay</b> is required and is the total amount of fines and/or court costs required to be released.','For &quot;Bondable&quot; holds, <b>Can Pay</b> is required and is the bond amount set by the Judge.' %>
         <table class='input'>
            <tr>
               <th>Can Pay:</th>
               <td>$<%= f.text_field :fines, :size => 14 %><%= hint '999999999.99' %></td>
            </tr>
         </table>
      </fieldset>
         
      <fieldset>
         <legend>Sentence Information</legend>
         <%= input_note 'If <b>Deny Goodtime</b> is checked, this hold will never accumulate goodtime, regardless of the <b>Goodtime</b> setting in Booking.' %>
         <table class='input'>
            <tr>
               <th>Deny Goodtime?</th>
               <td><%= f.check_box :deny_goodtime %>Yes</td>
            </tr>
         </table>
         <%= input_note 'All of these fields are <b>hours</b>. If you need to adjust these values and do not want to deal with hours, please use the <b>Adjustment</b> feature. It will allow you to enter adjustments in hours, days, months and years.','<b>Total Sentence</b> is required for &quot;Fines/Costs&quot; holds and must be entered as hours.' %>
         <table class='input'>
            <tr>
               <th>Total Sentence:</th>
               <td><%= f.text_field :hours_total, :size => 8 %> Hours</td>
            </tr>
            <tr>
               <th>Hours Served:</th>
               <td><%= f.text_field :hours_served, :size => 8 %> Hours</td>
            </tr>
            <tr>
               <th>Good Time Hours:</th>
               <td><%= f.text_field :hours_goodtime, :size => 8 %> Hours</td>
            </tr>
            <tr>
               <th>Time Served Credit</th>
               <td><%= f.text_field :hours_time_served, :size => 8 %> Hours</td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Agency Information</legend>
         <%= input_note '<b>Agency</b> is required for &quot;Hold for City&quot;, &quot;Hold for Other Agency&quot; and &quot;Fines/Costs&quot; hold types.' %>
         <table class='input'>
            <%= contact_row :hold, :agency, :getopts => 'Agencies' %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'hold_hold_date' %>