<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width:100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'hold', :collection => @holds %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Hold Search Filter</h3>
<%= filter_help 'holds' %>

<form action='<% url_for :action => "index" %>'>
   <div class='basic-filter'>
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Booking:</th>
            <td><%= filter_text_field 'booking_id', @query[:booking_id], 6 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Arrest:</th>
            <td><%= filter_text_field 'arrest_id', @query[:arrest_id], 6 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Hold Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'hold_date_from', @query[:hold_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'hold_date_to', @query[:hold_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Hold Type:</th>
            <td><%= filter_select 'hold_type_id', @query[:hold_type_id], 'Hold Type' %></td>
         </tr>
         <tr>
            <th>DOC?</th>
            <td><%= filter_radio_buttons 'doc', @query[:doc], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <% if has_permission(Perm[:update_billing]) %>
         <tr>
            <th>DOC Billable?</th>
            <td><%= filter_radio_buttons 'doc_billable', @query[:doc_billable], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <% end %>
         <tr>
            <th>Hold By:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'hold_by_badge', @query[:hold_by_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'hold_by_unit', @query[:hold_by_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'hold_by', @query[:hold_by], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Cleared Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'cleared_date_from', @query[:cleared_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'cleared_date_to', @query[:cleared_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Cleared Because:</th>
            <td><%= filter_select 'cleared_because_id', @query[:cleared_because_id], 'Release Type' %></td>
         </tr>
         <tr>
            <th>Cleared By:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'cleared_by_badge', @query[:cleared_by_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'cleared_by_unit', @query[:cleared_by_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'cleared_by', @query[:cleared_by], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Explanation:</th>
            <td><%= filter_text_field 'explanation', @query[:explanation], 80 %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
