<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Name:</th>
         <td><%=h @hold.booking.nil? ? 'Unknown' : show_person(@hold.booking.person) %></td>
      </tr>
      <tr>
         <th>Date:</th>
         <td><%=h format_date(@hold.hold_date, @hold.hold_time) %></td>
      </tr>
      <tr>
         <th>Type:</th>
         <td>
            <%=h @hold.hold_type.nil? ? '' : @hold.hold_type.long_name %>
            <% if @hold.doc_billable? && has_permission(Perm[:update_billing]) %>
               <%= space(2) %>
               <span class='message'>[DOC Billable]</span>
            <% elsif @hold.doc? %>
               <%= space(2) %>
               <span class='message'>[DOC]</span>
            <% elsif !@hold.hold_type.nil? && @hold.hold_type.long_name == 'Temporary Transfer' && has_permission(Perm[:update_billing]) %>
               <% if @hold.other_billable? %>
                  <span class='notice'>(Billable)</span>
               <% else %>
                  <span class='error'>(Not Billable)</span>
               <% end %>
            <% end %>
            <%=h @hold.hold_type.nil? ? '' : (@hold.hold_type.long_name == 'Temporary Release' ? (@hold.temp_release_reason.nil? ? '' : ' (' + @hold.temp_release_reason.long_name + ')') : '') %> 
         </td>
      </tr>
      <tr>
         <th>Placed By:</th>
         <td><%=h show_contact @hold, :hold_by %></td>
      </tr>
      <tr>
         <th>
            <% if !@hold.hold_type.nil? && @hold.hold_type.long_name == 'Bondable' %>
               Bond Amount:
            <% else %>
               Fines:
            <% end %>
         </th>
         <td><%= number_to_currency(@hold.fines) %></td>
      </tr>
      <% if !@hold.hold_type.nil? && (@hold.hold_type.long_name == "Serving Sentence" || @hold.hold_type.long_name == "Fines/Costs") %>
   </table>
   
   <h4>Sentence Information</h4>
   <table>
      <tr>
         <th>Goodtime Denied?</th>
         <td colspan='2'><%= @hold.deny_goodtime? ? "YES" : "NO" %></td>
      </tr>
      <tr>
         <th>Total Sentence:</th>
         <td><%=h @hold.hours_total? && @hold.hours_total > 0 ? "#{@hold.hours_total} Hours" : "Pending Sentence" %></td>
         <td><%=h @hold.hours_total? && @hold.hours_total > 0 ? "(Approximately #{(@hold.hours_total / 24.0).round} Days)" : '' %></td>
      </tr>
      <tr>
         <th>Served:</th>
         <td><%=h @hold.hours_served? && @hold.hours_served >= 0 ? @hold.hours_served : 0 %> Hours</td>
         <td>(Approximately <%= ((@hold.hours_served? && @hold.hours_served > 0 ? @hold.hours_served : 0) / 24.0).round %> Days)</td>
      </tr>
      <tr>
         <th>Good Time:</th>
         <td><%=h @hold.hours_goodtime? && @hold.hours_goodtime >= 0 ? @hold.hours_goodtime.round : 0 %> Hours</td>
         <td>(Approximately <%= ((@hold.hours_goodtime? && @hold.hours_goodtime > 0 ? @hold.hours_goodtime.round : 0) / 24.0).round %> Days)</td>
      </tr>
      <tr>
         <th>Time Served Credit:</th>
         <td><%=h @hold.hours_time_served? && @hold.hours_time_served >= 0 ? @hold.hours_time_served : 0 %> Hours</td>
         <td>(Approximately <%= ((@hold.hours_time_served? && @hold.hours_time_served > 0 ? @hold.hours_time_served : 0) / 24.0).round %> Days)</td>
      </tr>
      <tr>
         <th>Remaining:</th>
         <td>
            <% hrs = @hold.hours_remaining %>
            <% if hrs > 0 %>
               <%= hrs %> Hours
            <% else %>
               0 Hours (Time Served)
            <% end %>
         </td>
         <td>
            <% if hrs > 0 %>
                (Approximately <%= (hrs / 24.0).round %> Days)
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Blocked By:</th>
         <td>
            <% for h in @hold.blockers %>
               <%= link_to(h.id.to_s, h) %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Blocks:</th>
         <td>
            <% for h in @hold.blocks %>
               <%= link_to(h.id.to_s, h) %>
            <% end %>
         </td>
      </tr>
      <% end %>
   </table>
   
   <% if @hold.cleared_date? %>
   <h4>Clearing Information</h4>
   
   <table>
      <tr>
         <th>Date:</th>
         <td><%=h format_date(@hold.cleared_date, @hold.cleared_time) %></td>
      </tr>
      <tr>
         <th>Cleared Because:</th>
         <td>
            <% unless @hold.cleared_because.nil? %>
               <%=h @hold.cleared_because.long_name %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Cleared By:</th>
         <td><%=h show_contact @hold, :cleared_by %></td>
      </tr>
      <tr>
         <th>Explanation:</th>
         <td><%=h @hold.explanation %></td>
      </tr>
   </table>
   <% end %>

   <% if @hold.agency? || @hold.transfer_officer? %>
   <h4>Transfer Information</h4>
   <table>
      <tr>
         <th>Transferred To/From:</th>
         <td><%=h @hold.agency %></td>
      </tr>
      <tr>
         <th>Transfer Officer:</th>
         <td><%=h show_contact @hold, :transfer_officer %></td>
      </tr>
   </table>
   <% end %>
   
   <% if @hold.remarks? %>
   <h3>Remarks</h3>
   <%= textilize @hold.remarks %>
   <% end %>
   
</div>

<%= link_bar %>
<%= created_by @hold %>

<% unless @hold.bonds.empty? %>
   <h3>Current Bonds</h3>
   <table style='width:100%;'>
      <%= render :partial => 'bonds/header' %>
      <%= render :partial => 'bonds/bond', :collection => @hold.bonds %>
   </table>
<% end %>
