<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<tr class="<%= cycle('link-list-line-odd', 'link-list-line-even') %>" onclick="window.location='<%= url_for contact %>';return false;">
   <td><%=h contact.id %><%= contact.legacy? ? ' [LEGACY]' : '' %></td>
   <td>
      <%=h contact.fullname %>
      <% if contact.business? %>
         <%= icon("business", 16) %>
      <% else %>
         <%= icon("person", 16) %>
      <% end %>
      <% if contact.officer? %>
         <%= icon("badge", 16) %>
      <% end %>
      <% if contact.detective? %>
         <%= icon("detective",16) %>
      <% end %>
      <% if contact.active? %>
         <%= icon("check", 16) %>
      <% end %>
      <% if contact.physician? %>
         <%= icon("physician", 16) %>
      <% end %>
      <% if contact.pharmacy? %>
         <%= icon('pharmacy', 16) %>
      <% end %>
      <% if contact.printable? %>
         <%= icon('edit', 16) %>
      <% end %>
   </td>
   <td><%=h contact.agency.nil? ? '' : contact.agency.fullname %></td>
   <td><%=h contact.unit %></td>
   <td><%=h contact.badge_no %></td>
   <td>
      <% for phone in contact.phones %>
         <b><%=h phone.label.nil? ? '' : phone.label.long_name %>:</b> <%= phone.unlisted? ? "<span class='error'>" : '' %><%=h phone.value %><%= phone.unlisted? ? "</span>" : '' %><br/>
      <% end %>
   </td>
</tr>