<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = phone.new_record? ? 'new' : 'existing' %>
<% prefix = "contact[#{new_or_existing}_phone_attributes][]" %>
<% oldprefix = "contact[existing_phone_attributes][#{phone.id}]" %>

<% fields_for prefix, phone do |pf| %>
   <tr class='phone'>
      <td><b>Phone:</b></td>
      <td><%= pf.select :label_id, get_opts("Phone Type", :allow_nil => true) %><%= hint 'Type' %></td>
      <td><%= pf.text_field :value, :size => 15 %><%= hint '999-999-9999' %></td>
      <td>
         <% if phone.new_record? %>
            <input type='checkbox' name="<%= prefix %>[unlisted]" value="1" />Unlisted
         <% else %>
            <%= pf.check_box :unlisted %>Unlisted
         <% end %>
      </td>
      <td><%= pf.text_field :note, :size => 25 %><%= hint 'Notes' %></td>
      <td>
         <%= pf.hidden_field :created_by %>
         <%= pf.hidden_field :updated_by %>
         <%= button_to_function 'Remove',"$(this).up('.phone').remove()" %>
      </td>
      <td>
         <% phone.errors.each do |attr, msg| %>
            <div class='error'>
            <% if attr == 'value' %>
               <b>Number</b>
            <% elsif attr == 'label_id' %>
               <b>Type</b>
            <% else %>
               <b><%= attr %></b>
            <% end %>
            <%= msg %></div>
         <% end %>
      </td>
   </tr>
<% end %>



