<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip %(Names for individuals should be entered <b>Last, First Middle Suffix</b>.) %>

<% form_for :contact, :url => {:action => :edit, :id => @contact.id}, :method => :post do |f| %>

   <%= f.error_messages %>
   
   <div class="basic">
      <fieldset>
         <legend>Identity</legend>
         <%= input_note 'Names for individuals should be entered in <b>Last, First Middle Suffix</b> order.  Business names should be entered normally.' %>
         <table class='input'>
            <tr>
               <th><%= required %>Name:</th>
               <td colspan="3">
                  <%= f.text_field :fullname, :size => 50 %>
                  <%= space(3) %>
                  <%= f.check_box :business %>Business/Agency
               </td>
            </tr>
            <tr>
               <th>Title:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :title, :size => 15 %></td>
                        <th>Unit:</th>
                        <td><%= f.text_field :unit, :size => 10 %></td>
                        <th>Badge:</th>
                        <td><%= f.text_field :badge_no, :size => 10 %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Agency:</th>
               <td><%= f.select :agency_id, get_opts('Companies', :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Flags:</th>
               <td><%= f.check_box :active %>Active <%= f.check_box :officer %>Law Enforcement/Warrant Agency <%= f.check_box :detective %>Detective<br/><%=f.check_box :physician %>Physician <%= f.check_box :pharmacy %>Pharmacy</td>
            </tr>
         </table>
         <%= input_note "The <b>Printable</b> flag for an Agency controls whether it is possible to print a contact list for that agency.  For a person, it controls whether the person appears in their agency contact list." %>
         <table class='input'>
            <tr>
               <th>Printable:</th>
               <td><%= f.check_box :printable %>Yes</td>
            </tr>
            <tr>
               <th>Extra:</th>
               <td colspan="3"><%= f.text_field :notes, :size => 30 %></td>
            </tr>
            <tr>
               <th>Address:</th>
               <td colspan='3'>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= f.text_field :street, :size => 30 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td colspan='3'><%= f.text_field :street2, :size => 30 %><%= hint 'Street Line 2' %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :city, :size => 15 %><%= hint 'City' %></td>
                        <td><%= f.select :state_id, get_opts("State", :allow_nil => true) %><%= hint 'State' %></td>
                        <td><%= f.text_field :zip, :size => 10 %><%= hint 'ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Contact Information</legend>
         <%= input_note "Phones marked <b>Unlisted</b> will be shown in <span class='error'>Red</span> on contact pages." %>
         <table id='phones' class='input' style='width:auto;'>
            <%= render :partial => 'phone', :collection => @contact.phones %>
         </table>
         <p><%= add_phone_link "Add a Phone" %></p>
         
         <table class='input'>
            <tr>
               <th>EMail:</th>
               <td><%= f.text_field :pri_email %></td>
            </tr>
            <tr>
               <th>EMail (alt):</th>
               <td><%= f.text_field :alt_email %></td>
            </tr>
            <tr>
               <th>Web Site:</th>
               <td><%= f.text_field :web_site %></td>
            </tr>
         </table>
      </fieldset>
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'contact_fullname' %>