<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip 'Red Phone Numbers are UNLISTED!', :tip_type => 'warning', :force => true %>

<%= nav_button_row :include_alpha => true %>
<table width="100%">
   <%= render :partial => 'header' %>
   <%= render :partial => 'contact', :collection => @contacts %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row :include_alpha => true, :alpha_on_top => true %>

<%= link_bar %>

<%= filter_simple %>
<form action='<%= url_for :action => 'index' %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help_simple(true) %>
      <table style='margin-left:20px;'>
         <tr>
            <th>Name or ID Number:</th>
            <td><%= filter_text_field 'simple', @query[:simple], 30 %></td>
         </tr>
      </table>
   </div>
</form>

<%= filter_advanced_start %>

<form action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>

      <table>
         <tr>
            <th>Full Name:</th>
            <td><%= filter_text_field 'fullname', @query[:fullname], 30 %></td>
         </tr>
         <tr>
            <th>Title:</th>
            <td><%= filter_text_field 'title', @query[:title], 15 %></td>
         </tr>
         <tr>
            <th>Unit:</th>
            <td><%= filter_text_field 'unit', @query[:unit], 6 %></td>
         </tr>
         <tr>
            <th>Badge:</th>
            <td><%= filter_text_field 'badge_no', @query[:badge_no], 6 %></td>
         </tr>
         <tr>
            <th>Agency:</th>
            <td><%= filter_select 'agency_id', @query[:agency_id], 'Companies' %></td>
         </tr>
         <tr>
            <th>Business/Agency?</th>
            <td><%= filter_radio_buttons 'business', @query[:business], [['1','Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Active?</th>
            <td><%= filter_radio_buttons 'active', @query[:active], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Law Enforcement?</th>
            <td><%= filter_radio_buttons 'officer', @query[:officer], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Detective?</th>
            <td><%= filter_radio_buttons 'detective', @query[:detective], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Physician?</th>
            <td><%= filter_radio_buttons 'physician', @query[:physician], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Pharmacy?</th>
            <td><%= filter_radio_buttons 'pharmacy', @query[:pharmacy], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Extra:</th>
            <td><%= filter_text_field 'notes', @query[:notes], 60 %></td>
         </tr>
         <tr>
            <th>Address:</th>
            <td><%= filter_text_field 'street', @query[:street], 40 %><%= hint 'Street' %></td>
         </tr>
         <tr>
            <th/>
            <td><%= filter_text_field 'street2', @query[:street2], 40 %><%= hint 'Street Line 2' %></td>
         </tr>
         <tr>
            <th/>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'city', @query[:city], 15 %><%= hint 'City' %></td>
                     <td><%= filter_select 'state_id', @query[:state_id], 'State' %><%= hint 'State' %></td>
                     <td><%= filter_text_field 'zip', @query[:zip], 5 %><%= hint 'ZIP' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>EMail:</th>
            <td><%= filter_text_field 'email', @query[:email], 30 %></td>
         </tr>
         <tr>
            <th>Web Site:</th>
            <td><%= filter_text_field 'web_site', @query[:web_site], 30 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>

<%= filter_advanced_end %>

<h3>Reports</h3>

<blockquote>
   <table>
      <tr>
         <th>Agency Contact List</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'contact_list') %>">
               <div>
                  Agency: <select name='id'><%= options_for_select(get_opts("Printable Companies")) %></select>
                  <%= space(2) %>
                  <input type='submit' value='PDF' style='width:100px;'/>
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>To generate a contact list for an agency, select that agency and click the PDF button. Note that the agency must be an active business/agency contact to appear in this list.</td>
      </tr>
   </table>
</blockquote>



