<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<table width="100%">
   <% for contact in @contacts %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
         <td>
            ID: <%= select_contact_link contact, @caller_unit, @caller_name %>
            <%= space(2) %>
            <%=h contact.fullname %>
            <% if contact.unit? %>
               <%= space(2) %>
               <%=h contact.unit %>
            <% end %>
            <% unless contact.agency.nil? %>
               <%= space(2) %>
               -- <%=h contact.agency.fullname %>
            <% end %>
         </td>
      </tr>
   <% end %>
</table>
