<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Contact ID: <%= @contact.id %><%= @contact.legacy? ? ' -- [Legacy]' : '' %></h1>

<%= tip "Phone numbers shown in <span class='error'>Red</span> are <b>Unlisted</b>!", :tip_type => 'warning', :force => true %>

<div style='text-align:center;' class='error'><%= @contact.user.nil? ? '' : '&rarr; User Profile &larr;' %></div>

<div class="basic-view">
   <% unless @contact.user.nil? %>
      <%= image_tag(@contact.user.user_photo.url(:small), :style => 'float:right;') %>
   <% end %>
   
   <table style="width: 100%;">
      <tr>
         <th><%= @contact.business? ? (@contact.officer? ? 'Agency:' : 'Company:') : 'Name' %></th>
         <td style='vertical-align:top;'>
            <span style='font-size:120%;'><%=h @contact.fullname %></span>
            <% if @contact.business? %>
               <%= icon('business') %>
            <% else %>
               <%= icon('person') %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Title:</th>
         <td><%=h @contact.title %></td>
      </tr>
      <tr>
         <th>Unit:</th>
         <td><%=h @contact.unit %></td>
      </tr>
      <tr>
         <th>Badge:</th>
         <td><%=h @contact.badge_no %></td>
      </tr>
      <% unless @contact.business? %>
         <tr>
            <th><%= @contact.officer? ? 'Agency:' : 'Company:' %></th>
            <td><%=h @contact.agency.nil? ? '' : @contact.agency.fullname %></td>
         </tr>
      <% end %>
      <tr>
         <th>Status:</th>
         <td>
            <%= @contact.active? ? "<span class='notice'>[Active]</span>" : "<span class='error'>[Inactive]</span>" %>
            <%= @contact.officer? ? "[Law Enforcement]" : "" %>
            <%= @contact.detective? ? "[Detective]" : "" %>
            <%= @contact.physician? ? "[Physician]" : "" %>
            <%= @contact.pharmacy? ? "[Pharmacy]" : "" %>
            <%= @contact.printable? ? "[Printable]" : "" %>
         </td>
      </tr>
      <tr>
         <th>Note:</th>
         <td><%=h @contact.notes %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%= @contact.address_line1 %><br/><%= @contact.address_line2 %><br/><%= @contact.address_line3 %></td>
      </tr>
      <tr>
         <th>Phone(s):</th>
         <td>
            <% unless @contact.phones.empty? %>
            <table class='hinted'>
               <% for phone in @contact.phones %>
                  <tr>
                     <th><%=h phone.label.nil? ? 'Invalid' : phone.label.long_name %>:</th>
                     <td>
                        <%= phone.unlisted? ? "<span class='error'>" : '' %>
                        <%=h phone.value %>
                        <%= phone.unlisted? ? "</span>" : '' %>
                     </td>
                     <td><%=h phone.note? ? " (" + phone.note + ")" : '' %></td>
                  </tr>
               <% end %>
            </table>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>EMail (Pri):</th>
         <td><%=h @contact.pri_email %></td>
      </tr>
      <tr>
         <th>EMail (Alt):</th>
         <td><%=h @contact.alt_email %></td>
      </tr>
      <tr>
         <th>Web Site:</th>
         <td><%=h @contact.web_site %></td>
      </tr>
   </table>
</div>

<br/>

<%= link_bar %>
<%= created_by @contact %>

<% unless @contact.employees.empty? %>
   <h3>Employees</h3>
   <table style='width:100%'>
      <%= render :partial => 'header' %>
      <%= render :partial => 'contact', :collection => @contact.employees %>
   </table>
<% end %>

<% if has_permission Perm[:destroy_contact] %>
<div class='basic'>
   <fieldset>
      <legend>Merge</legend>
      <%= input_note "<span class='error'>Warning! This contact will be destroyed if the merge is successful!</span>" %>
      <form action="<%= url_for(:action => 'merge') %>" method='get'>
         <div>
            <input type='hidden' name='id' value="<%= @contact.id %>"/>
            <table class='input' style='width:auto;'>
               <tr>
                  <th>Merge with Contact:</th>
                  <td><input type='text' name='merge_id' size='10'/><%= hint 'ID' %></td>
                  <td><input type='submit' value='Merge' style='width:100px;'/></td>
               </tr>
            </table>
         </div>
      </form>
   </fieldset>
</div>
<% end %>