<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div style='text-align:center;'><%= @stolen.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :stolen, :url => {:action => 'edit', :id => @stolen.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :investigation_id %>
      <%= f.hidden_field :invest_crime_id %>
      <%= f.hidden_field :invest_criminal_id %>
      <%= f.hidden_field :private %>
      <%= f.hidden_field :owned_by %>
      
      <fieldset>
         <legend>Stolen Information</legend>
         <table class='input'>
            <tr>
               <th>Case No:</th>
               <td><%= f.text_field :case_no, :size => 10 %></td>
            </tr>
            <tr>
               <th>Date Stolen:</th>
               <td><%= f.calendar_date_select :stolen_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <%= person_row @stolen, :person_id, :title => "Stolen From:" %>
            <tr>
               <th>Model Number:</th>
               <td><%= f.text_field :model_no, :size => 40 %></td>
            </tr>
            <tr>
               <th>Serial Number:</th>
               <td><%= f.text_field :serial_no, :size => 40 %></td>
            </tr>
            <tr>
               <th>Item Value:</th>
               <td><%= f.text_field :item_value, :size => 12 %><%= hint '999999999.99' %></td>
            </tr>
            <tr>
               <th>Item Stolen:</th>
               <td><%= f.text_field :item, :size => 60 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Description</legend>
         <%= input_note 'This should be a complete description of all items stolen' %>
         <%= f.text_area :item_description, :style => 'height:20em;' %>
      </fieldset>
      
      <fieldset>
         <legend>Recovery Information</legend>
         <table class='input'>
            <tr>
               <th>Recovered:</th>
               <td><%= f.calendar_date_select :recovered_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Returned to Owner:</th>
               <td><%= f.calendar_date_select :returned_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'stolen_case_no' %>