<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width:100%;'>
  <%= render :partial => 'header' %>
  <%= render :partial => 'stolen', :collection => @stolens %>
  <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Stolen Search Filter</h3>

<%= filter_help 'stolen items', true %>

<form name='search' action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Item ID:</th>
            <td><%= filter_text_field 'id', @query[:id], 6 %></td>
         </tr>
         <tr>
            <th>Case No:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 10 %></td>
         </tr>
         <tr>
            <th>Owner:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'person_id', @query[:person_id], 6 %><%= hint 'ID' %></td>
                     <td><%= filter_text_field 'person_name', @query[:person_name], 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Item Stolen:</th>
            <td><%= filter_text_field 'item', @query[:item], 40 %></td>
         </tr>
         <tr>
            <th>Model Number:</th>
            <td><%= filter_text_field 'model_no', @query[:model_no], 40 %></td>
         </tr>
         <tr>
            <th>Serial Number:</th>
            <td><%= filter_text_field 'serial_no', @query[:serial_no], 40 %></td>
         </tr>
         <tr>
            <th>Description:</th>
            <td><%= filter_text_field 'item_description', @query[:item_description], 70 %></td>
         </tr>
         <tr>
            <th>Date Stolen:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'stolen_from', @query[:stolen_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'stolen_to', @query[:stolen_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Recovered?</th>
            <td><%= filter_radio_buttons 'is_recovered', @query[:is_recovered], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Date Recovered:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'recovered_from', @query[:recovered_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'recovered_to', @query[:recovered_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Returned?</th>
            <td><%= filter_radio_buttons 'is_returned', @query[:is_returned], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Date Returned:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'returned_from', @query[:returned_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'returned_to', @query[:returned_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
