<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Stolen Item ID: <%= @stolen.id %></h1>

<div style='text-align:center;'><%= @stolen.private? ? "<span class='error' style='font-size: 200%'>Private</span>" : "" %></div>

<div class='basic-view'>
   <table>
      <tr>
         <th>Case No:</th>
         <td><%= case_number_or_link(@stolen.case_no) %></td>
      </tr>
      <tr>
         <th>Stolen From:</th>
         <td><%=h show_person @stolen.person %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td>
            <% unless @stolen.person.nil? %>
               <%=h @stolen.person.physical_line1 %><br/>
               <%=h @stolen.person.physical_line2 %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Date Stolen:</th>
         <td><%=h format_date(@stolen.stolen_date) %></td>
      </tr>
      <tr>
         <th>Item Stolen:</th>
         <td><%=h @stolen.item %></td>
      </tr>
      <tr>
         <th>Model Number:</th>
         <td><%=h @stolen.model_no %></td>
      </tr>
      <tr>
         <th>Serial Number:</th>
         <td><%=h @stolen.serial_no %></td>
      </tr>
      <tr>
         <th>Item Value:</th>
         <td><%=h number_to_currency(@stolen.item_value) %></td>
      </tr>
   </table>
   
   <h4>Full Description</h4>
   <%=h @stolen.item_description %>
   
   <h4>Recovery Information </h4>
   <table>
      <tr>
         <th>Date Recovered:</th>
         <td><%=h format_date(@stolen.recovered_date) %></td>
      </tr>
      <tr>
         <th>Date Returned:</th>
         <td><%=h format_date(@stolen.returned_date) %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @stolen.remarks %>
</div>

<%= link_bar %>
<%= created_by @stolen %>
