<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% new_or_existing = wrecker.new_record? ? 'new' : 'existing' %>
<% prefix = "offense[#{new_or_existing}_wrecker_attributes][]" %>
<% oldprefix = "offense[existing_wrecker_attributes][#{wrecker.id}]" %>
<% fields_for prefix, wrecker do |uf| %>
   <tr class='wrecker'>
      <td style='border-bottom: 1px solid black;'>
         <table class='hinted'>
            <tr>
               <td><%= uf.text_field :name, :size => 20 %><%= hint("Wrecker Service") %></td>
               <td>
                  <% if wrecker.new_record? %>
                     <input type='checkbox' name="<%= prefix %>[by_request]" value="1" />By Request
                  <% else %>
                     <%= uf.check_box :by_request %>By Request
                  <% end %>
               </td>
               <td><%= uf.text_field :location, :size => 40 %><%= hint("Storage Location") %></td>
            </tr>
            <tr>
               <td/>
               <td><%= uf.text_field :tag, :size => 15 %><%= hint("Tag") %></td>
               <td><%= uf.text_field :vin, :size => 25 %><%= hint("VIN") %></td>
            </tr>
         </table>
      </td>
      <td style='border-bottom: 1px solid black;'>
         <%= uf.hidden_field :created_by %>
         <%= uf.hidden_field :updated_by %>
         <%= button_to_function "Remove", "$(this).up('.wrecker').remove()" %>
      </td>
      <td style='border-bottom: 1px solid black;'>
         <% wrecker.errors.each do |attr, msg| %>
            <div class='error'><b><%= attr %></b> <%= msg %></div>
         <% end %>
      </td>
   </tr>
<% end %>
