<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip name_help %>
<%= tip textile_help %>

<% form_for :offense, :url => {:action => 'edit', :id => @offense.id}, :method => :post do |f| %>
   
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Offense</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Occurred:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :offense_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :offense_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Location:</th>
               <td><%= f.text_field :location, :size => 60 %></td>
            </tr>
            <%= contact_row :offense, :officer, :required => true %>
            <tr>
               <th><%= required %>Callsheet:</th>
               <td style='border: 1px solid black;'><%= f.text_field :call_id, :size => 6 %><%= hint 'ID' %><div id='call_sheet'><%= call_detail_summary(@offense.call) %></div></td>
            </tr>
         </table>
         <%= input_note "The <b>Case Number:</b> is determined by the Call Sheet. Do not change it unless unless you really need to enter a different case number." %>
         <table class='input'>
            <tr>
               <th>Case Number:</th>
               <td><%= f.text_field :case_no, :size => 10 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Details</legend>
         <%= required %><%= f.text_area :details, :style => 'height:30em;' %>
      </fieldset>
      
      <fieldset>
         <legend>People Involved</legend>
         <table id='victims' class='input' style='width:auto;'>
            <%= render :partial => 'victim', :collection => @offense.victims, :locals => {:model => 'offense'} %>
         </table>
         <p><%= add_person_link "victim", 'offense' %></p>
         
         <hr/>
         
         <table id='suspects' class='input' style='width:auto;'>
            <%= render :partial => 'suspect', :collection => @offense.suspects, :locals => {:model => 'offense'} %>
         </table>
         <p><%= add_person_link "suspect", 'offense' %></p>
         
         <hr/>
         
         <table id='witnesses' class='input' style='width:auto;'>
            <%= render :partial => 'witness', :collection => @offense.witnesses, :locals => {:model => 'offense'} %>
         </table>
         <p><%= add_person_link "witness", 'offense' %></p>
      </fieldset>
      
      <fieldset>
         <legend>Wreckers Used</legend>
         <table id='wreckers' class='input' style='width:auto;'>
            <%= render :partial => 'wrecker', :collection => @offense.wreckers %>
         </table>
         <p><%= add_wrecker_link "Add Wrecker" %></p>
      </fieldset>
      
      <fieldset>
         <legend>Documentation</legend>
         <table class='input'>
            <tr>
               <th>Pictures:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :pictures %>Yes</td>
                        <th style='width: 10em;'>Restitution:</th>
                        <td><%= f.check_box :restitution_form %>Yes</td>
                        <th style='width: 10em;'>Victim Notification:</th>
                        <td><%= f.check_box :victim_notification %>Yes</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Perm. to Search:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.check_box :perm_to_search %>Yes</td>
                        <th style='width: 10em;'>Misd. Summons:</th>
                        <td><%= f.check_box :misd_summons %>Yes</td>
                        <th style='width: 10em;'>48 Hour:</th>
                        <td><%= f.check_box :fortyeight_hour %>Yes</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Medical Release:</th>
               <td><%= f.check_box :medical_release %>Yes</td>
            </tr>
            <tr>
               <th>Other:</th>
               <td><%= f.text_area :other_documents %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </legend>
   </div>

   <%= form_buttons %>
<% end %>

<%= observe_field 'offense_call_id', :url => { :controller => 'calls', :action => 'validate' }, :with => "'c=' + value + '&call_description_id=call_sheet&case_no_id=offense_case_no'" %>
<%= set_focus_to_id 'offense_offense_date' %>