<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "New offense reports can be created from the call sheet view which will auto-fill some information from the call sheet." %>

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'offense', :collection => @offenses %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<% if @person.nil? %>
<h3>Offense Search Filter </h3>

<%= filter_help 'offenses', true %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Call ID:</th>
            <td><%= filter_text_field 'call_id', @query[:call_id], 6 %></td>
         </tr>
         <tr>
            <th>Case:</th>
            <td><%= filter_text_field 'case_no', @query[:case_no], 10 %></td>
         </tr>
         <tr>
            <th>Offense Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'offense_from', @query[:offense_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'offense_to', @query[:offense_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Location:</th>
            <td><%= filter_text_field 'location', @query[:location], 40 %></td>
         </tr>
         <tr>
            <th>Details:</th>
            <td><%= filter_text_field 'details', @query[:details], 60 %></td>
         </tr>
         <tr>
            <th>Wrecker:</th>
            <td>
               <%= filter_text_field 'wrecker_used', @query[:wrecker_used], 20 %>
               <%= space(2) %>
               By Request? <%= filter_radio_buttons 'wrecker_by_request',@query[:wrecker_by_request], [['1','Yes'],['0','No']] %>
            </td>
         </tr>
         <tr>
            <th style='vertical-align: middle;'>Vehicle:</th>
            <td>
               <table style='border-left: 1px solid black;'>
                  <tr>
                     <th>Stored:</th>
                     <td><%= filter_text_field 'vehicle_location', @query[:vehicle_location], 20 %></td>
                  </tr>
                  <tr>
                     <th>VIN:</th>
                     <td><%= filter_text_field 'vehicle_vin', @query[:vehicle_vin], 20 %></td>
                  </tr>
                  <tr>
                     <th>License:</th>
                     <td><%= filter_text_field 'vehicle_lic', @query[:vehicle_lic], 10 %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th style='vertical-align: middle;'>Documents:</th>
            <td>
               <table style='border-left: 1px solid black;'>
                  <tr>
                     <th>Pictures:</th>
                     <td><%= filter_radio_buttons 'pictures', @query[:pictures], [['1','Yes'],['0','No']] %></td>
                  </tr>
                  <tr>
                     <th>Restitution Form:</th>
                     <td><%= filter_radio_buttons 'restitution_form', @query[:restitution_form], [['1','Yes'],['0','No']] %></td>
                  </tr>
                  <tr>
                     <th>Victim Notification:</th>
                     <td><%= filter_radio_buttons 'victim_notification', @query[:victim_notification], [['1','Yes'],['0','No']] %></td>
                  </tr>
                  <tr>
                     <th>Permission to Search:</th>
                     <td><%= filter_radio_buttons 'perm_to_search', @query[:perm_to_search], [['1','Yes'],['0','No']] %></td>
                  </tr>
                  <tr>
                     <th>Misdemeanor Summons:</th>
                     <td><%= filter_radio_buttons 'misd_summons', @query[:misd_summons], [['1','Yes'],['0','No']] %></td>
                  </tr>
                  <tr>
                     <th>48 Hour:</th>
                     <td><%= filter_radio_buttons 'fortyeight_hour', @query[:fortyeight_hour], [['1','Yes'],['0','No']] %></td>
                  </tr>
                  <tr>
                     <th>Medical Release:</th>
                     <td><%= filter_radio_buttons 'medical_release', @query[:medical_release], [['1','Yes'],['0','No']] %></td>
                  </tr>
                  <tr>
                     <th>Other:</th>
                     <td><%= filter_text_field 'other_documents', @query[:other_documents], 40 %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'officer_badge', @query[:officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'officer_unit', @query[:officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'officer', @query[:officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
<% end %>