<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Occurred:</th>
         <td><%=h format_date(@offense.offense_date, @offense.offense_time) %></td>
      </tr>
      <tr>
         <th>Location:</th>
         <td><%=h @offense.location %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h show_contact @offense, :officer %></td>
      </tr>
      <tr>
         <th>Call ID:</th>
         <td>
            <% unless @offense.call.nil? %>
               <%= link_to @offense.call.id.to_s, @offense.call %>
               <%= call_detail_summary(@offense.call) %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Case:</th>
         <td><%= case_number_or_link(@offense.case_no) %></td>
      </tr>
   </table>
</div>

<h4>Details</h4>

<%= htmlize @offense.details %>

<h3>Wreckers Used</h3>
<% unless @offense.wreckers.empty? %>
   <table style='width:100%;'>
      <tr>
         <th>Wrecker</th>
         <th>Req?</th>
         <th>Location</th>
         <th>TAG</th>
         <th>VIN</th>
      </tr>
      <% for w in @offense.wreckers %>
         <tr>
            <td><%=h w.name %></td>
            <td><%= w.by_request? ? 'Yes' : 'No' %></td>
            <td><%=h w.location %></td>
            <td><%=h w.tag %></td>
            <td><%=h w.vin %></td>
         </tr>
      <% end %>
   </table>
<% end %>

<h3>Attachments</h3>

<h4>Victims</h4>
<% unless @offense.victims.empty? %>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @offense.victims %>
   </table>
<% end %>

<h4>Suspects</h4>
<% unless @offense.suspects.empty? %>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @offense.suspects %>
   </table>
<% end %>
   
<h4>Witnesses</h4>
<% unless @offense.witnesses.empty? %>
   <table style="width: 100%;">
      <%= render :partial => 'people/header' %>
      <%= render :partial => 'people/person', :collection => @offense.witnesses %>
   </table>
<% end %>

<h4>Evidence</h4>
<% unless @offense.evidences.empty? %>
   <table style='width: 100%;'>
      <%= render :partial => 'evidences/header' %>
      <%= render :partial => 'evidences/evidence', :collection => @offense.evidences %>
   </table>
<% end %>

<h4>Crime Scene Photos</h4>
<%= @offense.offense_photos.collect{|p| link_to(image_tag(p.crime_scene_photo.url(:thumb)), p)}.join(' ') %>

<h3>Documentation</h3>

<% if @offense.pictures? || !@offense.offense_photos.empty? || @offense.restitution_form? || @offense.victim_notification? || @offense.perm_to_search? || @offense.misd_summons? || @offense.fortyeight_hour? || @offense.medical_release? || !@offense.witnesses.empty? || @offense.other_documents? || !@offense.forbids.empty? %>
   <ul>
      <% if @offense.pictures? || !@offense.offense_photos.empty? %>
         <li>Pictures</li>
      <% end %>
      <% if @offense.restitution_form? %>
         <li>Restitution Form</li>
      <% end %>
      <% if @offense.victim_notification? %>
         <li>Victim Notification Form</li>
      <% end %>
      <% if @offense.perm_to_search? %>
         <li>Permission To Search Form</li>
      <% end %>
      <% if @offense.misd_summons? %>
         <li>Misdemeanor Summons</li>
      <% end %>
      <% if @offense.fortyeight_hour? %>
         <li>48 Hour Form</li>
      <% end %>
      <% if @offense.medical_release? %>
         <li>Medical Release Form</li>
      <% end %>
      <% for a in @offense.arrests %>
         <li>Arrest Report: <%= link_to a.id.to_s, a %> <%=h format_date(a.arrest_date, a.arrest_time) %> (<%=h show_person a.person %>)</li>
      <% end %>
      <% for w in @offense.witnesses %>
         <li>Witness Statement: <%=h show_person w %></li>
      <% end %>
      <% for c in @offense.citations %>
         <li>Citation: #<%=h c.ticket_no %>: <%=h show_person c.person %>, For: <%= c.charge_summary %></li>
      <% end %>
      <% for f in @offense.forbids %>
         <li>Forbidden To Enter -- By: <%=h f.complainant %>
            For: <%=h f.full_name %>
            <% if f.recall_date? %>
               Recalled: <%=h format_date(f.recall_date) %>
            <% elsif f.signed_date? %>
               Served: <%=h format_date(f.signed_date) %>
            <% else %>
               <span class='error'>NOT YET SERVED</span>
            <% end %>
         </li>
      <% end %>
   </ul>
   <% if @offense.other_documents? %>
      <div>
         Other:<br/><%= simple_format @offense.other_documents %>
      </div>
   <% end %>
<% else %>
   <ul>
      <li>No Additional Documentation</li>
   </ul>
<% end %>

<h3>Remarks</h3>
<%= textilize @offense.remarks %>

<%= link_bar_extra %>
<%= link_bar %>
<%= created_by @offense %>