<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :help, :url => {:action => 'edit', :id => @help.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   <div class='basic'>
      <fieldset>
         <legend>Help Identification</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Title:</th>
               <td><%= f.text_field :title, :size => 80 %></td>
            </tr>
            <tr>
               <th><%= required %>Section:</th>
               <td><%= f.text_field :section, :size => 20 %></td>
            </tr>
            <tr>
               <th><%= required %>Page:</th>
               <td><%= f.text_field :page, :size => 20 %></td>
            </tr>
         </table>
      </fieldset>
   
      <fieldset>
         <legend>Body</legend>
         <%= f.text_area :body, :style => 'height: 30em;', :class => 'textile' %>
      </fieldset>
   
      <%= form_buttons %>
   </div>
<% end %>
<%= link_bar %>
<%= set_focus_to_id 'help_title' %>