<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width:100%;'>
  <%= render :partial => 'header' %>
  <%= render :partial => 'help', :collection => @helps %>
  <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Help Page Search Filter</h3>
<%= filter_help 'help pages' %>

<form action='<% url_for :action => "index" %>'>
   <div class='basic-filter'>
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Section:</th>
            <td><%= filter_text_field 'section', @query[:section], 30 %></td>
         </tr>
         <tr>
            <th>Page:</th>
            <td><%= filter_text_field 'page', @query[:page], 30 %></td>
         </tr>
         <tr>
            <th>Contains the Phrase:</th>
            <td><%= filter_text_field 'text', @query[:text], 70 %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
