<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Help Page ID: <%= @help.id %></h1>
<div style='text-align:center;'>Section: <b><%=h @help.section %></b>
   Page: <b><%=h @help.page %></b></div>
<div style='text-align:center;'>Everything between this line and the button
   bar at the bottom will appear on the help screen.</div><hr/>
<h3><%=h @help.title %></h3>

<%= textilize @help.body %>

<%= link_bar %>
