<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<% new_or_existing = city_charge.new_record? ? 'new' : 'existing' %>
<% prefix = "arrest[#{new_or_existing}_city_charges][]" %>
<% manual_prefix = prefix.clone.sub(/\[\]/, (city_charge.new_record? ? "[]" : "[#{city_charge.id}]")) %>

<% fields_for(prefix, city_charge) do |pf| %>
   <tr class='charge'>
      <th>Charge:</th>
      <td><input type='text' size='3' name="<%= manual_prefix %>[count]" value="<%= city_charge.count %>" /><%= hint('Count') %></td>
      <td><input type='text' size='60' name="<%= manual_prefix %>[charge]" value="<%= city_charge.charge %>" class='charge_name' onchange="<%= js_charge_lookup %>" /><%= hint('Charge') %></td>
      <td><select name="<%= manual_prefix %>[agency_id]"><%= options_for_select(get_opts("Local Agencies"), city_charge.agency_id) %></select><%= hint('City') %></td>
      <td>
         <%= pf.hidden_field(:created_by) %>
         <%= pf.hidden_field(:updated_by) %>
         <%= button_to_function('Remove', "$(this).up('.charge').remove()") %>
      </td>
      <td>
         <% city_charge.errors.each do |attr, msg| %>
            <div class='error'>
               <b><%= attr %></b> <%= msg %>
            </div>
         <% end %>
      </td>
   </tr>
<% end %>
