<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for(review) %>';return false;">
   <td>
      <% p = review.person_review %>
      <% p.nil? ? b = nil : b = p.bookings_review.last %>
      
      <b><%=h review.id %><%= review.legacy? ? ' [Legacy]' : '' %></b>
      <%= space(4) %>
      <b>Date:</b> <%=h format_date(review.arrest_date, review.arrest_time) %>
      <%= space(4) %>
      <b>Case Number:</b> <%=h review.case_no %>
      <%= space(4) %>
      <% unless review.offense.nil? %>
         <b>Offense ID:</b> <%=h review.offense.id %>
      <% end %>
      
      <br/>
      
      <%= space(6) %>
      <% unless p.nil? %>
         <b>Person:</b> <%=h show_person(p) %>
         <%= space(4) %>
      <% end %>
      
      <br/>
      
      <%= space(6) %>
      <b>Arrested By:</b>
      <%=h review.officers %>
      <% if review.agency? %>
         [<%=h review.agency %>]
      <% end %>
      
      <br/>
      
      <%= space(6) %>
      <b>Charges:</b>
      <%= summary('DISTRICT: ' + review.district_charge_summary + ' -- CITY: ' + review.city_charge_summary + ' -- OTHER: ' + review.other_charge_summary) %>
      <br/>
      <%= space(6) %>
      <b>Warrants:</b>
      <%= summary(review.warrant_summary) %>
      
      <br/>
      
      <% unless b.nil? %>
         <%= space(6) %>
         <% if b.release_date? %>
            <span class='notice'><b>Prisoner Released:</b></span>
            <%=h format_date(b.release_date, b.release_time) %> By <%=h show_contact(b, :release_officer) %>
         <% else %>
            <span class='message'><b>Prisoner Is Currently In Custody:</b></span>
            <b>Active Holds:</b> <%= b.hold_summary %>
         <% end %>
      <% else %>
         <span class='error'><b>Prisoner Booking Information Missing!</b></span>
      <% end %>
   </td>
</tr>