<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<%= tip(std_help) %>
<%= tip(textile_help) %>
<%= tip("If you attempt to serve a warrant on this arrest but get an error saying that it is not for this person, this means the Person ID on the warrant does not match the Person ID on the Arrest. To serve that warrant here, you will first have to change the Person ID on the warrant to match the one on this arrest.") %>
<%= tip("If you do not enter a <b>Case No:</b>, this arrest will generate a new call sheet! To avoid this, contact your dispatcher for the appropriate case number.", :tip_type => 'warning', :force => true) %>

<% form_for('arrest', :url => {:action => :edit, :id => @arrest.id, :booking_id => @booking.id }, :method => :post) do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field(:person_id) %>
      <%= f.hidden_field(:legacy, :value => false) %>
      <fieldset>
         <legend>Arrest Information</legend>
         <table class='input'>
            <tr>
               <th>Name:</th>
               <td><%=h show_person(@arrest.person) %></td>
            </tr>
            <tr>
               <th>Offense:</th>
               <td><%= f.text_field(:offense_id, :size => 6) %><%= hint('ID') %></td>
            </tr>
         </table>
         <%= input_note('If you do not enter a case number, the arrest will create a new call sheet automatically. This is usually <b>not</b> what you want. Contact your dispatcher for the correct case number if necessary.') %>
         <table class='input'>
            <tr>
               <th>Case Number:</th>
               <td><%= f.text_field(:case_no, :size => 10) %></td>
            </tr>
            <tr>
               <th><%= required %>Arrested:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select(:arrest_date, :size => 10) %><%= hint('MM/DD/YYYY') %></td>
                        <td><%= f.text_field(:arrest_time, :size => 5) %><%= hint('HH:MM') %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <%= input_note('<b>District Charges</b> are processed in District Court.  <b>City Charges</b> are processed in City (Mayor&apos;s) Court and are only for cities within this Parish.  <b>Other Charges</b> are for Out of Parish/Out of State warrants only.') %>
         <table class='input'>
            <tr>
               <th><%= required %>Type of Arrest:</th>
               <td>
                  <% if @type_locked %>
                     <%=h @arrest.arrest_type_name %>
                     <%= f.hidden_field(:arrest_type) %>
                  <% else %>
                     <%= f.select(:arrest_type, get_opts('Arrest Type', :allow_nil => true)) %>
                  <% end %>
               </td>
            </tr>
            <%= contact_row(:arrest, :agency, :required => true, :getopts => 'Agencies') %>
            <%= contact_row(:arrest, :officer1, :title => "Officer:", :required => true) %>
            <%= contact_row(:arrest, :officer2, :title => "Officer:") %>
            <%= contact_row(:arrest, :officer3, :title => "Officer:") %>
            <tr>
               <th>AFIS Trans. No.:</th>
               <td><%= f.text_field(:atn, :size => 20) %><%= hint("ATN") %></td>
            </tr>
            <tr>
               <th>Ward:</th>
               <td><%= f.text_field(:ward, :size => 2) %></td>
            </tr>
            <tr>
               <th>District:</th>
               <td><%= f.text_field(:district, :size => 2) %></td>
            </tr>
            <tr>
               <th>Victim Notify?</th>
               <td><%= f.check_box(:victim_notify) %><b>Yes</b></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Probation/Parole</legend>
         <%= input_note('Checking one of these options will add a probation/parole hold on the booking.') %>
         <table class='input'>
            <tr>
               <th>Hold For:</th>
               <td>
                  <%= f.check_box(:parish_probation) %><b>Parish</b>
                  <%= f.check_box(:state_probation) %><b>State</b>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <div id='district' <%= @arrest.arrest_type != 0 ? "style='display:none;'" : '' %>>
         <fieldset>
            <legend>District Charges</legend>
            <%= input_note('Do not list charges here that are included in the Warrants section below.','Enter one charge per line. To add additional charge lines, click the <b>Add Charge</b> button.') %>
            <table id='district_charges' class='input' style='width:auto;'>
               <%= render(:partial => 'district_charge', :collection => @arrest.district_charges.reject{|c| !c.arrest_warrant.nil?}) %>
            </table>
            <p><%= add_district_charge_link("Add Charge") %></p>
         </fieldset>
         
         <fieldset>
            <legend>District Warrants</legend>
            <%= input_note('Enter one warrant per line. To add additional warrant lines, click the <b>Add Warrant</b> button.') %>
            <table id='district_warrants' class='input' style='width:auto;'>
               <%= render(:partial => 'district_warrant', :collection => @arrest.district_warrants) %>
            </table>
            <p><%= add_district_warrant_link("Add Warrant") %></p>
         </fieldset>
         
         <fieldset>
            <legend>DWI Information</legend>
            <%= input_note('If the arrest does not involve a DWI charge, leave this section blank.') %>
            <table class='input'>
               <%= contact_row(:arrest, :dwi_test_officer, :title => "DWI Test Officer:") %>
               <tr>
                  <th>DWI Test Results:</th>
                  <td><%= f.text_field(:dwi_test_results, :size => 10) %></td>
               </tr>
            </table>
         </fieldset>
      </div>
      
      <div id='city' <%= @arrest.arrest_type != 1 ? "style='display:none;'" : '' %>>
         <fieldset>
            <legend>City Court Charges</legend>
            <%= input_note('Do not list charges here that are included in the Warrants section below.','Enter one charge per line.  To add additional charge lines, click the <b>Add Charge</b> button.') %>
            <table id='city_charges' class='input' style='width:auto;'>
               <%= render(:partial => 'city_charge', :collection => @arrest.city_charges.reject{|c| !c.arrest_warrant.nil?}) %>
            </table>
            <p><%= add_city_charge_link("Add Charge") %></p>
         </fieldset>
         
         <fieldset>
            <legend>City Court Warrants</legend>
            <%= input_note('Enter one warrant per line. To add additional warrant lines, click the <b>Add Warrant</b> button.') %>
            <table id='city_warrants' class='input' style='width:auto;'>
               <%= render(:partial => 'city_warrant', :collection => @arrest.city_warrants) %>
            </table>
            <p><%= add_city_warrant_link("Add Warrant") %></p>
         </fieldset>
      </div>
      
      <div id='other' <%= @arrest.arrest_type != 2 ? "style='display:none;'" : '' %>>
         <fieldset>
            <legend>Warrants For Out of Parish/State</legend>
            <%= input_note('Enter one warrant per line. To add additional warrant lines, click the <b>Add Warrant</b> button.') %>
            <table id='other_warrants' class='input' style='width:auto;'>
               <%= render(:partial => 'other_warrant', :collection => @arrest.other_warrants) %>
            </table>
            <p><%= add_other_warrant_link("Add Warrant") %></p>
         </fieldset>
      </div>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note(remark_note) %>
         <%= f.text_area(:remarks, :class => 'textile') %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>

<%= observe_field('arrest_arrest_type', :url => { :controller => 'arrests', :action => 'update_arrest_type' }, :with => 't') %>
<%= set_focus_to_id 'arrest_case_no' %>