<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<%= tip("Arrests shown in <span class='message'>blue text</span> are legacy arrests.") %>

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render(:partial => 'header') %>
   <%= render(:partial => 'arrest', :collection => @arrests) %>
   <%= render(:partial => 'header') %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Arrest Search Filter</h3>
<%= filter_help('arrests', true) %>

<form action='<%= url_for(:action => "index") %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Person ID:</th>
            <td><%= filter_text_field('person_id', @query[:person_id], 6) %></td>
         </tr>
         <tr>
            <th>Full Name:</th>
            <td><%= filter_text_field('name', @query[:name], 35) %></td>
         </tr>
         <tr>
            <th>Offense ID:</th>
            <td><%= filter_text_field('offense_id', @query[:offense_id], 6) %></td>
         </tr>
         <tr>
            <th>Case:</th>
            <td><%= filter_text_field('case_no', @query[:case_no], 10) %></td>
         </tr>
         <tr>
            <th>Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select('arrest_date_from', @query[:arrest_date_from]) %><%= hint('MM/DD/YYYY') %></td>
                     <th>To:</th>
                     <td><%= filter_date_select('arrest_date_to', @query[:arrest_date_to]) %><%= hint('MM/DD/YYYY') %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Arrest Agency:</th>
            <td><%= filter_text_field('agency', @query[:agency], 25) %></td>
         </tr>
         <tr>
            <th>Arrest Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field('officer_badge', @query[:officer_badge], 6) %><%= hint("Badge") %></td>
                     <td><%= filter_text_field('officer_unit', @query[:officer_unit], 6) %><%= hint("Unit") %></td>
                     <td><%= filter_text_field('officer', @query[:officer], 25) %><%= hint("Name") %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>DWI Test:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field('dwi_test_officer_badge', @query[:dwi_test_officer_badge], 6) %><%= hint("Badge") %></td>
                     <td><%= filter_text_field('dwi_test_officer_unit', @query[:dwi_test_officer_unit], 6) %><%= hint("Unit") %></td>
                     <td><%= filter_text_field('dwi_test_officer', @query[:dwi_test_officer], 25) %><%= hint("Name") %></td>
                     <td><%= filter_text_field('dwi_test_results', @query[:dwi_test_results], 6) %><%= hint("Results") %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Warrant Served:</th>
            <td><%= filter_text_field('warrant_no', @query[:warrant_no], 30) %><%= hint('Warrant Number') %></td>
         </tr>
         <tr>
            <th>Charges Contains:</th>
            <td><%= filter_text_field('charge', @query[:charge], 70) %></td>
         </tr>
         <tr>
            <th>Location:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field('ward', @query[:ward], 6) %><%= hint('Ward') %></td>
                     <td><%= filter_text_field('district', @query[:district], 6) %><%= hint('District') %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Victim Notify?</th>
            <td><%= filter_radio_buttons('victim_notify', @query[:victim_notify], [['1', 'Yes'],['0','No']]) %></td>
         </tr>
         <tr>
            <th>Attorney:</th>
            <td><%= filter_text_field('attorney', @query[:attorney], 25) %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field('remarks', @query[:remarks], 70) %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>

<h3>Arrest Reports and Functions</h3>

<blockquote>
   <div class='basic'>
      <form action="<%= url_for(:action => 'arrest_summary') %>">
         <fieldset>
            <legend>Arrest Summary Report</legend>
            <%= input_note 'This summarizes arrests by officer for the selected period. Does not include <i>write-in</i> officers.' %>
            <%= input_note 'If <b>Agency:</b> is selected, only officers for that agency will be included in the report.' %>
            <table class='input'>
               <tr>
                  <th>Agency:</th>
                  <td><select name='agency_id'><%= options_for_select(get_opts("Agencies", :allow_nil => true)) %></select></td>
               </tr>
               <tr>
                  <th>Start Date:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><input name='start_date' size='10' type='text' value='<%= Date.today.beginning_of_month.to_s(:us) %>' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' /></td>
                           <th>End Date:</th>
                           <td><input name='end_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' /></td>
                        </tr>
                     </table>
                  </td>
               </tr>
               <tr>
                  <th/>
                  <td><input type='submit' value='PDF' style='width:100px;'/></td>
               </tr>
            </table>
         </fieldset>
      </form>
   </div>
</blockquote>
