<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title%></h1>

<%= tip(std_help) %>

<% form_for('arrest', :url => {:action => :seventytwo, :id => @arrest.id, :booking_id => @booking.id}, :method => :post) do |f| %>
   <%= f.error_messages %>
   <div class='basic'>
      <fieldset>
         <legend>72 Hour Hearing Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Judge:</th>
               <td><%= f.select(:hour_72_judge_id, get_opts('Judge', :allow_nil => true)) %></td>
            </tr>
            <tr>
               <th><%= required %>72 Hour:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select(:hour_72_date, :size => 10) %><%= hint('MM/DD/YYYY') %></td>
                        <td><%= f.text_field(:hour_72_time, :size => 5) %><%= hint('HH:MM') %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Attorney:</th>
               <td><%= f.text_field(:attorney, :size => 40) %></td>
            </tr>
            <tr>
               <th>Bondable?</th>
               <td><%= f.check_box(:bondable) %>Can Bond</td>
            </tr>
            <tr>
               <th>Bond Conditions:</th>
               <td><%= f.text_field(:condition_of_bond, :size => 70) %></td>
            </tr>
            <tr>
               <th>Bond Amount:</th>
               <td>$<%= f.text_field(:bond_amt, :size => 15) %><%= hint('999999999.99') %></td>
            </tr>
         </table>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'arrest_hour_72_judge_id' %>