<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<div class='basic-view'>
   <% unless @arrest.person.nil? %>
      <%= image_tag(@arrest.person.front_mugshot.url(:small), :style => 'float:right;') %>
   <% end %>
   
   <table style='width:100%;'>
      <tr>
         <th>Name:</th>
         <td><%=h show_person(@arrest.person) %></td>
      </tr>
      <tr>
         <th>Case:</th>
         <td><%= case_number_or_link(@arrest.case_no) %></td>
      </tr>
      <tr>
         <th>Arrested:</th>
         <td><%=h format_date(@arrest.arrest_date, @arrest.arrest_time) %></td>
      </tr>
      <tr>
         <th>Type of Arrest:</th>
         <td><%=h @arrest.arrest_type_name %></td>
      </tr>
      <tr>
         <th>Agency:</th>
         <td><%=h @arrest.agency %></td>
      </tr>
      <tr>
         <th>Officer(s):</th>
         <td><%=h @arrest.officers %></td>
      </tr>
      <tr>
         <th>AFIS No.:</th>
         <td><%=h @arrest.atn %></td>
      </tr>
   </table>

   <h3>Charges</h3>
   <table>
      <% if @arrest.arrest_type == 0 %>
      <tr>
         <th>District Court:</th>
         <td><%=h @arrest.district_charge_summary %></td>
      </tr>
      <% elsif @arrest.arrest_type == 1 %>
      <tr>
         <th>City Court:</th>
         <td><%=h @arrest.city_charge_summary %></td>
      </tr>
      <% elsif @arrest.arrest_type == 2 %>
      <tr>
         <th>Other Parish/State:</th>
         <td><%=h @arrest.other_charge_summary %></td>
      </tr>
      <% else %>
      <tr>
         <td colspan='2'><span class='error'>Invalid Arrest Type</span></td>
      </tr>
      <% end %>
      <% unless @arrest.warrants.empty? %>
         <% for w in @arrest.warrants %>
            <tr>
               <th>Warrant Served:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td>#<%=h w.warrant_no %></td>
                        <td>(ID:<%=h w.id %>)</td>
                        <td>For: <%=h w.jurisdiction.nil? ? 'Unknown' : w.jurisdiction.fullname %></td>
                        <td>(<%= summary(w.charge_summary) %>)</td>
                     </tr>
                  </table>
               </td>
            </tr>
         <% end %>
      <% end %>
   </table>
   
   <h3>Miscellaneous</h3>
   <table>
      <tr>
         <th>Ward:</th>
         <td><%=h @arrest.ward %></td>
      </tr>
      <tr>
         <th>District:</th>
         <td><%=h @arrest.district %></td>
      </tr>
      <tr>
         <th>Victim Notify:</th>
         <td><%= @arrest.victim_notify? ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>DWI Test Officer:</th>
         <td><%=h show_contact(@arrest, :dwi_test_officer) %></td>
      </tr>
      <tr>
         <th>DWI Test Results:</th>
         <td><%=h @arrest.dwi_test_results %></td>
      </tr>
   </table>
   
   <h3>72 Hour Hearing</h3>
   <table>
      <tr>
         <th>Judge:</th>
         <td><%=h @arrest.hour_72_judge.nil? ? 'Pending' : @arrest.hour_72_judge.long_name %></td>
      </tr>
      <tr>
         <th>Date/Time:</th>
         <td><%=h format_date(@arrest.hour_72_date, @arrest.hour_72_time) %></td>
      </tr>
      <tr>
         <th>Attorney:</th>
         <td><%=h @arrest.attorney %></td>
      </tr>
      <tr>
         <th>Can Bond?</th>
         <td><%=h @arrest.hour_72_date? ? (@arrest.bondable? ? 'YES' : 'NO') : '' %></td>
      </tr>
      <tr>
         <th>Bond Conditions:</th>
         <td><%=h @arrest.condition_of_bond %></td>
      </tr>
      <tr>
         <th>Bond Amount:</th>
         <td><%=h @arrest.hour_72_date? ? number_to_currency(@arrest.bond_amt) : '' %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize(@arrest.remarks) %>
</div>

<%= link_bar %>
<%= created_by(@arrest) %>

<% unless @arrest.holds.empty? %>
   <h3>Associated Holds</h3>
   <table style='width:100%;'>
      <%= render(:partial => 'holds/header') %>
      <%= render(:partial => 'holds/hold', :collection => @arrest.holds) %>
   </table>
<% end %>

<% unless @arrest.bonds.reject{|b| !b.hold.nil?}.empty? %>
   <h3>Unlinked Bonds</h3>
   <table style='width:100%;'>
      <%= render(:partial => 'bonds/header') %>
      <%= render(:partial => 'bonds/bond', :collection => @arrest.bonds.reject{|b| !b.hold.nil?}) %>
   </table>
<% end %>

<% if has_permission(Perm[:view_court]) %>
<% dockets = @arrest.dockets %>
<% unless dockets.empty? %>
   <h3>Associated Dockets</h3>
   <table style='width:100%;'>
      <%= render(:partial => 'dockets/header') %>
      <%= render(:partial => 'dockets/docket', :collection => dockets) %>
   </table>
<% end %>
<% end %>
