<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% if !paper.billable? %>
   <% style = "style='color:#{@colors.color_message};background-color:#{@colors.color_light};'" %>
<% else %>
   <% style = '' %>
<% end %>
<tr <%= style %> class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for paper %>';return false;">
   <td><%=h paper.id %></td>
   <td style='white-space:nowrap;'><%=h paper.suit_no %></td>
   <td><%=h paper.paper_type.nil? ? '' : paper.paper_type.name %></td>
   <td><%=h paper.serve_to %></td>
   <td><%=h format_date(paper.court_date) %></td>
   <td><%= paper.status.nil? ? "Done" : paper.status %></td>
</tr>
