<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% net_change = ((payment.charge.nil? ? BigDecimal.new('0.0',2) : payment.charge) - (payment.payment.nil? ? BigDecimal.new('0.0',2) : payment.payment)) %>
<tr class='<%= cycle('link-list-line-odd','link-list-line-even') %>' onclick="window.location='<%= url_for payment %>';return false;">
   <td><%=h payment.report_datetime? ? "*" : "" %></td>
   <td><%=h payment.id %></td>
   <td><%=h format_date(payment.transaction_date) %></td>
   <td><%=h payment.paper.nil? ? '' : payment.paper_id %></td>
   <td><%=h payment.memo %></td>
   <td><%=h payment.receipt_no %></td>
   <td style='text-align: right;'><%=h number_to_currency(payment.payment) %></td>
   <td style='text-align: right;'><%=h number_to_currency(payment.charge) %></td>
   <td style='text-align: right;'><%=h number_to_currency(@end_balance) %><% @end_balance -= net_change %>
</tr>
