<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "Adjustments cannot be edited!  However, if you make a mistake here, you will be able to delete the adjustment prior to posting." %>
<%= tip std_help %>

<% form_for :paper_payment, :url => {:action => 'adjustment', :id => @paper_payment.id, :customer_id => @customer.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Adjustment</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Adjustment Date:</th>
               <td><%= f.calendar_date_select :transaction_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Customer:</th>
               <td><%=h @customer.name %></td>
            </tr>
            <%= contact_row :paper_payment, :officer, :required => true %>
         </table>
      </fieldset>

      <fieldset>
         <legend>Transaction</legend>
         <table class='input'>
            <tr>
               <th>Payment: $</th>
               <td><%= f.text_field :payment, :size => 12 %><%= hint '9999.99' %></td>
            </tr>
            <tr>
               <th>Charge: $</th>
               <td><%= f.text_field :charge, :size => 12 %><%= hint '9999.99' %></td>
            </tr>
         </table>
         <%= input_note "<b>Receipt Number</b> is for recording check and money-order numbers or other payment identification information." %>
         <table class='input'>
            <tr>
               <th>Receipt Number:</th>
               <td><%= f.text_field :receipt_no, :size => 25 %></td>
            </tr>
         </table>
         <%= input_note "<b>Memo</b> is required to explain this adjustment." %>
         <table class='input'>
            <tr>
               <th><%= required %>Memo:</th>
               <td><%= f.text_field :memo, :size => 30 %></td>
            </tr>
         </table>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'paper_payment_transaction_date' %>