<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :customer, :url => {:action => 'edit_customer', :id => @customer.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Customer Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Name:</th>
               <td><%= f.text_field :name, :size => 40 %></td>
            </tr>
            <tr>
               <th><%= required %>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= f.text_field :street, :size => 40 %><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td colspan='3'><%= f.text_field :street2, :size => 40 %><%= hint "Extra" %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :city, :size => 20 %><%= hint 'City' %></td>
                        <td><%= f.select :state_id, get_opts("State") %><%= hint 'State' %></td>
                        <td><%= f.text_field :zip, :size => 10 %><%= hint 'ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Phone:</th>
               <td><%= f.text_field :phone, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
            <tr>
               <th>FAX:</th>
               <td><%= f.text_field :fax, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
         </table>
         <%= input_note "<b>Attention</b> should be filled in with the name of the specific person that invoices should be addressed to.  If there is no specific person handling invoices for this customer, leave this field blank.  This will be shown on the invoice above the company name and address." %>
         <table class='input'>
            <tr>
               <th>Attention:</th>
               <td><%= f.text_field :attention, :size => 40 %></td>
            </tr>
         </table>
         <%= input_note "Disabled Customers are not available for billing on new papers, but remain available for the older records that reference them." %>
         <table class='input'>
            <tr>
               <th>Disabled?</th>
               <td><%= f.check_box :disabled %>YES</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Fees</legend>
         <%= input_note "This allows you to set the No-Service and Mileage fees for this customer.  If you leave these blank, they will be set to the Default values from Site Configuration when you save this customer.  The current default values are:  #{number_to_currency(SiteConfig.noservice_fee)} for No Service Fee and #{number_to_currency(SiteConfig.mileage_fee)} for Mileage Fee.","If you do not wish to charge this customer a No Service Fee or a Mileage Fee, set the appropriate value to 0.00 (not blank!)." %>
         <table class='input'>
            <tr>
               <th>No Service Fee:</th>
               <td><%= f.text_field :noservice_fee, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
            <tr>
               <th>Mileage Fee:</th>
               <td><%= f.text_field :mileage_fee, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'customer_name' %>