<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>

<% form_for :paper, :url => {:action => 'edit', :id => @paper.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Suit Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Suit or Docket No:</th>
               <td><%= f.text_field :suit_no, :size => 20 %></td>
            </tr>
            <tr>
               <th><%= required %>Plaintiff:</th>
               <td><%= f.text_field :plaintiff, :size => 30 %></td>
            </tr>
         </table>
         <%= input_note "If you leave <b>Defendant</b> blank, it will automatically be filled in with the name you enter for <b>Serve To</b> below." %>
         <table class='input'>
            <tr>
               <th><%= required %>Defendant:</th>
               <td><%= f.text_field :defendant, :size => 30 %></td>
            </tr>
            <tr>
               <th>Customer:</th>
               <td><select name='paper[paper_customer_id]' id='paper_paper_customer_id'><option value=''>---</option><optgroup label='Frequently Used'><%= options_for_select(get_opts("Paper Customers Common"),@paper.paper_customer_id) %></optgroup><optgroup label='Alphabetical'><%= options_for_select(get_opts("Paper Customers"), @paper.paper_customer_id) %></optgroup></select></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Paper Information</legend>
         <table id='addr_table' class='input'>
            <tr>
               <th><%= required %>Paper Type:</th>
               <td><%= f.select :paper_type_id, get_opts("Paper Type", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th><%= required %>Date Received:</th>
               <td><%= f.calendar_date_select :received_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Court Date:</th>
               <td><%= f.calendar_date_select :court_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Billable?</th>
               <td><%= f.check_box :billable %>Yes</td>
            </tr>
            <tr>
               <th><%= required %>Serve To:</th>
               <td><%= f.text_field :serve_to, :size => 30 %></td>
            </tr>
            <tr>
               <th>Address:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td colspan='3'><%= f.text_field :street, :size => 30 %> <span id='prior-status'>&nbsp;</span><%= hint 'Street' %></td>
                     </tr>
                     <tr>
                        <td><%= f.text_field :city, :size => 20 %><%= hint 'City' %></td>
                        <td><%= f.select :state_id, get_opts("State", :short_opts => true, :allow_nil => true) %><%= hint 'State' %></td>
                        <td style='width:100%;'><%= f.text_field :zip, :size => 10 %><%= hint 'ZIP' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Phone:</th>
               <td><%= f.text_field :phone, :size => 12 %><%= hint '999-999-9999' %></td>
            </tr>
         </table>
         <%= input_note "<b>Mileage</b> must be a number (cannot be blank).  If you are not charging mileage, set mileage to 0." %>
         <table class='input'>
            <tr>
               <th>Mileage:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.text_field :mileage, :size => 6 %><%= hint '9999.9' %></td>
                        <td><%= button_to_function("Lookup on Yahoo","var street=$('paper_street').value; var city=$('paper_city').value; state=$('paper_state_id').options[$('paper_state_id').options.selectedIndex].text; var url='http://maps.yahoo.com/#mvt=m&lat=31.572995&lon=-93.480795&zoom=11&q1=400%20S.%20Capitol%20St%2C%20Many%2C%20LA&q2=' + encodeURIComponent(street + ', ' + city + ', ' + state); window.open(url)") %></td>
                        <td><%= button_to_function("Lookup on MapQuest","var url='http://mapquest.com/maps?1c=Many&1s=LA&1a=400+S.+Capitol+St&2c=' + encodeURIComponent($('paper_city').value) + '&2s=' + encodeURIComponent($('paper_state_id').options[$('paper_state_id').options.selectedIndex].text) + '&2a=' + encodeURIComponent($('paper_street').value); window.open(url)") %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Service Information</legend>
         <%= input_note "<b>Service Type</b> and <b>Officer</b> are required in order to invoice this paper.  Additionally, either <b>Served Date/Time</b> and <b>Served To</b> OR <b>Date Returned</b> and <b>Non-Service Reason</b> should be filled in prior to invoicing." %>
         <table class='input'>
            <tr>
               <th>Service Type:</th>
               <td><%= f.select :service_type_id, get_opts("Service Type", :allow_nil => true) %></td>
            </tr>
            <%= contact_row :paper, :officer %>
            <tr>
               <th>Served Date/Time:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :served_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :served_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Served To:</th>
               <td><%= f.text_field :served_to, :size => 30 %></td>
            </tr>
            <tr>
               <th>Date Returned:</th>
               <td><%= f.calendar_date_select :returned_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>No Service Reason:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.select :noservice_type_id, get_opts("Noservice Type", :allow_nil => true) %></td>
                        <td><%= f.text_field :noservice_extra, :size => 40 %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Invoice Settings</legend>
         <%= input_note "<b>Service Fee</b> is the amount to bill for serving this paper.  If left blank, it will be filled in with the standard amount for this paper type." %>
         <table class='input'>
            <tr>
               <th>Service Fee:</th>
               <td><%= f.text_field :service_fee, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
         </table>
         <%= input_note "<b>No-Service Fee</b> is the amount to bill when this paper cannot be served (unable to locate, etc).  If left blank, it will be filled in with the default value for this Customer." %>
         <table class='input'>
            <tr>
               <th>No-Service Fee:</th>
               <td><%= f.text_field :noservice_fee, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
         </table>
         <%= input_note "<b>Per Mile Fee</b> is the amount charged per mile.  If left blank, it will be filled in with the default Per Mile Fee for this Customer.  If mileage should not be billed for this paper, set the <b>Mileage</b> field above to 0 and leave this field at the default value." %>
         <table class='input'>
            <tr>
               <th>Per Mile Fee:</th>
               <td><%= f.text_field :mileage_fee, :size => 12 %><%= hint '999999.99' %></td>
            </tr>
         </table>
         <%= input_note "If <b>Bill Mileage Only</b> is checked, the paper service amount on the invoice will always be $0.00 regardless of the <b>Service Fee</b> setting above, and only mileage will be billed." %>
         <table class='input'>
            <tr>
               <th>Bill Mileage Only?</th>
               <td><%= f.check_box :mileage_only %><b>Yes</b></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Comments</legend>
         <%= input_note 'These comments will appear on the Info Sheet.' %>
         <%= f.text_area :comments %>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note %>
         <%= f.text_area :remarks, :class => 'textile' %>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>

<%= observe_field 'paper_serve_to', :url => {:action => 'autofill_serve_to'}, :with => "'name=' + value + '&' + Form.Element.serialize('paper_defendant')" %>
<%= observe_field 'paper_suit_no', :url => {:action => 'autofill_suit_info'}, :with => 'suit' %>
<%= observe_field 'paper_paper_customer_id', :url => {:action => 'autofill_customer_info'}, :with => 'customer_id' %>
<%= observe_field 'paper_paper_type_id', :url => {:action => 'autofill_paper_info'}, :with => 'paper_type_id' %>
<%= observe_field 'paper_service_type_id', :url => {:action => 'autofill_served_to'}, :with => "'service_type_id=' + value + '&' + Form.Element.serialize('paper_serve_to')" %>
<%= observe_field 'paper_street', :url => {:action => 'clear_prior'} %>
<%= observe_field 'paper_city', :url => {:action => 'clear_prior'} %>
<%= observe_field 'paper_state_id', :url => {:action => 'clear_prior'} %>
<%= observe_field 'paper_zip', :url => {:action => 'clear_prior'} %>
<%= set_focus_to_id 'paper_suit_no' %>