<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "Types shown in <span class='error'>Red</span> are disabled and cannot be used for new papers." %>

<%= nav_button_row :action => 'index_paper_type' %>
<table style='width:100%;'>
   <%= render :partial => 'header_paper_type' %>
   <%= render :partial => 'paper_type', :collection => @paper_types %>
   <%= render :partial => 'header_paper_type' %>
</table>
<%= nav_button_row :action => 'index_paper_type' %>

<%= link_bar %>

<%= filter_simple %>

<form action='<% url_for :action => "index_paper_type" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help_simple %>
      <table style='margin-left:20px;'>
         <tr>
            <th>Paper Type ID or Name:</th>
            <td><%= filter_text_field 'simple', @query[:simple], 30 %></td>
         </tr>
      </table>
   </div>
</form>
