<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "Papers shown in blue are not billable." %>

<%= nav_button_row %>
<table style='width:100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'paper', :collection => @papers %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<%= filter_simple %>
<form action='<%= url_for :action => 'index' %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help_simple %>
      <table style='margin-left:20px;'>
         <tr>
            <th>Paper ID, Suit Number or Court Date:</th>
            <td><%= filter_date_select 'simple', @query[:simple] %></td>
         </tr>
      </table>
   </div>
</form>

<%= filter_advanced_start %>

<form action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Paper ID:</th>
            <td><%= filter_text_field 'id', @query[:id], 8 %> (also: Invoice Number)</td>
         </tr>
         <tr>
            <th>Paper Type:</th>
            <td><%= filter_select 'paper_type_id', @query[:paper_type_id], 'Paper Type' %></td>
         </tr>
         <tr>
            <th>Court Date:</th>
            <td><%= filter_date_select 'court_date', @query[:court_date] %><%= hint 'MM/DD/YYYY' %></td>
         </tr>
         <tr>
            <th>Suit No:</th>
            <td><%= filter_text_field 'suit_no', @query[:suit_no], 20 %></td>
         </tr>
         <tr>
            <th>Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 30 %></td>
         </tr>
         <tr>
           <th>Status:</th>
           <td><%= filter_select 'paper_status', @query[:paper_status], 'Paper Status' %></td>
         </tr>
         <tr>
            <th>Customer:</th>
            <td><%= filter_select 'paper_customer_id', @query[:paper_customer_id], 'Paper Customers' %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>

<%= filter_advanced_end %>

<h2>Paper Service Reports and Functions</h2>

<table style='width:100%'>
   <tr>
      <th colspan='7'>Unposted Transactions</th>
   </tr>
   <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Customer</th>
      <th>Memo</th>
      <th>Receipt</th>
      <th>Charge</th>
      <th>Payment</th>
   </tr>
   <% for p in @payments %>
      <tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for p %>';return false;">
         <td><%=h p.id %></td>
         <td><%=h format_date(p.transaction_date) %></td>
         <td style='white-space:nowrap;'><%= p.customer.nil? ? "Invalid Customer" : p.customer.name %></td>
         <td><%=h p.memo %></td>
         <td><%=h p.receipt_no %></td>
         <td><%=h number_to_currency(p.charge) %></td>
         <td><%=h number_to_currency(p.payment) %></td>
      </tr>
   <% end %>
   <% if @payments.empty? %>
      <tr>
         <td style='text-align:center;' colspan="8">No Unposted Transactions</td>
      </tr>
   <% end %>
</table>

<h3>Status Reports</h3>

<blockquote>
<table style='width:100%;'>
   <tr>
      <th>Service Status Report</th>
   </tr>
   <tr>
      <td>
         <form action="<%= url_for(:action => 'service_status') %>" method='get'>
            <div>
               <b>Court Date:</b> <input name='court_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' id='court_date' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
               <input type='submit' value='Status' style='width:100px;'/>
            </div>
         </form>
      </td>
   </tr>
   <tr>
      <td>Select a Court Date and click <b>Status</b> to list the status of all papers for that court date.</td>
   </tr>
   <tr>
      <th>Billable Papers Report</th>
   </tr>
   <tr>
      <td>
         <form action="<%= url_for(:action => 'billing_status') %>" method='get'>
            <div>
               <b>Customer:</b> <select name='customer_id'><option value=''>---</option><%= options_for_select(PaperCustomer.billable_names_for_select) %></select>
               <input type='hidden' value='billable' name='status' />
               <input type='submit' value='Billable' style='width:100px;' />
            </div>
         </form>
      </td>
   </tr>
   <tr>
      <td>Select a Customer and click <b>Billable</b> to list all billable papers for that customer.  If you leave the Customer set to blank (---) the report will be for <b>all customers</b>.  This does not generate invoices!</td>
   </tr>
   <tr>
      <th>Payable Papers Report</th>
   </tr>
   <tr>
      <td>
         <form action="<%= url_for(:action => 'billing_status') %>" method='get'>
            <div>
               <b>Customer:</b> <select name='customer_id'><option value=''>---</option><%= options_for_select(PaperCustomer.payable_names_for_select) %></select>
               <input type='hidden' value='payable' name='status' />
               <input type='submit' value='Payable' style='width:100px;' />
            </div>
         </form>
      </td>
   </tr>
   <tr>
      <td>Select a Customer and click <b>Payable</b> to list all unpaid papers for that customer. If you leave the Customer set to blank (---) the report will be for <b>all customers</b>.  This does not enter payments!</td>
   </tr>
</table>
</blockquote>

<h3>Billing</h3>

<blockquote>
   <table style='width:100%;'>
      <tr>
         <th>Customer Payment History</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'history') %>" method='get'>
               <div>
                  <b>Customer:</b> <select name='customer_id'><%= options_for_select(PaperCustomer.names_for_select(true)) %></select>
                  <b>From:</b> <input name='from_date' size='10' type='text' value='<%=h Date.today.beginning_of_month.to_s(:us) %>' id='from_date' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
                  <b>To:</b> <input name='to_date' size='10' type='text' value='<%=h Date.today.to_s(:us) %>' id='to_date' /> <img alt='Calendar' class='calendar_date_select_popup_icon' onclick='new CalendarDateSelect( $(this).previous(), {year_range:10} );' src='/images/calendar_date_select/calendar.gif' style='border:0px; cursor:pointer;' />
                  <input type='submit' value='History' style='width:100px;' />
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>Select a Customer, a From: date and a To: date, then click <b>History</b> to print a history of all payments made by this customer during that period.  To print all payments on file, make sure From: and To: are blank.  To print payments before a specific date, enter the date in To: and leave From: blank.  To print payments after a specific date, enter the date in From: and leave To: blank.</td>
      </tr>
      <% if has_permission(Perm[:update_civil]) %>
         <% customers = PaperCustomer.billable_names_for_select %>
         <tr>
            <th>Generate New Invoices</th>
         </tr>
         <tr>
            <td>
               <form action="<%= url_for(:action => 'invoice') %>" method='post'>
                  <div>
                     <%= form_auth %>
                     <b>Customer:</b> <select name='customer_id'><%= customers.empty? ? "<option value=''>No Billable Customers</option>" : '' %><%= options_for_select(customers) %></select>
                     <input type='submit' value='Bill' style='width:100px;' <%= customers.empty? ? "disabled='disabled'" : "" %>/>
                  </div>
               </form>
            </td>
         </tr>
         <tr>
            <td>Select a Customer and click <b>Bill</b> to generate invoices for all billable papers for that customer.</td>
         </tr>
      <% end %>
   </table>
</blockquote>

<h3>Posting Reports</h3>

<%= tip 'Printing the Posting report will not update this screen. You need to do a screen refresh after posting or the old transactions will still be listed.' %>

<blockquote>
<table style='width:100%;'>
   <tr>
      <th>Posting Report Preview</th>
   </tr>
   <tr>
      <td>
         <%= button_to_function("Preview", :style => 'width:100px;'){|page| page.redirect_to(url_for(:action => 'posting_report', :status => 'preview'))} %>
      </td>
   </tr>
   <tr>
      <td>Click Preview to generate the posting report <b>preview</b>. This will not post the transactions.</td>
   </tr>
   <% if has_permission(Perm[:update_civil]) %>
      <tr>
         <th>Posting Report</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'posting_report') %>" method='post'>
               <div>
                  <%= form_auth %>
                  <input type='submit' value='Post' style='width:100px;'/>
                  <input type='hidden' name='status' value='post'/>
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td>Click Post to generate the posting report. <span class='error'><b>WARNING!</b></span> This is the actual posting report. It will mark all unposted transactions as posted. <b>This is not undoable!</b> Please use the <b>Preview</b> report if you do not wish to post.</td>
      </tr>
   <% end %>
   <tr>
      <th>Posting Report Reprints</th>
   </tr>
   <tr>
      <td>
         <% if PaperPayment.posting_dates.empty? %>
            [ Not Available ]
         <% else %>
            <form action="<%= url_for(:action => 'posting_report') %>" method='get'>
               <div>
                  <input type='hidden' value='reprint' name='status'/>
                  <b>Posting Date:</b> <select name='post_datetime'><%= options_for_select(get_opts("Paper Posting")) %></select>
                  <input type='submit' value='Reprint' style='width:100px;'/>
               </div>
            </form>
         <% end %>
      </td>
   </tr>
   <tr>
      <td>To reprint a prior posting report, select a posting date/time and click the Reprint button.</td>
   </tr>
</table>
</blockquote>

<h3>Functions</h3>

<blockquote>
   <% if has_permission(Perm[:update_civil]) %>
   <table style='width:100%;'>
      <tr>
         <th>Update Customer Fee Defaults</th>
      </tr>
      <tr>
         <td>
            <form action="<%= url_for(:action => 'update_fees') %>" method='post'>
               <div>
                  <%= form_auth %>
                  <input type='radio' name='status' value='noservice' />No Service
                  <input type='radio' name='status' value='mileage' />Mileage
                  <input type='radio' name='status' value='all' checked='checked' />Both
                  <input type='submit' value='Set To Default' style='width:100px;' />
               </div>
            </form>
         </td>
      </tr>
      <tr>
         <td><span class='error'><b>WARNING:</b> Use of this function will undo any custom fees you have specified for your customers.  Make sure this is what you want!</span>  Select which fees should be updated and click <b>Set To Default</b> to update selected fees to the Site Configuration values for <b>all Customers</b>. This function is intended to be used when Site Configuration has been updated with new default fee prices and you wish to update all existing customers accordingly.  If you wish to update a single customer, navigate to that customer record and use the button provided on that page.</td>
      </tr>
   </table>
   <% end %>
</blockquote>
