<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row :action => 'index_customers' %>
<table style='width:100%;'>
   <%= render :partial => 'header_customer' %>
   <%= render :partial => 'customer', :collection => @customers %>
   <%= render :partial => 'header_customer' %>
</table>
<%= nav_button_row :action => 'index_customers' %>

<%= link_bar %>

<%= filter_simple %>
<form action='<%= url_for :action => 'index_customers' %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help_simple %>
      <table style='margin-left:20px;'>
         <tr>
            <th>Customer ID or Name:</th>
            <td><%= filter_text_field 'simple', @query[:simple], 30 %></td>
         </tr>
      </table>
   </div>
</form>

<%= filter_advanced_start %>

<form name='search' action='<% url_for :action => "index_customers" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Name:</th>
            <td><%= filter_text_field 'name', @query[:name], 30 %></td>
         </tr>
         <tr>
            <th>Street:</th>
            <td><%= filter_text_field 'street', @query[:street], 25 %></td>
         </tr>
         <tr>
            <th>City:</th>
            <td><%= filter_text_field 'city', @query[:city], 25 %></td>
         </tr>
         <tr>
            <th>State:</th>
            <td><%= filter_select 'state_id', @query[:state_id], 'State' %></td>
         </tr>
         <tr>
            <th>ZIP:</th>
            <td><%= filter_text_field 'zip', @query[:zip], 5 %></td>
         </tr>
         <tr>
            <th>Attention:</th>
            <td><%= filter_text_field 'attention', @query[:attention], 30 %></td>
         </tr>
         <tr>
            <th>Disabled?</th>
            <td><%= filter_radio_buttons 'disabled', @query[:disabled], [['1', 'Yes'],['0','No']] %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 70 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>

<%= filter_advanced_end %>