<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "Payment transactions cannot be edited!  However, if you make a mistake here, you will be able to delete the transaction prior to posting." %>
<%= tip std_help %>

<% form_for :paper_payment, :url => {:action => 'payment', :id => @paper_payment.id, :customer_id => @customer.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Invoice</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Transaction Date:</th>
               <td><%= f.calendar_date_select :transaction_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
            </tr>
            <tr>
               <th>Customer:</th>
               <td><%=h @customer.name %></td>
            </tr>
            <tr>
               <th><%= required %>Invoice:</th>
               <td><%= f.select :paper_id, @customer.papers_for_select.unshift(['---',nil]) %> <b>Total Due:</b> <span id='invoice_total'><%=h @paper_payment.paper.nil? ? '$0.00' : number_to_currency(@paper_payment.paper.invoice_total) %></span></td>
            </tr>
            <%= contact_row :paper_payment, :officer, :required => true %>
         </table>
      </fieldset>

      <fieldset>
         <legend>Transaction</legend>
         <%= input_note "Invoices must be paid in full. This payment form does not support partial payments." %>
         <table class='input'>
            <tr>
               <th><%= required %>Payment Type:</th>
               <td><%= f.select :payment_method, PaperPayment.types_for_select %></td>
            </tr>
            <tr>
               <th>Amt. Paid: $</th>
               <td><%= f.text_field :payment, :size => 12 %><%= hint '9999.99' %></td>
            </tr>
         </table>
         <%= input_note "<b>Adjustment</b> will be calculated automatically when <b>Payment</b> is entered. This is the amount that the invoice total must change to match the entered payment.","When <b>Adjustment</b> is not 0 (zero), a <b>Memo</b> will be required." %>
         <table class='input'>
            <tr>
               <th>Adjustment:</th>
               <td><div id='charge-div'><%= number_to_currency(0) %></div><%= f.hidden_field :charge %></td>
            </tr>
         </table>
         <%= input_note "<b>Receipt Number</b> is for recording check and money-order numbers or other payment identification information." %>
         <table class='input'>
            <tr>
               <th>Receipt Number:</th>
               <td><%= f.text_field :receipt_no, :size => 25 %></td>
            </tr>
         </table>
         <%= input_note "<b>Memo</b> is for adding very short explanations for unusual transactions. These will show up in the posting report." %>
         <table class='input'>
            <tr>
               <th>Memo:</th>
               <td><%= f.text_field :memo, :size => 30 %></td>
            </tr>
         </table>
      </fieldset>
      
      <%= form_buttons %>
   </div>
<% end %>
<%= observe_field 'paper_payment_paper_id', :url => {:action => 'update_payment'}, :with => 'i' %>
<%= observe_field 'paper_payment_payment', :url => {:action => 'update_adjustment'}, :with => "'p=' + value + '&' + Form.Element.serialize('paper_payment_paper_id')" %>
<%= set_focus_to_id 'paper_payment_transaction_date' %>