<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# ===================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "Deleting Invoice transactions will also un-invoice the paper." %>
<%= tip "Paper transactions cannot be edited.  If you make a mistake, you can delete the transaction <b>before it is posted</b>.  Once posted, paper transactions cannot be deleted." %>

<% if @payment.trans_not_deletable? && !@payment.report_datetime? %>
   <div class='error' style='text-align:center;'>This transaction cannot be deleted.</div>
<% end %>

<div class='basic-view'>
   <h3>Invoice</h3>
   <table>
      <tr>
         <th>Transaction Date:</th>
         <td><%=h format_date @payment.transaction_date %></td>
      </tr>
      <tr>
         <th>Customer:</th>
         <td><%=h @payment.customer.nil? ? 'Invalid Customer' : @payment.customer.name %></td>
      </tr>
      <tr>
         <th>Invoice:</th>
         <td><%=h @payment.paper_id %> <b>Total Due:</b> <%=h @payment.paper.nil? ? '$0.00' : number_to_currency(@payment.paper.invoice_total) %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h show_contact @payment, :officer %></td>
      </tr>
   </table>

   <h3>Transaction</h3>
   <table>
      <tr>
         <th>Payment Type:</th>
         <td><%=h @payment.payment_method %></td>
      </tr>
      <tr>
         <th>Amt. Paid:</th>
         <td><%=h number_to_currency(@payment.payment) %></td>
      </tr>
      <tr>
         <th>Adjustment:</th>
         <td><%=h number_to_currency(@payment.charge) %></td>
      </tr>
      <tr>
         <th>Receipt Number:</th>
         <td><%=h @payment.receipt_no %></td>
      </tr>
      <tr>
         <th>Memo:</th>
         <td><%=h @payment.memo %></td>
      </tr>
   </table>
   <% if @payment.report_datetime? %>
      <p/>
      <table>
         <tr>
            <th><span class='error'>Posted:</span></th>
            <td><span class='error'><%=h format_date(@payment.report_datetime) %></span></td>
         </tr>
      </table>
   <% end %>
</div>
<%= link_bar %>
<%= created_by @payment %>