<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Customer ID: <%= @customer.id %></h1>

<%= tip 'Disabled Customers are not selectable on new records, but stay accessible so that old records remain correct.' %>
<% if has_permission(Perm[:destroy_civil]) %>
   <%= tip "If the Delete button is disabled (grayed out), this means the customer is referenced on existing papers or payments and cannot be deleted. Consider disabling the customer instead." %>
<% end %>

<div class='basic-view'>
   <table>
      <tr>
         <th>Name:</th>
         <td><%=h @customer.name %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%= [@customer.address_line1,@customer.address_line2,@customer.address_line3].collect{|a| (a.blank? ? nil : a)}.compact.join("<br/>") %></td>
      </tr>
      <tr>
         <th>Phone:</th>
         <td><%=h @customer.phone %></td>
      </tr>
      <tr>
         <th>FAX:</th>
         <td><%=h @customer.fax %></td>
      </tr>
      <tr>
         <th>Attention:</th>
         <td><%=h @customer.attention %></td>
      </tr>
   </table>
   
   <h4>Fee Schedule</h4>
   <table>
      <tr>
         <th>No Service Fee:</th>
         <td><%=h number_to_currency(@customer.noservice_fee) %></td>
         <td>
            <% if @customer.noservice_fee == SiteConfig.noservice_fee %>
               <span class='message'>(Default)</span>
            <% else %>
               <span class='message'>(Site Default = <%= number_to_currency(SiteConfig.noservice_fee) %>)</span>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Mileage Fee:</th>
         <td><%=h number_to_currency(@customer.mileage_fee) %></td>
         <td>
            <% if @customer.mileage_fee == SiteConfig.mileage_fee %>
               <span class='message'>(Default)</span>
            <% else %>
               <span class='message'>(Site Default = <%= number_to_currency(SiteConfig.mileage_fee) %>)</span>
            <% end %>
         </td>
      </tr>
   </table>
   <p>
      <form action="<%= url_for(:action => 'update_fees') %>" method='post'>
         <div>
            <%= form_auth %>
            <input type='hidden' name='id' value="<%= @customer.id %>">
            <input type='radio' name='status' value='noservice' />No Service
            <input type='radio' name='status' value='mileage' />Mileage
            <input type='radio' name='status' value='all' checked='checked' />Both
            <input type='submit' value='Set To Default' style='width:100px;' />
         </div>
      </form>
   </p>
   
   <h4>Current Status</h4>
   <table>
      <tr>
         <th>Balance Due:</th>
         <td>
            <div style='float:left;padding-right:20px;'><%=h number_to_currency(@customer.balance_due) %></div>
            <div style='float:left;'><%= button_to "Adjustment", url_for(:action => 'adjustment', :customer_id => @customer.id), :confirm => "Are you sure you want to enter a manual balance adjustment for this customer?\n\nReally, really sure?", :style => 'width: 100px;', :method => :put %></div>
         </td>
      </tr>
      <tr>
         <th>Disabled?</th>
         <td><%= @customer.disabled? ? "<span class='error'>Yes</span>" : "No" %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize @customer.remarks %>
</div>

<%= link_bar %>
<%= created_by @customer %>

<% unless @payments.empty? %>
   <% @end_balance = @customer.balance_due %>
   <h2>Payment Log (past 30 days)</h2>
   <table style='width: 100%;'>
      <%= render :partial => 'papers/header_payment' %>
      <%= render :partial => 'papers/payment', :collection => @payments %>
   </table>
<% end %>
