<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Paper ID: <%= @paper.id %></h1>

<%= tip "To 'un-invoice' a paper, locate the transaction (payment) created by invoicing and delete it.  These transactions will have a memo like 'Invoicing Paper ID: 2'." %>

<div class='basic-view'>
   <h4>Suit Information</h4>
   <table>
      <tr>
         <th>Suit or Docket No:</th>
         <td><%=h @paper.suit_no %></td>
      </tr>
      <tr>
         <th>Plaintiff:</th>
         <td><%=h @paper.plaintiff %></td>
      </tr>
      <tr>
         <th>Defendant:</th>
         <td><%=h @paper.defendant %></td>
      </tr>
      <tr>
         <th>Customer:</th>
         <td><%=h @paper.customer.nil? ? 'N/A' : @paper.customer.name %></td>
      </tr>
   </table>
   
   <h4>Paper Information</h4>
   <table>
      <tr>
         <th>Paper Type:</th>
         <td>
            <% if @paper.paper_type.nil? %>
               Invalid Type
            <% else %>
               <%= @paper.paper_type.name %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Court Date:</th>
         <td><%=h format_date(@paper.court_date) %></td>
      </tr>
      <tr>
         <th>Date Received:</th>
         <td><%=h format_date(@paper.received_date) %></td>
      </tr>
      <tr>
         <th>Is this paper billable?</th>
         <td><%= @paper.billable? ? "Yes" : "No" %></td>
      </tr>
      <tr>
         <th>Serve To:</th>
         <td><%=h @paper.serve_to %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td><%=h @paper.address_line1 %><br/><%=h @paper.address_line2 %></td>
      </tr>
      <tr>
         <th>Phone:</th>
         <td><%=h @paper.phone %></td>
      </tr>
      <tr>
         <th>Mileage:</th>
         <td><%=h @paper.mileage %></td>
      </tr>
   </table>
   
   <h4>Service Information</h4>
   
   <table>
      <tr>
         <th>Service Type:</th>
         <td><%=h @paper.service_type.nil? ? "" : @paper.service_type.long_name %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h !@paper.service_type.nil? ? show_contact(@paper, :officer) : "" %></td>
      </tr>
      <tr>
         <th>Served Date/Time:</th>
         <td><%=h format_date(@paper.served_date, @paper.served_time) %></td>
      </tr>
      <tr>
         <th>Served To:</th>
         <td><%=h @paper.served_to %></td>
      </tr>
      <tr>
         <th>Date Returned:</th>
         <td><%=h format_date(@paper.returned_date) %></td>
      </tr>
      <tr>
         <th>Non-Service Reason:</th>
         <td><%=h @paper.noservice_type.nil? ? "" : @paper.noservice_type.long_name %> <%=h @paper.noservice_extra? ? "(#{@paper.noservice_extra})" : "" %></td>
      </tr>
   </table>
   
   <h4>Invoice Settings</h4>
   <table>
      <tr>
         <th>Service Fee:</th>
         <td><%= number_to_currency(@paper.service_fee) %></td>
      </tr>
      <tr>
         <th>No-Service Fee:</th>
         <td><%= number_to_currency(@paper.noservice_fee) %></td>
      </tr>
      <tr>
         <th>Per Mile Fee:</th>
         <td><%= number_to_currency(@paper.mileage_fee) %></td>
      </tr>
      <tr>
         <th>Bill Mileage Only?</th>
         <td><%= @paper.mileage_only? ? 'Yes' : 'No' %></td>
      </tr>
   </table>
   
   <h4>Billing Information</h4>
   
   <table>
      <% if @paper.billable? %>
         <tr>
            <th>Date Invoiced:</th>
            <td>
               <% if @paper.invoice_datetime? %>
                  <%=h format_date(@paper.invoice_datetime) %>
               <% else %>
                  Not Yet Invoiced
               <% end %>
            </td>
         </tr>
         <tr>
            <th>Amount Invoiced:</th>
            <td><%=h @paper.invoice_datetime? ? number_to_currency(@paper.invoice_total) + (@paper.mileage_only? ? ' (Mileage Only)' : '') : "" %></td>
         </tr>
         <tr>
            <th>Date Paid:</th>
            <td>
               <% if @paper.invoice_datetime? %>
                  <% if @paper.paid_date? %>
                     <%=h format_date(@paper.paid_date) %> <%=h @paper.memo? ? "(#{@paper.memo})" : "" %>
                  <% else %>
                     Not Yet Paid
                  <% end %>
               <% else %>
                  N/A
               <% end %>
            </td>
         </tr>
      <% else %>
         <tr>
            <th/>
            <td>This Paper will not be billed.</td>
         </tr>
      <% end %>
   </table>
   
   <h4>Comments</h4>
   <%= simple_format @paper.comments %>
   
   <h3>Remarks</h3>
   <%= textilize @paper.remarks %>
</div>

<%= link_bar %>
<%= created_by @paper %>

<%= filter_simple %>
<form action='<%= url_for :action => 'index' %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      <%= filter_help_simple %>
      <table style='margin-left:20px;'>
         <tr>
            <th>Paper ID, Suit Number or Court Date:</th>
            <td><%= filter_date_select 'simple', @query[:simple] %></td>
         </tr>
      </table>
   </div>
</form>


<% unless @paper.payments.empty? %>
   <h2>Transactions</h2>
   <table style='width:100%;'>
      <tr>
         <th>P</th>
         <th>ID</th>
         <th>Date</th>
         <th>Memo</th>
         <th>Receipt</th>
         <th>Paid</th>
         <th>Charged</th>
      </tr>
      <% for payment in @paper.payments.reverse %>
         <tr class='<%= cycle('link-list-line-odd','link-list-line-even') %>' onclick="window.location='<%= url_for payment %>';return false;">
            <td><%= payment.report_datetime? ? "*" : (payment.trans_not_deletable? ? "<span class='error'>X</span>" : "") %></td>
            <td><%=h payment.id %></td>
            <td><%=h format_date(payment.transaction_date) %></td>
            <td><%=h payment.memo %></td>
            <td><%=h payment.receipt_no %></td>
            <td style='text-align: right;'><%=h number_to_currency(payment.payment) %></td>
            <td style='text-align: right;'><%=h number_to_currency(payment.charge) %></td>
         </tr>
      <% end %>
   </table>
<% end %>
      
