<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<!--
FiveO Law Enforcement Software
Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>

This file is part of FiveO.

FiveO is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

FiveO is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with FiveO. If not, see <http://www.gnu.org/licenses/>.

===========================================================================
-->

   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
      <h1><%=h @message.receiver.name %>, you have a new message:</h1>
      
      <table style='border: 1px solid black;'>
         <tr>
            <th>From:</th><td style='width: 100%;'><%=h @message.sender.name %></td>
         </tr>
         <tr>
            <th>Subject:</th><td><%=h @message.subject %></td>
         </tr>
         <tr>
            <td colspan="2"><%= textilize @message.body %></td>
         </tr>
      </table>
      
      <hr/>
      
      <p>
         This message is not SPAM.  You have elected to receive email about
         all user messages to you.  To stop receiving these messages, log in
         to the FiveO application and change your user preferences.
      </p>
   </body>
</html>