<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= bug.status.short_name %>" onclick="window.location='<%= url_for bug %>';return false;">
   <td><%=h bug.id %></td>
   <td><%=h bug.summary %></td>
   <td style='white-space:nowrap;'><%=h show_user bug.assigned, :name_only => true %></td>
   <td style='white-space:nowrap;'><%=h bug.priority.nil? ? "" : bug.priority.long_name.slice(0,1) %></td>
   <td style='white-space:nowrap;'>
      <% unless bug.status.nil? %>
         <% if bug.status.long_name == "Resolved" %>
            <%=h bug.resolution.nil? ? '' : bug.resolution.long_name %>
         <% else %>
            <%=h bug.status.long_name %>
         <% end %>
      <% end %>
   </td>
</tr>
