<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>"  onclick="window.location='<%= url_for review %>';return false;">
   <td>
      <b><%=h review.id %></b>
      <%= space(4) %>
      <b>Date:</b> <%=h format_date(review.reported_date, review.reported_time) %>
      <%= space(4) %>
      <b>Priority:</b> <%=h review.priority.nil? ? '' : review.priority.long_name %>
      
      <br/>
      
      <%= space(6) %>
      <b>Reported By:</b> <%=h show_user(review.reporter) %>
      <%= space(4) %>
      <b>Assigned To:</b> <%=h show_user(review.assigned) %>

      <br/>
      
      <%= space(6) %>
      <b>Summary:</b> <%= summary(review.summary) %>
      
      <% unless review.status.nil? %>
         <br/>
      
         <%= space(6) %>
         <b>Status:</b> <%=h review.status.long_name %>
         <% unless review.status.nil? %>
            <% if review.status.long_name == 'Resolved' %>
               <%= space(4) %>
               <b>Resolution:</b> <%=h review.resolution.nil? ? '' : review.resolution.long_name %>
               <%= space(4) %>
               <%=h format_date(review.resolution_date, review.resolution_time) %>
            <% end %>
         <% end %>
      <% end %>
   </td>
</tr>
