<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Comment For Bug#<%= @bug_comment.bug.id %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :bug_comment, :url => {:action => 'comment', :bug_id => @bug.id}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :user_id %>
      <fieldset>
         <legend>Comment</legend>
         <p><b>From:</b> <%= @bug_comment.user.nil? ? "Unknown" : @bug_comment.user.name %></p>
         <%= f.text_area :comments, :style => 'height: 20em;', :class => 'textile' %>
      </fieldset>
   </div>
   
   <%= form_buttons :preview => true %>
<% end %>

<% unless @preview.nil? %>
<h3>Preview</h3>
<%= textilize @preview %>
<% end %>
<%= set_focus_to_id 'bug_comment_comments' %>