<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip std_help %>
<%= tip textile_help %>

<% form_for :bug, :url => {:action => 'edit', :id => @bug.id}, :method => :post do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <fieldset>
         <legend>Report Information</legend>
         <%= input_note 'The <b>Summary</b> needs to be a short one-line description of the problem. Avoid summaries like &quot;Having problems&quot; or &quot;Does not work&quot; because they give no useful information.  You should instead say something like &quot;Clicking new arrest gives error&quot; or &quot;Headcount report totals are wrong&quot;.' %>
         <table class='input'>
            <tr>
               <th><%= required %>Summary:</th>
               <td><%= f.text_field :summary, :size => 60 %></td>
            </tr>
            <tr>
               <th><%= required %>Reporter:</th>
               <td><%= f.select :reporter_id, get_opts("Users") %></td>
            </tr>
            <tr>
               <th><%= required %>Date:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :reported_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :reported_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th><%= required %>Bug Admin:</th>
               <td><%= f.select :admin_id, get_opts("Admins") %></td>
            </tr>
            <tr>
               <th><%= required %>Priority:</th>
               <td><%= f.select :priority_id, get_opts("Bug Priority") %></td>
            </tr>
            <tr>
               <th><%= required %>Assign To:</th>
               <td><%= f.select :assigned_id, get_opts("Users") %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Details Of Problem</legend>
         <%= input_note 'Be sure to include enough details about the problem so that we can reproduce the error.  If you have any suggestions about how to solve the problem, include them as well.','If this bug report is because of an error, you must include the full text of the error message you received.  &quot;Got an error&quot; is not enough information for us to locate the problem.',"<span class='error'>Do not include any confidential information in bug reports.</span> Bug reports are transmitted to maintenance personnel using plain text email and cannot be considered secure." %>
         <%= required %><%= f.text_area :details, :style => 'height:20em;', :class => 'textile' %>
      </fieldset>
      
      <fieldset>
         <legend>Watch List</legend>
         <%= input_note 'Similar to the CC: list on an EMail message, the Watch List contains the people who are to receive copies of all updates for this bug report.' %>
         <table id='watchers' class='input' style='width:auto;'>
            <%= render :partial => 'watcher', :collection => @bug.watchers %>
         </table>
         <p><%= add_watcher_link 'Add Watcher' %></p>
      </fieldset>
      
      <fieldset>
         <legend>Current Status</legend>
         <table class='input'>
            <tr>
               <th>Status:</th>
               <td><%= f.select :status_id, get_opts("Bug Status") %></td>
            </tr>
            <tr>
               <th>Resolution:</th>
               <td><%= f.select :resolution_id, get_opts("Bug Resolution", :allow_nil => true) %></td>
            </tr>
            <tr>
               <th>Date Resolved:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :resolution_date, :size => 10 %><%= hint "MM/DD/YYYY" %></td>
                        <td><%= f.text_field :resolution_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>

      <%= form_buttons %>
   </div>
<% end %>
<%= set_focus_to_id 'bug_summary' %>