<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width:100%;'>
  <%= render :partial => 'header' %>
  <%= render :partial => 'bug', :collection => @bugs %>
  <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Bug Report Search Filter</h3>
<%= filter_help 'bugs', true %>

<form action='<%= url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Contains the Phrase:</th>
            <td><%= filter_text_field 'text', @query[:text], 70 %></td>
         </tr>
         <tr>
            <th>Bug Number:</th>
            <td><%= filter_text_field 'id', @query[:id], 6 %></td>
         </tr>
         <tr>
            <th>Bug Reporter:</th>
            <td><%= filter_select 'reporter_id', @query[:reporter_id], 'Users' %></td>
         </tr>
         <tr>
            <th>Reported Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'reported_date_from', @query[:reported_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'reported_date_to', @query[:reported_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Assigned To:</th>
            <td><%= filter_select 'assigned_id', @query[:assigned_id], 'Users' %></td>
         </tr>
         <tr>
            <th>Priority:</th>
            <td><%= filter_select 'priority_id', @query[:priority_id], "Bug Priority" %></td>
         </tr>
         <tr>
            <th>Bug Administrator:</th>
            <td><%= filter_select 'admin_id', @query[:admin_id], 'Users' %></td>
         </tr>
         <tr>
            <th>Status:</th>
            <td><%= filter_select 'status_id', @query[:status_id], "Bug Status" %></td>
         </tr>
         <tr>
            <th>Resolution:</th>
            <td><%= filter_select 'resolution_id', @query[:resolution_id], "Bug Resolution" %></td>
         </tr>
         <tr>
            <th>Date Resolved:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'resolution_date_from', @query[:resolution_date_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'resolution_date_to', @query[:resolution_date_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
