<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Bug Report: <%= @bug.id %></h1>

<div class='basic-view'>
   <h3>Reported Information</h3>
   <table>
      <tr>
         <th>Summary:</th>
         <td><%=h @bug.summary %></td>
      </tr>
      <tr>
         <th>Reporter:</th>
         <td><%=h show_user @bug.reporter %></td>
      </tr>
      <tr>
         <th>Date:</th>
         <td><%=h format_date(@bug.reported_date, @bug.reported_time) %></td>
      </tr>
      <tr>
         <th>Bug Administrator:</th>
         <td><%=h show_user @bug.admin %></td>
      </tr>
      <tr>
         <th>Priority:</th>
         <td><%=h @bug.priority.nil? ? "Unknown" : @bug.priority.long_name %></td>
      </tr>
      <tr>
         <th>Assign To:</th>
         <td><%=h show_user @bug.assigned %></td>
      </tr>
   </table>
      
   <h4>Details Of Problem</h4>
   <%= textilize @bug.details %>

   <hr/>

   <table>
      <tr>
         <th>Status:</th>
         <td><%= @bug.status.nil? ? 'Unknown' : h(@bug.status.long_name) %></td>
      </tr>
      <% unless @bug.resolution.nil? %>
         <tr>
            <th>Resolution:</th>
            <td><%=h @bug.resolution.long_name %> <%=h format_date(@bug.resolution_date, @bug.resolution_time) %></td>
         </tr>
      <% end %>
      <tr>
         <th>Watchers:</th>
         <td><%=h @bug.watch_list %></td>
      </tr>
   </table>
</div>

<%= link_bar_extra %>

<%= link_bar %>
<%= created_by @bug %>

<% unless @bug.bug_comments.empty? %>
   <h3>Comments</h3>
   <table style='width:100%;'>
      <% for c in @bug.bug_comments %>
         <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
            <td><%=h show_user c.user %> - <%=h format_date(c.created_at) %><blockquote><%= textilize c.comments %></blockquote></td>
         </tr>
      <% end %>
   </table>
<% end %>

