<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Global Search Results</h1>

<% if @results.nil? || @results.empty? %>

<div style='text-align:center;'>
   <p>
      <span style='font-size:200%;font-weight:bold;'>No Match</span>
   </p>

   <p>
      Your search term <b><%=h @search %></b> did not match any records.
   </p>
</div>

<% else %>

<%= tip %(Be aware that records added within the past hour may not appear in these results. The global search feature is reindexed once each hour. If you need absolutely current information, use the search filter provided on each list page which uses indexes that are always current.) %>

<h3>Search Results</h3>
<div style='text-align:center;'>
   <p>
      Search results for "<b><%=h @search %></b>"
   </p>
</div>

<div>
   <%= tip "Records are sorted by the last modification date (in descending order).  This means newer records (or those modified most recently) are shown first.  At this time, there is no way to modify the sort order." %>

   <%= nav_button_row :action => 'global_search' %> 
   <table id='globalsearch'>
      <tr>
         <th>Record</th>
         <th>Name</th>
         <th>Info 1</th>
         <th>Info 2</th>
         <th>Last Mod</th>
      </tr>
      <% @results.compact.each do |res| %>
         <tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for res %>';return false;">
            <% if res.class.to_s == 'Person' %>
               <% is_wanted = !res.wanted.empty? %>
               <td><%= is_wanted ? "<span class='error'>" : '' %>Person: <%=h show_person(res) %><%= is_wanted ? "</span>" : '' %></td>
               <td>DOB: <%=h format_date(res.date_of_birth) %></td>
               <td>SSN: <%=h res.ssn %></td>
               <td>OLN: <%=h res.oln %> <%=h res.oln_state.nil? ? '' : '(' + res.oln_state.short_name + ')' %></td>
            <% elsif res.class.to_s == "Contact" %>
               <td>Contact: <%=h res.id %></td>
               <td><%=h res.fullname %></td>
               <td>Unit: <%=h res.unit %></td>
               <td>Agency: <%=h res.agency.nil? ? '' : res.agency.fullname %></td>
            <% elsif res.class.to_s == "Call" %>
               <td>Call: <%=h res.id %></td>
               <td><%=h res.call_subjects.empty? ? '' : res.call_subjects.first.name %> (<%=h res.call_subjects.empty? ? '' : res.call_subjects.first.subject_type.long_name %>)</td>
               <td><%=h format_date(res.call_date) %></td>
               <td>Case: <%=h res.case_no %> -- Signal <%=h res.signal_code.nil? ? '' : res.signal_code.short_name %></td>
            <% elsif res.class.to_s == "Arrest" %>
               <td>Arrest: <%=h res.id %></td>
               <td><%=h show_person(res.person) %></td>
               <td><%=h format_date(res.arrest_date) %></td>
               <td>Case: <%=h res.case_no %></td>
            <% elsif res.class.to_s == "CaseNote" %>
               <td>Case Note: <%= res.id %></td>
               <td><%=h show_user(res.creator) %></td>
               <td><%=h format_date(res.note_datetime.to_date) %></td>
               <td>Case: <%=h res.case_no %></td>
            <% elsif res.class.to_s == "Citation" %>
               <td>Citation: <%=h res.id %></td>
               <td><%=h show_person(res.person) %></td>
               <td><%=h format_date(res.citation_date) %></td>
               <td>Ticket: <%= res.ticket_no %></td>
            <% elsif res.class.to_s == "Evidence" %>
               <td>Evidence: <%=h res.id %></td>
               <td><%=h show_person(res.evidence_owner) %></td>
               <td>#<%=h res.evidence_number %></td>
               <td>Case: <%=h res.case_no %></td>
            <% elsif res.class.to_s == "Forbid" %>
               <td>Forbid: <%=h res.id %></td>
               <td>Forbidden: <%=h res.person.nil? ? res.full_name : show_person(res.person) %></td>
               <td>By: <%=h res.complainant %></td>
               <td>Case: <%=h res.case_no %> -- <% res.recall_date? ? "<span class='notice'>Recalled</span>" : (res.signed_date? ? "<span class='message'>Signed</span>" : "<span class='error'>Not Yet Signed</span") %></td>
            <% elsif res.class.to_s == "History" %>
               <td>History: <%=h res.id %></td>
               <td><%=h res.name %></td>
               <td>Key: <%=h res.key %></td>
               <td>Type: <%=h res.type.nil? ? 'Unknown' : res.type.long_name %></td>
            <% elsif res.class.to_s == "Offense" %>
               <td>Offense: <%=h res.id %></td>
               <td><%=h show_contact(res, :officer) %></td>
               <td><%=h format_date(res.offense_date) %></td>
               <td>Case: <%=h res.case_no %> -- Call: <%=h res.call.nil? ? '' : res.call.id %></td>
            <% elsif res.class.to_s == "Pawn" %>
               <td>Pawn: <%=h res.id %></td>
               <td><%=h res.full_name %></td>
               <td><%=h format_date(res.ticket_date) %></td>
               <td>Case: <%=h res.case_no %></td>
            <% elsif res.class.to_s == "Stolen" %>
               <td>Stolen: <%=h res.id %></td>
               <td><%=h show_person(res.person, :name_only => true) %></td>
               <td>Model: <%=h res.model_no %></td>
               <td>Serial: <%=h res.serial_no %> -- Case: <%=h res.case_no %></td>
            <% elsif res.class.to_s == "Warrant" %>
               <td>Warrant: <%=h res.id %></td>
               <td><%=h res.person.nil? ? res.full_name : show_person(res.person) %></td>
               <td>Date: <%=h format_date(res.issued_date) %></td>
               <td>By: <%=h res.jurisdiction.nil? ? 'Unknown' : res.jurisdiction.fullname %></td>
            <% elsif res.class.to_s == "Booking" %>
               <td>Booking: <%=h res.id %></td>
               <td><%=h show_person(res.person) %></td>
               <td><%=h format_date(res.booking_date) %></td>
               <td>Status: <%=h res.release_date? ? "Released" : "In Jail: #{res.facility.nil? ? 'Unknown Location' : res.facility.short_name}" %></td>
            <% elsif res.class.to_s == "Investigation" %>
               <td>Investigation: <%=h res.id %></td>
               <td><%=h show_contact(res, :detective) %></td>
               <td><%=h format_date(res.investigation_date, res.investigation_time) %></td>
               <td>Status <%=h res.status.nil? ? '' : res.status.long_name %></td>
            <% elsif res.class.to_s == "InvestCase" %>
               <td>Investigation Case: <%=h res.id %></td>
               <td><%=h show_contact(res.investigation, :detective) %></td>
               <td>Case Number: <%=h res.case_no %></td>
               <td/>
            <% elsif res.class.to_s == 'InvestCrime' %>
               <td>Investigation Crime: <%=h res.id %></td>
               <td><%=h show_contact(res.investigation, :detective) %></td>
               <td colspan="2"><%=h res.charge_summary %></td>
            <% elsif res.class.to_s == 'InvestCriminal' %>
               <td>Investigation Suspect: <%=h res.id %></td>
               <td><%=h res.person.nil? ? res.full_name : show_person(res.person) %></td>
               <td colspan="2"><%=h res.description %></td>
            <% elsif res.class.to_s == 'InvestPhoto' %>
               <td>Investigation Photo: <%=h res.id %></td>
               <td><%=h show_contact(res, :taken_by) %></td>
               <td colspan='2'><%=h res.description %></td>
            <% elsif res.class.to_s == 'InvestReport' %>
               <td>Investigation Report: <%=h res.id %></td>
               <td><%=h show_contact(res.investigation, :detective) %></td>
               <td colspan='2'><%=h format_date(res.report_date, res.report_time) %></td>
            <% elsif res.class.to_s == 'InvestVehicle' %>
               <td>Investigation Vehicle: <%=h res.id %></td>
               <td><%=h show_person(res.registered_owner) %></td>
               <td><b>Make:</b> <%=h res.make %><%= space(3) %><b>Model:</b> <%=h res.model %></td>
               <td><b>VIN:</b> <%=h res.vin %></td>
            <% elsif res.class.to_s == 'Sentence' %>
               <td>Sentence: <%=h res.id %></td>
               <td><%=h res.docket.nil? ? '' : show_person(res.docket.person) %></td>
               <td colspan='2'><%= res.conviction_count %>: <%= res.conviction %></td>
            <% elsif res.class.to_s == 'Probation' %>
               <td>Probation: <%=h res.id %></td>
               <td><%=h show_person(res.person) %></td>
               <td colspan='2'><%= res.conviction_count %>: <%= res.conviction %> (<%= res.status.nil? ? '' : res.status.long_name %>)</td>
            <% elsif res.class.to_s == 'Doc' %>
               <td>DOC: <%=h res.id %></td>
               <td><%=h show_person(res.person) %></td>
               <td colspan='2'><%= res.conviction %></td>
            <% end %>
            <td><%= format_date(res.updated_at.to_date) %></td>
         </tr>
      <% end %>
      <tr>
         <th>Record</th>
         <th>Name</th>
         <th>Info 1</th>
         <th>Info 2</th>
         <th>Last Mod</th>
      </tr>
   </table>
   <%= nav_button_row :action => 'global_search' %>
</div>

<% end %>