<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% unless @arrests.blank? && @bugs.blank? && @calls.blank? && @forbids.blank? && @pawns.blank? && @warrants.blank? %>
   
   <h1>New Items For Review</h1>
   <%= tip 'You can configure which items you wish to review in your user preferences.' %>
   <div>
      <% unless @arrests.blank? %>
         <h4>New Arrests</h4>
         <table style='width:100%'>
            <%= render :partial => 'arrests/review', :collection => @arrests %>
         </table>
         <% unless @arrest_count == 0 %>
            <p>
               <%= link_to "#{@arrest_count} more...", :controller => 'arrests', :action => 'review' %>
               <%= space(2) %>
               <%= link_to "Skip All", :controller => 'arrests', :action => 'skip_all' %>
            </p>
         <% end %>
      <% end %>
      <% unless @bugs.blank? %>
         <h4>New Bug Reports</h4>
         <table style='width:100%'>
            <%= render :partial => 'bugs/review', :collection => @bugs %>
         </table>
         <% unless @bug_count == 0 %>
            <p>
               <%= link_to "#{@bug_count} more...", :controller => 'bugs', :action => 'review' %>
               <%= space(2) %>
               <%= link_to "Skip All", :controller => 'bugs', :action => 'skip_all' %>
            </p>
         <% end %>
      <% end %>
      <% unless @calls.blank? %>
         <h4>New Calls</h4>
         <table style='width:100%'>
            <%= render :partial => 'calls/review', :collection => @calls %>
         </table>
         <% unless @call_count == 0 %>
            <p>
               <%= link_to "#{@call_count} more...", :controller => 'calls', :action => 'review' %>
               <%= space(2) %>
               <%= link_to "Skip All", :controller => 'calls', :action => 'skip_all' %>
            </p>
         <% end %>
      <% end %>
      <% unless @forbids.blank? %>
         <h4>New Forbids</h4>
         <table style='width:100%'>
            <%= render :partial => 'forbids/review', :collection => @forbids %>
         </table>
         <% unless @forbid_count == 0 %>
            <p>
               <%= link_to "#{@forbid_count} more...", :controller => 'forbids', :action => 'review' %>
               <%= space(2) %>
               <%= link_to "Skip All", :controller => 'forbids', :action => 'skip_all' %>
            </p>
         <% end %>
      <% end %>
      <% unless @pawns.blank? %>
         <h4>New Pawn Tickets</h4>
         <table style='width:100%'>
            <%= render :partial => 'pawns/review', :collection => @pawns %>
         </table>
         <% unless @pawn_count == 0 %>
            <p>
               <%= link_to "#{@pawn_count} more...", :controller => 'pawns', :action => 'review' %>
               <%= space(2) %>
               <%= link_to "Skip All", :controller => 'pawns', :action => 'skip_all' %>
            </p>
         <% end %>
      <% end %>
      <% unless @warrants.blank? %>
         <h4>New Warrants</h4>
         <table style='width:100%'>
            <%= render :partial => 'warrants/review', :collection => @warrants %>
         </table>
         <% unless @warrant_count == 0 %>
            <p>
               <%= link_to "#{@warrant_count} more...", :controller => 'warrants', :action => 'review' %>
               <%= space(2) %>
               <%= link_to "Skip All", :controller => 'warrants', :action => 'skip_all' %>
            </p>
         <% end %>
      <% end %>
   </div>
   <h2>Events</h2>
<% else %>

   <h1>Events</h1>
<% end %>

<% for cal in @calendars %>
   <% if Date.today == cal[0] %>
      <div id='<%= cal[2] %>'>
   <% else %>
      <div id='<%= cal[2] %>' style='display:none;'>
   <% end %>
      <% prev_text = next_text = '' %>
      <% if Date.today > cal[0] %>
         <!-- Prior Months -->
         <% unless cal == @calendars.first %>
            <% prev_text = link_to_function("&lt;&lt; #{cal[1]}", nil, :id => "show_" + cal[1]){|page| page.show cal[1]} %>
         <% end %>
         <% next_text = link_to_function("Hide", nil, :id => "hide_" + cal[2]){|page| page.hide cal[2]} %>
      <% elsif Date.today < cal[0] %>
         <!-- Succeeding Months -->
         <% prev_text = link_to_function("Hide", nil, :id => "hide_" + cal[2]){|page| page.hide cal[2]} %>
         <% unless cal == @calendars.last %>
            <% next_text = link_to_function(cal[3] + " &gt;&gt;", nil, :id => "show_" + cal[3]){|page| page.show cal[3]} %>
         <% end %>
      <% else %>
         <!-- This Month -->
         <% prev_text = link_to_function("&lt;&lt; #{cal[1]}", nil, :id => "show_" + cal[1]){|page| page.show cal[1]} %>
         <% next_text = link_to_function(cal[3] + " &gt;&gt;", nil, :id => "show_" + cal[3]){|page| page.show cal[3]} %>
      <% end %>
      <%= build_calendar cal[0], prev_text, next_text %>
   </div>
<% end %>

<% unless @announcements.empty? %>
   <hr/>
   <h2>Announcements</h2>
   <div class='basic-view'>
      <% for a in @announcements %>
         <h3><%= a.subject %></h3>
         <div>
            <%= image_tag a.creator.user_photo.url(:thumb), :style => 'float:left;' %>
            <% if a.unignorable? %>
               <span style='float:right'><%= icon('lock',18) %></span>
            <% else %>
               <span style='float:right'><a href="<%= url_for(:controller => 'announcements', :action => 'toggle_visible', :id => a.id) %>">Hide</a></span>
            <% end %>
            <div style='margin-left: 5.5em;'>
               <%=h format_date(a.created_at.to_date, :long => true) %>:<br/>
               <%= textilize a.body %><br/>
               <br/>
               -- <%= show_user a.creator %>
            </div>
         </div>
      <% end %>
   </div>
<% end %>

<%= link_bar %>
