<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Case Number: <%= @case %></h1>

<h4>Notes</h4>
<% unless @case_notes.empty? %>
   <table style='width: 100%;'>
      <%= render :partial => 'case_notes/header' %>
      <%= render :partial => 'case_notes/case_note', :collection => @case_notes %>
   </table>
<% end %>
<%= link_bar %>

<% remarks = @related.collect{|c| c[0] == @case ? (c[1].blank? ? nil : [c[1],c[2]]) : nil}.compact %>
<% @related = @related.collect{|c| c[0] == @case ? nil : c}.compact %>
<% unless remarks.empty? %>
   <h4>Detective Remarks</h4>
   <table style='width:100%;'>
      <tr>
         <th style='width:100%'>Remarks</th>
         <th>Detective</th>
      </tr>
      <% for r in remarks %>
      <tr>
         <td><%= textilize_without_paragraph r[0] %></td>
         <td style='white-space:nowrap;'><%=h r[1] %></td>
      </tr>
      <% end %>
   </table>
<% end %>

<h2>Linked Records</h2>
<% for item in @items %>
   <% unless item['records'].empty? %>
      <h4><%= item['name'] %></h4>
      <table style='width: 100%;'>
         <%= render :partial => "#{item['view']}/header" %>
         <%= render :partial => "#{item['view']}/#{item['partial']}", :collection => item['records'] %>
      </table>
   <% end %>
<% end %>

<h2>Related Cases</h2>

<% unless @docket_references.empty? %>
   <h4>By Docket</h4>
   <table style='width:100%;'>
      <tr>
         <th style='white-space:nowrap;'>Docket No.</th>
         <th style='width: 100%;'>Related Cases</th>
      </tr>
      <% for d in @docket_references %>
         <tr>
            <td><%= docket_number_or_link(d.docket_no, d.person_id) %></td>
            <td><%= d.case_numbers.reject{|c| c == @case }.collect{|c| case_number_or_link(c)}.join(", ") %></td>
         </tr>
      <% end %>
   </table>
<% end %>

<% unless @related.empty? %>
   <h4>By Investigation</h4>
   <table style='width:100%;'>
      <tr>
         <th>Case</th>
         <th style='width:100%;'>Remarks</th>
         <th>Detective</th>
      </tr>
      <% for c in @related %>
         <tr>
            <td><%= case_number_or_link(c[0]) %></td>
            <td><%= textilize_without_paragraph c[1] %></td>
            <td style='white-space:nowrap;'><%=h c[2] %></td>
         </tr>
      <% end %>
   </table>
<% end %>
