<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
/* Site Styles */

body {
    font-family: "Arial", "Helvetica", sans-serif;
}

a {
	color: <%= @colors.color_dark %>;
}

.error a {
   color: <%= @colors.color_error %>;
   font-weight: bold;
}

a.visited {
	color: <%= @colors.color_dark %>;
}

.error a.visited {
   color: <%= @colors.color_error %>;
   font-weight: bold;
}

hr {
    color: <%= @colors.color_dark %>;
}

fieldset {
	margin: 5px 0;
	padding: 0;
	padding-bottom: 2px;
	border: 1px solid <%= @colors.color_dark %>;
	background: <%= @colors.color_gray_bg %>;
}

fieldset p {
   margin: .5em 2em;
}

fieldset img.input {
   float:right;
   margin-right: 10px;
   margin-bottom: 10px;
}

fieldset.error {
   border: 1px solid <%= @colors.color_error %>;
   color: <%= @colors.color_black %>;
}

fieldset legend {
	color: <%= @colors.color_dark %>;
	font-weight: bold;
	font-size: 125%;
}

fieldset.error legend {
	color: <%= @colors.color_error %>;
	font-weight: bold;
	font-size: 125%;
}

#maintable {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid <%= @colors.color_dark %>;
	border-collapse: collapse;
}

#maintable td, th, tr {
	margin: 0;
	padding: 0;
}

#maintable #header {
    /* top bar */
	background-color: <%= @colors.color_dark %>;
    line-height: normal;
    height: 95px;
	position: relative;
	padding: 0 0 10px 0;
}

#maintable #header img {
    /* logo */
	position: absolute;
	top: 5px;
	left: 5px;
    height: 95px;
    width: 95px;
    padding: 3px;
}

#maintable #header #sitename {
	text-align: center;
    font-size: 36pt;
    font-family: Impact;
    color: <%= @colors.color_white %>;
}

#maintable #header #sitename #sitemotto {
    font-size: 12pt;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
}

#maintable #leftbar {
	background-color: <%= @colors.color_light %>;
    line-height: normal;
	font-size: 75%;
	padding: 0;
	margin: 0;
	width: 125px;
	vertical-align: top;
}

#maintable #leftbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border: none;
}

#maintable #leftbar li {
	margin: 0 0 2px 0;
}

#maintable #leftbar li a {
	display: block;
	padding: 2px 5px 2px 0.5em;
	margin: 0 5px;
	background-color: <%= @colors.color_white %>;
	color: <%= @colors.color_dark %>;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid <%= @colors.color_dark %>;
	
}

#maintable #leftbar li a:hover {
	background-color: <%= @colors.color_light %>;
	color: <%= @colors.color_dark %>;
}

#maintable #leftbar li.current a {
	background-color: <%= @colors.color_dark %>;
	color: <%= @colors.color_white %>;
}

#maintable #leftbar #version{
	padding: 5px;
	text-align: center;
}

#maintable #leftbar #uidbar {
	padding: 5px;
	text-align: center;
	color: <%= @colors.color_message %>;
	font-weight: bold;
}

#maintable #leftbar .navbar {
   padding: 5px;
}

#maintable #leftbar .lbhead {
	display: block;
	font-size: 120%;
	text-align: center;
	font-weight: bold;
	color: <%= @colors.color_light %>;
	background: <%= @colors.color_black %>;
	margin: 0;
}

#maintable #content {
    /* container for main content */
    padding-left: 12pt;
    padding-right: 12pt;
    padding-bottom: 1em;
    border: 0;
	vertical-align: top;
	border-left: 1px solid <%= @colors.color_dark %>;
}

#maintable #content textarea {
   width: 98%;
   height: 6em;
   margin-left: 5px;
   margin-bottom: 5px;
}

#maintable #content h1 {
    padding-top: 0;
    padding: 2pt 5pt;
    margin: 0 -12pt .5em -12pt;
    color: <%= @colors.color_alt_dark %>;
    background-color: <%= @colors.color_alt_light %>;
    text-align: left;
    border-top: 1px solid <%= @colors.color_alt_dark %>;
    border-left: 10px solid <%= @colors.color_alt_dark %>;
    border-bottom: 2px solid <%= @colors.color_alt_dark %>;
    font-size: 150%;
}

#maintable #content h2 {
    padding-top: 0;
    padding: 2pt 5pt;
    margin: 1em -12pt .5em -12pt;
    color: <%= @colors.color_alt_dark %>;
    background-color: <%= @colors.color_alt_light %>;
    text-align: left;
    border-left: 10px solid <%= @colors.color_alt_dark %>;
    border-bottom: 2px solid <%= @colors.color_alt_dark %>;
    font-size: 150%;
}

#maintable #content #errorExplanation h2 {
   color: <%= @colors.color_error %>;
   text-align: center;
}

#maintable #content h3 {
    padding: 0 .5em;
    margin: .5em 0 .5em 0;
    border-bottom: 2pt solid <%= @colors.color_dark %>;
    color: <%= @colors.color_dark %>;
    text-align: left;
    font-size: 120%;
}

#maintable #content h3.error {
    border-bottom: 2pt solid <%= @colors.color_error %>;
    color: <%= @colors.color_error %>;
    text-align: left;
    font-size: 120%;
}

#maintable #content h4 {
    padding: 0 0 0 .3em;
    margin: .5em 0 .5em 0;
    border-bottom: 1pt solid <%= @colors.color_dark %>;
    color: <%= @colors.color_dark %>;
    font-size: 100%;
}

#maintable #content h5 {
    padding: 0 0 0 .3em;
    margin: .5em 0 .5em 0;
    color: <%= @colors.color_black %>;
    font-size: 100%;
}

#maintable #content div.linkbar {
   padding: 2pt 5pt;
   margin: 0 0 .5em 0;
    border: 1pt solid <%= @colors.color_gray_dark %>;
    text-align: left;
    background-color: <%= @colors.color_gray_light %>;
}

#maintable #content div.linkbar input {
   width: 9em;
   margin-right: .5em;
}

#maintable #content div.linkbarx {
   padding: 2pt 5pt;
   margin: 0 0 .5em 0;
    border: 1pt solid <%= @colors.color_gray_dark %>;
    text-align: left;
}

#maintable #content div.linkbarx input{
   width: 9em;
   margin-right: .5em;
}

#maintable #content div.page-links {
   padding: 2pt 5pt;
   margin: 0 -12pt 0 -12pt;
    border: 1pt solid <%= @colors.color_dark %>;
    text-align: left;
    font-weight: bold;
    background-color: <%= @colors.color_dark %>;
    color: <%= @colors.color_white %>;
    padding-left: 7.75em;
}

#maintable #content div.page-links input {
   width: 10em;
   margin-right: .5em;
}

#maintable #content table.input {
    border: 0;
    padding: 0;
    width: 100%;
}

#maintable #content table.input th {
    font-weight: bold;
    color: <%= @colors.color_black %>;
    background-color: <%= @colors.color_gray_bg %>;
    padding: 0;
    padding-top:3px;
    padding-bottom:3px;
    border: 0;
    text-align: right;
    width: 10em;
    white-space:nowrap;
}

#maintable #content table.input th.wide {
   width: 15em;
}

#maintable #content table.input table.hinted th.top {
   width: 7em;
   font-weight: bold;
   border-bottom: 1px solid <%= @colors.color_dark %>;
   color: <%= @colors.color_dark %>;
   margin-left: 1em;
}

#maintable #content table.input table.hinted th.bottom {
   width: 7em;
   font-weight: bold;
   border-top: 1px solid <%= @colors.color_dark %>;
   color: <%= @colors.color_dark %>;
   margin-left: 1em;
}

#maintable #content table.input table.hinted th {
    width: auto;
}

#maintable #content table.input td {
   border: 0;
   padding-top: 3px;
   padding-bottom: 3px;
   vertical-align:top;
}

#maintable #content div.input {
   font-size: 85%;
   padding: 2px 5px;
   margin: 5px 1em 3px 1em;
}

#maintable #content div.input td {
   vertical-align:top;
}

#maintable #content dl.input dt {
   font-weight: bold;
   margin: 3px 1em;
}

#maintable #content dl.input dd {
   margin: 3px 3em;
}

.help_link {
   top: 160px;
   right: 20px;
   position:absolute;
   font-weight: bold;
}

div#flash-message {
   background-color: #efefef;
   margin: 0 -12pt 0 -12pt;
   font-size: 125%;
   padding-left: 10px;
}

div#time {
   background-color: #efefef;
   color: #666666;
}

#maintable #content a.highlight {
    text-decoration: none;
    color: <%= @colors.color_dark %>;
    border: 1px solid <%= @colors.color_dark %>;
    padding: 0 4px;
}

#maintable #content a.highlight.visited {
    color: <%= @colors.color_dark %>;
}

#maintable #content a.highlight:hover {
    background: <%= @colors.color_light %>;
}

.list-line-even {
    background: <%= @colors.color_alt_light %>;
}

.list-line-odd {
    background: <%= @colors.color_white %>;
}

.link-list-line-even {
    background: <%= @colors.color_alt_light %>;
}

.link-list-line-odd {
    background: <%= @colors.color_white %>;
}

.link-list-line-odd:hover {
   background: <%= @colors.color_light %>;
   cursor: pointer;
}

.link-list-line-even:hover {
   background: <%= @colors.color_light %>;
   cursor: pointer;
}

.bug-new {
   background: #FF9999;
}

.bug-working {
   background: #FFFFCC;
}

.bug-hold {
   background: #CCCCCC;
}

.bug-fixed {
   background: #CCFFCC;
}

.bug-new:hover {
   background: <%= @colors.color_light %>;
   cursor: pointer;
}

.bug-working:hover {
   background: <%= @colors.color_light %>;
   cursor: pointer;
}

.bug-hold:hover {
   background: <%= @colors.color_light %>;
   cursor: pointer;
}

.bug-fixed:hover {
   background: <%= @colors.color_light %>;
   cursor: pointer;
}

#maintable #content table {
   border: 0;
   padding: 1px;
	margin-top: 5px;
}

#maintable #content tr {
    padding: 8px 5px;
}

#maintable #content td {
    padding: 0 5px;
    border: 1px solid <%=@colors.color_alt_dark %>;
}

#maintable #content th {
    color: <%= @colors.color_white %>;
    background-color: <%= @colors.color_alt_dark %>;
    padding: 5px;
    font-weight: bold;
    border-bottom: 1px solid <%= @colors.color_alt_dark %>;
}

#maintable #content th img {
    border: 1px solid <%= @colors.color_white %>;
}

#maintable #content input.auto {
	background-color: <%= @colors.color_notice_bg %>;
}

#maintable #content .basic table {
    border: 0;
    padding: 0;
}

#maintable #content .basic th {
    font-weight: bold;
    color: <%= @colors.color_black %>;
    background-color: <%= @colors.color_white %>;
    padding: 0;
    border: 0;
    text-align: right;
    vertical-align: top;
}

#maintable #content .basic td {
   border: 0;
}

#maintable #content .basic th.left {
    text-align: left;
}

#maintable #content .basic-view table {
    border: 0;
    padding: 0;
}

#maintable #content .basic-view th {
    font-weight: normal;
    color: <%= @colors.color_black %>;
    background-color: <%= @colors.color_gray_bg %>;
    border: 1px solid <%= @colors.color_gray_light %>;
    width: 10em;
    padding: 0;
    text-align: right;
    vertical-align: top;
}

#maintable #content .basic-view td table.hinted th {
   width: auto;
}

#maintable #content .basic-view td {
	font-weight: bold;
	border: 0;
}

#maintable #content .basic-filter {
   background-color: <%= @colors.color_gray_bg %>;
}

#maintable #content .basic-filter table {
    border: 0;
    padding: 0;
    padding-bottom: 10px;
    background-color: <%= @colors.color_gray_bg %>;
}

#maintable #content .basic-filter th {
    font-weight: bold;
    color: <%= @colors.color_black %>;
    background-color: <%= @colors.color_gray_bg %>;
    padding: 3px 0;
    border: 0;
    text-align: right;
    vertical-align: top;
}

#maintable #content .basic-filter td {
   border: 0;
   background-color: <%= @colors.color_gray_bg %>;
   padding: 3px 0;
   vertical-align: top;
}

#maintable #content .left {
    float: left;
    padding: 1em;
    border: 0;
    text-align: center;
}

#maintable #content table.calendar-helper {
  margin: auto;
  width: 100%;
}

#maintable #content table.calendar-helper th {
  font-weight: bold;
  text-align: center;
  border-bottom: 1pt solid <%= @colors.color_white %>;
  background-color: <%= @colors.color_alt_light %>;
  color: <%= @colors.color_alt_dark %>;
}

#maintable #content table.calendar-helper th.monthName {
   font-size: 1.3em;
}

#maintable #content table.calendar-helper th.nextMonthText {
   vertical-align: bottom;
   text-align: right;
}

#maintable #content table.calendar-helper th.prevMonthText {
   vertical-align: bottom;
   text-align: left;
}


#maintable #content table.calendar-helper th.chWeekendName {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: <%= @colors.color_alt_dark %>;
  border-bottom: 1pt solid <%= @colors.color_white %>;
  color: <%= @colors.color_white %>;
}

#maintable #content table.calendar-helper th.chWeekdayName {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: <%= @colors.color_dark %>;
  color: <%= @colors.color_white %>;
  border-bottom: 1pt solid <%= @colors.color_white %>;
}

#maintable #content table.calendar-helper td {
  font-size: 85%;
  padding: 2px 2px;
  height: 3em;
  width: 12%;
  border: 0;
  border-right: 1px solid <%= @colors.color_white %>;
  vertical-align: top;
}

#maintable #content table.calendar-helper .aday, .aspecialDay {
  border-bottom: 1px solid <%= @colors.color_white %>;
  background-color: <%= @colors.color_light %>;
}

#maintable #content table.calendar-helper .aspecialDay a, .aspecialDay a:visited, .aspecialDay a:hover {
  color: <%= @colors.color_message %>;
  padding: 0;
  margin: 0;
}

#maintable #content table.calendar-helper .aspecialDay a:hover {
  color: <%= @colors.color_message_bg %>;
  background-color: <%= @colors.color_message %>;
}

#maintable #content table.calendar-helper .eventItem {
   font-size: 85%;
   font-weight: bold;
}

#maintable #content table.calendar-helper .dayNumber {
   width: 1.5em;
   line-height: 1.2em;
   font-weight: bold;
   text-align: center;
   background-color: <%= @colors.color_dark %>;
   color: <%= @colors.color_white %>;
}

#maintable #content table.calendar-helper .weekendDay .dayNumber {
   background-color: <%= @colors.color_alt_dark %>;
}

#maintable #content table.calendar-helper .weekendDay {
  background-color: <%= @colors.color_alt_light %>;
}

#maintable #content table.calendar-helper .today {
	background-color: <%= @colors.color_notice_bg %>;
	border: 2pt solid <%= @colors.color_notice %>;
	color: <%= @colors.color_black %>;
	font-weight: bold;
}

#maintable #content table.calendar-helper .otherMonth {
  color: <%= @colors.color_gray_dark %>;
  background-color: <%= @colors.color_gray_light %>;
}


#maintable #footer {
    background-color: <%= @colors.color_dark %>;
    font-size: 8pt;
	font-weight: bold;
    color: <%= @colors.color_white %>;
    text-align: center;
    border: 0;
    padding: 5px;
}

#maintable #footer a {
	text-decoration: none;
	color: <%= @colors.color_alt_light %>;
}

#maintable #footer a.visited {
	color: <%= @colors.color_alt_light %>;
}

div.tip {
   background-color: <%= @colors.color_tip_bg %>;
   border: 1px solid <%= @colors.color_tip_border %>;
   color: <%= @colors.color_tip %>;
   padding: 5px;
   margin: 10px;
   font-size: 85%;
}

div.table-nav {
   font-weight: bold;
   font-size: .8em;
   color: <%= @colors.color_dark %>;
   margin-top: 2px;
   margin-bottom: 2px;
   padding: 2px 2px 2px 2px;
   text-align: center;
}

div.table-nav .tnav {
   width: 8em;
   font-size: .8em;
   font-weight: bold;
}
   
.call_detail {
   border: 1px dotted <%= @colors.color_alt_dark %>;
   background-color: <%= @colors.color_alt_light %>;
   font-size: 85%;
   font-weight: normal;
}

.notice {
    color: <%= @colors.color_notice %>;
}

.error {
    color: <%= @colors.color_error %>;
}

.message {
    color: <%= @colors.color_message %>;
}

.textile {
   background-color: <%= @colors.color_notice_bg %>;
}

#ceo {
    font-size: 150%;
    font-weight: bold;
}

#ceo_title {
    font-style: italic;
}

#ceo_img img {
    height: 200px;
    width: 200px;
}

.summary {
    color: <%= @colors.color_gray_dark %>;
    font-size: 80%;
}

.created_by {
   color: <%= @colors.color_gray_dark %>;
   font-size: 75%;
   text-align: left;
}

#maintable #content table.hinted {
   border: 0;
   padding: 0;
   margin: 0;
   margin-top: -4px;
   margin-left: -2px;
   margin-bottom: -4px;
}

#maintable #content table.hinted tr {
   border: 0;
   padding: 0;
   margin: 0;
}

#maintable #content table.hinted th {
   padding-left: 10px;
   padding-right: 4px;
}

#maintable #content table.hinted td {
   border: 0;
   padding: 0 5px 0 0;
   margin: 0;
}

#maintable #content table.links {
   border: 0;
   margin: 0;
   padding: 0;
}

#maintable #content table.links td {
   border: 0;
   padding: 0;
   margin: 0;
}

.hint {
   font-size: 65%;
   font-weight: bold;
   color: <%= @colors.color_gray_dark %>;
   margin-bottom: -2px;
}

table#globalsearch {
   width: 100%;
}

table#globalsearch td {
   white-space:nowrap;
}

div#globalsearch {
   position:relative;
   float:right;
   top: -20px;
   right: 5px;
   padding-right: 10px;
   color: white;
   font-size: 90%;
   margin-bottom: -20px;
}

div.fieldWithErrors input {
    border: 3px solid <%= @colors.color_error %>;
    display: inline;
}
div.fieldWithErrors select {
    border: 3px solid <%= @colors.color_error %>;
    display: inline;
}
div.fieldWithErrors textarea {
    border: 3px solid <%= @colors.color_error %>;
    display: inline;
}
div.merge {
   background-color: <%= @colors.color_error_bg %>;
   border: 1px solid <%= @colors.color_error %>;
}
