<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<%= tip(std_help) %>
<%= tip(textile_help) %>

<% form_for(:bond, :url => {:action => 'edit', :id => @bond.id, :hold_id => @hold.id}, :method => :post) do |f| %>
   <%= f.error_messages %>

   <div class='basic'>
      <%= f.hidden_field(:hold_id) %>
      
      <fieldset>
         <legend>Surety Information</legend>
         <%= input_note('For professional bonds, select a Bondsman.  For personal bonds, enter a surety.  Do not enter both.') %>
         <table class='input'>
            <tr>
               <th>Bondsman:</th>
               <td><%= f.select(:bondsman_id, get_opts('Bondsmen', :allow_nil => true)) %></td>
            </tr>
            <%= person_row(@bond, :surety_id) %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Arrest Information</legend>
         <table class='input'>
            <%= person_row(@bond, :person_id, :required => true) %>
            <tr>
               <th>Arrest:</th>
               <td><%= f.text_field(:arrest_id, :size => 6) %><%= hint('ID') %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Bond Information</legend>
         <%= input_note('If you leave <b>Bond Number</b> blank, the computer will assign a bond number automatically.') %>
         <table class='input'>
            <tr>
               <th>Bond Number:</th>
               <td><%= f.text_field(:bond_no, :size => 20) %></td>
            </tr>
            <tr>
               <th><%= required %>Type:</th>
               <td><%= f.select(:bond_type_id, get_opts("Bond Type")) %></td>
            </tr>
            <tr>
               <th><%= required %>Bond Amount: $</th>
               <td><%= f.text_field(:bond_amt, :size => 12) %></td>
            </tr>
            <tr>
               <th><%= required %>Issued:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select(:issued_date, :size => 10) %><%= hint('MM/DD/YYYY') %></td>
                        <td><%= f.text_field(:issued_time, :size => 5) %><%= hint('HH:MM') %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Power:</th>
               <td><%= f.text_field(:power, :size => 40) %></td>
            </tr>
         </table>
      </fieldset>
      
      <% if !@hold.nil? && !@hold.hold_type.nil? && (@hold.hold_type.long_name == 'Bondable' || @hold.hold_type.long_name =~ /^Probation/) %>
         <fieldset>
            <legend>Status Information</legend>
            <table class='input'>
               <tr>
                  <th><%= required %>Current Status:</th>
                  <td><%= f.select(:status_id, get_opts("Bond Status")) %></td>
               </tr>
               <tr>
                  <th>Status Date:</th>
                  <td>
                     <table class='hinted'>
                        <tr>
                           <td><%= f.calendar_date_select(:status_date, :size => 10) %><%= hint('MM/DD/YYYY') %></td>
                           <td><%= f.text_field(:status_time, :size => 5) %><%= hint ('HH:MM') %></td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
         </fieldset>
      <% else %>
         <%= f.hidden_field(:status_date) %>
         <%= f.hidden_field(:status_time) %>
         <%= f.hidden_field(:status_id) %>
      <% end %>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note(remark_note) %>
         <%= f.text_area(:remarks, :class => 'textile') %>
      </fieldset>
  </div>
  <%= form_buttons %>
<% end %>

<%= link_bar %>
<%= set_focus_to_id 'bond_bondsman_id' %>