<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width: 100%'>
   <%= render(:partial => 'header') %>
   <%= render(:partial => 'bond', :collection => @bonds) %>
   <%= render(:partial => 'header') %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<%= tip "To print a simple bond list, use the search filter to select the bonds you want to include and click the Set Filter button. The selected records will be displayed in the bond list. In the toolbar at the bottom of the list is a PDF button. Click it to download a PDF list of the currently selected bonds." %>

<h3>Bond Search Filter</h3>
<%= filter_help('bonds', true) %>

<form action='<%= url_for(:action => "index") %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Bondsman:</th>
            <td><%= filter_text_field('bondsman_id', @query[:bondsman_id], 6) %><%= hint('ID') %></td>
         </tr>
         <tr>
            <th>Surety:</th>
            <td><%= filter_text_field('surety_id', @query[:surety_id], 6) %><%= hint('ID') %></td>
         </tr>
         <tr>
            <th>Bonded Person:</th>
            <td><%= filter_text_field('person_id', @query[:person_id], 6) %><%= hint('ID') %></td>
         </tr>
         <tr>
            <th>Arrest:</th>
            <td><%= filter_text_field('arrest_id', @query[:arrest_id], 6) %><%= hint('ID') %></td>
         </tr>
         <tr>
            <th>Bond Number:</th>
            <td><%= filter_text_field('bond_no', @query[:bond_no], 10) %></td>
         </tr>
         <tr>
            <th>Issued Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select('issued_date_from', @query[:issued_date_from]) %><%= hint('MM/DD/YYYY') %></td>
                     <th>To:</th>
                     <td><%= filter_date_select('issued_date_to', @query[:issued_date_to]) %><%= hint('MM/DD/YYYY') %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Bond Type:</th>
            <td><%= filter_select('bond_type_id', @query[:bond_type_id], 'Bond Type') %></td>
         </tr>
         <tr>
            <th>Bond Status:</th>
            <td><%= filter_select('status_id', @query[:status_id], 'Bond Status') %></td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field('remarks', @query[:remarks], 70) %></td>
         </tr>
      </table>
      
      <%= filter_buttons %>
   </div>
</form>
