<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1>Bond ID: <%= @bond.id %></h1>

<div class='basic-view'>

   <h3>Surety Information</h3>
   <table>
      <% if !@bond.bondsman.nil? %>
         <tr>
            <th>Bondsman:</th>
            <td><%=h @bond.bondsman.name %></td>
         </tr>
         <tr>
            <th>Company:</th>
            <td><%=h @bond.bondsman.company %></td>
         </tr>
         <tr>
            <th>Address:</th>
            <td>
               <%=h @bond.bondsman.address1 %><br/>
               <%=h @bond.bondsman.address2 %>
            </td>
         </tr>
      <% elsif !@bond.surety.nil? %>
         <tr>
            <th>Surety:</th>
            <td><%=h show_person(@bond.surety, :include_id => false) %></td>
         </tr>
         <tr>
            <th>Address:</th>
            <td>
               <%=h @bond.surety.physical_line1 %><br/>
               <%=h @bond.surety.physical_line2 %>
            </td>
         </tr>
      <% else %>
         <tr>
            <th>Surety:</th>
            <td><span class='error'>No Bondsman or Surety!</span></td>
         </tr>
      <% end %>
   </table>
      
   <h3>Person Arrested</h3>
   <table>
      <tr>
         <th>Name:</th>
         <td><%=h show_person(@bond.person) %></td>
      </tr>
      <tr>
         <th>Address:</th>
         <td>
            <%=h @bond.person.physical_line1 %><br/>
            <%=h @bond.person.physical_line2 %>
         </td>
      </tr>
      <tr>
        <% if !@bond.hold.nil? && !@bond.hold.hold_type.nil? && @bond.hold.hold_type.long_name =~ /^Probation/ %>
          <th>Probation Hold:</th>
          <td>
            <% if !@bond.hold.nil? %>
               <%=h format_date(@bond.hold.hold_date, @bond.hold.hold_time) %>
            <% end %>
          </td>
        <% else %>
         <th>Arrest Date:</th>
         <td><%=h @bond.arrest.nil? ? '' : format_date(@bond.arrest.arrest_date, @bond.arrest.arrest_time) %></td>
        <% end %>
      </tr>
      <tr>
         <th>Charges:</th>
         <td>
            <% if !@bond.hold.nil? && !@bond.hold.hold_type.nil? && @bond.hold.hold_type.long_name =~ /^Probation/ %>
              <%=h @bond.hold.hold_type.long_name %>
            <% else %>
              <%=h @bond.arrest.nil? ? '' : @bond.arrest.charge_summary %>
            <% end %>
          </td>
      </tr>
   </table>
   
   <h3>Bond Information</h3>
   <table>
      <tr>
         <th>Bond Number:</th>
         <td><%=h @bond.bond_no %></td>
      </tr>
      <tr>
         <th>Type:</th>
         <td><%=h @bond.bond_type.nil? ? "Invalid" : @bond.bond_type.long_name %></td>
      </tr>
      <tr>
         <th>Bond Amount:</th>
         <td><%=h number_to_currency(@bond.bond_amt) %></td>
      </tr>
      <tr>
         <th>Issued:</th>
         <td><%=h format_date(@bond.issued_date, @bond.issued_time) %></td>
      </tr>
      <tr>
         <th>Power:</th>
         <td><%=h @bond.power %></td>
      </tr>
   </table>
   
   <h3>Status Information</h3>
   <table>
      <tr>
         <th>Current Status:</th>
         <td><%=h @bond.status.nil? ? "Invalid" : @bond.status.long_name %></td>
      </tr>
      <tr>
         <th>Status Date:</th>
         <td><%=h format_date(@bond.status_date, @bond.status_time) %></td>
      </tr>
      <tr>
         <th>Person Is In Jail?</th>
         <td>
            <% if !@bond.person.bookings.empty? && !@bond.person.bookings.last.release_date? %>
               YES
            <% else %>
               NO
            <% end %>
         </td>
      </tr>
   </table>
   <%= link_bar_extra %>
   
   <h3>Remarks</h3>
   <%= textilize(@bond.remarks) %>
</div>

<%= link_bar %>
<%= created_by(@bond) %>
