<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<%= tip "Transfer Log Entries are created when inmates are transferred in or transferred out of a facility through booking. You cannot transfer inmates here." %> 

<%= nav_button_row %>
<table style='width: 100%;'>
   <%= render :partial => 'header' %>
   <%= render :partial => 'transfer', :collection => @transfers %>
   <%= render :partial => 'header' %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Transfer Log Search Filter</h3>

<%= filter_help 'transfers', true %>

<form name='search' action='<% url_for :action => "index" %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
      
      <table>
         <tr>
            <th>Transfer:</th>
            <td><%= filter_text_field 'id', @query[:id], 6 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Booking:</th>
            <td><%= filter_text_field 'booking_id', @query[:booking_id], 6 %><%= hint 'ID' %></td>
         </tr>
         <tr>
            <th>Person:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'person_id', @query[:person_id], 6 %><%= hint 'ID' %></td>
                     <td><%= filter_text_field 'person_name', @query[:person_name], 30 %><%= hint 'Full Name' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Transfer Type:</th>
            <td><%= filter_select 'transfer_type_id', @query[:transfer_type_id], 'Transfer Type' %></td>
         </tr>
         <tr>
            <th>Transfer Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select 'transfer_from', @query[:transfer_from] %><%= hint 'MM/DD/YYYY' %></td>
                     <th>To:</th>
                     <td><%= filter_date_select 'transfer_to', @query[:transfer_to] %><%= hint 'MM/DD/YYYY' %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Agency:</th>
            <td><%= filter_text_field 'agency_name', @query[:agency_name], 30 %></td>
         </tr>
         <tr>
            <th>Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field 'officer_badge', @query[:officer_badge], 6 %><%= hint "Badge" %></td>
                     <td><%= filter_text_field 'officer_unit', @query[:officer_unit], 6 %><%= hint "Unit" %></td>
                     <td><%= filter_text_field 'officer', @query[:officer], 25 %><%= hint "Name" %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Remarks:</th>
            <td><%= filter_text_field 'remarks', @query[:remarks], 80 %></td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>
