<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Transfer ID: <%= @transfer.id %></h1>

<div class='basic-view'>
   <table>
      <tr>
         <th>Person:</th>
         <td><%=h show_person @transfer.person %></td>
      </tr>
      <tr>
         <th>Transfer Type:</th>
         <td><%=h @transfer.transfer_type.nil? ? 'Unknown' : @transfer.transfer_type.long_name %></td>
      </tr>
      <tr>
         <th>Facility:</th>
         <td><%=h @transfer.booking.nil? ? 'Unknown' : (@transfer.booking.facility.nil? ? 'Unknown' : @transfer.booking.facility.long_name) %></td>
      </tr>
   </table>
   
   <h3>FROM</h3>
   <table>
      <tr>
         <th>Agency:</th>
         <td><%=h @transfer.from_agency %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h show_contact @transfer, :from_officer %></td>
      </tr>
   </table>
   
   <h3>TO</h3>
   <table>
      <tr>
         <th>Agency:</th>
         <td><%=h @transfer.to_agency %></td>
      </tr>
      <tr>
         <th>Officer:</th>
         <td><%=h show_contact @transfer, :to_officer %></td>
      </tr>
   </table>
   
   <h3>Remarks</h3>
   <%= textilize(@transfer.remarks) %>
</div>

<%= link_bar %>
<%= created_by @transfer %>