<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<div id='select-type' class='basic-view'>
   <h1>Transfer Inmate: <%=h show_person @booking.person %></h1>
   <table>
      <tr>
         <th>Person:</th>
         <td><%=h show_person @booking.person %></td>
      </tr>
      <tr>
         <th>Location:</th>
         <td><%= booking_location_or_link(@booking.id) %></td>
      </tr>
      <tr>
         <th>Current Holds:</th>
         <td><%=h @booking.hold_summary %></td>
      </tr>
   </table>
   
   <% form_remote_tag :url => {:controller => 'transfers', :action => 'update_transfer'} do %>
      <p>
         <%= select_tag "transfer_type_id", options_for_select(@types) %>
         <input type='hidden' name='booking_id' value="<%= @booking.id %>"/>
         <%= submit_tag 'Submit' %> <%= submit_tag 'Cancel' %>
      </p>
   <% end %>
   <%= set_focus_to_id 'transfer_type_id' %>
</div>

<div id='transfer-form' style='display:none;'>
   <h1><span id='type-name'>Transfer</span> of Inmate: <%=h show_person @booking.person %></h1>
   
   <%= tip std_help %>
   <%= tip textile_help %>
   
   <% form_for :transfer, :url => {:action => 'transfer', :id => @booking.id}, :method => :post do |f| %>
   
   <div class='basic'>
      <%= f.error_messages %>
      <%= f.hidden_field :transfer_type_id %>
      
      <fieldset>
         <legend>Transfer Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Date/Time:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select :transfer_date, :size => 10 %><%= hint 'MM/DD/YYYY' %></td>
                        <td><%= f.text_field :transfer_time, :size => 5 %><%= hint 'HH:MM' %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <hr/>
         <table class='input'>
            <%= contact_row :transfer, :from_agency, :required => true, :getopts => 'Agencies' %>
            <%= contact_row :transfer, :from_officer, :required => true, :title => "From Officer:" %>
         </table>
         <hr/>
         <table class='input'>
            <%= contact_row :transfer, :to_agency, :required => true, :getopts => 'Agencies' %>
            <%= contact_row :transfer, :to_officer, :required => true, :title => "To Officer:" %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Remarks</legend>
         <%= input_note remark_note, 'This field is <b>required</b>.  Please enter your reasons for transfer here.' %>
         <%= required %><%= f.text_area :remarks, :cols => 80, :rows => 5, :class => 'textile' %>
      </fieldset>
      <%= form_buttons %>
   </div>
   <% end %>
</div>