<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<% if has_permission(Perm[:admin]) %>

   <!-- Real stuff goes here -->
   Under construction
   
<% else %>

<h1>Jail 3 Inmate List</h1>

<span style='font-size:150%;font-weight:bold;'>Under Construction</span>
<br/><br/>
Please continue to use <%= link_to "Booking", bookings_path %> until further notice.

<% end %>