<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<tr class="<%= cycle('list-line-odd','list-line-even') %>" <%= activity.user.nil? ? "style='color: #{@colors.color_error}';" : '' %>>
   <td style='white-space:nowrap;'>
      <%=h format_date(activity.created_at) %>
   </td>
   <td style='white-space:nowrap;'>
      <%=h activity.user.nil? ? 'Unknown' : activity.user.name %>
   </td>
   <td style='white-space:nowrap;'>
      <%=h activity.section %></td>
   <td>
      <% if activity.description.slice(0,9) == 'Destroyed' %>
         <span class='error'><%=h activity.description %></span>
      <% else %>
         <%=h activity.description %>
      <% end %>
   </td>
</tr>
