<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<tr class="<%= cycle('link-list-line-odd','link-list-line-even') %>" onclick="window.location='<%= url_for(absent) %>';return false;">
   <td><%=h absent.id %></td>
   <td><%=h absent.leave_type.nil? ? 'Invalid Leave Type' : absent.leave_type.long_name %></td>
   <td><%=h show_contact(absent, :escort_officer) %></td>
   <td><%=h absent.facility.nil? ? "Invalid Facility!" : absent.facility.short_name %></td>
   <td>
      <% if absent.leave_date? %>
         <% if absent.return_date? %>
            <span class='notice'>Returned: <%=h format_date(absent.return_date, absent.return_time) %></span>
         <% else %>
            <span class='error'>Left: <%=h format_date(absent.leave_date, absent.leave_time) %>, Not Returned</span>
         <% end %>
      <% else %>
         Planning Stage
      <% end %>
   </td>
   <td><%=h absent.prisoners.size %></td>
</tr>
