<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<%= tip(std_help) %>
<%= tip(officer_help) %>

<% form_for(:absent, :url => {:action => 'edit', :id => @absent.id}, :method => :post) do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <fieldset>
         <legend>Absent Information</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Absent Type:</th>
               <td><%= f.select(:leave_type_id, get_opts("Absent Type")) %></td>
            </tr>
            <tr>
               <th><%= required %>Facility:</th>
               <td><%= f.select(:facility_id, get_opts("Facility")) %></td>
            </tr>
            <%= contact_row(:absent, :escort_officer, :required => true) %>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Participants</legend>
         <table id='prisoners' class='input' style='width:auto;'>
            <%= render(:partial => 'prisoner', :collection => @absent.prisoners) %>
         </table>
         <p><%= add_prisoner_link("Add Inmate") %></p>
      </fieldset>

      <fieldset>
         <legend>Status</legend>
         <table class='input'>
            <tr>
               <th>Left:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select(:leave_date, :size => 10) %><%= hint('MM/DD/YYYY') %></td>
                        <td><%= f.text_field(:leave_time, :size => 5) %><%= hint('HH:MM') %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Returned:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <td><%= f.calendar_date_select(:return_date, :size => 10) %><%= hint('MM/DD/YYYY') %></td>
                        <td><%= f.text_field(:return_time, :size => 5) %><%= hint('HH:MM') %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
   </div>
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'absent_leave_type_id' %>