<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1><%= @page_title %></h1>

<%= nav_button_row %>
<table style='width:100%;'>
  <%= render(:partial => 'header') %>
  <%= render(:partial => 'absent', :collection => @absents) %>
  <%= render(:partial => 'header') %>
</table>
<%= nav_button_row %>

<%= link_bar %>

<h3>Absent Search Filter</h3>
<%= filter_help('absents', true) %>

<form action='<%= url_for(:action => "index") %>'>
   <div class="basic-filter">
      <%= form_auth %>
      <%= filter_buttons %>
   
      <table>
         <tr>
            <th>Absent Inmates Include:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>By Person ID:</th>
                     <td><%= filter_text_field('person_id', @query[:person_id], 6) %></td>
                     <th>Or By Booking ID:</th>
                     <td><%= filter_text_field('booking_id', @query[:booking_id], 6) %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Date:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <th>From:</th>
                     <td><%= filter_date_select('leave_from', @query[:leave_from]) %><%= hint('MM/DD/YYYY') %></td>
                     <th>To:</th>
                     <td><%= filter_date_select('leave_to', @query[:leave_to]) %><%= hint('MM/DD/YYYY') %></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <th>Absent Type:</th>
            <td><%= filter_select('leave_type_id', @query[:leave_type_id], "Absent Type") %></td>
         </tr>
         <tr>
            <th>Facility:</th>
            <td><%= filter_select('facility_id', @query[:facility_id], 'Facility') %></td>
         </tr>
         <tr>
            <th>Escort Officer:</th>
            <td>
               <table class='hinted'>
                  <tr>
                     <td><%= filter_text_field('escort_officer_badge', @query[:escort_officer_badge], 6) %><%= hint("Badge") %></td>
                     <td><%= filter_text_field('escort_officer_unit', @query[:escort_officer_unit], 6) %><%= hint("Unit") %></td>
                     <td><%= filter_text_field('escort_officer', @query[:escort_officer], 25) %><%= hint("Name") %></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <%= filter_buttons %>
   </div>
</form>