<%# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================%>
<h1>Absent ID: <%= @absent.id %></h1>
   
<div class='basic-view'>
   <table style='width:100%'>
      <tr>
         <th>Absent Type:</th>
         <td><%=h @absent.leave_type.nil? ? "Invalid Leave Type!" : @absent.leave_type.long_name %></td>
      </tr>
      <tr>
         <th>Facility:</th>
         <td><%=h @absent.facility.nil? ? "Invalid Facility!" : @absent.facility.long_name %></td>
      </tr>
      <tr>
         <th>Escort Officer:</th>
         <td><%=h show_contact(@absent, :escort_officer) %></td>
      </tr>
   </table>
</div>

<h4>Absent Inmate(s):</h4>
<table style='width:100%'>
   <%= render(:partial => 'bookings/header') %>
   <%= render(:partial => 'bookings/booking', :collection => @absent.prisoners) %>
</table>

<div class='basic-view'>
   <h3>Status</h3>
   <table>
      <% if @absent.leave_date? %>
         <tr>
            <th>Left:</th>
            <td><%=h format_date(@absent.leave_date, @absent.leave_time) %></td>
         </tr>
         <% if @absent.return_date? %>
            <tr>
               <th>Returned:</th>
               <td><%=h format_date(@absent.return_date, @absent.return_time) %></td>
            </tr>
         <% end %>
      <% else %>
         <tr>
            <th>Status:</th>
            <td>Pending</td>
         </tr>
      <% end %>
   </table>
</div>

<%= link_bar %>
<%= created_by(@absent) %>
