<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Edit Site Configuration</h1>

<%= tip std_help %>

<% form_for :site_configuration, :url => {:action => 'edit_config'}, :method => :post do |f| %>
   <%= f.error_messages %>
   
   <div class='basic'>
      <%= f.hidden_field :logo %>
      <%= f.hidden_field :ceo_img %>
      <%= f.hidden_field :header_left_img %>
      <%= f.hidden_field :header_right_img %>
      
      <fieldset>
         <legend>Identity Options</legend>
         <table class='input'>
            <tr>
               <th><%= required %>Agency Name:</th>
               <td><%= f.text_field :agency, :size => 40 %></td>
            </tr>
            <tr>
               <th><%= required %>Agency Acronym:</th>
               <td><%= f.text_field :agency_short, :size => 15 %></td>
            </tr>
            <tr>
               <th><%= required %>Agency Motto:</th>
               <td><%= f.text_field :motto, :size => 80 %></td>
            </tr>
            <tr>
               <th><%= required %>CEO Name:</th>
               <td><%= f.text_field :ceo, :size => 40 %></td>
            </tr>
            <tr>
               <th><%= required %>CEO Title:</th>
               <td><%= f.text_field :ceo_title, :size => 40 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Program Options</legend>
         <table class='input'>
            <tr>
               <th>Colorscheme:</th>
               <td><%= f.select :colorscheme, get_opts("Colorschemes") %></td>
            </tr>
         </table>
         <%= input_note "Districts, Zones and Wards do not currently have an effect. They will be implemented in a future version." %>
         <table class='input'>
            <tr>
               <th>Districts:</th>
               <td><%= f.text_field :district, :size => 2 %> (0 = disabled)<%= hint '99' %></td>
            </tr>
            <tr>
               <th>Zones:</th>
               <td><%= f.text_field :zone, :size => 2 %> (0 = disabled)<%= hint '99' %></td>
            </tr>
            <tr>
               <th>Wards:</th>
               <td><%= f.text_field :ward, :size => 2 %> (0 = disabled)<%= hint '99' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Local ZIP Codes are those ZIP codes your agency considers local for warrant service purposes.' %></td>
            </tr>
            <tr>
               <th>Local ZIP Codes:</th>
               <td><%= f.text_field :local_zips, :size => 60 %><%= hint 'ZIP Codes Separated By Comma Or Space' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Local Agencies are those agencies local to your agency that have a misdemeanor court or justice but no jail of their own and who use your jail to house their prisoners.  Do not include State or Federal agencies in this list!' %></td>
            </tr>
            <tr>
               <th>Local Agencies:</th>
               <td><%= f.text_field :local_agencies, :size => 60 %><%= hint 'Agency Contact IDs Separated By Comma' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Check the <b>Show History</b> option to allow users access to the legacy data imported as History items.  If you have no legacy History items, leave this unchecked.' %></td>
            </tr>
            <tr>
               <th>Show History:</th>
               <td><%= f.check_box :show_history %> Yes</td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Set <b>Bug Administrator</b> to the Site Administrator responsible for reviewing and monitoring all Bug Reports.' %></td>
            </tr>
            <tr>
               <th>Bug Administrator:</th>
               <td><%= f.select :bug_admin_id, get_opts('Admins', :allow_nil => true) %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Set <b>Site Email Address</b> to the valid email address where your site receives email.  Changing this while under a Maintenance Contract will break the bug report submission feature.' %></td>
            </tr>
            <tr>
               <th>Site Email Address:</th>
               <td><%= f.text_field :site_email, :size => 30 %><%= hint 'user@host.com' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Set <b>Message Retention</b> to the number of days your site wishes to retain Message Log entries.  If you set this to 0, message log entries will be retained forever.  This has no effect on user messages themselves, only the entries that get logged when messages are sent.' %></td>
            </tr>
            <tr>
               <th>Message Retention:</th>
               <td><%= f.text_field :message_retention, :size => 6 %> Days</td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Set <b>Activity Retention</b> to the number of days your site wishes to retain User Activity Log entries.  If you set this to 0, activity log entries will be retained forever.' %></td>
            </tr>
            <tr>
               <th>Activity Retention:</th>
               <td><%= f.text_field :activity_retention, :size => 6 %> Days</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Letterhead Options</legend>
         <%= input_note 'The letterhead can have up to 4 lines of text at the top (header) and one line at the bottom of the page (footer).' %>
         <table class='input'>
            <tr>
               <th><%= required %>Title:</th>
               <td><%= f.text_field :header_title, :size => 40 %></td>
            </tr>
            <tr>
               <th><%= required %>Subtitle Line 1:</th>
               <td><%= f.text_field :header_subtitle1, :size => 60 %></td>
            </tr>
            <tr>
               <th>Subtitle Line 2:</th>
               <td><%= f.text_field :header_subtitle2, :size => 60 %></td>
            </tr>
            <tr>
               <th>Subtitle Line 3:</th>
               <td><%= f.text_field :header_subtitle3, :size => 60 %></td>
            </tr>
            <tr>
               <th><%= required %>Footer Text:</th>
               <td><%= f.text_field :footer_text, :size => 80 %></td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>PDF Colorscheme</legend>
         <%= input_note 'These are standard HTML colors composed of 6 Hexadecimal characters. When in doubt, consult one of the many online HTML color charts.  Do not include the leading pound sign (#) when entering the colors here.','If you leave any of these blank, they will be replaced with the program default colors.' %>
         <table class='input'>
            <tr>
            <th>Header Background:</th>
               <td><%= f.text_field :pdf_header_bg, :size => 6 %><!-- <input type="button" value="Color picker" onclick="showColorPicker(this,$('site_configuration_pdf_header_bg'))"/> --></td>
            </tr>
            <tr>
               <th>Header Text:</th>
               <td><%= f.text_field :pdf_header_txt, :size => 6 %></td>
            </tr>
            <tr>
               <th>Section Background:</th>
               <td><%= f.text_field :pdf_section_bg, :size => 6 %></td>
            </tr>
            <tr>
               <th>Section Text:</th>
               <td><%= f.text_field :pdf_section_txt, :size => 6 %></td>
            </tr>
            <tr>
               <th>Error Background:</th>
               <td><%= f.text_field :pdf_em_bg, :size => 6 %></td>
            </tr>
            <tr>
               <th>Error Text:</th>
               <td><%= f.text_field :pdf_em_txt, :size => 6 %></td>
            </tr>
            <tr>
               <th>Odd Table Row:</th>
               <td><%= f.text_field :pdf_row_odd, :size => 6 %></td>
            </tr>
            <tr>
               <th>Even Table Row:</th>
               <td><%= f.text_field :pdf_row_even, :size => 6 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Session Timeout Settings</legend>
         <%= input_note 'Grace Period determines how long a user may remain logged in without being affected by inactivity timeout. When set to 0, inactive sessions will always be logged out.' %>
         <table class='input'>
            <tr>
               <th>Grace Period:</th>
               <td><%= f.text_field :session_life, :size => 5 %> (default = 720 minutes - longest standard shift)<%= hint 'Minutes' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Inactivity Timeout: After any Grace Period, a user that is inactive longer than this period of time (minutes) is logged out. If this is 0, session timeouts are disabled (Not Recommended!).' %></td>
            </tr>
            <tr>
               <th>Inactivity Timeout:</th>
               <td><%= f.text_field :session_active, :size => 5 %> (default = 15 minutes)<%= hint 'Minutes' %></td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Maximum Life: this is the absolute maximum length of time (minutes) that a user may access the program without logging in again. If set to 0, sessions will not have a Maximum Life (Not Recommended!). If used, this should be set higher than Grace Period + Inactivity Timeout to make any sense at all.' %></td>
            </tr>
            <tr>
               <th>Maximum Life:</th>
               <td><%= f.text_field :session_max, :size => 5 %> (default = 960 minutes - longest shift + 4 hour buffer)<%= hint 'Minutes' %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>User Options</legend>
         <%= input_note 'Allow users to set their own photo.  If this is off, only someone with Update User permission will be able to upload user photos.' %>
         <table class='input'>
            <tr>
               <th>Set Photo?</th>
               <td><%= f.check_box :allow_user_photos %>Yes</td>
            </tr>
            <tr>
               <td colspan='2'><%= input_note 'Allow users to update their own contact information (profile).  With this off, only someone with Update User permission will be able to edit user profiles.' %></td>
            </tr>
            <tr>
               <th>Update Contact?</th>
               <td><%= f.check_box :user_update_contact %>Yes</td>
            </tr>
         </table>
      </fieldset>

      <h2>Job Specific Options</h2>
      
      <fieldset>
         <legend>Dispatch Options</legend>
         <%= input_note "Leave start and stop times empty to disable a shift." %>
         <table class='input'>
            <tr>
               <th>Shift 1:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Start:</th>
                        <td><%= f.text_field :dispatch_shift1_start, :size => 5 %><%= hint "HH:MM" %></td>
                        <th>Stop:</th>
                        <td><%= f.text_field :dispatch_shift1_stop, :size => 5 %><%= hint "HH:MM" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Shift 2:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Start:</th>
                        <td><%= f.text_field :dispatch_shift2_start, :size => 5 %><%= hint "HH:MM" %></td>
                        <th>Stop:</th>
                        <td><%= f.text_field :dispatch_shift2_stop, :size => 5 %><%= hint "HH:MM" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <th>Shift 3:</th>
               <td>
                  <table class='hinted'>
                     <tr>
                        <th>Start:</th>
                        <td><%= f.text_field :dispatch_shift3_start, :size => 5 %><%= hint "HH:MM" %></td>
                        <th>Stop:</th>
                        <td><%= f.text_field :dispatch_shift3_stop, :size => 5 %><%= hint "HH:MM" %></td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Legacy Jail Options</legend>
         <%= input_note "<b>Goodtime On</b> should be checked if the &quot;GoodTime&quot; setting for new Booking records should be on by default.  This only affects new booking records... it will not change the goodtime setting for any current record." %>
         <table class='input'>
            <tr>
               <th>Goodtime On?</th>
               <td><%= check_box_tag 'site[goodtime_by_default]', '1', SiteConfig.goodtime_by_default %>Yes</td>
            </tr>
         </table>
         <%= input_note "<b>Local Goodtime</b> is the number of <b>hours</b> of goodtime to award non-DOC inmates per <b>day</b> of service. Setting this to 0 will disallow goodtime for local (non-DOC) inmates." %>
         <table class='input'>
            <tr>
               <th>Local Goodtime:</th>
               <td><%= text_field_tag 'site[goodtime_hours_per_day_local]', SiteConfig.goodtime_hours_per_day_local, :size => 4 %> Hours per Day</td>
            </tr>
         </table>
      </fieldset>

      <fieldset>
         <legend>Jail 1 Options</legend>
         <table class='input'>
            <tr>
               <th>Enabled?</th>
               <td><%= f.check_box :jail1_enabled %>Yes</td>
            </tr>
            <tr>
               <th>Facility Name:</th>
               <td><%= f.text_field :jail1_name, :size => 40 %></td>
            </tr>
         </table>
         <%= input_note "<b>Label</b> is the short name or acronym that will be used for this jail in the menu bar on the left. It should be short enough to fit in the space allowed for the menu." %>
         <table class='input'>
            <tr>
               <th>Label:</th>
               <td><%= f.text_field :jail1_short_name, :size => 8 %></td>
            </tr>
            <tr>
               <th>Male Inmates?</th>
               <td><%= f.check_box :jail1_male %>Yes</td>
            </tr>
            <tr>
               <th>Female Inmates?</th>
               <td><%= f.check_box :jail1_female %>Yes</td>
            </tr>
         </table>
         <%= input_note "<b>Goodtime On</b> should be checked if the &quot;GoodTime&quot; setting for new Booking records should be on by default.  This only affects new booking records... it will not change the goodtime setting for any current record." %>
         <table class='input'>
            <tr>
               <th>Goodtime On?</th>
               <td><%= f.check_box :jail1_gt_by_default %>Yes</td>
            </tr>
         </table>
         <%= input_note "<b>Local Goodtime</b> is the number of <b>hours</b> of goodtime to award non-DOC inmates per <b>day</b> of service. Setting this to 0 will disallow goodtime for local (non-DOC) inmates." %>
         <table class='input'>
            <tr>
               <th>Local Goodtime:</th>
               <td><%= f.text_field :jail1_gt_hours_per_day, :size => 4 %> Hours per Day</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Jail 2 Options</legend>
         <table class='input'>
            <tr>
               <th>Enabled?</th>
               <td><%= f.check_box :jail2_enabled %>Yes</td>
            </tr>
            <tr>
               <th>Facility Name:</th>
               <td><%= f.text_field :jail2_name, :size => 40 %></td>
            </tr>
         </table>
         <%= input_note "<b>Label</b> is the short name or acronym that will be used for this jail in the menu bar on the left. It should be short enough to fit in the space allowed for the menu." %>
         <table class='input'>
            <tr>
               <th>Label:</th>
               <td><%= f.text_field :jail2_short_name, :size => 8 %></td>
            </tr>
            <tr>
               <th>Male Inmates?</th>
               <td><%= f.check_box :jail2_male %>Yes</td>
            </tr>
            <tr>
               <th>Female Inmates?</th>
               <td><%= f.check_box :jail2_female %>Yes</td>
            </tr>
         </table>
         <%= input_note "<b>Goodtime On</b> should be checked if the &quot;GoodTime&quot; setting for new Booking records should be on by default.  This only affects new booking records... it will not change the goodtime setting for any current record." %>
         <table class='input'>
            <tr>
               <th>Goodtime On?</th>
               <td><%= f.check_box :jail2_gt_by_default %>Yes</td>
            </tr>
         </table>
         <%= input_note "<b>Local Goodtime</b> is the number of <b>hours</b> of goodtime to award non-DOC inmates per <b>day</b> of service. Setting this to 0 will disallow goodtime for local (non-DOC) inmates." %>
         <table class='input'>
            <tr>
               <th>Local Goodtime:</th>
               <td><%= f.text_field :jail2_gt_hours_per_day, :size => 4 %> Hours per Day</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Jail 3 Options</legend>
         <table class='input'>
            <tr>
               <th>Enabled?</th>
               <td><%= f.check_box :jail3_enabled %>Yes</td>
            </tr>
            <tr>
               <th>Facility Name:</th>
               <td><%= f.text_field :jail3_name, :size => 40 %></td>
            </tr>
         </table>
         <%= input_note "<b>Label</b> is the short name or acronym that will be used for this jail in the menu bar on the left. It should be short enough to fit in the space allowed for the menu." %>
         <table class='input'>
            <tr>
               <th>Label:</th>
               <td><%= f.text_field :jail3_short_name, :size => 8 %></td>
            </tr>
            <tr>
               <th>Male Inmates?</th>
               <td><%= f.check_box :jail3_male %>Yes</td>
            </tr>
            <tr>
               <th>Female Inmates?</th>
               <td><%= f.check_box :jail3_female %>Yes</td>
            </tr>
         </table>
         <%= input_note "<b>Goodtime On</b> should be checked if the &quot;GoodTime&quot; setting for new Booking records should be on by default.  This only affects new booking records... it will not change the goodtime setting for any current record." %>
         <table class='input'>
            <tr>
               <th>Goodtime On?</th>
               <td><%= f.check_box :jail3_gt_by_default %>Yes</td>
            </tr>
         </table>
         <%= input_note "<b>Local Goodtime</b> is the number of <b>hours</b> of goodtime to award non-DOC inmates per <b>day</b> of service. Setting this to 0 will disallow goodtime for local (non-DOC) inmates." %>
         <table class='input'>
            <tr>
               <th>Local Goodtime:</th>
               <td><%= f.text_field :jail3_gt_hours_per_day, :size => 4 %> Hours per Day</td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Paper Service Options</legend>
         <%= input_note "These are defaults for new Customers only. When you update these settings, you will also need to update the settings for all existing Customer records." %>
         <table class='input'>
            <tr>
               <th>Mileage Fee:</th>
               <td><%= f.text_field :mileage_fee, :size => 6 %><%= hint '999.99' %></td>
            </tr>
            <tr>
               <th>Noservice Fee:</th>
               <td><%= f.text_field :noservice_fee, :size => 6 %><%= hint '999.99' %></td>
            </tr>
         </table>
         <%= input_note "The <b>Payment Type</b> entries below define the allowable types of payment allowed for the Paper Service section. The first entry should be set to the most common type encountered." %>
         <table class='input'>
            <tr>
               <th>Payment Type 1:</th>
               <td><%= f.text_field :paper_pay_type1, :size => 15 %></td>
            </tr>
            <tr>
               <th>Payment Type 2:</th>
               <td><%= f.text_field :paper_pay_type2, :size => 15 %></td>
            </tr>
            <tr>
               <th>Payment Type 3:</th>
               <td><%= f.text_field :paper_pay_type3, :size => 15 %></td>
            </tr>
            <tr>
               <th>Payment Type 4:</th>
               <td><%= f.text_field :paper_pay_type4, :size => 15 %></td>
            </tr>
            <tr>
               <th>Payment Type 5:</th>
               <td><%= f.text_field :paper_pay_type5, :size => 15 %></td>
            </tr>
         </table>
      </fieldset>
      
      <fieldset>
         <legend>Probation Options</legend>
         <%= input_note "These settings control the default names for designated probation funds. They only set the fund names for new probation records. Changing these has no effect on existing records." %>
         <table class='input'>
            <tr>
               <th>Fund 1 Name:</th>
               <td><%= f.text_field :probation_fund1, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 2 Name:</th>
               <td><%= f.text_field :probation_fund2, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 3 Name:</th>
               <td><%= f.text_field :probation_fund3, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 4 Name:</th>
               <td><%= f.text_field :probation_fund4, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 5 Name:</th>
               <td><%= f.text_field :probation_fund5, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 6 Name:</th>
               <td><%= f.text_field :probation_fund6, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 7 Name:</th>
               <td><%= f.text_field :probation_fund7, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 8 Name:</th>
               <td><%= f.text_field :probation_fund8, :size => 20 %></td>
            </tr>
            <tr>
               <th>Fund 9 Name:</th>
               <td><%= f.text_field :probation_fund9, :size => 20 %></td>
            </tr>
         </table>
      </fieldset>
   </div>
   
   <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'site_configuration_agency' %>