<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1><%= @page_title %></h1>

<table style='width: 100%;'>
   <tr>
      <th>Table</th>
      <th>Records</th>
      <th>Description</th>
   </tr>
   <% for t in @tables %>
   <tr class='<%= cycle 'list-line-odd', 'list-line-even' %>'>
      <td><%= t[:model_name] %></td>
      <td><%= t[:records] %></td>
      <td><%= t[:description] %></td>
   </tr>
   <% end %>
</table>

<% if has_permission(Perm[:update_database]) %>
   <h2>Database Tasks</h2>
   <div class='basic'>
      <table>
         <tr>
            <th><%= button_to "Clear Sessions", clear_sessions_path, :confirm => 'This will terminate all current sessions... Are you sure?', :style => 'width: 100px;', :method => :post %></th>
            <td><span class='error'>Warning:</span> This will terminate all open sessions, including yours!</td>
         </tr>
         <tr>
            <th><%= button_to "Clear Cases", clear_cases_path, :confirm => "This will zero out the case number table and may result in duplicate case numbers... Are you sure?", :style => 'width: 100px;', :method => :post %></th>
            <td><span class='error'>Warning:</span> This will clear the case number table manually and may result in duplication of case numbers!</td>
         </tr>
         <tr>
            <th><%= button_to "Fix ZIPs", fix_zips_path, :confirm => 'This will fix case on the ZIP Code Table and will take a while... Are you sure?', :style => 'width: 100px;', :method => :post %></th>
            <td><span class='error'>Warning:</span> Do not do this unless instructed by FiveO support personnel.</td>
         </tr>
         <tr>
            <th><%= button_to "Update Docs", update_docs_path, :confirm => "This will cause the API documentation to be regenerated on the server... Are you sure?", :style => 'width: 100px;', :method => :post %></th>
            <td><span class='error'>Warning:</span>This will rebuild the server API documentation. This only needs to be done when code has changed!</td>
         </tr>
      </table>
   </div>
   
   <h2>Primary Legacy Data Import</h2>
   
   <p>
      These data import routines use the CSV format defined in <%= link_to "RFC4180", url_for("/rfc4180.txt") %>.
      Failure to adhere to this format will result in data errors.
   </p>
   
   <h3>History</h3>

   <p>
      History records are a sort of catch-all for legacy data that does not
      fit properly into the FiveO database. CSV files for History import must
      be named histories.csv and must conform to
      <%= link_to_function("these specifications", nil, :id => "show_history_specs"){|page| page.show 'history_specs'} %>.
   </p>
      
   <div id='history_specs' style='display:none;'>
      <p>
         The following rules will be followed when processing the
         uploaded file.  Any deviation from the rules will result in
         processing failures and some or all of the file will be skipped.
      </p>
      
      <ol>
         <li>The file format must conform to <%= link_to "RFC4180", url_for("/rfc4180.txt") %> specifications.</li>
         <li>All four fields for History records are required.</li>
      </ol>
      
      <p>
         While processing the file, any record violating one of these
         rules will be skipped.
      </p>
      
      <p>
         All fields in the CSV file must be in the order specified in the
         table below.
      </p>
      
      <table style='width:100%;'>
         <tr>
            <th>Col</th>
            <th>Description</th>
            <th>Type and Restrictions</th>
         </tr>
         <tr>
            <td>0</td>
            <td>Key</td>
            <td>
               string: an identifying number or string for the record. does
               not need to be unique. Should be prefixed with a character
               indicating the type of history record (R for rap sheet,
               C for call sheet, P for pawn ticket or W for warrant)
               for easier searching.
            </td>
         </tr>
         <tr>
            <td>1</td>
            <td>Name</td>
            <td>string: the name of the person associated with this record.</td>
         </tr>
         <tr>
            <td>2</td>
            <td style='white-space:nowrap;'>History Type</td>
            <td>string: must be one of the History Type option values.</td>
         </tr>
         <tr>
            <td>3</td>
            <td>History Text</td>
            <td>string</td>
         </tr>
      </table>

      <%= link_to_function("Hide History Specs"){|page| page.hide 'history_specs'} %>
   </div>

   <%= form_tag({:action => 'upload_file', :type => 'history'}, :multipart => true) %>
   <div>
      <p>
         <label for="histories_datafile">Select File</label>:
         <%= file_field 'histories', 'datafile' %>
      </p>
      <%= submit_tag "Upload", :style => 'width: 100px;' %>
   </div>
   </form>
   
   <% if session[:user_login] == 'mfmerten' %>
      <p>
         <%= button_to "Purge For History Import", {:action => 'purge_histories'}, :confirm => 'Are you sure you wish to purge histories?', :method => :post %>
      </p>
   <% end %>
   
<% end %>
