<%# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
# 
# This file is part of FiveO.
# 
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# 
# =========================================================================== %>
<h1>Site Configuration</h1>

<div class='basic-view'>
   <h3>Site Identification</h3>
   <table>
      <tr>
         <th>Agency Name:</th>
         <td><%= SiteConfig.agency %> (<%= SiteConfig.agency_short %>)</td>
      </tr>
      <tr>
         <th>Agency Motto:</th>
         <td><%= SiteConfig.motto %></td>
      </tr>
      <tr>
         <th>Agency Logo:</th>
         <td>
            <table class='hinted'>
               <tr>
                  <td><%= image_tag(SiteConfig.logo, :height => 90) %></td>
                  <td>
                     <%= form_tag({:controller => 'database', :action => 'upload_image'}, :multipart => true) %>
                        <p>
                           New Image: <input type='file' name='datafile' size='30'/>
                           <input type='hidden' name='fname' value='logo'/>
                           <%= submit_tag 'Upload' %>
                        </p>
                     </form>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <th>CEO Name:</th>
         <td><%= SiteConfig.ceo %></td>
      </tr>
      <tr>
         <th>CEO Title:</th>
         <td><%= SiteConfig.ceo_title %></td>
      </tr>
      <tr>
         <th>CEO Photo:</th>
         <td>
            <table class='hinted'>
               <tr>
                  <td><%= image_tag(SiteConfig.ceo_img, :height => 90) %></td>
                  <td>
                     <%= form_tag({:controller => 'database', :action => 'upload_image'}, :multipart => true) %>
                        <p>
                           New Image: <input type='file' name='datafile' size='30'/>
                           <input type='hidden' name='fname' value='ceo_img'/>
                           <%= submit_tag 'Upload' %>
                        </p>
                     </form>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
   
   <h3>Program Options</h3>
   <table>
      <tr>
         <th>Colorscheme:</th>
         <td><%= Colorscheme.id_to_name(SiteConfig.colorscheme) %></td>
      </tr>
      <tr>
         <th>Districts:</th>
         <td><%= SiteConfig.district == 0 ? 'No' : "Yes: #{SiteConfig.district}" %></td>
      </tr>
      <tr>
         <th>Zones:</th>
         <td><%= SiteConfig.zone == 0 ? 'No' : "Yes: #{SiteConfig.zone}" %></td>
      </tr>
      <tr>
         <th>Wards:</th>
         <td><%= SiteConfig.ward == 0 ? 'No' : "Yes: #{SiteConfig.ward}" %></td>
      </tr>
      <tr>
         <th>Local ZIP Codes:</th>
         <td><%= SiteConfig.local_zips %></td>
      </tr>
      <tr>
         <th>Local Agencies:</th>
         <td><%= SiteConfig.local_agencies %></td>
      </tr>
      <tr>
         <th>Show History:</th>
         <td><%= SiteConfig.show_history == true ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Bug Administrator:</th>
         <td>
            <% if user = User.find_by_id(SiteConfig.bug_admin_id) %>
               <%= user.name %>
            <% else %>
               Invalid User ID
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Site Email Address:</th>
         <td><%= SiteConfig.site_email %></td>
      </tr>
      <tr>
         <th>Message Retention:</th>
         <td><%= SiteConfig.message_retention %> Days (0 = Forever)</td>
      </tr>
      <tr>
         <th>Activity Retention:</th>
         <td><%= SiteConfig.activity_retention %> Days (0 = Forever)</td>
      </tr>
   </table>
   
   <h3>Letterhead Options</h3>
   <table>
      <tr>
         <th>Title:</th>
         <td><%= SiteConfig.header_title %></td>
      </tr>
      <tr>
         <th>Subtitle Line 1:</th>
         <td><%= SiteConfig.header_subtitle1 %></td>
      </tr>
      <tr>
         <th>Subtitle Line 2:</th>
         <td><%= SiteConfig.header_subtitle2 %></td>
      </tr>
      <tr>
         <th>Subtitle Line 3:</th>
         <td><%= SiteConfig.header_subtitle3 %></td>
      </tr>
      <tr>
         <th>Left Image:</th>
         <td>
            <table class='hinted'>
               <tr>
                  <td><%= image_tag(SiteConfig.header_left_img, :height => 90) %></td>
                  <td>
                     <%= form_tag({:controller => 'database', :action => 'upload_image'}, :multipart => true) %>
                        <p>
                           New Image: <input type='file' name='datafile' size='30'/>
                           <input type='hidden' name='fname' value='header_left_img'/>
                           <%= submit_tag 'Upload' %>
                        </p>
                     </form>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <th>Right Image:</th>
         <td>
            <table class='hinted'>
               <tr>
                  <td><%= image_tag(SiteConfig.header_right_img, :height => 90) %></td>
                  <td>
                     <%= form_tag({:controller => 'database', :action => 'upload_image'}, :multipart => true) %>
                        <p>
                           New Image: <input type='file' name='datafile' size='30'/>
                           <input type='hidden' name='fname' value='header_right_img'/>
                           <%= submit_tag 'Upload' %>
                        </p>
                     </form>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <th>Footer Text:</th>
         <td><%= SiteConfig.footer_text %></td>
      </tr>
   </table>
   
   <h3>PDF Color Scheme</h3>
   <table>
      <tr>
         <th>Header:</th>
         <td><%= SiteConfig.pdf_header_bg %> / <%= SiteConfig.pdf_header_txt %> : <span style="color:#<%= SiteConfig.pdf_header_txt %>;background-color:#<%= SiteConfig.pdf_header_bg %>;">EXAMPLE</span></td>
      </tr>
      <tr>
         <th>Section Header:</th>
         <td><%= SiteConfig.pdf_section_bg %> / <%= SiteConfig.pdf_section_txt %> : <span style="color:#<%= SiteConfig.pdf_section_txt %>;background-color:#<%= SiteConfig.pdf_section_bg %>;">EXAMPLE</span></td>
      </tr>
      <tr>
         <th>Emergency Header:</th>
         <td><%= SiteConfig.pdf_em_bg %> / <%= SiteConfig.pdf_em_txt %> : <span style="color:#<%= SiteConfig.pdf_em_txt %>;background-color:#<%= SiteConfig.pdf_em_bg %>;">EXAMPLE</span></td>
      </tr>
      <tr>
         <th>Odd Table Row:</th>
         <td><%= SiteConfig.pdf_row_odd %> : <span style="background-color:#<%= SiteConfig.pdf_row_odd %>;">EXAMPLE</span></td>
      </tr>
      <tr>
         <th>Even Table Row:</th>
         <td><%= SiteConfig.pdf_row_even %> : <span style="background-color:#<%= SiteConfig.pdf_row_even %>;">EXAMPLE</span></td>
      </tr>
   </table>
   
   <h3>User Session Options</h3>
      <table>
      <tr>
         <th>Grace Period:</th>
         <td><%= SiteConfig.session_life %> Minutes</td>
      </tr>
      <tr>
         <th>Inactivity Timeout:</th>
         <td><%= SiteConfig.session_active %> Minutes</td>
      </tr>
      <tr>
         <th>Maximum Life:</th>
         <td><%= SiteConfig.session_max %> Minutes</td>
      </tr>
   </table>
   
   <h3>User Options</h3>
   <table>
      <tr>
         <th>Set Own Photo:</th>
         <td><%= SiteConfig.allow_user_photos == true ? "Yes" : "No" %></td>
      </tr>
      <tr>
         <th>Edit Own Contact:</th>
         <td><%= SiteConfig.user_update_contact == true ? "Yes" : "No" %></td>
      </tr>
   </table>
   
   <h2>Job Specific Options</h2>
   <h3>Dispatch Options</h3>
   <table>
      <tr>
         <th>Shift 1:</th>
         <td>
            <% if SiteConfig.dispatch_shift1_start.nil? || SiteConfig.dispatch_shift1_stop.nil? %>
               Not Defined
            <% else %>
               Start: <%= SiteConfig.dispatch_shift1_start %> -- Stop: <%= SiteConfig.dispatch_shift1_stop %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Shift 2:</th>
         <td>
            <% if SiteConfig.dispatch_shift2_start.nil? || SiteConfig.dispatch_shift2_stop.nil? %>
               Not Defined
            <% else %>
               Start: <%= SiteConfig.dispatch_shift2_start %> -- Stop: <%= SiteConfig.dispatch_shift2_stop %>
            <% end %>
         </td>
      </tr>
      <tr>
         <th>Shift 3:</th>
         <td>
            <% if SiteConfig.dispatch_shift3_start.nil? || SiteConfig.dispatch_shift3_stop.nil? %>
               Not Defined
            <% else %>
               Start: <%= SiteConfig.dispatch_shift3_start %> -- Stop: <%= SiteConfig.dispatch_shift3_stop %>
            <% end %>
         </td>
      </tr>
   </table>
   
   <h3>Legacy Jail Options</h3>
   <table>
      <tr>
         <th>Goodtime On?</th>
         <td><%= SiteConfig.goodtime_by_default ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Local Goodtime:</th>
         <td><%= SiteConfig.goodtime_hours_per_day_local %> Hours per Day (<%= (SiteConfig.goodtime_hours_per_day_local / 24.0).round(3) %> hours per hour)</td>
      </tr>
   </table>
   
   <h3>Jail 1 Options</h3>
   <table>
      <tr>
         <th>Enabled?</th>
         <td><%= SiteConfig.jail1_enabled ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Facility Name:</th>
         <td><%= SiteConfig.jail1_name %></td>
      </tr>
      <tr>
         <th>Label:</th>
         <td><%= SiteConfig.jail1_short_name %></td>
      </tr>
      <tr>
         <th>Male Inmates?</th>
         <td><%= SiteConfig.jail1_male ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Female Inmates?</th>
         <td><%= SiteConfig.jail1_female ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Goodtime On?</th>
         <td><%= SiteConfig.jail1_gt_by_default ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Local Goodtime:</th>
         <td>
            <% unless SiteConfig.jail1_gt_hours_per_day.nil? %>
               <%= SiteConfig.jail1_gt_hours_per_day %> Hours per Day (<%= (SiteConfig.jail1_gt_hours_per_day / 24.0).round(3) %> hours per hour)
            <% end %>
         </td>
      </tr>
   </table>
   
   <h3>Jail 2 Options</h3>
   <table>
      <tr>
         <th>Enabled?</th>
         <td><%= SiteConfig.jail2_enabled ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Facility Name:</th>
         <td><%= SiteConfig.jail2_name %></td>
      </tr>
      <tr>
         <th>Label:</th>
         <td><%= SiteConfig.jail2_short_name %></td>
      </tr>
      <tr>
         <th>Male Inmates?</th>
         <td><%= SiteConfig.jail2_male ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Female Inmates?</th>
         <td><%= SiteConfig.jail2_female ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Goodtime On?</th>
         <td><%= SiteConfig.jail2_gt_by_default ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Local Goodtime:</th>
         <td>
            <% unless SiteConfig.jail1_gt_hours_per_day.nil? %>
               <%= SiteConfig.jail2_gt_hours_per_day %> Hours per Day (<%= (SiteConfig.jail2_gt_hours_per_day / 24.0).round(3) %> hours per hour)
            <% end %>
         </td>
      </tr>
   </table>
   
   <h3>Jail 3 Options</h3>
   <table>
      <tr>
         <th>Enabled?</th>
         <td><%= SiteConfig.jail3_enabled ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Facility Name:</th>
         <td><%= SiteConfig.jail3_name %></td>
      </tr>
      <tr>
         <th>Label:</th>
         <td><%= SiteConfig.jail3_short_name %></td>
      </tr>
      <tr>
         <th>Male Inmates?</th>
         <td><%= SiteConfig.jail3_male ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Female Inmates?</th>
         <td><%= SiteConfig.jail3_female ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Goodtime On?</th>
         <td><%= SiteConfig.jail3_gt_by_default ? 'Yes' : 'No' %></td>
      </tr>
      <tr>
         <th>Local Goodtime:</th>
         <td>
            <% unless SiteConfig.jail1_gt_hours_per_day.nil? %>
               <%= SiteConfig.jail3_gt_hours_per_day %> Hours per Day (<%= (SiteConfig.jail3_gt_hours_per_day / 24.0).round(3) %> hours per hour)
            <% end %>
         </td>
      </tr>
   </table>
   
   <h3>Paper Service Options</h3>
   <table>
      <tr>
         <th>Mileage Fee:</th>
         <td><%= number_to_currency(SiteConfig.mileage_fee) %></td>
      </tr>
      <tr>
         <th>Noservice Fee:</th>
         <td><%= number_to_currency(SiteConfig.noservice_fee) %></td>
      </tr>
      <tr>
         <th>Payment Type 1:</th>
         <td><%= SiteConfig.paper_pay_type1 %></td>
      </tr>
      <tr>
         <th>Payment Type 2:</th>
         <td><%= SiteConfig.paper_pay_type2 %></td>
      </tr>
      <tr>
         <th>Payment Type 3:</th>
         <td><%= SiteConfig.paper_pay_type3 %></td>
      </tr>
      <tr>
         <th>Payment Type 4:</th>
         <td><%= SiteConfig.paper_pay_type4 %></td>
      </tr>
      <tr>
         <th>Payment Type 5:</th>
         <td><%= SiteConfig.paper_pay_type5 %></td>
      </tr>
   </table>
   
   <h3>Probation Options</h3>
   <table>
      <tr>
         <th>Fund 1 Name:</th>
         <td><%= SiteConfig.probation_fund1 %></td>
      </tr>
      <tr>
         <th>Fund 2 Name:</th>
         <td><%= SiteConfig.probation_fund2 %></td>
      </tr>
      <tr>
         <th>Fund 3 Name:</th>
         <td><%= SiteConfig.probation_fund3 %></td>
      </tr>
      <tr>
         <th>Fund 4 Name:</th>
         <td><%= SiteConfig.probation_fund4 %></td>
      </tr>
      <tr>
         <th>Fund 5 Name:</th>
         <td><%= SiteConfig.probation_fund5 %></td>
      </tr>
      <tr>
         <th>Fund 6 Name:</th>
         <td><%= SiteConfig.probation_fund6 %></td>
      </tr>
      <tr>
         <th>Fund 7 Name:</th>
         <td><%= SiteConfig.probation_fund7 %></td>
      </tr>
      <tr>
         <th>Fund 8 Name:</th>
         <td><%= SiteConfig.probation_fund8 %></td>
      </tr>
      <tr>
         <th>Fund 9 Name:</th>
         <td><%= SiteConfig.probation_fund9 %></td>
      </tr>
   </table>
</div>
<%= link_bar %>