<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">

<!--
# ===================================================================
# FiveO Law Enforcement Software
# Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>
#
# This file is part of FiveO.
#
# FiveO is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FiveO is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FiveO. If not, see <http://www.gnu.org/licenses/>.
# =====================================================================
-->

<head profile="http://www.w3.org/2005/10/profile">
   <link rel="icon" type="image/png" href="<%= image_path("favicon.png") %>" />
   <title><%=h @page_title %></title>

   <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

   <%= stylesheet_link_tag(site_css_path) %>
   <%= stylesheet_link_tag('js_color_picker_v2') %>
   <%= javascript_include_tag(:defaults) %>
   <%= calendar_date_select_includes %>
   <%= javascript_include_tag('color_functions') %>
   <%= javascript_include_tag('js_color_picker_v2') %>
</head>

<body>
    <table id='maintable'>
        <tr>
            <td colspan="2" id='header'>
                <!-- Table header section -->
                <%= image_tag(SiteConfig.logo, :onclick => "window.open('http://#{local_ip}:5080/openmeetings')") %>
                <div id='sitename'>
                    <%= SiteConfig.agency %>
                    <div id='sitemotto'>
                        &quot;<%= SiteConfig.motto %>&quot;
                    </div>
                </div>
                 <div id='globalsearch'>
                    <% if logged_in %>
                    <form action='<%= url_for(:controller => 'root', :action => 'global_search') %>' method='post'>
                       <table class='hinted'><tr><td><%= form_auth %>
                       <input type='text' name='search' size='15' value="<%= @search.nil? ? '' : @search %>" />
                       <%= submit_tag('Search') %></td></tr></table>
                   </form>
                   <% end %>
                </div>
            </td>
        </tr>
        <tr>
            <td id='leftbar' rowspan="2">
                <!-- Navigation Bar -->
                
                <!-- Software Version -->
                <span class='lbhead'>FiveO</span>
                <div id="version">
                    <%= software_version %>
                </div>

                <!-- Login Identity -->
                <% if logged_in %>
                    <span class='lbhead'>Logged In As</span>
                    <div id='uidbar'>
                       <%= image_tag(current_user.user_photo.url(:thumb)) %>
                        <p><%= session[:user_name] %></p>
                        <%= button_to_function("Logout", :style => 'width: 7.5em'){|page| page.redirect_to(url_for(:controller => 'users', :action => 'logout'))} %>
                        <div id='mail'>
                            <p><%= mail_notice %></p>
                        </div>
                    </div>
                    
                    <!-- Active Users -->
                    <span class='lbhead'>Current Users</span>
                    <div style='text-align:center;'>
                        <% uids = ActiveRecord::SessionStore::Session.find(:all, :conditions => ["updated_at >= ?", 60.minutes.ago], :order => 'created_at DESC').collect{|s| [s.data[:user],s.data[:user_name]]}.uniq %>
                        <% if uids.empty? %>
                        &nbsp;
                        <% else %>
                        <p>
                           <% for u in uids %>
                              <% if usr = User.find_by_id(u[0]) %>
                                 <% if usr.contact.nil? %>
                                    <span class='message'><%=h u[1] %></span>
                                 <% else %>
                                    <%= link_to(u[1], usr.contact, :class => 'message') %>
                                 <% end %>
                                 <br/>
                              <% end %>
                           <% end %>
                        </p>
                        <% end %>
                     </div>
                     
                     <%= generate_menu('main') %>
                     
                     <%= generate_menu('civil') %>
                     
                     <%= generate_menu('court') %>
                     
                     <%= generate_menu('dispatch') %>
                     
                     <%= generate_menu('enforcement') %>
                     
                     <%= generate_menu('jail') %>
                     
                     <%= generate_menu('utilities') %>
                     
                     <%= generate_menu('user') %>
                     
                     <%= generate_menu('admin') %>
                     
                     <%= generate_menu('help') %>
                     
                     <%= generate_menu('external') %>
                     
                     <span class='lbhead'>Converter</span>
                     <div style='text-align:center;' id='converter'>
                        <p style='font-size:80%;'>Change a value in a section below and the other sections will change to match.</p>
                        <hr/>
                        Hours: <input type='text' name='conv_total_hours' id='conv_total_hours' value='0' size='6'/><br/>
                        <hr/>
                        Hours: <input type='text' name='conv_hours' id='conv_hours' value='0' size='6'/><br/>
                        Days: <input type='text' name='conv_days' id='conv_days' value='0' size='6'/><br/>
                        Months: <input type='text' name='conv_months' id='conv_months' value='0' size='6'/><br/>
                        Years: <input type='text' name='conv_years' id='conv_years' value='0' size='6'/>
                        <hr/>
                        Start: <input name='conv_start_date' id='conv_start_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' /><br/>
                        Stop: <input name='conv_stop_date' id='conv_stop_date' size='10' type='text' value='<%= Date.today.to_s(:us) %>' /><br/>
                        <%= observe_field('conv_total_hours', :url => {:controller => 'root', :action => 'h_to_hdmy'}, :with => "Form.Element.serialize('conv_total_hours') + '&' + Form.Element.serialize('conv_start_date')") %>
                        <%= observe_field('conv_hours', :url => {:controller => 'root', :action => 'h_to_hdmy'}, :with => "Form.Element.serialize('conv_hours') + '&' + Form.Element.serialize('conv_days') + '&' + Form.Element.serialize('conv_months') + '&' + Form.Element.serialize('conv_years') + '&' + Form.Element.serialize('conv_start_date')") %>
                        <%= observe_field('conv_days', :url => {:controller => 'root', :action => 'h_to_hdmy'}, :with => "Form.Element.serialize('conv_hours') + '&' + Form.Element.serialize('conv_days') + '&' + Form.Element.serialize('conv_months') + '&' + Form.Element.serialize('conv_years') + '&' + Form.Element.serialize('conv_start_date')") %>
                        <%= observe_field('conv_months', :url => {:controller => 'root', :action => 'h_to_hdmy'}, :with => "Form.Element.serialize('conv_hours') + '&' + Form.Element.serialize('conv_days') + '&' + Form.Element.serialize('conv_months') + '&' + Form.Element.serialize('conv_years') + '&' + Form.Element.serialize('conv_start_date')") %>
                        <%= observe_field('conv_years', :url => {:controller => 'root', :action => 'h_to_hdmy'}, :with => "Form.Element.serialize('conv_hours') + '&' + Form.Element.serialize('conv_days') + '&' + Form.Element.serialize('conv_months') + '&' + Form.Element.serialize('conv_years') + '&' + Form.Element.serialize('conv_start_date')") %>
                        <%= observe_field('conv_start_date', :url => {:controller => 'root', :action => 'h_to_hdmy'}, :with => "Form.Element.serialize('conv_stop_date') + '&' + Form.Element.serialize('conv_start_date')") %>
                        <%= observe_field('conv_stop_date', :url => {:controller => 'root', :action => 'h_to_hdmy'}, :with => "Form.Element.serialize('conv_stop_date') + '&' + Form.Element.serialize('conv_start_date')") %>
                     </div>
                     <span class='lbhead'>&nbsp;</span>
                <% end %>
            </td>
        </tr>
        <tr>
           <td id='content'>
              <!-- Main Page Content -->
              <%= help_link(@help_page) %>
              <div id='flash-message'>
                 <!-- Flash Notices -->
                 <% if flash[:notice] -%>
                     <b>Notice:</b> <span class="notice"><%= flash[:notice] %></span>
                 <% elsif flash[:warning] -%>
                     <b>Error:</b> <span class="error"><%= flash[:warning] %></span>
                 <% elsif flash[:message] -%>
                     <b>Message:</b> <span class='message'><%= flash[:message] %></span>
                 <% else -%>
                     <span style='color:<%= @colors.color_gray_medium %>;font-style:italic;'>No Messages</span>
                  <% end -%>
               </div>
              <!-- Related Pages -->
              <%= page_links %>
              <!-- View Content -->
              <%= yield %>
           </td>
        </tr>
        <tr>
            <td colspan="2" id='footer'>
                <!-- Page Footer -->
                Copyright &copy; 2008-2011 Michael Merten --
                Website: <a href="http://midlaketech.com">Midlake Technical Services</a> --
                Developer Portal: <a href="http://midlaketech.com/dev">midlaketech.com/dev</a>
            </td>
        </tr>
    </table>
      <div style="padding-top:10px;text-align:center;background-color:white;">
         <% logo = `uname -s` %>
         <% if logo == "Darwin\n" %>
            <a href="http://www.apple.com"><%= image_tag("mac.png", :style => 'border:0;height:24px;vertical-align:middle;', :alt => "Apple Mac OSX") %></a>
         <% else %>
            <a href="http://www.ubuntu.org"><%= image_tag("ubuntulogo.png", :style => "border:0;height:24px;vertical-align:middle;", :alt => "Ubuntu Server") %></a>
         <% end %>
         <a href="http://rubyonrails.org"><%= image_tag("rails.png", :style => "border:0;height:24px;vertical-align:middle;", :alt => "Ruby on Rails") %></a>
         <a href="http://www.apache.org"><%= image_tag("apache_pb.gif", :style => "border:0;height:24px;vertical-align:middle;", :alt => "Apache Server") %></a>
         <a href="http://jigsaw.w3.org/css-validator/"><%= image_tag("valid-css.png", :style => "border:0;height:24px;vertical-align:middle;", :alt => "Valid CSS!") %></a>
         <a href="http://validator.w3.org/check?uri=referer"><%= image_tag("valid-xhtml10.png", :style => "border:0;height:24px;vertical-align:middle;", :alt => "Valid XHTML 1.0 Strict") %></a>
    </div>
</body>
</html>
