<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">

<!--
FiveO Law Enforcement Software
Copyright (C) 2010,2011 Michael Merten <mike@midlaketech.com>

This file is part of FiveO.

FiveO is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

FiveO is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with FiveO. If not, see <http://www.gnu.org/licenses/>.

===========================================================================
-->

<head profile="http://www.w3.org/2005/10/profile">
   <link rel="icon" type="image/png" href="<%= image_path("favicon.png") %>" />
   <title><%=h @page_title %></title>

   <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

   <%= stylesheet_link_tag site_css_path %>

   <%= javascript_include_tag :defaults %>
   <%= calendar_date_select_includes %>
</head>

<body>
   <table id="maintable">
      <tr>
         <td id="content">
            <%= yield %>
         </td>
      </tr>
   </table>
</body>
</html>
